
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <h2 class="footer_title">Contact us</h2>
            
            <ul class="personal_info">
              <li>
                <i class="fa fa-envelope"></i>
                Email : <a href="mailto:'{{con_us[0]['email']}}'">{{con_us[0]['email']}}</a>
              </li>
              <li>
                <i class="fa fa-phone"></i>
                Phone : +{{con_us[0]['phone']}}
              </li>
              <!-- <li>
                <i class="fa fa-fax"></i>
                Fax : +91-44-66922800
              </li> -->
              <li>
                <i class="fa fa-map-marker"></i>
                <span>
                  Address :# {{con_us[0]['address1']}}, {{con_us[0]['address2']}} {{con_us[0]['city']}}, {{con_us[0]['state']}} {{con_us[0]['zip_code']}},{{con_us[0]['country']}}.
                </span>
              </li>
            </ul>
          </div>