 <section class="about_us">
      <div class="container">
        <div class="row">
          <div class="main_title">About Us</div>
        </div>
        <div class="row">
        {% for key,value in items%}
          
          <div class="col-sm-12">
          
            <div class="col-sm-4">
              <img src="{{value[2]}}" alt="About" style="max-width:100%;">
            </div>
            <div class="col-sm-8 text-left">
              <div class="main_title" style="margin: 20px 0px;text-align: left;">{{value[0]}}</div>
              {{value[1]|raw}}
              <span><a href="{{ url('<front>') }}about_us" target="_blank" class="color_blue">Read More <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></span>
              <!-- <div class="view_all m-t-25">
                <button type="button" class="view float-l">Read More</button>
              </div> -->
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    