<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.4.0.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body>
  <!--TOPBAR-->
  <header class="wow slideInDown" data-wow-delay="0.7s">
    <div class="top_border">
      <div class="container mbll">
        <div class="row">
          <div class="mbl_tp_1">
          {{page.topbar_first}}
        </div>
          <div class="col-lg-9 col-sm-9">
            <nav class="topbar_nav">
              <ul class="navv">
                <li>{{page.topbar_third}}</li>
                <li>{{page.topbar_fourth}}</a></li>
                <li>

                        {% if logged_in == 1 %}
                        <a href="#"><i class="fa fa-user" aria-hidden="true"></i><font id="faq">Welcome {{logged_username}} </font></a>
                        {% endif %}

                </li>
                <li class="fd">{{ page.secondary_menu }}</li>
                {% if logged_in == 1 %}
                <!-- <li><a class="cart_shoppingg" href="#"><i class="fa fa-user" aria-hidden="true"></i>Welcome<span class="fa fa-caret-down pd_R"></span></a></li>
                <div class="account-content">
                <ul class="accnt-list">
                    <li><a class="cart_shoppinggg"href="{{ url('<front>') }}user_profile">My Profile</a></li>
                  <li><a href="{{ url('<front>') }}user/2/orders">Order History</a></li> -->
                  <!-- <li><a href="{{ url('<front>') }}user/logout">Logout</a></li> -->

                <!-- </ul>
              </div> -->
              {% endif %}
                <li class="dc">{{page.topbar_second}}</li>

              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="nav_mainlogo">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-4 col-xs-4 full_width">
            <div class="nav_logo wow slideInLeft" data-wow-delay="0.3s">
              {{ page.header }}
            </div>
          </div>
           <div class="col-lg-5 col-sm-4 col-xs-4 dsp_nne">
          {{page.topbar_search}}
        </div>
          <div class="col-lg-3 col-sm-4 col-xs-4 full_width">
            <div class="top_cart">
              {{page.topbar_five}}
              {{page.topbar_six}}

            </div>
           </div>


        </div>
      </div>
    </div>
  </header>
  <!--TOPBAR-->

  <!--NAVBAR-->
  <nav class="nav_main sticky-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <div class="nav_main_list wow slideInRight" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: slideInRight;">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse navbar-main-slide" id="nav">
              <ul class="navbar-nav-menu">
                <li class="">
                  {{ page.primary_menu }}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!--NAVBAR-->
  <!--BANNER-->
  <div ng-app="postApp" ng-cloak ng-controller="postController">

          {{ page.content }}
  </div>

          <div id="pop1" class="simplePopup"></div>
  <!--FOOTER-->
 <footer class="footer_main">
    <div class="container">
     {{page.footer_first}}
      <div class="footer_info">
        <div class="row">
          {{page.footer_second}}
          {{page.footer_third}}
          {{page.footer_fourth}}
        </div>
      </div>
    </div>
    <div class="copy_right">
      {{page.footer_copy}}
    </div>
  </footer>

<div class="hover_bkgr_fricc login_error">
    <span class="helper"></span>
    <div>
      <div class="popupCloseButton">X</div>
        <p>Please Login To Continue..!<br /></p>
        <a href="{{ url('<front>') }}user/login" ><input type="button" class="btn btn-success" value="Login" /></a>
    </div>
  </div>

  <div class="hover_bkgr_fricc login_error_wish" style="display: none">
    <span class="helper"></span>
    <div>
      <div class="popupCloseButton">X</div>
        <p>Please Login To Continue to add wish list!<br /></p>
        <a href="{{ url('<front>') }}user/login" ><input type="button" class="btn btn-success" value="Login" /></a>
    </div>
  </div>



  <div class="compare-switcher" style="display: none">
    <a class="compare-switcher-open" href="#"><i class="fa fa-exchange"></i></a>
    <div class="compare-switcher-wrap">
      <div id="inside_swith">
      </div>
      <div class="compare-button">
        <a id="compare_id" href="#">Compare</a>
      </div>
    </div>
  </div>
<div id="myModal" class="modal" style="display: none;">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <span class="modal-title">Awesome!</span>
      </div>
      <div class="modal-body">
        <p class="text-center">Thank you for Subscribe to our Newsletter. </p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success btn-block" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
  <script type="text/javascript">
    $(document).ready(function() {
        $(".compare-switcher-open").click(function() {
          //$("compare-switcher").removeClass("open");
          $(".compare-switcher-open").closest('.compare-switcher').toggleClass("open");
        });
        setTimeout(function() {
          $('.featured_img img').css({
            'position': 'absolute',
            'left': '50%',
            'top': '50%',
            'margin-left': function() {
              return -$(this).outerWidth() / 2
            },
            'margin-top': function() {
              return -$(this).outerHeight() / 2
            }
          });

        }, 2500);
    });
    if($('body').hasClass("path-part-search")){
      $(".region-content").addClass("container");
    }
    var postApp      = angular.module('postApp', []);
    var sortingOrder = 0;
    var homeurl      = "{{ url('<front>') }}";
    var url = window.location.href.toString();
    var id = url.substring(url.lastIndexOf('/') + 1);
    postApp.controller('postController', function($scope,$http,$timeout,$window,$filter) {
      $scope.searchResult = "";
      $scope.searchResult_temp = [];
      $('#pageloader').css('display','block');

      $http({
        method  : 'POST',
        url     : homeurl+'getproddesc',
        data    : "id=" + id,
        headers : {'Content-Type': 'application/x-www-form-urlencoded'}
      })
      .then(function(response) {
        $scope.similarproducts = response.data.items;
        $scope.accessories =  response.data.item_link;
        $('#pageloader').css('display','none');
      });
/***********************Order Summary*****************************************/
if(id.includes("order_information")){
      // var lastbeforevalue =url.substr(url.lastIndexOf('/') -1);
      // var splitval =lastbeforevalue.split('/');
      // console.log(splitval[0]);
       $('#pageloader').css('display','block');
       $('.view-id-commerce_checkout_order_summary').html('');
        $.ajax({
          type: "POST",
            url: baseurl+"drupalourproduct/checkout_ordersummary",
            success: function(data){
              //console.log(data);
              $('#pageloader').css('display','none');
              $('.view-id-commerce_checkout_order_summary').html('');
              $('.view-id-commerce_checkout_order_summary').html(data);

            }
        });
    }

/**************************************************************/
      $http({
        method  : 'POST',
        url     : homeurl+'themesetting',
        datatype: 'json',
        headers : {'Content-Type': 'application/x-www-form-urlencoded'}
      }).then(function(response){
        var cat   = 0;
        var brand = 0;
        $.each(response.data, function(index,item){
          $('.product_wishlist').css("display",'none');
          if(index == 7 && item == 0){
            cat = 1;
            $('#Descriptions').css("display",'none');
            $('#Descriptions').prev().css("display",'none');
          }
          if(index == 3 && item == 0){
            brand =1;
            $('#Brand').css("display",'none');
            $('#Brand').prev().css("display",'none');
          }
          if(index == 3 && item == 0){
            brand =1;
            $('#Brand').css("display",'none');
            $('#Brand').prev().css("display",'none');
          }
          if(index == 6 && item == 0){
            console.log("wisht"+index,item);
          }
          if(brand == 1 && cat == 1){
            $('.part_bdr').css("display",'none');
          }
        });
      });

      $http({
        method  : 'POST',
        url     : homeurl+'featured',
        datatype: 'json',
        headers : {'Content-Type': 'application/x-www-form-urlencoded'}
      })
      .then(function(response) {
        $scope.products1 = response.data;
        $('#pageloader').css('display','none');
      });


      /*$http({
        method  : 'POST',
        url     : homeurl+'fullcategory',
        datatype: 'json',
        headers : {'Content-Type': 'application/x-www-form-urlencoded'}
      })
      .then(function(response){

        $scope.fullcategory = response.data;
        $('#pageloader').css('display','none');
      });*/


     /*$scope.changecategory = function() {
        $('#yearid').prop('disabled', false);
*/

    // $scope.changecategory = function() {
        //$('#yearid').prop('disabled', false);

        $http({
        method  : 'POST',
        url     : homeurl+'fullappyear',
        datatype: 'json',
        headers : {'Content-Type': 'application/x-www-form-urlencoded'}
        })
        .then(function(response){
          $scope.fullappyear = response.data;
          $('#pageloader').css('display','none');
        });

      //}

      $scope.changeYear = function() {
        $('#fullmake').prop('disabled', false);
        $year = $('#yearid').val();
        $http({
        method  : 'POST',
        url     : homeurl+'fullmake',
        data    : $.param({'actual_year' :$year}),
        headers : {'Content-Type': 'application/x-www-form-urlencoded'}
        })
        .then(function(response){
          $scope.fullmake = response.data;
          $('#pageloader').css('display','none');
        });
      }
      $scope.changeMake = function(){
        $('#fullmodel').prop('disabled', false);
        $make = $('#fullmake').val();
        $year = $('#yearid').val();
        $http({
        method  : 'POST',
        url     : homeurl+'fullmodel',
        data    : $.param({'make' :$make,'year':$year}),
        headers : {'Content-Type': 'application/x-www-form-urlencoded'}
        })
        .then(function(response){
          if(isEmpty(response.data)){
            $scope.changeModel();
            $('#fullmodel').prop('disabled', true);
          }else{
            $scope.fullmodel = response.data;
          }
          $('#pageloader').css('display','none');
        });
      }

      function isEmpty(obj) {
        for(var key in obj) {
            if(obj.hasOwnProperty(key))
                return false;
        }
        return true;
      }
      $scope.changeModel = function(){
        $('#engine').prop('disabled', false);
      }

      $scope.changeModel = function(){
        $('#engine').prop('disabled', false);
        $model = $('#fullmodel').val();
        $make = $('#fullmake').val();
        $year = $('#yearid').val();
        $http({
        method  : 'POST',
        url     : homeurl+'fullengine',
        data    : $.param({'model' :$model,'year':$year,'make':$make}),
        headers : {'Content-Type': 'application/x-www-form-urlencoded'}
        })
        .then(function(response){
          if(isEmpty(response.data)){
            $('#engine').prop('disabled', true);
          }
          $scope.fullengine = response.data;
          $('#pageloader').css('display','none');
        });
      }
     /* function changeYear(){
        console.log($("#yearid").val());
      }*/


    $http({
      method: 'POST',
      url     : homeurl+'partnoservice',
      datatype: 'json',
      headers : {'Content-Type': 'application/x-www-form-urlencoded'}
    }).then(function successCallback(response){
      $scope.searchResult = response.data;



    });
  $scope.filteredItems1 =[];
    $scope.fetchUsers = function(){
      var searchText_len = $scope.searchText.trim().length;
      /*console.log($scope.searchText);
      console.log("res");
      console.log($scope.searchResult_temp); */

      if(searchText_len > 0){
        $('#searchResult').css("display","block");

         // console.log($scope.filteredItems1);
         /*$scope.searchResult.forEach(function(val,index){
          var data = val.name.toUpperCase();


              console.log($scope.filteredItems1);
           if(data.startsWith($scope.searchText.toUpperCase())){
                $scope.searchResult_temp.push({'name':val.name});
                $('#searchResult').css("display","block");
            }
        });*/
        //console.log($scope.searchResult_temp);
      }else{
         //$scope.searchResult_temp = {};
         $('#searchResult').css("display","none");

      }

    }
    $scope.setValue = function(index,$event){
      console.log($scope.searchResult_temp);
      $scope.searchText = $scope.searchResult[index].name;
      $scope.searchResult_temp = {};
      $event.stopPropagation();
    }
    $scope.searchboxClicked = function($event){
      $event.stopPropagation();
    }


      $http({
        method  : 'POST',
        url     : homeurl+'getwishlist',
        datatype: 'json',
        headers : {'Content-Type': 'application/x-www-form-urlencoded'}
      })
      .then(function(response) {
        $scope.productwish = response.data;
        //$('#pageloader').css('display','none');
      });

      /*****************************************************************************************************
                                partsearch page scripts
      *****************************************************************************************************/
      $scope.comparecategory = false;
      $scope.nodata = false;
      $scope.products = [];
      $scope.filter_products = [];
      $scope.inmodel='';
      $scope.inmake='';
      $scope.inyear='';
      $scope.inengine='';
      $scope.make = [];
      $scope.make_year = [];
      $scope.model = [];
      $scope.engine = [];
      $scope.final_ymm_array = [];
      $('#pageloader').css('display','block');
      var cat_arr = [];
      var bra_arr = [];
      var clr_arr = [];

      $scope.category_insert = function (datais){
          data = parseInt(datais);
          $scope.comparecategory = false;
          if($('#cat_'+data).prop("checked"))
          {
            if(cat_arr.indexOf(data) == -1){
               cat_arr.push(data);
            }
          }
          else{
             var index = cat_arr.indexOf(data);
             cat_arr.splice(index,1);
          }
          if(cat_arr.length == 1){
            $scope.comparecategory = true;
            comparedids = [];
            $('#inside_swith').html('');
            $('.compare-switcher').css("display","none");
          }
          else{
            comparedids = [];
            $('#inside_swith').html('');
            $('.compare-switcher').css("display","none");
          }
          $scope.apply_filter();
      };


      $scope.filterBycolor=function(){
          data = this.val.value;
          if(data == 'all'){
            clr_arr = [];
          }else{
            $('.filter-options a.color-all').removeClass('active');
            if(!$('#'+data).hasClass("active"))
            {
                if(clr_arr.indexOf(data) == -1){
                   clr_arr.push(data);
                }
                $('#'+data).addClass( "active" );
            }
            else{
               var index = clr_arr.indexOf(data);
               clr_arr.splice(index,1);
               $('#'+data).removeClass( "active" );
            }
          }
          if(clr_arr.length == 0){
            $('.filter-options a').removeClass('active');
            $('.filter-options a.color-all').addClass('active');
          }
          $scope.apply_filter();
      };

      $scope.brand_insert = function (datais){
          data = parseInt(datais);
          if($('#bra_'+data).prop("checked"))
          {
              if(bra_arr.indexOf(data) == -1){
                 bra_arr.push(data);
              }
          }
          else{
             var index = bra_arr.indexOf(data);
             bra_arr.splice(index,1);
          }
          $scope.apply_filter();
      };

      var r  = 0;
      $http({
          method  : 'POST',
          url     : homeurl+'getproducts',
          datatype : 'json',
          headers : {'Content-Type': 'application/x-www-form-urlencoded'}
      })
      .then(function(data){
          $scope.total_products = data.data.products;
          $scope.products = data.data.products;
          $scope.ymm = data.data.ymm;
          $scope.colorfilter = data.data.colorfilter;
          $scope.filter_combo = data.data.filter_combo;
          $scope.engine_flag = data.data.engine_flag;
          $scope.make_year = data.data.year;
          $scope.make = data.data.make;
          $scope.total_make_year = data.data.year;
          $scope.total_make = data.data.make;
          $scope.filter_products = data.data.products;
          $('#pageloader').css('display','none');
            if(window.location.href.split('?')[1] != undefined){
              var urlis = window.location.href.split('?');
               var getdata = urlis[1].split('&');
               if(getdata.length > 1){
                  j=0;
                  getdata.forEach(function(val,index) {
                      var gdata = val.split('=');
                      if(gdata[0] == 'year'){
                        $scope.year_in = gdata[1];  
                      }else if(gdata[0] == 'make'){
                        $scope.make_in = gdata[1];
                      }else if(gdata[0] == 'model'){
                        $scope.model_in = gdata[1].replace("+", " ");
                      }else if(gdata[0] == 'engine'){
                        $scope.engine_in = gdata[1].replace("+", " ");
                      }
                    j++;
                    });
                  if(j == getdata.length){
                      if($scope.filter_combo == 1){
                        $scope.inyear = $scope.year_in;
                        $scope.getmake($scope.year_in);
                      }else if($scope.filter_combo == 2){ 
                        $('#inmake').val($scope.make_in);
                        $scope.inmake = $scope.make_in;
                        $scope.getyear($scope.make_in);
                      }  
                  }
              }else{
                var urldata = getdata[0].split('=')[1];
                $('#cat_'+urldata).prop("checked",true);
                $scope.category_insert(urldata);
               }  
            }else{
              $scope.paginationftn($scope.products);
            }
          //after $scope.colorfilter binding
          $('.filter-options a').removeClass('active');
          $('.filter-options a.color-all').addClass('active');
      });

      $scope.getyear = function (param) {
        $scope.inmodel='';
        $scope.inyear='';
        $scope.inengine='';
        $scope.make_year = [];
        $scope.model = [];
        $scope.engine = [];
        $scope.inmake = param;
        if($scope.inmake !='' && $scope.inmake !=undefined){
            $http({
                method  : 'POST',
                url     : homeurl+'get_ymme',
                datatype : 'json',
                data:{make:$scope.inmake,flag:'ye'},
                headers : {'Content-Type': 'application/x-www-form-urlencoded'}
            })
            .then(function(response) {
                $scope.make_year = response.data.result;
                if($scope.make_in !=undefined && $scope.year_in !=undefined){
                  $scope.inyear = $scope.year_in;
                  $scope.getmodel($scope.year_in);
                }
            });
        }
      };

      $scope.getmake = function (param) {
        $scope.make = [];
        $scope.model = [];
        $scope.engine = [];
        $scope.inmodel='';
        $scope.inmake='';
        $scope.inengine='';
        $scope.inyear = param;     
        if($scope.inyear !='' && $scope.inyear !=undefined){
            $http({
                method  : 'POST',
                url     : homeurl+'get_ymme',
                datatype : 'json',
                data:{year:$scope.inyear,flag:'ma'},
                headers : {'Content-Type': 'application/x-www-form-urlencoded'}
            })
            .then(function(response) {
                $scope.make = response.data.result;
                if($scope.make_in !=undefined && $scope.year_in !=undefined){
                  $scope.inmake = $scope.make_in;
                  $scope.getmodel($scope.make_in);
                }              
            });
        }
      };
      $scope.engine_call = true;
      $scope.getmodel = function (param) {
        $scope.model = [];
        $scope.engine = [];
        $scope.inmodel='';
        $scope.inengine='';
        $scope.inmake = param;
        if($scope.inyear !='' && $scope.inyear !=undefined && $scope.inmake !='' && $scope.inmake !=undefined ){
            $http({
                method  : 'POST',
                url     : homeurl+'get_ymme',
                datatype : 'json',
                data:{year:$scope.inyear,make:$scope.inmake,flag:'mo'},
                headers : {'Content-Type': 'application/x-www-form-urlencoded'}
            })
            .then(function(response) {
                if(response.data.flag == 'mo'){
                  $scope.model = response.data.result;
                  if($scope.make_in !=undefined && $scope.year_in !=undefined && $scope.model_in !=undefined){
                    $scope.inmodel = $scope.model_in;
                    $scope.getengine($scope.model_in);
                  }
                }else{
                  $scope.engine_call = false; 
                  $scope.engine = response.data.result;
                  if($scope.make_in !=undefined && $scope.year_in !=undefined ){
                    $scope.inengine = $scope.engine_in;
                    $scope.filter_search();
                  }
                }

            });
        }
      };

      $scope.getengine = function (param) {
        if($scope.engine_call == true){
          $scope.engine = [];
          $scope.inengine='';
          $scope.inmodel = param;
          if($scope.inyear !='' && $scope.inyear !=undefined && $scope.inmake !='' && $scope.inmake !=undefined && $scope.inmodel !='' && $scope.inmodel !=undefined ){
              $http({
                  method  : 'POST',
                  url     : homeurl+'get_ymme',
                  datatype : 'json',
                  data:{year:$scope.inyear,make:$scope.inmake,model:$scope.inmodel,flag:'en'},
                  headers : {'Content-Type': 'application/x-www-form-urlencoded'}
              })
              .then(function(response) {
                  $scope.engine = response.data.result;
                  if($scope.make_in !=undefined && $scope.year_in !=undefined && $scope.model_in !=undefined){
                    $scope.inengine = $scope.engine_in;
                    $scope.filter_search();
                  }
                  
              });
          }
        }
      };

      $scope.filter_search = function () {
        $scope.s_gen_search = '';
        cat_arr=[];
        bra_arr=[];
        clr_arr = [];
        $('.filter-options a').removeClass('active');
        $('.filter-options a.color-all').addClass('active');
        $scope.comparecategory = false;
            var product_ids = [];
            var cnt = 0;
            var temp = [];
            $scope.products=[];
            $('.category_class').parent().parent().hide();
            $('.category_class').prop('checked',false);
            $('.brand_class').parent().parent().hide();
            $('.brand_class').prop('checked',false);

            /*c = 0
            $scope.final_ymm_array.forEach(function(val,index) {
              if(val['model'] == $scope.inmodel && $scope.inmodel !=undefined && $scope.inmodel !=''){
                if(product_ids.indexOf(val['id']) == -1){ product_ids.push(val['id']);}
              }else if(val['make'] == $scope.inmake && $scope.inmake !=undefined && $scope.inmake !=''){
                if(product_ids.indexOf(val['id']) == -1){ product_ids.push(val['id']);}
              }else{
                if(product_ids.indexOf(val['id']) == -1){ product_ids.push(val['id']);}
              }
              c++;
            });
            if($scope.final_ymm_array.length == c){
              if(product_ids.length == 0){
                 $scope.filter_products = $scope.total_products;
                 $scope.products = $scope.total_products;
                 $('.category_class').parent().parent().show();
                 $('.brand_class').parent().parent().show();
                 $scope.paginationftn($scope.products);
              }else{
                  $scope.total_products.forEach(function(val,index) {
                       if(product_ids.indexOf(val[0]) != -1 ){
                          temp.push(val);
                          $('#cat_'+val[9]).parent().parent().show();
                          $('#bra_'+val[10]).parent().parent().show();
                        }
                        cnt++;
                  });
                  if($scope.total_products.length == cnt){
                    $scope.filter_products = temp;
                     $scope.products = temp;
                  }
                  $scope.paginationftn($scope.products);
              }
            }*/

            $http({
                method  : 'POST',
                url     : homeurl+'get_filter_products',
                datatype : 'json',
                data:{year:$('#inyear').val(),make:$('#inmake').val(),model:$('#inmodel').val(),engine:$('#inengine').val()},
                headers : {'Content-Type': 'application/x-www-form-urlencoded'}
            })
            .then(function(response) {
                product_ids = response.data;
                  if(product_ids.length == 0){
                     $scope.filter_products = $scope.total_products;
                     $scope.products = $scope.total_products;
                     $('.category_class').parent().parent().show();
                     $('.brand_class').parent().parent().show();
                     $scope.paginationftn($scope.products);
                  }else{
                      $scope.total_products.forEach(function(val,index) {
                           if(product_ids.indexOf(val[0]) != -1 ){
                              temp.push(val);
                              $('#cat_'+val[9]).parent().parent().show();
                              $('#bra_'+val[10]).parent().parent().show();
                            }
                            cnt++;
                      });
                      if($scope.total_products.length == cnt){
                        $scope.filter_products = temp;
                         $scope.products = temp;
                      }
                      $scope.paginationftn($scope.products);
                      $scope.year_in = undefined;
                      $scope.make_in = undefined;
                      $scope.model_in = undefined;
                      $scope.engine_in = undefined;
                  }
            });
      };

      $scope.apply_filter = function () {
        var temps = [];
        var k =0;
        var outer_cnt = 0;

        if(cat_arr.length > 0){
            outer_cnt++;
        }
        if(bra_arr.length > 0){
          outer_cnt++;
        }
        if(clr_arr.length > 0){
          outer_cnt++;
        }

        if(outer_cnt == 0){
          //$scope.products = $scope.filter_products;
          if($scope.filter_products.length > 0){
            $scope.products = $scope.filter_products;
            $scope.paginationftn($scope.products);

          }else{
            $scope.pagerefresh();
          }
        }else{
          $scope.filter_products.forEach(function(val,index) {

              if(cat_arr.length > 0 && bra_arr.length > 0 && clr_arr.length > 0){
                if(cat_arr.includes(parseInt(val[9])) == true && bra_arr.includes(parseInt(val[10])) == true){
                     var ctemp = val[16].split(',');
                     var unique = clr_arr.filter(function(obj) { return ctemp.indexOf(obj) == -1; });
                  if(unique.length > 0){
                    temps.push(val);
                  }
                }
              }else if(cat_arr.length > 0 && bra_arr.length > 0){
                if((cat_arr.includes(parseInt(val[9])) == true) && (bra_arr.includes(parseInt(val[10])) == true)){
                  temps.push(val);
                }
              }else if(cat_arr.length > 0 && clr_arr.length > 0){
                if(cat_arr.includes(parseInt(val[9])) == true){
                  var ctemp = val[16].split(',');
                  var unique = ctemp.filter(function(obj) { return clr_arr.indexOf(obj) == -1; });
                  if(unique.length < ctemp.length){
                    temps.push(val);
                  }
                }
              }else if(bra_arr.length > 0 && clr_arr.length > 0 ){
                if((bra_arr.includes(parseInt(val[10])) == true)){
                  var ctemp = val[16].split(',');
                  var unique = ctemp.filter(function(obj) { return clr_arr.indexOf(obj) == -1; });
                  if(unique.length < ctemp.length){
                    temps.push(val);
                  }
                }
              }else if(cat_arr.length > 0){
                if(cat_arr.includes(parseInt(val[9])) == true){
                  temps.push(val);
                }
              }else if(bra_arr.length > 0){
                if(bra_arr.includes(parseInt(val[10])) == true){
                  temps.push(val);
                }
              }else if(clr_arr.length > 0){
                var ctemp = val[16].split(',');
                var unique = ctemp.filter(function(obj) { return clr_arr.indexOf(obj) == -1; });
                if(unique.length < ctemp.length){
                  temps.push(val);
                }
              }

              k++;
          });
          if($scope.filter_products.length == k){
              $scope.products = temps;
            $scope.paginationftn($scope.products);
          }
        }
    };



    $scope.general_search = function () {
        cat_arr=[];
        bra_arr=[];
        clr_arr = [];
        $('.filter-options a').removeClass('active');
        $('.filter-options a.color-all').addClass('active');
        $scope.comparecategory = false;
            var gen_val = $scope.s_gen_search.toLowerCase();
              $scope.products=[];
              $('.category_class').parent().parent().hide();
              $('.category_class').prop('checked',false);
              $('.brand_class').parent().parent().hide();
              $('.brand_class').prop('checked',false);

            if(gen_val == ''){
               $scope.filter_products = $scope.total_products;
               $scope.products = $scope.total_products;
               $('.category_class').parent().parent().show();
               $('.brand_class').parent().parent().show();
               $scope.paginationftn($scope.products);
            }else{

                if($scope.filter_combo == 1){
                  $scope.make = [];
                }else if($scope.filter_combo == 2){
                  $scope.make_year = [];
                }
                $scope.model = [];
                $scope.engine = [];
                $scope.inmodel='';
                $scope.inengine='';
                $scope.inyear='';
                $scope.inmake='';

              var cnt = 0;
              var temp = [];

              $scope.total_products.forEach(function(val,index) {
                  incnt = 0;
                  if((val[3].toLowerCase()).search(gen_val) != -1){
                    incnt++;
                  }else if((val[8].toLowerCase()).search(gen_val) != -1){
                    incnt++;
                  }else if((val[11].toLowerCase()).search(gen_val) != -1){
                    incnt++;
                  }else if((val[12].toLowerCase()).search(gen_val) != -1){
                    incnt++;
                  }

                  if(incnt > 0 ){
                      temp.push(val);
                      $('#cat_'+val[9]).parent().parent().show();
                      $('#bra_'+val[10]).parent().parent().show();
                  }
                  cnt++;
              });
            if($scope.total_products.length == cnt){
              $scope.filter_products = temp;
               $scope.products = temp;
               $scope.paginationftn($scope.products);
            }
          }

    };



    $scope.pagerefresh = function(){
      //currently wokring refresh
      $scope.s_gen_search = '';
      cat_arr = [];
      bra_arr = [];
      clr_arr = [];
      $('.filter-options a').removeClass('active');
      $('.filter-options a.color-all').addClass('active');
      if($scope.filter_combo == 1){
        $scope.make = [];
        $scope.make_year = $scope.total_make_year;
        $('select#inyear option:first' ).prop( 'selected', true );

      }else if($scope.filter_combo == 2){
        $scope.make_year = [];
        $scope.make = $scope.total_make;
        $('select#inmake option:first' ).prop( 'selected', true );
      }
      $scope.model = [];
      $scope.engine = [];
      $scope.inmodel='';
      $scope.inengine='';
      $scope.inyear='';
      $scope.inmake='';

      $('.category_class').parent().parent().show();
      $('.category_class').prop('checked',false);
      $('.brand_class').parent().parent().show();
      $('.brand_class').prop('checked',false);

      $('#pageloader').css('display','block');
       $scope.products = $scope.total_products;
       $scope.filter_products = $scope.total_products;
       $scope.final_ymm_array = $scope.make_array;
       $('#pageloader').css('display','none');
       $scope.paginationftn($scope.products);
       //window.location.reload();
    };
    /*$scope.$watch('s_gen_search',function(newValue, oldValue){
        if (newValue !== oldValue) {
          if($scope.s_gen_search == '' && $scope.s_gen_search != undefined){
            $scope.pagerefresh();
          }
        }
    });*/
    $scope.paginationftn = function(items){
      $scope.nodata = false;
      $scope.sortingOrder = sortingOrder;
      $scope.reverse = false;
      $scope.filteredItems = [];
      $scope.groupedItems = [];
      $scope.itemsPerPage = 9;
      $scope.pagedItems = [];
      $scope.pagenos = [];
      $scope.interdata = '';
      $scope.currentPage = 0;
      $scope.interdata = items;
        //pagination part start
            // *********************
                /*$scope.sortBy = function(propertyName) {
                    $scope.sortKey = propertyName;   //set the sortKey to the param passed
                    $scope.reverse = ($scope.sortKey === propertyName) ? !$scope.reverse : false;
                    $scope.filteredItems = $filter('orderBy')($scope.filteredItems, $scope.sortKey, $scope.reverse);
                    $scope.pagedItems = "";
                    $scope.groupToPages();
                };*/
                var searchMatch = function (haystack, needle) {
                  if (!needle) {
                      return true;
                  }
                   if(haystack !== null){
                      return haystack.toString().toLowerCase().indexOf(needle.toString().toLowerCase());
                  }
                };

                // *****************init the filtered items*****************
                $scope.mysearch = function () {
                    $scope.filteredItems = $filter('filter')($scope.interdata, function (item) {
                        if(item[0] != '') {
                              if (searchMatch(item[0], $scope.query)  > -1){
                                  return true;
                              }
                        }
                        return false;
                    });
                    // take care of the sorting order
                    if ($scope.sortingOrder !== '') {
                        $scope.filteredItems = $filter('orderBy')($scope.filteredItems, $scope.sortingOrder, $scope.reverse);
                    }
                    $scope.currentPage = 0;
                    // now group by pages
                    $scope.groupToPages();
                };
                 // *****************finish the filtered items*****************
                // calculate page in place
                $scope.groupToPages = function () {
                $scope.pagedItems = [];
                for (var i = 0; i < $scope.filteredItems.length; i++) {
                    if (i % $scope.itemsPerPage === 0) {
                        $scope.pagedItems[Math.floor(i / $scope.itemsPerPage)] = [ $scope.filteredItems[i] ];
                        } else {
                        $scope.pagedItems[Math.floor(i / $scope.itemsPerPage)].push($scope.filteredItems[i]);
                    }
                    }
                };
                $scope.range = function (start, end) {
                    var ret = [];
                    if (!end) {
                        end = start;
                        start = 0;
                    }
                    for (var i = start; i < end; i++) {
                        ret.push(i);
                    }
                    $scope.pagenos = ret;
                    return ret;
                };
                $scope.prevPage = function () {
                    if ($scope.currentPage > 0) {
                        $scope.currentPage--;
                    }
                };
                $scope.nextPage = function () {
                    if ($scope.currentPage < $scope.pagedItems.length - 1) {
                        $scope.currentPage++;
                    }
                };
                $scope.setPage = function () {
                    $scope.currentPage = this.n;
                };
                $scope.setfirst = function () {
                    $scope.currentPage = 0;
                };
                $scope.setlast = function () {
                    $scope.currentPage = $scope.pagedItems.length - 1;
                };

                // functions have been describe process the data for display
                $scope.mysearch();

                $scope.$watch('currentPage', function(pno,oldno){
                  if ((pno+1)%5==0 && $scope.pagedItems.length > 5){
                    var start = pno > oldno ? pno : (pno - 4 ? pno - 4 : 0);
                    $scope.range(start, $scope.pagedItems.length);
                  }
                });
                $scope.range($scope.pagedItems.length);
            //pagination part end
            if($scope.pagedItems.length < 1){
              $scope.nodata = true;
            }
            //$scope.$apply();
            $scope.$applyAsync();
    };




  /*****************************************************************************************************
                                partsearch page scripts
  *****************************************************************************************************/

  /***************************************************************************************
          User Orders Page Script
  *************************************************************************/
    $scope.orderpagedItems = [];
    $scope.orderpagenos = [];
    $scope.ordercurrentPage = 0;
    $scope.orderfilteredItems = [];
    $scope.ordergroupedItems = [];
    $scope.orderitemsPerPage = 5;
  $http({
      method  : 'GET',
      url     : homeurl+'getuserorders',
      headers : {'Content-Type': 'application/x-www-form-urlencoded'}
    })
    .then(function(response) {
      $scope.userorderdata = response.data.order_results;
      $scope.items = $scope.userorderdata;
      $scope.order_commonpagination($scope.items);
    });

   //common pagination
      $scope.order_commonpagination  = function(data){
          $scope.ordertot_items = data;
          //$scope.tot_items =[];
           var ordersearchMatch = function (haystack, needle) {
                          if (!needle) {
                              return true;
                          }
                          if(haystack !== null){
                              return haystack.toString().toLowerCase().indexOf(needle.toString().toLowerCase());
                          }
                  };

                  $scope.ordersearch = function () {
                      $scope.orderfilteredItems = $filter('filter')($scope.ordertot_items, function (item) {
                          for(var attr in item) {
                              if (ordersearchMatch(item[attr], $scope.query))
                                  return true;
                          }
                          return false;
                      });
                      if ($scope.sortingOrder !== '') {
                          $scope.orderfilteredItems = $filter('orderBy')($scope.orderfilteredItems, $scope.sortingOrder, $scope.reverse);
                      }
                      $scope.ordercurrentPage = 0;
                      $scope.ordergroupToPages();
                  };
                $scope.ordernumbersearch = function () {

                  $scope.orderfilteredItems = $filter('filter')($scope.ordertot_items, function (item) {
                    for(var attr in item) {
                      if(attr == "order_number") {
                        if (ordersearchMatch(item[attr], $scope.ordernumber_search)  > -1){
                            return true;
                        }
                      }

                    }
                    return false;
                  });
                    if ($scope.sortingOrder !== '') {
                        $scope.orderfilteredItems = $filter('orderBy')($scope.orderfilteredItems, $scope.sortingOrder, $scope.reverse);
                    }
                    $scope.ordercurrentPage = 0;
                    $scope.ordergroupToPages();
                };
                $scope.orderstatussearch = function () {

                  $scope.orderfilteredItems = $filter('filter')($scope.ordertot_items, function (item) {
                    for(var attr in item) {
                      if(attr == "paymentstatus") {
                        if (ordersearchMatch(item[attr], $scope.orderstatus_search)  > -1){
                            return true;
                        }
                      }

                    }
                    return false;
                  });
                    if ($scope.sortingOrder !== '') {
                        $scope.orderfilteredItems = $filter('orderBy')($scope.orderfilteredItems, $scope.sortingOrder, $scope.reverse);
                    }
                    $scope.ordercurrentPage = 0;
                    $scope.ordergroupToPages();
                };
                $scope.orderdatesearch = function () {

                  $scope.orderfilteredItems = $filter('filter')($scope.ordertot_items, function (item) {
                    for(var attr in item) {
                      if(attr == "orderdate") {
                        if (ordersearchMatch(item[attr], $scope.orderdate_search)  > -1){
                            return true;
                        }
                      }

                    }
                    return false;
                  });
                    if ($scope.sortingOrder !== '') {
                        $scope.orderfilteredItems = $filter('orderBy')($scope.orderfilteredItems, $scope.sortingOrder, $scope.reverse);
                    }
                    $scope.ordercurrentPage = 0;
                    $scope.ordergroupToPages();
                };
                 $scope.orderpaymentsearch = function () {

                  $scope.orderfilteredItems = $filter('filter')($scope.ordertot_items, function (item) {
                    for(var attr in item) {
                      if(attr == "payment_gateway") {
                        if (ordersearchMatch(item[attr], $scope.orderpayment_search)  > -1){
                            return true;
                        }
                      }

                    }
                    return false;
                  });
                    if ($scope.sortingOrder !== '') {
                        $scope.orderfilteredItems = $filter('orderBy')($scope.orderfilteredItems, $scope.sortingOrder, $scope.reverse);
                    }
                    $scope.ordercurrentPage = 0;
                    $scope.ordergroupToPages();
                };
                $scope.ordershippingsearch = function () {

                  $scope.orderfilteredItems = $filter('filter')($scope.ordertot_items, function (item) {
                    for(var attr in item) {
                      if(attr == "placed") {
                        if (ordersearchMatch(item[attr], $scope.ordershipping_search)  > -1){
                            return true;
                        }
                      }

                    }
                    return false;
                  });
                    if ($scope.sortingOrder !== '') {
                        $scope.orderfilteredItems = $filter('orderBy')($scope.orderfilteredItems, $scope.sortingOrder, $scope.reverse);
                    }
                    $scope.ordercurrentPage = 0;
                    $scope.ordergroupToPages();
                };
                $scope.orderpricesearch = function () {

                  $scope.orderfilteredItems = $filter('filter')($scope.ordertot_items, function (item) {
                    for(var attr in item) {
                      if(attr == "total_price__number") {
                        if (ordersearchMatch(item[attr], $scope.orderprice_search)  > -1){
                            return true;
                        }
                      }

                    }
                    return false;
                  });
                    if ($scope.sortingOrder !== '') {
                        $scope.orderfilteredItems = $filter('orderBy')($scope.orderfilteredItems, $scope.sortingOrder, $scope.reverse);
                    }
                    $scope.ordercurrentPage = 0;
                    $scope.ordergroupToPages();
                };

                  $scope.ordergroupToPages = function () {

                      $scope.orderpagedItems = [];

                      for (var i = 0; i < $scope.orderfilteredItems.length; i++) {
                          if (i % $scope.orderitemsPerPage === 0) {
                              $scope.orderpagedItems[Math.floor(i / $scope.orderitemsPerPage)] = [ $scope.orderfilteredItems[i] ];
                          } else {
                              $scope.orderpagedItems[Math.floor(i / $scope.orderitemsPerPage)].push($scope.orderfilteredItems[i]);
                          }
                      }
                  };


                  $scope.orderrange = function (start, end) {
                      var ret = [];
                      if (!end) {
                          end = start;
                          start = 0;
                      }
                      for (var i = start; i < end; i++) {
                          ret.push(i);
                      }
                      $scope.orderpagenos = ret;
                      return ret;
                  };

                  $scope.orderprevPage = function () {
                      if ($scope.ordercurrentPage > 0) {
                          $scope.ordercurrentPage--;
                      }
                  };

                  $scope.ordernextPage = function () {
                      if ($scope.ordercurrentPage < $scope.orderpagedItems.length - 1) {
                          $scope.ordercurrentPage++;
                      }
                  };

                  $scope.ordersetPage = function () {
                      $scope.ordercurrentPage = this.n;
                  };

                  $scope.ordersearch();

                  $scope.ordersort_by = function(propertyName) {
                                  $scope.sortKey = propertyName;   //set the sortKey to the param passed
                                  $scope.reverse = ($scope.sortKey === propertyName) ? !$scope.reverse : false;
                                  $scope.orderfilteredItems = $filter('orderBy')($scope.orderfilteredItems, $scope.sortKey, $scope.reverse);
                                  $scope.orderpagedItems = "";
                                  $scope.ordergroupToPages();

                      };

                  $scope.$watch('ordercurrentPage', function(pno,oldno){
                    if ((pno+1)%5==0 && $scope.orderpagedItems.length > 5){
                      var start = pno > oldno ? pno : (pno - 4 ? pno - 4 : 0);
                      $scope.orderrange(start, $scope.orderpagedItems.length);
                    }
                  });
                  $scope.orderrange($scope.orderpagedItems.length);
      }
    });


    //checkout 3 complete
      var baseurl = "{{ url('<front>') }}";
      var userid  = '';
      var currenturl = window.location.href;
      var url_explode = currenturl.split('/');
      $('#pageloader').css('display','block');
      $.ajax(
        {
          url:baseurl+'getuserId',
          type:'POST',
          data:{uris : currenturl},
          success: function(data)
          {
            var jdata = JSON.parse(data.trim());
            if(jdata.userid == 'not')
            {
              localStorage.setItem("url",jdata.url);
              //$('#pageloader').css('display','none');
            }
            else
            {
              userid = jdata.userid;
              if(jdata.url != '' && jdata.url != undefined)
              {
                $('#pageloader').css('display','none');
                if(currenturl != jdata.url)
                {
                  window.location.href = jdata.url;
                }
              }
              else
              {
                $('#pageloader').css('display','none');
              }

              if(url_explode[url_explode.length-1] == 'complete')
              {
               window.location.href = baseurl+'user/'+userid+'/orders';
               //$('#pageloader').css('display','none');
              }else{
                $('#pageloader').css('display','none');
              }

            }

            $('#pageloader').css('display','none');
          }
        });



      $('.popupCloseButton').click(function(){
          $('.hover_bkgr_fricc').hide();
      });

      $(document).on('click', '.addtocart_class', function(){
        $('#pageloader').css('display','block');
        var item_qty=$('#item_qty').val();
        var price   = $('#price_total').text();
        if(price == "" || price == undefined){
          price = 1;
        }
        if(item_qty == "" || item_qty == undefined){
          item_qty = 1;
        }
        var id      = $(this).attr('id');
          $.ajax({
              type: "POST",
              data: {ids:id,item_qty:item_qty,price:price},
              url: baseurl+"addToCart_quantity",
              success: function(data){
                if(data.trim() == 'Login')
                {
                  $('.login_error').show();
                }
                else if(data.trim() == 'exist'){
                  $('.popupCloseButton').css("display","block");
                  $('.cartadded').show();
                }else{
                  $('.shopping_count').html("");
                  $('.shopping_count').html(data);
                  cartitems();
                }
                $('#pageloader').css('display','none');
              }
          });
      });

      cartitems();
      function cartitems(){
        $('#cart-listcom').html('');
        $.ajax({
          type: "POST",
            url: baseurl+"drupalourproduct/cart_listcom",
            success: function(data){
              $('#cart-listcom').html('');
              $('#cart-listcom').html(data);
            }
        });
      }

      $(document).on('click', '#wishtlist_class', function(){
        $('#pageloader').css('display','block');
        var id = $(this).attr('wishvalue');
        var wishlist_rem = $(this).attr('wishlist_show');
        $.ajax({
            type: "POST",
            data: {ids:id},
            url: baseurl+"wishlistadd",
            success: function(data){
               if(wishlist_rem == 'remove_wish'){
                  $(".wish_"+id).parent().remove();
               }else if(data.trim() == 'login'){
                  $(".login_error_wish").css("display","block");
               }else{
                  if(data == 0){
                    $("#"+id+"insidewish").removeClass('fa fa-heart');
                    $("#"+id+"insidewish").addClass('fa fa-heart-o');
                  }else{
                    $("#"+id+"insidewish").removeClass('fa fa-heart-o');
                    $("#"+id+"insidewish").addClass('fa fa-heart');
                  }
              }
              $('#pageloader').css('display','none');
              wishcartcount();
           }
         });
        });

        wishcartcount();
        function wishcartcount(){
            $.ajax({
            type: "POST",
              url: baseurl+"countofwishcart",
              dataType: 'json',
              success: function(data){
                $('#mycartcount').html('');
                $('#mycartcount').html(data.cartcount);
                $('#mywishcount').html('');
                $('#mywishcount').html(data.wishcount);
              }
          });
        }

      $(document).on('click', '#delete_items', function(){
        $('#pageloader').css('display','block');
        var productid = $(this).attr('productid');
        $.ajax({
            type: "POST",
            data: {productid:productid},
            url: baseurl+"deletecartdata",
            success: function(data){
              $('#pageloader').css('display','none');
              cartitems();
              wishcartcount();
            }
        });
      });

      var comparedids =[];
      $(document).on('click', '.compareselect', function(){
        var selid= $(this).attr("id");
        if ($(this).is(':checked')) {
          if(comparedids.length < 3 ){
            comparedids.push(selid);
          }else{

            $(this).prop('checked', false);
            $('.comparemax').css("display","block");
          }
        }else{
          array_pop(comparedids,selid);
        }
        if(comparedids.length > 0 ){

          $('.compare-switcher').css("display","block");
        }else{
          $('.compare-switcher').css("display","none");
        }
        $('#compare_id').attr("href",baseurl+"cart_list?id="+comparedids.join());
        compareproducts();
      });
      function array_pop(comparedids ,selid ){
        var index = comparedids.indexOf(selid);
        if (index > -1) {
        comparedids.splice(index, 1);
        }
        console.log('Another func'+comparedids);
      }
      function compareproducts(){
        $.ajax({
        type: "POST",
        data:{productids : comparedids},
        url: baseurl+"prodcomp",
        success: function(data){
          $('#inside_swith').html(data);
        }
        });
      }
      $(document).on('click', '.compare_remove', function(){
        var selid= $(this).attr("id");
        $('#'+selid).prop('checked', false);
        array_pop(comparedids,selid);
        if(comparedids.length > 0 ){
          $('.compare-switcher').css("display","block");
        }else{
          $('.compare-switcher').css("display","none");
        }
        compareproducts();
      });

      $(function(){
        $(".p-smooth").change(function() {
          $(".shp_dtl").toggleClass("show-hide", this.checked)
        }).change();
      });

      $(document).on('click', '#xremove', function(e) {
          var data5 = $(this).attr('data');
          $lenths = $(this).length;

          $.ajax({
          type: "POST",
          data:{productid : data5},
          url: baseurl+"deletecartdata",
          success: function(data){            
            $('#tr'+data5).remove();
            if($lenths < 1){
              $("#emptyclass").css("display","block");
              $("#fullclass").css("display","none");
            }
          }        
      
        });
      });
  </script>
