 <div class="">
      <!-- <div class="main_title">Brands</div> -->
      <div class="client_block">
        <div class="container">
          <div class="col-md-12">
          <!--   <div class="carousel our-partners slide" id="ourPartners">
              <div class="carousel-inner">
                {% for result in brandinfo %}
                <div class="item {% if loop.first %}active{% endif %}">
                  {% for value in result %}
                  <div class="col-xs-12 col-sm-6 col-md-2">
                    <a href="{{ url('<front>') }}part_search?bd_id={{value[1]}}">
                      <img src="{{value[0]}}" alt="{{value[1]}}">
                    </a>
                  </div>
                  {% endfor %}
                </div>
                {% endfor %} 
              </div>
              <a class="left carousel-control" href="#ourPartners" data-slide="prev"><i class="fa fa-chevron-left icon-prev"><span class="hide_span">Prev</span></i></a>
              <a class="right carousel-control" href="#ourPartners" data-slide="next"><i class="fa fa-chevron-right icon-next"><span class="hide_span">Next</span></i></a>
            </div> -->
            <div id="drivers">
            <div class="medium-12 columns">
               <!-- <ul class="small-block-grid-1 medium-block-grid-3">
                   
                   <li id="driver_1">
                       <a href="https://www.xclutchusa.com/product-range/product-selection">
                        <span class="imageHolder"><img src="https://www.xclutchusa.com/uploads/made/1dfa917b8fd200e2e6ef26106e361f1d19e1d3e8.jpg" class="driverImage" alt="Product Range"></span>
                       <h3><span>Product Range</span></h3>
                       </a>
                   </li>
                  
                   <li id="driver_2">
                       <a href="https://www.xclutchusa.com/distributors">
                        <span class="imageHolder"><img src="https://www.xclutchusa.com/uploads/made/2b214f5ed03d6c752443962d7d668f94213daa99.jpg" class="driverImage" alt="Find a Distributor"></span>
                       <h3><span>Find a Distributor</span></h3>
                       </a>
                   </li>
                  
                   <li id="driver_3">
                       <a href="http://wolusa.xclutchusa.com/login.aspx" target="_blank">                               
                        <span class="imageHolder"><img src="https://www.xclutchusa.com/uploads/made/bb7e7a91deb2f7a1f401eb4903abab36066f1949.jpg" class="driverImage" alt="XCLUTCH ONLINE"></span>
                       <h3><span>XCLUTCH ONLINE</span></h3>
                       </a>
                   </li>
                  
               </ul> -->
               <div class="small-block-grid-1 medium-block-grid-3">
                   
                   <div id="driver_1">
                      <div class="inlne">
                        <a href="https://www.xclutchusa.com/distributors">
                        <span class="imageHolder"><img src="https://www.xclutchusa.com/uploads/made/1dfa917b8fd200e2e6ef26106e361f1d19e1d3e8.jpg" class="driverImage" alt="Product Range"></span>
                       <!-- <h3><span>Product Range</span></h3> -->
                       </a>
                      </div>
                       
                      <div class="inlne">
                        <a href="https://www.xclutchusa.com/distributors">
                        <span class="imageHolder"><img src="https://www.xclutchusa.com/uploads/made/2b214f5ed03d6c752443962d7d668f94213daa99.jpg" class="driverImage" alt="Find a Distributor"></span>
                       
                       </a>
                      </div>

                      <div class="inlne">
                        <a href="https://www.xclutchusa.com/distributors">                               
                        <span class="imageHolder"><img src="https://www.xclutchusa.com/uploads/made/bb7e7a91deb2f7a1f401eb4903abab36066f1949.jpg" class="driverImage" alt="XCLUTCH ONLINE"></span>
                       <!-- <h3><span>XCLUTCH ONLINE</span></h3> -->
                       </a>
                      </div>
                   </div>
                   <div class="headd">
                    <a href="https://www.xclutchusa.com/distributors"><h3><span>Find a Distributor</span></h3></a>
                   </div>
               </ul>
            </div>
          </div>
          </div>
        </div>
        <div class="col-md-12 brch">
                  <a href="https://whitelineperformance.com/" target="_blank"><img src="https://www.xclutchusa.com/uploads/web/downloadCatalogue.jpg" alt="Download Catalogue"></a>
        </div>
      </div>
    </div>