<div class="col-md-3 part_bdr" ng-hide="partbody == false">
  <div class="product-widget-area">
    <div class="widget-product">
      <!-- <h3>Filter by</h3> -->
      <ul class="part-search" id="accordion">
        <li data-toggle="collapse" data-target="#Descriptions" aria-expanded="false" aria-controls="Descriptions">
          <a>Our Categories <span class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse in descriptions" id="Descriptions">
          {% for key,value in categories %}
          <li><label class="container_lbl"><div class="cmpre">{{value.category_name}}</div>
         <input type="checkbox" name="categories" class="category_class" id="cat_{{value.category_id}}" value="{{value.category_id}}" ng-click="category_insert({{value.category_id}})">
        <span class="checkmark"></span>
        </label></li>
         <!--  <li><input type="checkbox" name="categories" class="category_class" id="cat_{{value.category_id}}" value="{{value.category_id}}" ng-click="category_insert({{value.category_id}})"> {{value.category_name}}</li> -->

          {% endfor %}
        </ul>

        <li data-toggle="collapse" data-target="#Brand" aria-expanded="true" aria-controls="Brand">
          <a>Brand <span class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse in brand" id="Brand">
        {% for key,value in brand %}

        <li><label class="container_lbl"><div class="cmpre">{{value.brand_name}}</div>
         <input type="checkbox" name="brand" class="brand_class" id="bra_{{value.brand_id}}" value="{{value.brand_id}}" ng-click="brand_insert({{value.brand_id}})">
        <span class="checkmark"></span>
        </label></li>
        {% endfor %}
        </ul>


        <!-- <li data-toggle="collapse" data-target="#Brandcolor" aria-expanded="true" aria-controls="Brandcolor">
          <a href="#">Color <span class="arrow"></span></a>
        </li>
            <ul class="sub-menu collapse in brandcolor" id="Brandcolor">
                <li><a href="#">
                  <input type="checkbox" class="select_all" name="select_all" id="ckbCheckAll" value="all">Select All</a></li>
              {% for key,value in color %}

                    <li class="active"><a href="#"><input type="checkbox" name="" id="clr_{{value.tid}}" class="checkBoxClass"  value="{{value.tid}}"  ng-click="filterBycolor({{value.tid}})"><span class="brand_color_thumb" style="background-color: {{value.field_colorname}}"></span> {{value.tname}}</a></li>

               {% endfor %}
            </ul> -->


        <li data-toggle="collapse" data-target="#price" aria-expanded="true" aria-controls="price" class="">
          <a>Price <span class="arrow"></span></a>
        </li>
        <div class=" sub-menu collapse in price cost-price-content" id="price" >
          <div id="price-range" class="price-range" ng-click="price_range()"></div>
          <!-- <span id="price-min" class="price-min prange"></span> <span id="price-max" class="price-max prange" ></span> -->
          <label for="price-min" class="hide_span">Min</label>
          <input type="number" name="" id="price-min" class="price-min prange" value="" ng-blur="price_range()"> 
          <label for="price-max" class="hide_span">Max</label>
          <input type="number" name="" id="price-max" class="price-max prange" ng-blur="price_range()" value=""></span>

        </div>

        <li class="appl-fliter dis_none"><button class="btn btn-primary btn-appl-flit" id="apply_filter" ng-click="apply_filter()" >Apply Fliter</button></li>

       <!--  <li class="appl-fliter"><button class="btn btn-primary btn-appl-flit" id="apply_filter" ng-click="apply_filter()" >Apply Fliter</button></li> -->

      </ul>
    </div>
  </div>
</div>
