<div class="simplelogin-wrapper {{ background_class }} {{ background_opacity }}" style="">
  <div class="simplelogin-form" style="width: {{ wrapper_width }}px">
    <div class="simplelogin-link">
      {% if path == '/user/password' %}
        <a href="{{ base_path }}user/login" class="signreg">Login</a>
      {% elseif path == '/user/register' %}
        <a href="{{ base_path }}user/login" class="signreg">Login</a>
      {% else %}
        {% if site_register != "admin_only" %}
          <a href="{{ base_path }}user/register" class="signreg">Sign up</a>
        {% endif %}
      {% endif %}
    </div>
    

  <div class="simplelogin-bg">  
    <div class="login-banner">
        <div class="login-main-logo text-center">
          <img src="assets/images/APA-logo.png">
        </div>
      </div>
    <div class="simplelogin-logo">
      <a href="{{ base_path }}"><img src="{{ logo }}" alt="Home"/></a>
      <h1>{{ site_name }}</h1>
    </div>

    {{ page.highlighted }}
    {{ page.content }} 

    {% if path == '/user/login' %}
      <div class="forgot-password">Forgot password? <a href="{{ base_path }}user/password" class="">Click here</a></div>
    {% endif %}   

  </div>
</div>
</div>
