 <div class="news_letter">
        <div class="row">
          <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="footer_newsletter">
              <div class="col-sm-8">
                <h3>Subscribe to our <span>Newsletter</span></h3>
                <p>Join our subscriber list to get the latest news,updates and special  offers delivered directly in your inbox </p>
              </div>
              <div class="newsletter_input col-sm-4">
                <form action="#" method="GET">
                  <input type="text" class="form-contact" name="email" placeholder="Enter your email here...">
                  <button type="submit" name="submitNewsletter" class="">
                    SUBSCRIBE
                  </button>
                </form>
              </div>
            </div>
          </div> -->
        </div>
      </div>