<section class="banner_slider m-b-5">
    <div class="container cust_wdt">
      <div id="carousel" class="slide carousel carousel-fade">
        <div class="carousel-inner">
          <!-- <div class="item active">
            <img src="{{ url('<front>') }}themes/bailey/images/banner-3.jpg" alt="sliderImg" class="img-responsive" />
          </div>
          <div class="item">
            <img src="{{ url('<front>') }}themes/bailey/images/banner-2.jpg" alt="sliderImg" class="img-responsive" />
          </div> -->
          <div class="item active">
            <img src="{{ url('<front>') }}themes/bailey/images/banner-1.png" alt="sliderImg" class="img-responsive" />
          </div>
        </div>
        <a class="carousel-control right" href="#carousel" data-slide="next">
          <i class="fa fa-angle-right m-control-right"></i>
        </a>
        <a class="carousel-control left" href="#carousel" data-slide="prev">
          <i class="fa fa-angle-left m-control-left"></i>
        </a>
      </div>
    </div>
  </section>
  <!--FEATURED PRODUCTS-->
  <section class="featured_product">
    <div class="container cust_wdt">
      <div class="row">
        <div class="main_title">Featured Products</div>
        <div class="col-sm-12">
          <div class="row-flex">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div class="featured_item_box">
                <a class="product_img_head" href="product_description.html" target="_blank">
                  <div class="featured_img">
                    <img class="img-responsive" src="{{ url('<front>') }}themes/bailey/images/img1.png" alt="featured product" />
                  </div>
                  <span class="new_brand">BEST SELLER</span>
                </a>
                <div class="featured_item_price">
                  <span class="price_color">$84.00</span> <span class="price_strike">$90.00</span>
                </div>
                <div class="product_wishlist">
                  <a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                <div class="clearfix"></div>
                <a class="product_img_head" href="product_description.html" target="_blank">
                  <h5 class="text-up">Lightweight Torque Starter</h5>
                </a>
                <div class="feature_ratings">
                  <ul>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star-half-o"></i></li>
                    <li class="customer_review p-l-5"><a class="p-0" href="product_description.html" target="_blank"><i class="fa fa-angle-down" aria-hidden="true"></i> 27</a></li>
                    <li class="" style="color:#333;">&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Compare</a></li>
                  </ul>
                </div>
                <div class="feature_shipping">
                  <i class="fa fa-truck" aria-hidden="true"></i>&nbsp;Free Delivery
                </div>
                <!-- <div class="feature_info m-l-10">
                  <button type="button" class="addcart_btn cartbtn_bg">Add to cart</button>
                  <button type="button" class="addcart_btn buybtn_bg">Buy now</button>
                </div> -->
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div class="featured_item_box">
                <a class="product_img_head" href="product_description.html" target="_blank">
                  <div class="featured_img">
                    <img class="img-responsive" src="{{ url('<front>') }}themes/bailey/images/img2.png" alt="featured product" />
                  </div>
                  <span class="new_brand">BEST SELLER</span>
                </a>
                <div class="featured_item_price">
                  <span class="price_color">$52.00</span> <span class="price_strike">$60.00</span>
                </div>
                <div class="product_wishlist">
                  <a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                <div class="clearfix"></div>
                <a class="product_img_head" href="product_description.html" target="_blank">
                  <h5 class="text-up">50 Amp Alternator</h5>
                </a>
                <div class="feature_ratings">
                  <ul>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star-half-o"></i></li>
                    <li class="customer_review p-l-5"><a class="p-0" href="product_description.html" target="_blank"><i class="fa fa-angle-down" aria-hidden="true"></i> 66</a></li>
                    <li class="" style="color:#333;">&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Compare</a></li>
                  </ul>
                </div>
                <div class="feature_shipping">
                  &nbsp;
                  <!-- <i class="fa fa-truck" aria-hidden="true"></i>&nbsp;Free Delivery -->
                </div>
                <!-- <div class="feature_info m-l-10">
                  <button type="button" class="addcart_btn cartbtn_bg">Add to cart</button>
                  <button type="button" class="addcart_btn buybtn_bg">Buy now</button>
                </div> -->
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div class="featured_item_box">
                <a class="product_img_head" href="product_description.html" target="_blank">
                  <div class="featured_img">
                    <img class="img-responsive" src="{{ url('<front>') }}themes/bailey/images/img3.png" alt="featured product" />
                  </div>
                  <span class="new_brand">BEST SELLER</span>
                </a>
                <div class="featured_item_price">
                  <span class="price_color">$99.00</span> <span class="price_strike">$110.00</span>
                </div>
                <div class="product_wishlist">
                  <a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                <div class="clearfix"></div>
                <a class="product_img_head" href="product_description.html" target="_blank">
                  <h5 class="text-up">1575 HP Turbocharger </h5>
                </a>
                <div class="feature_ratings">
                  <ul>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star-half-o"></i></li>
                    <li class="customer_review p-l-5"><a class="p-0" href="product_description.html" target="_blank"><i class="fa fa-angle-down" aria-hidden="true"></i> 24</a></li>
                    <li class="" style="color:#333;">&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Compare</a></li>
                  </ul>
                </div>
                <div class="feature_shipping">
                  &nbsp;
                  <!-- <i class="fa fa-truck" aria-hidden="true"></i>&nbsp;Free Delivery -->
                </div>
                <!-- <div class="feature_info m-l-10">
                  <button type="button" class="addcart_btn cartbtn_bg">Add to cart</button>
                  <button type="button" class="addcart_btn buybtn_bg">Buy now</button>
                </div> -->
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div class="featured_item_box">
                <a class="product_img_head" href="product_description.html" target="_blank">
                  <div class="featured_img">
                    <img class="img-responsive" src="{{ url('<front>') }}themes/bailey/images/img4.png" alt="featured product" />
                  </div>
                  <span class="new_brand">BEST SELLER</span>
                </a>
                <div class="featured_item_price">
                  <span class="price_color">$95.00</span> <span class="price_strike">$100.00</span>
                </div>
                <div class="product_wishlist">
                  <a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                <div class="clearfix"></div>
                <a class="product_img_head" href="product_description.html" target="_blank">
                  <h5 class="text-up">Automotive Battery</h5>
                </a>
                <div class="feature_ratings">
                  <ul>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star-half-o"></i></li>
                    <li class="customer_review p-l-5"><a class="p-0" href="product_description.html" target="_blank"><i class="fa fa-angle-down" aria-hidden="true"></i> 56</a></li>
                    <li class="" style="color:#333;">&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Compare</a></li>
                  </ul>
                </div>
                <div class="feature_shipping">
                  <i class="fa fa-truck" aria-hidden="true"></i>&nbsp;Free Delivery
                </div>
                <!-- <div class="feature_info m-l-10">
                  <button type="button" class="addcart_btn cartbtn_bg">Add to cart</button>
                  <button type="button" class="addcart_btn buybtn_bg">Buy now</button>
                </div> -->
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div class="featured_item_box">
                <a class="product_img_head" href="product_description.html" target="_blank">
                  <div class="featured_img">
                    <img class="img-responsive" src="{{ url('<front>') }}themes/bailey/images/img5.png" alt="featured product" />
                  </div>
                  <span class="new_brand">BEST SELLER</span>
                </a>
                <div class="featured_item_price">
                  <span class="price_color">$65.00</span> <span class="price_strike">$66.00</span>
                </div>
                <div class="product_wishlist">
                  <a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                <div class="clearfix"></div>
                <a class="product_img_head" href="product_description.html" target="_blank">
                  <h5 class="text-up">Grille CHR GDN856</h5>
                </a>
                <div class="feature_ratings">
                  <ul>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star-half-o"></i></li>
                    <li class="customer_review p-l-5"><a class="p-0" href="product_description.html" target="_blank"><i class="fa fa-angle-down" aria-hidden="true"></i> 19</a></li>
                    <li class="" style="color:#333;">&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Compare</a></li>
                  </ul>
                </div>
                <div class="feature_shipping">
                  &nbsp;
                  <!-- <i class="fa fa-truck" aria-hidden="true"></i>&nbsp;Free Delivery -->
                </div>
                <!-- <div class="feature_info m-l-10">
                  <button type="button" class="addcart_btn cartbtn_bg">Add to cart</button>
                  <button type="button" class="addcart_btn buybtn_bg">Buy now</button>
                </div> -->
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div class="featured_item_box">
                <a class="product_img_head" href="product_description.html" target="_blank">
                  <div class="featured_img">
                    <img class="img-responsive" src="{{ url('<front>') }}themes/bailey/images/img6.png" alt="featured product" />
                  </div>
                  <span class="new_brand">BEST SELLER</span>
                </a>
                <div class="featured_item_price">
                  <span class="price_color">$148.00</span> <span class="price_strike">$150.00</span>
                </div>
                <div class="product_wishlist">
                  <a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                <div class="clearfix"></div>
                <a class="product_img_head" href="product_description.html" target="_blank">
                  <h5 class="text-up">Turbo Motor</h5>
                </a>
                <div class="feature_ratings">
                  <ul>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star-half-o"></i></li>
                    <li class="customer_review p-l-5"><a class="p-0" href="product_description.html" target="_blank"><i class="fa fa-angle-down" aria-hidden="true"></i> 253</a></li>
                    <li class="" style="color:#333;">&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Compare</a></li>
                  </ul>
                </div>
                <div class="feature_shipping">
                  <i class="fa fa-truck" aria-hidden="true"></i>&nbsp;Free Delivery
                </div>
                <!-- <div class="feature_info m-l-10">
                  <button type="button" class="addcart_btn cartbtn_bg">Add to cart</button>
                  <button type="button" class="addcart_btn buybtn_bg">Buy now</button>
                </div> -->
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div class="featured_item_box">
                <a class="product_img_head" href="product_description.html" target="_blank">
                  <div class="featured_img">
                    <img class="img-responsive" src="{{ url('<front>') }}themes/bailey/images/img7.jpg" alt="featured product" />
                  </div>
                  <span class="new_brand">BEST SELLER</span>
                </a>
                <div class="featured_item_price">
                  <span class="price_color">$68.00</span> <span class="price_strike">$70.00</span>
                </div>
                <div class="product_wishlist">
                  <a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                <div class="clearfix"></div>
                <a class="product_img_head" href="product_description.html" target="_blank">
                  <h5 class="text-up">1.7kW High Torque Starter</h5>
                </a>
                <div class="feature_ratings">
                  <ul>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star-half-o"></i></li>
                    <li class="customer_review p-l-5"><a class="p-0" href="product_description.html" target="_blank"><i class="fa fa-angle-down" aria-hidden="true"></i> 77</a></li>
                    <li class="" style="color:#333;">&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Compare</a></li>
                  </ul>
                </div>
                <div class="feature_shipping">
                  <i class="fa fa-truck" aria-hidden="true"></i>&nbsp;Free Delivery
                </div>
                <!-- <div class="feature_info m-l-10">
                  <button type="button" class="addcart_btn cartbtn_bg">Add to cart</button>
                  <button type="button" class="addcart_btn buybtn_bg">Buy now</button>
                </div> -->
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div class="featured_item_box">
                <a class="product_img_head" href="product_description.html" target="_blank">
                  <div class="featured_img">
                    <img class="img-responsive" src="{{ url('<front>') }}themes/bailey/images/img8.jpg" alt="featured product" />
                  </div>
                  <span class="new_brand">BEST SELLER</span>
                </a>
                <div class="featured_item_price">
                  <span class="price_color">$84.00</span> <span class="price_strike">$90.00</span>
                </div>
                <div class="product_wishlist">
                  <a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                <div class="clearfix"></div>
                <a class="product_img_head" href="product_description.html" target="_blank">
                  <h5 class="text-up">Turbocharger</h5>
                </a>
                <div class="feature_ratings">
                  <ul>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star-half-o"></i></li>
                    <li class="customer_review p-l-5"><a class="p-0" href="product_description.html" target="_blank"><i class="fa fa-angle-down" aria-hidden="true"></i> 152</a></li>
                    <li class="" style="color:#333;">&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Compare</a></li>
                  </ul>
                </div>
                <div class="feature_shipping">
                  <i class="fa fa-truck" aria-hidden="true"></i>&nbsp;Free Delivery
                </div>
                <!-- <div class="feature_info m-l-10">
                  <button type="button" class="addcart_btn cartbtn_bg">Add to cart</button>
                  <button type="button" class="addcart_btn buybtn_bg">Buy now</button>
                </div> -->
              </div>
            </div>
          </div>
          <div class="view_all">
            <button type="button" class="view">View All</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--ABOUT US-->
  <section class="about_us">
    <div class="container cust_wdt">
      <div class="row">
        <div class="main_title">About Us</div>
        <div class="main_title">New! BAILEY BLUETOOTH CONTROLLER</div>
        <div class="col-sm-12">
          <div class="col-sm-4">
            <div class="about_bg_img">
              <img src="{{ url('<front>') }}themes/bailey/images/abt.jpg" alt="About" class="img-responsive" />
            </div>
          </div>
          <div class="col-sm-8 text-left">
            <!-- <strong>Lorem ipsum dolor sit amet, consectetur adipissed do eiusmod tempor incididunt</strong> -->
            <p>The Bailey Bluetooth® Controller is a Bluetooth® receiver with four outputs. Using the Bailey App on your smartphone, electrical loads can be switched on and/or off. The Bailey app allows the user to visualize the respective outputs as well as their status (on/off) and create unique configurations for each functions application.</p>
            <p>Our Bluetooth controller is the perfect complement to dump trucks and trailers, rollback trucks, winches, lift tables, jacks, electric motors, lighting and more. Anything you wish to control via your smartphone device!</p>
            <!-- <span><a href="#" class="color_blue">Read More <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></span> -->
            <div class="product-formatted-price product-views-price-lead">$163.18</div>
            <div class="product-in-stock product-line-stock" style=""><span class="stock-availability">In Stock </span></div>
            <div class="product-qty-available" style=""><p class="product-qty-available-number">Available: 441</p></div>
            <div class="button-container"><a href="/product/299639" target="_self" class="button-style-one">Learn More and Buy Now!</a></div>
            <!-- <div class="view_all m-t-25">
              <button type="button" class="view float-l">Read More</button>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- clients -->
  <!--Testimonials-->
  <div class="testimonial">
    <div class="container cust_wdt">
      <div class="row">
        <div class="main_title">Testimonials</div>
        <div class="col-md-12">
          <div id="testimonial" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="item active">
                <div class="col-sm-1 col-md-1"></div>
                <div class="hidden-xs col-sm-3 col-md-2">
                  <div class="testimonial_img">
                    <img src="{{ url('<front>') }}themes/bailey/images/testimonial_img.jpg" alt="About" />
                  </div>
                </div>
                <div class="col-xs-12 col-sm-7 col-md-8">
                  <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipissed do eiusmod tempor incididunt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo incididunt ut labore et dolore magna aliqua. Ut
                    enim ad minim veniam,
                    quisthe nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo conseqenim ipsam voluptatem quia volupta. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tdidunt ut labore et dolore magna
                    aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna aliqua dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="col-sm-1 col-md-1"></div>
              </div>
              <div class="item">
                <div class="col-sm-1 col-md-1"></div>
                <div class="hidden-xs col-sm-3 col-md-2">
                  <div class="testimonial_img">
                    <img src="{{ url('<front>') }}themes/bailey/images/testimonial_img.jpg" alt="About" />
                  </div>
                </div>
                <div class="col-xs-12 col-sm-7 col-md-8">
                  <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipissed do eiusmod tempor incididunt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo incididunt ut labore et dolore magna aliqua. Ut
                    enim ad minim veniam,
                    quisthe nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo conseqenim ipsam voluptatem quia volupta. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tdidunt ut labore et dolore magna
                    aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna aliqua dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="col-sm-1 col-md-1"></div>
              </div>
              <div class="item">
                <div class="col-sm-1 col-md-1"></div>
                <div class="hidden-xs col-sm-3 col-md-2">
                  <div class="testimonial_img">
                    <img src="{{ url('<front>') }}themes/bailey/images/testimonial_img.jpg" alt="About" />
                  </div>
                </div>
                <div class="col-xs-12 col-sm-7 col-md-8">
                  <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipissed do eiusmod tempor incididunt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo incididunt ut labore et dolore magna aliqua. Ut
                    enim ad minim veniam,
                    quisthe nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo conseqenim ipsam voluptatem quia volupta. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tdidunt ut labore et dolore magna
                    aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna aliqua dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="col-sm-1 col-md-1"></div>
              </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#testimonial" data-slide="prev">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#testimonial" data-slide="next">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Testimonials-->
  <div class="video_block m-b-30">
    <div class="container cust_wdt">
      <div class="row">
        <div class="main_title">Videos</div>
        <div class="col-md-12">
          <div class="container">
            <div class="video_slide">
              <ul class="videoslide_img">
                <li>
                  <a data-type="iframe" width="420" height="315" href="https://www.youtube.com/watch?v=Idnsf0W6moM" allowfullscreen class="fancybox">
                    <img src="{{ url('<front>') }}themes/bailey/images/video-img1.jpg" alt="slider image" />
                  </a>
                </li>
                <li>
                  <a data-type="iframe" width="420" height="315" href="https://www.youtube.com/watch?v=FGnK7VZgImo" allowfullscreen class="fancybox">
                    <img src="{{ url('<front>') }}themes/bailey/images/video-img2.jpg" alt="slider image" />
                  </a>
                </li>
                <li>
                  <a data-type="iframe" width="420" height="315" href="https://www.youtube.com/watch?v=ki1TrPkqAic" allowfullscreen class="fancybox">
                    <img src="{{ url('<front>') }}themes/bailey/images/video-img1.jpg" alt="slider image" />
                  </a>
                </li>
                <li>
                  <a data-type="iframe" width="420" height="315" href="https://www.youtube.com/watch?v=Idnsf0W6moM" allowfullscreen class="fancybox">
                    <img src="{{ url('<front>') }}themes/bailey/images/video-img3.jpg" alt="slider image" />
                  </a>
                </li>
                <li>
                  <a data-type="iframe" width="420" height="315" href="https://www.youtube.com/watch?v=Idnsf0W6moM" allowfullscreen class="fancybox">
                    <img src="{{ url('<front>') }}themes/bailey/images/video-img2.jpg" alt="slider image" />
                  </a>
                </li>
                <!-- <li>
                  <a data-type="iframe" width="420" height="315" href="https://www.youtube.com/channel/UCSAhbGQ1ZwQBhdiKUVJ1bRw" allowfullscreen class="fancybox">
                    <img src="{{ url('<front>') }}themes/bailey/images/slider-1.jpg" alt="slider image" />
                  </a>
                </li>
                <li>
                  <a data-type="iframe" width="420" height="315" href="https://www.youtube.com/channel/UCSAhbGQ1ZwQBhdiKUVJ1bRw" allowfullscreen class="fancybox">
                    <img src="{{ url('<front>') }}themes/bailey/images/slider-2.jpg" alt="slider image" />
                  </a>
                </li> -->
                <span class="left">
                  <i class="fa fa-angle-left" aria-hidden="true"></i>
                </span>
                <span class="right">
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>