 <div class="faq-page-breadcrumb">
    <div class="breadcrumbs revealOnScroll" data-animation="fadeIn">
<!--       <div class="breadcrumb-item"><a href="{{ url('<front>') }}">Home</a></div><i class="fa fa-chevron-right"></i>
 -->      
             
              {% for key,value in seo_array%}
                  {% if value[0] != '' %}
                      <div class="breadcrumb-item current">{{value[0]}}</div>
                      {% else %}
                       <div class="breadcrumb-item current">Part Search</div>
                  {% endif %}
              {% endfor %}    
    </div>
 </div>

 <div class="search-part-box">
    <div class="col-sm-12">
      <!-- <div class="tble dis-inline-block">
        <input type="text" placeholder="General Search" name="" id="gen_search" ng-model="s_gen_search" class="input-text_1" ng-change='gen_search_clear()'>
        <input type="button" class="btn btn-primary search-button search-button-icons" id="gen_search" ng-click="general_search(0)"  value="Search">
      </div>
      <div class="search_or">
        <span class="search_or">(or)</span>
      </div> -->
      <div class="dis-tble-at">
        <ul class="dis-inline-block padd-left">

          <li class="dis-inline-block" ng-if="filter_combo == 2">
            <div class="form-inline">
              <div class="form-group">
                <label for="inmake" class="hide_span">Make</label>
                <select class="form-control" ng-class="{0:'select_medium', 1:'select_compact'}[engine_flag]"  id="inmake" ng-model="inmake" ng-change="getyear(inmake)" ng-disabled="make.length == 0">
                   <option value="">Make</option>
                   <option ng-repeat="m_value in make" value="{{'{{m_value}}'}}" >{{'{{m_value}}'}}</option>
                </select>
              </div>
            </div>
          </li>
          <li class="dis-inline-block" ng-if="filter_combo == 2">
            <div class="form-inline">
              <div class="form-group">
                <label for="inyear" class="hide_span">Year</label>
                <select class="form-control" ng-class="{0:'select_medium', 1:'select_compact'}[engine_flag]" id="inyear" ng-model="inyear" ng-change="getmodel(inyear)" ng-disabled="make_year.length == 0">
                   <option value="">Year</option>
                   <option ng-repeat="y_value in make_year">{{'{{y_value}}'}}</option>
                </select>
              </div>
            </div>
          </li>

          <li class="dis-inline-block" ng-if="filter_combo == 1">
            <div class="form-inline">
              <div class="form-group">
                <label for="inyear" class="hide_span">Year</label>
                <select class="form-control" ng-class="{0:'select_medium', 1:'select_compact'}[engine_flag]" id="inyear" ng-model="inyear" ng-change="getmake(inyear)" ng-disabled="make_year.length == 0">
                   <option value="">Year</option>
                   <option ng-repeat="y_value in make_year" >{{'{{y_value}}'}}</option>
                </select>
              </div>
            </div>
          </li>
          <li class="dis-inline-block" ng-if="filter_combo == 1">
            <div class="form-inline">
              <div class="form-group">
                <label for="inmake" class="hide_span">Make</label>
                <select class="form-control" ng-class="{0:'select_medium', 1:'select_compact'}[engine_flag]" id="inmake" ng-model="inmake" ng-change="getmodel(inmake)" ng-disabled="make.length == 0">
                   <option value="">Make</option>
                   <option ng-repeat="m_value in make" value="{{'{{m_value}}'}}" >{{'{{m_value}}'}}</option>
                </select>
              </div>
            </div>
          </li>

          <li class="dis-inline-block" ng-if="engine_flag == 0">
            <div class="form-inline">
              <div class="form-group">
                <label for="inmodel" class="hide_span">Model</label>
                <select class="form-control" ng-class="{0:'select_medium', 1:'select_compact'}[engine_flag]" id="inmodel"  ng-model="inmodel" ng-disabled="model.length == 0">
                  <option value="">Model</option>
                  <option ng-repeat="mo_value in model" value="{{'{{mo_value}}'}}">{{'{{mo_value}}'}}</option>
                </select>
              </div>
            </div>
          </li>

          <li class="dis-inline-block" ng-if="engine_flag == 1" >
            <div class="form-inline">
              <div class="form-group">
                <label for="inmodel" class="hide_span">Model</label>
                <select class="form-control" ng-class="{0:'select_medium', 1:'select_compact'}[engine_flag]"  id="inmodel" ng-model="inmodel" ng-change="getengine(inmodel)" ng-disabled="model.length == 0">
                  <option value="">Model</option>
                  <option ng-repeat="mo_value in model" value="{{'{{mo_value}}'}}">{{'{{mo_value}}'}}</option>
                </select>
              </div>
            </div>
          </li>

          <li class="dis-inline-block" ng-if="engine_flag == 1">
            <div class="form-inline">
              <div class="form-group">
               <label for="inengine" class="hide_span">Engine</label>
                <select class="form-control select_compact" id="inengine" ng-model="inengine" ng-disabled="engine.length == 0">
                  <option value="">Engine</option>
                  <option ng-repeat="en_value in engine" value="{{'{{en_value}}'}}">{{'{{en_value}}'}}</option>
                </select>
              </div>
            </div>
          </li>
          <li class="tble dis-inline-block">
            <!-- <input type="text" placeholder="Search..." name="" class="input-text_1"> -->
            <input type="button" class="btn btn-primary search-button search-button-icons" value="Apply" id="search_products" ng-click="filter_search()" >
            <input type="button" class="btn btn-primary search-button reset-button-icons" value="Reset" id="search_products" ng-click="pagerefresh()" ng-disabled="reset_btn == false">
             <!-- <span ng-click="pagerefresh()" style="cursor: pointer" data-tooltip="Reset Filter" ><i class="fa fa-refresh text-up" aria-hidden="true"></i></span> -->

          </li>
        </ul>
      </div>
    </div>
    <!-- <div class="col-sm-12">
        <div class="filter-wrap ">
          <div class="filter-options ">
            <div  ng-repeat="(key, val) in colorfilter" >
              <a ng-click="filterBycolor()" id="pic_{{'{{val.value}}'}}" class="" ng-class="{'all':'color-all'}[val.value]" ><i aria-hidden="true" class="fa fa-check"></i> <img ng-src="{{ url('<front>') }}sites/default/files/color_img/{{'{{val.url}}'}}" alt="{{'{{val.name}}'}}"> <span>{{'{{val.name}}'}}</span></a>
            </div>
          </div>
        </div>
    </div> -->
  </div>
