<div class="video_block m-b-30">
      <div class="container">
        <div class="row">
          <div class="main_title">Videos</div>
          <div class="col-md-12">
            <div class="container">
              <div class="video_slide">
                <ul class="videoslide_img" style="position: relative; width: 750px; height: 300px; list-style: none; padding: 0px; margin: 0px 0px 0px 50%; left: -375px; top: 1431.25px;">
                  {% for value in video %}
                  <li style="display: block; position: absolute; z-index: 9999; overflow: hidden; width: 97.2px; height: 64.8px; left: 0px; top: 117.6px;">
                    <!-- <a data-type="iframe" width="420" height="315" href="{{value[2]}}" allowfullscreen="" class="fancybox">
                      <img src="{{value[3]}}" alt="slider image" style="width: 100%; height: 100%;">
                    </a> -->
                    <iframe width="360" height="300" src="{{value['1']}}?autoplay=0" frameborder="0" autoplay="false" allow="accelerometer;  encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </li>
                  {% endfor %}
                  <span class="left" style="position: absolute; left: 10px; top: 50%; z-index: 10007;">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                  </span>
                  <span class="right" style="position: absolute; right: 10px; top: 50%; z-index: 10007;">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </span>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>    