<section class="banner_slider m-b-5">
      <div class="container">
        <div id="carousel" class="slide carousel carousel-fade">
          <div class="carousel-inner">
            <div class="item active">
              <img src="{{ url('<front>') }}sites/default/files/banner/banner-3.jpg" alt="sliderImg" />
            </div>
            <div class="item">
              <img src="{{ url('<front>') }}sites/default/files/banner/banner-2.jpg" alt="sliderImg" />
            </div>
            <div class="item">
              <img src="{{ url('<front>') }}sites/default/files/banner/banner-1.jpg" alt="sliderImg" />
            </div>
          </div>
          <a class="carousel-control right" href="#carousel" data-slide="next">
            <i class="fa fa-angle-right m-control-right"></i>
          </a>
          <a class="carousel-control left" href="#carousel" data-slide="prev">
            <i class="fa fa-angle-left m-control-left"></i>
          </a>
        </div>
      </div>
    </section>