@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Nunito');

html {
  scroll-behavior: smooth;
  min-height: 100%;
}
/*common*/
.dis_none{
  display: none !important;
}
a:focus,a:hover{
text-decoration:none !important;
}
a {
    color: #ca38c6;
    text-decoration: none;
}
.htt_ld{
  /* min-height: 500px; */
  min-height: calc(100vh - 330px);
}
.brd_btm {
    border-bottom: 2px solid #f1eeea;
}
.hide_span{
  display: none;
}
/*End Common*/
/*Cart page */
.iee .pop_clr_lft{
  width: auto;
}
/*End Cart page*/
/* Top cart*/
.top_cart a:focus {
    color: #fff;
}
.lf-hle{
  display: inline-block;
  width: 80%;
}
.lft {
    float: left;
    width: 90%;
}
.rgt {
    float: right;
}
.hlle {
    float: left;
    width: 100%;
}
.fnt_sze span {
    font-size: 12px;
    position: relative;
    top: 1px;
}
.fl_rgt {
    display: inline-block;
    margin-left: 5px;
}
.fl_lf {
    float: left;
}
.fnt_sze span {
    font-weight: bold;
    font-size: 12px;
}
.fl_lftt{
  float: left;
}
/* End Top cart */
/* TOP BAR */

a{
  cursor: pointer;
}
*/
.topbar_phone {
  padding: 5px 0 10px 0;
  font: 600 12px 'Open Sans', sans-serif;
  border-right: 1px solid #eeeeee;
}
.top_searchbox button i {
  padding: 0 20px;
}

/* Search */
ul#searchResult_head li:hover {
    background: #d8d8d8;
}

.prt_no_sear{
    margin-bottom: 10px;
    margin-top: 10px;
}
.prt_no_sear img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
    object-fit: contain;
  }
.prt_no_sear a{
    font-weight: 600;
    color: #272727;
    font-size: 13px;
}
.tp_search_wle{
    display: block;
    position: absolute;
    z-index: 100;
    background-color: white;
    width: 100%;
    overflow: auto;
    padding-left: 20px;
    -moz-box-shadow: 6px 6px 43px 0px rgba(0,0,0,0.67);
    -webkit-box-shadow: 1px 2px 51px -4px rgba(0,0,0,1);
    -moz-box-shadow: 1px 2px 51px -4px rgba(0,0,0,1);
    box-shadow: 1px 2px 51px -4px rgba(0,0,0,1);
    height: auto;
}
.rtt{
    color: #c00232;
}
/*End Search */
/* NAVBAR */
.nav_main {
  padding: 8px 0px 0px;
  position: relative;
  z-index: 99;
  color: #fff;
  background: #f1f1f1;
  margin-bottom: 10px;
  box-shadow: 2px 2px 2px 0 #e6e6e6;
}

.nav_main_list ul li a:hover {
    border-bottom: 2px solid #ca38c6;
    color:#3a3a3a;
}
.nav_main_list ul li {
  float: left;
  list-style: none;
  height: 38px;
  margin-bottom: 5px;
}
.navbar-nav-menu>li>.dropdown-menu {
  display: block !important;
  height: 0px;
  overflow: hidden;
  opacity: 0;
}

.navbar-nav-menu>li.open>.dropdown-menu {
  height: auto;
  padding-bottom: 3px;
  opacity: 1;
  -webkit-transition: all 500ms ease 0s;
  -moz-transition: all 500ms ease 0s;
  -o-transition: all 500ms ease 0s;
  transition: all 500ms ease 0s;
}

.nav_main_list ul li a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin:5px 15px 10px 10px;
  padding: 0px 5px 10px 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.71px;
  color: #3a3a3a;
}

.nav_main_list ul li a:nth-child(1) {
  padding-left: 5px;
  margin-left: 0px;
}

.nav_main_list ul li a:hover {
  /* border-bottom: 2px solid #dd9f00; */
}
/* ul.menu a.is-active {
  color:#3a3a3a !important;
} */
ul.menu.show a.is-active {
  color:#3a3a3a !important;
}
.nav_main_list ul li a i.fa {
  margin-left: 4px;
}

.navbar-toggle {
  float: left;
  background-color: #ca38c6 ;
}
.nav_mainlogo {
  padding: 10px 0px;
  position: relative;
  color: #fff;
}

.nav_logo {
  float: left;
  padding: 8px 0 0 0px;
  text-transform: uppercase;
}

.nav_logo h3 {
  margin: 0;
  font-size: 26px;
  line-height: 20px
}

.nav_logo h3 a {
  text-decoration: none;
  font: 700 26px 'Titillium Web', sans-serif;
}

.nav_logo h2 {
  margin: 0;
  line-height: 15px;
  font-size: 11px;
  margin-top: -5px;
}

.nav_logo h2 a {
  font: 300 11px 'Open Sans', sans-serif;
  text-decoration: none;
}
/* .nav_main {
  background: #ca38c6  !important
} */
.nav_main_list ul li a {
  color: #3a3a3a;
}
.nav_main_list {
  /* float: right; */
  /* float: left; */
}

.nav_main_list ul {
  /* margin-top: 20px; */
  padding-left: 0;
  margin-bottom: 0;
}
.navbar-collapse.in {
  overflow-y: initial;
}

.navbar-nav-menu>li>.dropdown-menu {
  display: block !important;
  height: 0px;
  overflow: hidden;
  opacity: 0;
}

.navbar-nav-menu>li.open>.dropdown-menu {
  height: auto;
  padding-bottom: 3px;
  opacity: 1;
  -webkit-transition: all 500ms ease 0s;
  -moz-transition: all 500ms ease 0s;
  -o-transition: all 500ms ease 0s;
  transition: all 500ms ease 0s;
}

.navbar-toggle .icon-bar {
  background: aliceblue;
}

.sub_nav li {
  display: block;
  float: none !important;
}

.sub_nav {
  margin-top: 0 !important;
}

.sub_nav li a {
  display: block !important;
  text-align: left;
  padding: 10px 14px !important;
}
.navbar-collapse {
  padding: 0;
}

.sticky-header.sticky {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  background: #f1f1f1;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1), 0px 3px 1px rgba(0, 0, 0, 0.1);
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-timing-function: cubic-bezier(0.2, 1, 0.22, 1);
  animation-timing-function: cubic-bezier(0.2, 1, 0.22, 1);
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  border-bottom: 0;
}

/* Slider */
.banner_slider .slide {
  border: 1px solid #f2f2f2;
  padding: 6px;
}

.carousel-control, .carousel-control:hover {
  background-image: none !important;
}
/* faz */
.path-frontpage #searchResult, #searchRequest, #searchsupplier, #searchpartno{
      position: absolute;
      max-height: 100px !important;
}
/* .path-frontpage .carousel-inner{
  overflow: unset !important;
} */
/* .contextual-region{
  position: unset !important;
} */
/* end faz */
.banner_slider .carousel-inner .item>img {
  width: 100%;
}

.carousel-control.right i.fa {
  height: 65px;
  width: 35px;
  border-top-left-radius: 65px;
  border-bottom-left-radius: 65px;
  right: 6px;
  position: absolute;
  top: 50%;
  margin-top: -32.5px;
  padding-top: 20px;
  padding-left: 9px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}

.carousel-control.left i.fa {
  height: 65px;
  width: 35px;
  border-top-right-radius: 65px;
  border-bottom-right-radius: 65px;
  left: 6px !important;
  position: absolute;
  top: 50%;
  margin-top: -32.5px;
  padding-top: 20px;
  padding-right: 9px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}

.carousel-fade .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

.carousel-fade .active {
  opacity: 1;
}

.carousel-fade .active.left,
.carousel-fade .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .next.left,
.carousel-fade .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*TESTIMONIALS*/
.testimonial {
  /* background: #f9f9f9; */
  /* padding: 0 0 30px; */
}

.testimonial .carousel-control {
  width: 0;
}

.testimonial_img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  overflow: hidden;
  background: #ccc;
}

.testimonial_img img {
  width: 100%;
  height: 100%;
}
.carousel-3d-container {
  .carousel-3d-slide {
    padding: 20px;
  }
}

/* our Categories */
.our_categories .category_circle {
  background: #fbfbfb;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  position: relative;
  overflow: hidden;
  border: 1px solid #d4d4d4;
  margin: 0px auto;
  padding: 0px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.our_categories .category_circle:hover {
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.10), 0 6px 5px 0 rgba(0, 0, 0, 0.10);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* Featured */

.featured_item_box_new{
  background: #000;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
   display: flex; 
  flex-wrap: wrap;
  align-items: center;
}

.category_circle_new{
  float: left;
  width:45%; 
}
.category_new_title_box{
 float: left;
  width:55%;
  color: #dedede;
  text-align: center;
  margin:10px 0;
  
}
.category_new_title_box h4{
  text-transform: uppercase;
    font-family:'Open Sans', sans-serif;
    font-weight: 400;
}
.category_view_new{
  display: inline-block;
    vertical-align: top;
    margin-top: 10px;
}
.category_view_new a{
    padding: 6px 20px;
    color: #fff;
    background: #ca38c6;
    text-transform: uppercase;
    font: 400 14px 'Open Sans', sans-serif;
}

.featured_item_box {
  width: 260px;
  float: left;
  display: inline-block;
  padding-top: 25px;
  padding-bottom: 15px;
  margin: 0 11px 20px 11px;
  border-radius: 0;
  border: 1px solid #e8e8e8;
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}
div#read_review{
  display: none;
}
/* .single-product-section .featured_item_box {
  width:240px;
} */
.featured_item_box:hover {
/*  transform: translateY(-30px);*/
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.15), 1px 10px 5px 0 rgba(0, 0, 0, 0.10);
}

.featured_item_box>a {
  position: relative;
  display: block;
  /* margin-bottom: 15px; */
}

.featured_item_box .new_brand, .featured_item_box .m-leasing {
  background-color: #ca38c6;
  color: #fff;
  font: 600 10px 'Open Sans', sans-serif;
  padding: 5px 10px;
  text-transform: uppercase;
  position: absolute;
  top: -25px;
  right: 0px;
  /*z-index: 1000;*/
}

.featured_item_box .stock_status {
  font: 600 14px 'Open Sans', sans-serif;
  padding: 2px 2px;
  text-transform: uppercase;
  position: absolute;
  top: -30px;
  left: 0px;
  /*z-index: 1000;*/
}

.featured_item_box .in {
  color: #128026;
}

.featured_item_box .out {
  color: #d1252a;
}

.feature_info {
  text-align: left;
  display: table-row;
}

.feature_ratings {
  display: block;
 /* padding: 0px 3px; */
}
.product_brand {
  height: 40px;
  display: block;
}
.product_brand>.feature_ratings {
  display: inline-block;
}
.product_brand .product_brand_icon {
  width:70px;
  height:auto;
  padding: 0 10px 0 0;
  float: left;
}
.feature_ratings ul {
  display: flex;
  list-style: none;
  padding: 0px;
  color: #e7a200;
  margin: 0;
  padding: 0px 0px 0px 6px;
}
/* .feature_ratings li {
  color: #333;
} */

.featured_img {
  transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out 0s;
  width: 200px;
  height: 140px !important;
  max-width: 100%;
  display: block;
  margin: 0 auto;
  padding: 5px;
  position: relative;
  box-sizing: border-box;
}

.featured_item_price {
  padding: 5px 5px;
  font: 500 14px 'Roboto', sans-serif;
  color: #1d1d1d;
  float: left;
  text-align: left;
  margin-left: 5px;
  line-height: 2;
}

.price_color {
  font: 600 16px 'Nunito', sans-serif;
  color: #c42706;
  letter-spacing: 1px;
}

.featured_item_box h5 {
  font: 600 14px 'Open Sans', sans-serif;
  color: #333;
  padding: 15px 5px 3px 5px;
  margin: 0px 0px 0px 0px;
  clear: both;
  text-align: left;
  border-top: 1px solid #B4B4B4;
  position: relative;
  height: 50px;
  white-space: initial;
  text-overflow: ellipsis;
  line-height: 1.25;
}
.featured_item_box h5:after {
  background: url(../images/down_arrow.png) center no-repeat;
  /* content: "\f107"; */
  content: " ";
  font-family: "FontAwesome";
  width: 15px;
  left: 20px;
  height: 7px;
  position: absolute;
  top: -1px;
  display: block;
}

.product_wishlist {
  position: relative;
  float: right;
  bottom: 0;
  right: 15px;
  padding: 5px;
  /*z-index: 9999;*/
}

.product_wishlist i {
  font-size: 22px;
  color: #e7a200;
}
.price_strike{
  font: 500 14px 'Roboto', sans-serif;
    text-decoration: line-through;
    color: #464646;
    padding-left: 5px;
    letter-spacing: 1px;

}
/* About us */
.about_us {
  padding: 0px 0 0px 0;
  text-align: center;
  position: relative;
  /* box-shadow: 0px 30px 100px -38px rgba(0, 0, 0, 0.3); */
  /*z-index: 100;*/
}

.about_us img {
  max-width: 100%;
}

.about_us p {
  margin: 10px 0;
}

/*VIDEO*/
.video_block .video_slide .videoslide_img {
  top: 0 !important;
  z-index: 111;
}

/* .video_block .video_slide .videoslide_img li a::after {
  position: absolute;
  content: '\f16a';
  font-family: "FontAwesome";
  cursor: pointer;
  top: 45%;
  right: 45%;
  color: #bf0c24;
  font-size: xx-large;
  z-index: 99999999;
} */
.video_block .video_slide .left {
  position: absolute !important;
  left: -50px !important;
  top: 43% !important;
  cursor: pointer;
}

.video_block .video_slide .right {
  position: absolute !important;
  right: -50px !important;
  top: 43% !important;
  cursor: pointer;
}

.video_block .video_slide .left i, .video_block .video_slide .right i {
  font-size: 46px;
}

.fancybox-overlay {
  z-index: 11111 !important;
}

.client_block {
  /* margin: 0 0 30px 0; */
  padding: 40px 0;
  /*background-image: url(../images/client-bg.jpg);*/
  /*background-repeat: repeat;
  background-position: center;
  position: relative;
  text-align: center;*/
}

.client_block .carousel-inner ul {
  list-style-type: none;
  display: block;
}

.client_block .carousel-inner ul li {
  display: inline-block;
}

.client_block .carousel-control.right i.fa {
  height: 65px;
  width: 35px;
  border-top-left-radius: 65px;
  border-bottom-left-radius: 65px;
  right: 6px;
  position: absolute;
  top: 50%;
  margin-top: -32.5px;
  padding-top: 14px;
  padding-left: 9px;
  text-align: center;
}

.client_block .carousel-control.left i.fa {
  height: 65px;
  width: 35px;
  border-top-right-radius: 65px;
  border-bottom-right-radius: 65px;
  left: 6px !important;
  position: absolute;
  top: 50%;
  margin-top: -32.5px;
  padding-top: 14px;
  padding-right: 9px;
  text-align: center;
}

/* .client_block .carousel-inner img {
  width: 100%;
  height: 100%;
  display: block;
  padding: 20px;
} */
.headd h3 {
    padding: 0;
    margin: 0;
    height: 50px;
    display: table;
    width: 100%;
    background-color: #000;
    background-image: url('/img/svg/driverX.png');
    background-image: url('https://www.xclutchusa.com/img/svg/driverX.svg');
    background-repeat: no-repeat;
    background-size: auto 75%;
    background-position: 13px center;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    font-family: "noodle";
    line-height: 1;
    padding-right: 15px;
    /* border-bottom: solid 6px #ca38c6; */
}
.headd h3 span{
    display: table-cell;
    background: url('https://www.xclutchusa.com/img/svg/arrowDriver.svg') no-repeat right center;
    background-size: auto 65%;
    padding-left: 82px;
    padding-right: 35px;
    vertical-align: middle;
    height: 100%;
}
.brch img{
  width: 100%;
}
.brch {
  margin-top: 20px;
}
.row.flx {
    display: flex;
}
.flx_cntr {
    display: flex;
    align-items: center;
}
.flx_cntr .region.region-topbar-search{
    width: 100%;
}
.top_border {
     border-bottom: unset !important; 
     border-bottom: unset !important; 
    background: url('https://www.xclutchusa.com/img/bgTopStrip.jpg') no-repeat center center #000;
    background-size: auto 100%;
    padding: 10px 0px;
}
.nav_mainlogo.top_border{
  text-align: left;
    border-bottom: solid 5px #fff;
    background: url('https://www.xclutchusa.com/img/bgHeader.jpg') no-repeat center center #fff;
    background-size: auto 100%;
}.topbar_phone font {
    color: #fff !important;
}
.topbar_nav li a{
  color: #fff !important;
}
.topbar_phone i.fa{
  color: #fff !important;
}
.topbar_phone {
    position: relative;
    /* right: -181%; */
    top: 5px;
}
.path-frontpage .region.region-content {
    display: block;
    /* width: 1100px; */
    margin: unset !important;
}
.inlne {
    float: left;
    width: 33.3%;
}
@media only screen and (min-width: 64.063em){
.column, .columns {
    /*position: relative;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;*/
}
}
@media only screen and (min-width: 40.063em){
.medium-12 {
    width: 100%;
}
}
.column, .columns {
    /*position: relative;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;*/
}
@media only screen and (min-width: 40.063em){
.column, .columns {
    /*position: relative;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;*/
}
}
#drivers ul {
    margin-bottom: 0px;
}
[class*="block-grid-"]:before, [class*="block-grid-"]:after {
    content: " ";
    display: table;
}
#drivers ul li {
    text-align: center;
    display: table;
    padding-bottom: 0px;
}
@media only screen and (min-width: 40.063em){
.medium-block-grid-3>li:nth-of-type(3n+1) {
    clear: both;
}
}
@media only screen and (min-width: 40.063em){
.medium-block-grid-3>li {
    width: 33.33333%;
    list-style: none;
}
}
.small-block-grid-1>li {
    width: 100%;
    list-style: none;
}
[class*="block-grid-"]>li {
    display: block;
    height: auto;
    float: left;
    padding: 0 .66667rem 1.33333rem;
}
#drivers ul li a {
    display: block;
    position: relative;
    text-align: center;
    display: table-cell;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}
#drivers ul li a span.imageHolder {
    display: block;
    position: relative;
    overflow: hidden;
    border-top: solid 1px transparent;
}
#drivers ul li a img.driverImage {
    display: block;
    width: 100%;
    height: auto;
}
#drivers ul li a h3 {
    height: 88px;
    display: table;
    width: 100%;
    background-color: #000;
    background-image: url('https://www.xclutchusa.com/img/svg/driverX.png');
    background-image: url('https://www.xclutchusa.com/img/svg/driverX.svg');
    background-repeat: no-repeat;
    background-size: auto 70%;
    background-position: 13px center;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: left;
    font-family: "noodle";
    line-height: 1;
    padding-right: 15px;
    border-bottom: solid 6px #ca38c6;
}
#drivers ul li a h3{
    margin: 0;
    padding: 0;
}
#drivers ul li a h3 span {
    display: table-cell;
    background: url('https://www.xclutchusa.com/img/svg/arrowDriver.svg') no-repeat right center;
    background-size: auto 60%;
    padding-left: 82px;
    padding-right: 35px;
    vertical-align: middle;
    height: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
@media only screen and (min-width: 47.3125em){
.medium-block-grid-3>li {
    width: 33.33333%;
    list-style: none;
} 
}
@media only screen and (min-width: 720px) and (max-width: 991px){
#drivers ul li a h3 {
  font-size: 14px;
}
}
.custt_rw{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    /* margin-bottom: 0; */
    max-width: 68.66667rem;
  }
  .custt_rw:before, .custt_rw:after {
    content: " ";
    display: table;
}
[class*="block-grid-"] {
    display: block;
    padding: 0;/*
    margin: 0 -.66667rem;*/
}
[class*="block-grid-"]:after {
    clear: both;
}
@media only screen and (min-width: 40.063em){
h3 {
    font-size: 29px;
}
}
@media only screen and (min-width: 40.063em){
h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
}
}
ul.menu a.is-active {
   color: #ca38c6 !important;
}
@media only screen and (max-width: 767px) {
.nav_main_list ul li {
     float: unset; 
    list-style: none;
    height: 38px;
    margin-bottom: 5px;
    display: table;
}
.nav_main_list ul{
  display: table;
  margin: 0 auto; 
}
}
@media only screen and (max-width: 991px) {
.nav_main_list ul li a {
    margin: 5px 6px 10px 8px;
    font-size: 10px;
}
}
/*end fa css*/
/*************JP tooltip Css ******************/
.tooltipcustom {
    position: relative;
    text-align: left;
    padding: 0px 5px 3px 10px;
    margin: 5px 0px 0px 0px;
}
.tooltipcustom .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: #35bff3;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 6px 12px;
    position: absolute;
    z-index: 1;
    bottom: 115%;
    left: 30%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-weight: 800;
}

/* Popup box BEGIN */
.hover_bkgr_fricc{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}

.hover_bkgr_fricc > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -18px;
    right: -20px;
    font-size: 14px;
    line-height: 25px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.hover_bkgr_fricc.cartadded div p {
    vertical-align: middle;
    line-height: 58px;
    font-size: 20px;
    color: red;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.trigger_popup_fricc {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}
/* Popup box BEGIN */
.simplePopup {
display:none;
position:fixed;
background:#fff;
z-index:9;
padding:12px;
/*right: 100px;*/
/*width:70%;
min-width:70%;*/
}

.simplePopupClose {
float:right;
cursor:pointer;
margin-left:10px;
margin-bottom:10px;
font-size: 19px;
    font-weight: bold;
}

.simplePopupBackground {
display:none;
background:#000;
position:fixed;
height:100%;
width:100%;
top:0;
left:0;
z-index:1;
}
/*.cmprr{
  position: fixed;
  bottom: 25px;
  right: 10px;
}*/

/*checkout*/
.path-checkout select{
    color: inherit;
    font: inherit;
    margin: 0;
    width: 100%;
    background: #fff;
    border: 1px solid #dcdcdc;
    height: 40px;
    padding: 0px 15px;
    color: #636363;
    background: #f5f5f5;
    font-size: 12px;
    outline: none;
    border-radius: 5px;
}
.path-checkout div.address-container-inline > .form-item{
    display: unset !important;
    margin-right: 0;
    margin: 0;
}
.path-checkout .js-form-item.form-item.js-form-type-textfield.form-type-textfield.js-form-item-payment-information-billing-information-address-0-address-family-name.form-item-payment-information-billing-information-address-0-address-family-name {
    width: 48%;
    display: block;
    float: left;
    margin-left: 14px;
}
.path-checkout .js-form-item.form-item.js-form-type-textfield.form-type-textfield.js-form-item-payment-information-billing-information-address-0-address-given-name.form-item-payment-information-billing-information-address-0-address-given-name {
    width: 48%;
    float: left;
    display: block;
    margin-right: 14px;
}
@media only screen and (max-width: 1199px) {
.path-checkout .js-form-item.form-item.js-form-type-textfield.form-type-textfield.js-form-item-payment-information-billing-information-address-0-address-family-name.form-item-payment-information-billing-information-address-0-address-family-name {
    width: 100%;
    display: block;
    float: left;
    margin-left: 0px;
}
.path-checkout .js-form-item.form-item.js-form-type-textfield.form-type-textfield.js-form-item-payment-information-billing-information-address-0-address-given-name.form-item-payment-information-billing-information-address-0-address-given-name {
    width: 100%;
    float: left;
    display: block;
    margin-right: 0px;
}
}
@media only screen and (max-width: 1000px) {
.path-checkout .button {
    height: auto;
    position: unset;
    cursor: pointer;
}
.path-checkout input#edit-sidebar-coupon-redemption-form-apply{
  width: auto;
    display: table;
    margin: auto !important;
}
.path-checkout .form-actions.js-form-wrapper.form-wrapper {
    margin: 10px auto !important;
}
}
/*input.js-form-submit.form-submit{
    color: #fff;
    border: none;
    border-radius: 5px;
}*/
.path-checkout .form-actions.js-form-wrapper.form-wrapper {
    width: auto;
    display: table;
    margin: 0 auto;
    text-align: center;
}
.path-checkout .form-actions.js-form-wrapper.form-wrapper a{
    font-weight: bold;
    padding: 12px 25px;
    background: #bf0131;
    color: #fff;
    border: none;
    border-radius: 2px;
    text-transform: capitalize;
    display: block;
    margin: 10px;
}
.path-checkout .view-content table{
    border-collapse: separate;
    border-spacing: 15px;
}
.path-checkout .order-total-line{
  padding: 0 15px;
}
/*.path-checkout .view,.path-checkout .view:hover{
  color: #000;
  border: 2px solid #ddd;
  background: #fff !important;
}*/
.path-checkout td.views-field.views-field-unit-price__number{
  text-align: center;
}
.path-checkout input#edit-sidebar-coupon-redemption-form-apply{
  /*margin: 0;*/
  margin: 0 auto;
    width: auto;
    display: table;
    font-weight: bold;
}
.path-checkout .fieldset-wrapper {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}
.path-checkout td.views-field.views-field-quantity-1 {
    text-align: center;
}
.path-checkout .layout-region-checkout-secondary{
    /*background-image: linear-gradient(to right,#f4f4f4 0,#f4f4f4 0);*/
        box-shadow: 0px 0px 10px #afadad;
    padding: 8px 12px;
    margin-bottom: 18px;
}
.path-checkout .view-content th{
  display: none;
}
/* .path-checkout td a {
    display: none;
} */
.path-checkout input#edit-sidebar-coupon-redemption-form-code {
    background: #fff;
}
.path-checkout .containersss td{
  font-weight: bold;
}
.path-checkout .order-total-line-label{
  font-weight: bold;
}
.path-checkout .order-total-line-value{
  float: none;
  font-weight: bold;
}
.path-checkout .field.field--name-title.field--type-string.field--label-hidden.field__item{
  word-break: break-all;
}
/*.path-checkout .view:hover,.path-checkout .view:hover{
    color: #000 !important;
    background-color: #fff;
}*/
/*end checkout*/

/*custom homepage*/
/*.cmprr {
    position: fixed;
    bottom: 25px;
    right: 10px;
    position: sticky;
    top: 80px;
    right: 0px;
    width: 138px;
    height: 47px;
    /* background-color: #CCFF00; */
    /* border: 1px solid red;
}*/

.container_lbl {
  display: block;
  position: relative;
  padding-left: 24px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cmpre{
  font-size: 14px;
    color: #333;
    margin: 0;
    line-height: 1;
}
/* Hide the browser's default checkbox */
.container_lbl input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  border: 0.1px solid #d5d5d5;
}

/* On mouse-over, add a grey background color */
.container_lbl:hover input ~ .checkmark {
  background-color: #fafafa;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container_lbl input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container_lbl .checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #ca38c6 ;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.ovr .slide.carousel .carousel-inner{
    position: unset;
    width: auto;
    overflow: unset;
}
body.iee .slideInRight{
  animation-name:none !important;
}
section.banner_slider.m-b-5 img {
    height: 100%;
    object-fit: cover;
}
/*End homepage*/

/*Login*/
.login-banner {
    background-image: url(../images/login_bg.png);
    background-color: #fff;
    background-position: center center;
    padding: 80px 0 120px 0;
}
.text-center {
    text-align: center;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none!important;
}
.login-form-block {
    margin: -80px 0 0;
    background: #fff;
    -webkit-box-shadow: 1px 5px 20px rgba(0,0,0,.5);
    box-shadow: 1px 5px 20px rgba(0,0,0,.5);
    padding: 30px;
}
.login-text h1 {
    margin: 0;
}
.login-content {
    margin-top: 30px;
}
.form-group.with-addon {
    position: relative;
}
.form-group {
    margin-bottom: 15px;
}
.form-group.with-addon .input-addon {
    color: #bbb;
    border-right: 1px solid #ddd;
    padding-right: 10px;
    position: absolute;
    top: 14px;
    left: 15px;
    z-index: 2;
}
.form-group.with-addon .input-addon+.form-control {
    padding-left: 50px;
    border-width: 1px;
    border-radius: 4px;
    height: 46px;
}
.form-control {
    display: block;
    width: 100%;
    height:40px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-group.with-addon {
    position: relative;
}
.form-group {
    margin-bottom: 15px;
}
.login-button {
    /* margin-top: 10px; */
    background-color: #48b14c;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 26px;
    color: #fff;
    font-family: Raleway,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    text-shadow: 1px 1px rgba(0,0,0,.1);
    width: 100%;
    margin-bottom: 10px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 40px;
}
.sign-up-text {
    font-size: 16px;
    font-family: Roboto,Arial,sans-serif;
}
.text-muted {
    color: #98a6ad!important;
}
body.simplelogin {
    background-color: unset !important;
}
.simplelogin{
  width: 100%;
    display: unset !important;
    flex-wrap: unset !important;
    justify-content:unset !important;
    align-items: unset !important;
    background-repeat: unset !important;
    background-position:unset !important;
    background-size: unset !important;
    -ms-background-size:unset !important;
    -o-background-size: unset !important;
    -moz-background-size:unset !important;
    -webkit-background-size: unset !important;
    background-attachment:unset !important;
    position: unset !important;
}
.path-user input#edit-submit{
      background-color: #48b14c;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 26px;
    color: #fff;
    font-family: Raleway,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    text-shadow: 1px 1px rgba(0,0,0,.1);
    width: 100%;
    margin-bottom: 10px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 40px;
    border: none;
}
.path-user input[type=password],.path-user input[type=text]{

    font-size: 14px;
    border-width: 1px;
    border-radius: 4px;
    background-color: #fff;

}
.simplelogin h1{
  font-size: 36px;
    color: #545454;
    font-family: inherit;


}
@media screen and (max-width: 1000px){
.path-user .button {
     width: unset !important;
     height: unset !important;
     position:unset !important;
     right: unset !important;
     top: -56px;
     cursor: unset !important;
     z-index: unset !important;
}
}
input#edit-mail,input#edit-user-picture-0-upload{
  font-size: 14px;
    border-width: 1px;
    border-radius: 4px;
    height: 46px;
    background-color: #fff;
}
.path-user input#edit-user-picture-0-upload{
height: auto;
  }
.form-composite > .fieldset-wrapper > .description, .form-item .description {
    /* font-size: 14px; */
    font: 400 13px 'Open Sans', sans-serif;
    line-height: 18px;
}
.path-user input[type=checkbox],.path-user input[type=radio] {
    margin: -5px 0 0;
    margin-top: 1px\9;
    line-height: normal;
}
.simplelogin summary{
  font: 400 13px 'Open Sans', sans-serif !important;
}
.path-user optgroup, .path-user select, .path-user textarea {
    color: inherit;
    font-size: 15px;
    margin: 0;
}
.simplelogin .form-item label, .path-user .simplelogin .form-wrapper .label{
      font-size: 14px !important;
}
.path-user .block{
  width: 100% !important;
}
input#edit-name{
  height: auto;
}
/* IE Browsers */
body.simplelogin.path-user.iee{
  background-color: #fff;
  display: block;
}
/* End IE Browsers */
/*End Login*/
/*home*/
.compare-switcher {
    width: 250px;
    position: fixed;
    top: 110px;
    bottom: 0;
    height: 100%;
    z-index: 1008;
    border-radius: 0;
    right: 0px;
    /* box-shadow: 0 0 5px #ccc; */
}
.compare-switcher .compare-switcher-open {
    background-color: #696969;
    border-radius: 6px 0 0 6px;
    color: #fff;
    display: block;
    font-size: 13px;
    height: 30px;
    left: -31px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 35px;
    width: 30px;
}
.compare-switcher .compare-switcher-wrap {
    /* height: 100%; */
    margin: 0;
    overflow-y: auto;
    padding: 15px 10px;
    position: relative;
    background: #fff;
    box-shadow: 0 0 5px #ccc;
}
.compare-switcher-box {
    position: relative;
    border: 1px solid #cdcfd0;
    margin-bottom: 10px;
}
.compare-close-icons {
    position: absolute;
    right: -4px;
    top: -6px;
    width: 15px;
    height: 15px;
    background: #333333;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
}
.compare-switcher-box img {
    width: 150px;
    margin: 0 auto;
    text-align: center;
    display: block;
}
.compare-switcher-box h6 {
    color: #5a5a59;
    font-size: 12px;
    padding: 5px;
    margin: 0;
    text-align: center;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.compare-switcher.open {
    right: -250px;
}
.compare-close-icons i {
    line-height: 15px;
    display: block;
    text-align: center;
    font-size: 10px;
}
.compare-button a {
    color: #fff;
    font-weight: 600;
    padding: 5px;
    display: block;
}
.compare-button a:hover{
  text-decoration: none;
  color: #fff;
}
ul#searchResult_head {
    display: block;
    margin: 0px;
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 9;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px solid #dacccc;
    max-height: 300px;
    overflow: auto;
}
ul#searchResult_head li{
  padding: 10px 10px;
  cursor: pointer;
}

/*End home*/
/*compare*/
.m-t-40 {
    margin-top: 40px;
}
.compare-table {
    font-size: 16px;
    color: #333;
    border-left: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    width: 100%;
    margin-bottom: 30px;
}
.compare-table td {
    padding: 10px;
    border-bottom: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    line-height: 22px;
    word-break: break-all;
    font: 400 16px 'Open Sans', sans-serif;
}
.path-compare .feature_info{
    text-align: left;
    display: table-row;
}
.compare-table .fixedHeader th a {
    color: #454545;
}
.compare-table th {
    padding: 20px 10px;
    vertical-align: top;
    font-size: 16px;
    color: #666;
    font-weight: 400;
    border-right: 1px solid #e3e3e3;
    min-width: 150px;
    max-width: 800px;
    line-height: 16px;
    height: auto;
    position: relative;
    font: 600 16px 'Open Sans', sans-serif;
}
.compare-table .but_close_comp {
    position: absolute;
    left: 0;
    top: -12px;
    width: 100%;
    text-align: center;
}
.path-compare table {
    max-width: 100%;
    width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 1em;
}
.stock-out {
    color: #d1252a;
}
.stock-in {
    color: #128026;
}
.compare-table .star i {
    color: #e7a200;
}
.feature_info .addcart_btn {
    height: 33px;
    width: auto;
    border: none;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0px 10px;
    margin-right: 5px;
    line-height: 35px;
}
.feature_info .cartbtn_bg {
    background: #e69000;
}
.feature_info .cartbtn_bg:hover {
  background-color: #c68313 !important;
}
.compare-table .but_close_comp i {
    color: #999;
    font-size: 25px;
    background-color: #fff;
    border-radius: 50%;
    line-height: 20px;
}
.compare-table .fixedHeader tr {
    background-color: #f5f5f5;
}

/*End compare*/
/*Tooltip*/
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 90%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.93);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 89%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/*End Tooltip*/

/*order information*/
.region.region-content{
  display: table;
  /*width: 1100px;*/
  margin: 0 auto;
}
.path-checkout input{
margin-bottom: 20px;
padding: 12px;
border: 1px solid #ccc;
border-radius: 2px;
display: table;
margin: 0 auto;
}
.upt_btn.text-center input {
margin: 0 auto;
display: flex;
justify-content: center;
align-items: center;
font-weight: 600;
background: #bf0131;
border: none;
color: #fff;
padding: 8px 12px;
}
.cust_wd_8{
  width: 60%;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 16px 6px rgba(228, 227, 227, 0.75);
}
.cust_wd_4{
  width: 35%;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 16px 6px rgba(228, 227, 227, 0.75);
  margin-left: 15px;
}
.mg_b{
  margin-bottom: 30px;
}
.cart-list-left {
    float: left;
    width: 80px;
}
.cart-list-right {
  /* float: right; */
  /* width: 230px; */
  margin-left: 10px;
}
.cart-list {
    padding: 15px;
    margin: 0;
    max-height: 373px;
    overflow: auto;
    border-bottom: 1px solid #f1eeea;
}
.cust_wd_4 .quantity{
    margin: 0;
    border: none;
}
.cust_wd_4 .cart-list img{
  float: left;
  padding: 10px;
  margin: 0 20px 0 0;
  width: 85px;
  height: 85px;
  border: 2px solid #f1eeea;
}
.cst_brnd{
  font-weight: bold;
}
.cust_wd_4 span.removeItem.link{
  float: left;
}
.cust_wd_4 .quantity{
  height: 20px;
}
.cust_wd_4 .table>tbody>tr>td{
  border: none
}
.fl_l {
    float: left;
    font-family: inherit;
    font-size: 16px;
}
.fl_r {
    float: right;
    font-weight: bold;
}
.cust_wd_4 span{
  padding-left: 0 !important;
}
.cst_cl_nm{
  float: left;
  width: auto;
  color: initial;
  margin-left: 4px;
}
.prcc{
  float: left;
}
@media only screen and (max-width: 991px) {
.cust_wd_8{
  width: 100%;
}
.cust_wd_4{
  width: 100%;
  margin-left: 0;
}
.layout-region.col-md-4.cust_wd_4 h3 {
    text-align: center;
    padding-top: 20px;
}
}

:focus{outline: none;}
.field{position: relative;} /* necessary to give position: relative to parent. */
.field input[type="text"]{
  font: 15px/24px "Lato", Arial, sans-serif;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
}
.field input[type='email']{
  font: 15px/24px "Lato", Arial, sans-serif;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
}
/* .eff2{
  border: 1px solid #ccc;
  padding: 7px 14px;
  transition: 0.4s;
  background: transparent;
}
.eff2 ~ .focus-border:before,
.eff2 ~ .focus-border:after{content: ""; position: absolute; top: 0; left: 0; width: 0; height: 2px; background-color: #272727; transition: 0.3s;}
.eff2 ~ .focus-border:after{top: auto; bottom: 0; left: auto; right: 0;}
.eff2 ~ .focus-border i:before,
.eff2 ~ .focus-border i:after{content: ""; position: absolute; top: 0; left: 0; width: 2px; height: 0; background-color: #272727; transition: 0.4s;}
.eff2 ~ .focus-border i:after{left: auto; right: 0; top: auto; bottom: 0;}
.eff2:focus ~ .focus-border:before,
.eff2:focus ~ .focus-border:after,
.has-content.eff2 ~ .focus-border:before,
.has-content.eff2 ~ .focus-border:after{width: 100%; transition: 0.3s;}
.eff2:focus ~ .focus-border i:before,
.eff2:focus ~ .focus-border i:after,
.has-content.eff2 ~ .focus-border i:before,
.has-content.eff2 ~ .focus-border i:after{height: 100%; transition: 0.4s;}
.eff2 ~ label{position: absolute; left: 14px; width: 100%; top: 10px; color: #aaa; transition: 0.3s; z-index: -1; letter-spacing: 0.5px;}
.eff2:focus ~ label, .has-content.eff2 ~ label{top: -18px; left: 0; font-size: 12px; color: #272727; transition: 0.3s;}

.show{
    position: relative !important;
    top: -57px !important;
    left: 0;
    font-size: 12px;
    color: #272727 !important;
    transition: 0.3s !important;
    opacity: 1 !important;
    font-size: 12px !important;
}
.llb label{
  position: absolute;
  top: -13px;
  left: 0;
  font-size: 11px;
  color: #aaa;
  transition: all 0.1s linear;
  opacity: 0;
}
.watermark{
  border: 1px solid #CCCCCC;
}
.mark{
  border:2px solid #272727;
} */
/*= input focus effects css End
=============================== */

ul.cart-list_ord_inf {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.cart-list-left_ord_inf {
    width: 25%;
    float: left;
}
.lf-hle_ord_inf{
    float: left;
    width: 75%;
}
.fl_lff{
  float: left;
  width: 60%;
}
.fl_rgg{
  float: right;
}
.brand_ord_inf{
  font-size: 14px;
  line-height: 1.75;
}
.rw1,.rw2,.rw3,.rw4 {
    font: 600 16px 'Nunito', sans-serif;
    display: inline-block;
    width: 100%;
}
.price_color_ord_inf {
    font: 600 14px 'Nunito', sans-serif;
    color: #c42706;
    line-height: 1.75;
}
img.product-image_ord_inf{
  float: left;
  padding: 10px;
  margin: 0 20px 0 0;
  width: 85px;
  height: 85px;
  border: 2px solid #f1eeea;
}
@media only screen and (min-width: 992px) and (max-width: 1499px) {
.price_color_ord_inf{
  font: 600 12px 'Nunito', sans-serif;
}
img.product-image_ord_inf{
  width: 50px;
  height: auto;
}
.brand_ord_inf{
  font-size: 12px;
}
}
@media only screen and (max-width: 991px) {
.cart-list-left_ord_inf{
  display: none;
}
ul.cart-list_ord_inf{
  display: block;
}
.brd_btm{
  border: none;
}
.ord h4{
  padding-top: 15px;
}
.cust_wd_4 .table>tbody>tr>td{
  padding-left: 0;
}
.lf-hle_ord_inf{
  width: 100%;
}
}
/*End order information*/
/*Menu*/
/*li.menu-item.menu-item--expanded ul li a {
    display: none;
}*/
li.menu-item.menu-item--expanded.main ul li a {
    display: block;
}
.menu-item.menu-item--expanded.main ul{
    display: table;
    position: absolute;
    top: 25px;
    float: left;
    min-width: 200px;
    padding: 5px 5px;
    margin: 2px 0 0;
    font-size: 14px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
}
ul.menu{
  margin-left: 0;
}
li.menu-item.menu-item--expanded ul{
   display: none;
}
li.menu-item.menu-item--expanded.active ul{
     display: block !important;
}
li.menu-item.menu-item--expanded.active ul li a{
    background: #cecbcb;
    padding: 7px 7px;
    color: #000;
}
.menu-item.menu-item--expanded ul.menu.show {
    position: absolute;
    z-index: 9;
    width: 100%;
    -moz-box-shadow: 0px 0px 12px 0px rgba(127,127,127,0.57);
    -webkit-box-shadow: 0px 0px 12px 0px rgba(127,127,127,0.57);
    box-shadow: 0px 0px 12px 0px rgba(127,127,127,0.57);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    overflow: auto;
}
.menu-item.menu-item--expanded ul.menu.show li {
    display: block;
    float: none;
    padding: 10px;
    margin: 0;
    max-height: 373px;
    overflow: auto;
    border-bottom: 1px solid #f1eeea;
    background: #fff;
    color: #fff !important;
}
.menu-item.menu-item--expanded ul.menu.show li a{
  padding: 7px 12px;
  color: #3a3a3a !important;
  border: none;
  font-family: 'Open Sans',sans-serif;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 0.71px;
}
.menu-item.menu-item--expanded ul.menu.show li:hover a {
    text-decoration: none;
    border-bottom: 2px solid #ca38c6  ;
}
/*End Menu*/
/*user page*/
.path-user .region.region-content{
  display: table;
    margin: 40px auto;
    width: 90%;
}
.path-user .view-content, .path-user .view-content a{
  color: #000;
}
/*.path-user .view{
  border: 2px solid #ddd;
}*/
.path-user .view th,.path-user .view td{
  text-align: center;
  background: #fff;
  padding: 6px;
  border: 1px solid #e7e3df;
}
.path-user .view td p.address{
      width: 200px;
}
/*.path-user .view table{
  margin-top: 1em;
}*/
.path-user .view:hover,.path-user .view{
  background-color: #fff !important;
}
.path-user .contextual-region.view.view-commerce-user-orders{

}
/*angular reload*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.term .modal-header{
  padding: 0;
}
.term .close{
    color: #000 !important;
    margin-right: 10px;
    font-size: 23px;
}
.term .modal-body h2{
    font-size: 20px;
    text-align: center;
    margin: 0;
    margin-bottom: 18px;
    color: #bf0131;
    font-weight: 700;
}
.term .modal-body h4{
    color: #272727;
    font-weight: bold;
    font-size: 16px;
}
.path-user-create input.login-button {
    background-color: #48b14c;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 26px;
    color: #fff;
    font-family: Raleway,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    text-shadow: 1px 1px rgba(0,0,0,.1);
    width: 100%;
    margin-bottom: 10px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 40px;
    border: none;
}
.iee .region.region-content{
  display: block;
  margin: 20px auto;
}
/*IE*/
.path-user.iee .region.region-content{
  display: table;
    margin: 40px auto;
    width: auto;
}
/* End IE */
/*End user page*/

/*angular reload*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/*f*/

/*part_search*/
.part_bdr{
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 0 0;
    border-radius: 4px;
}
.pagi_master li {
    list-style-type: none;
    display: inline-block;
}
.pagi_master li a{
    list-style-type: none;
    display: inline-block;
    margin: 0 1px;
    /* background: #5D85B2; */

    background: #377ab7;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    padding: 4px 8px;
}
.pagi_master li.active a{
   background: #4b5f71;
}
.pagi_master li.disabled a{

   background: #6b6b6b;
}
.alert-danger {
  padding: 10px;
    border-radius: 3px;}

.padd-left{
  padding-left: 0px
}
.select_compact{
  width: 128px !important;
  cursor: pointer;
}
.select_medium{
  width: 175px !important;
  cursor: pointer;
}



.filter-options {
    /*padding: 8px 0 0;*/
    text-align: center;
    clear: both;
    margin: 6px 0px 2px;
}
.filter-options div {
    display: inline-block;
    width: 61px;
}
.filter-options div a {
    display: inline-block;
    /*margin: 10px 0;*/
    color: #6b6b6b;
    font-weight: 600;
    text-align: center;
    position: relative;
}
.filter-options div a i.fa-check {
    color: #fff;
    position: absolute;
    top: 7px;
    margin-left: 9px;
    opacity: 0;
    text-shadow: 0 0 1px #000;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.filter-options div a.active i.fa-check {
    opacity: 1;
}
.filter-options a.color-all img {
    width: 30px;
}
.filter-options div a img {
    display: inline-block;
    margin-bottom: 8px;
    -webkit-box-shadow: 3px 1px 6px rgba(0,0,0,.5);
    box-shadow: 3px 1px 6px rgba(0,0,0,.5);
}
.filter-options div a span {
    display: block;
}
.filter-options div a.active, .filter-options div a:hover {
    color: #222!important;
}
@media only screen and (min-width: 550px) and (max-width: 767px) {
.path-part-search .col-xs-12.col-sm-4.col-md-4.col-lg-3.ng-scope{
  width: 50%;
}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
.path-part-search .featured_item_box{
  width: auto;
}
.path-part-search .featured_img{
  width: 120px !important;
  height: 120px !important;
}
}

.dis-tble-at{
    display: table;
    margin: 0 auto;
}
span.result_search_spn1 {
    font-size: 14px;
    color: #333;
    margin: 0;
    line-height: 1;
    font-weight: bold;
}
span.result_search_spn2 {
    font-size: 14px;
    color: #bf0131;
    margin: 0;
    line-height: 1;
    font-weight: bold;
}
.feat_reslt{
    padding-top: 0;
    margin: 0 11px 0 11px;
    border-radius: 0;
    border: none;
}
.result_search_ins_1{
    float: right;
  }
.result_search_ins_1 div{
      font-size: 14px;
      color: #bf0131;
      margin: 0;
      line-height: 1;
      font-weight: bold;
}
.result_search_ins{
      float: left;
}
/*End Part search*/
/* cart popup */
span.price_color {
    display: inline-block !important;
}
/* .pos_rel{
  position: relative;
  top: 4px;
} */
.prc_clr_pop{
  float: left;
  padding-right: 3px;
}
span.price_color.pos_rel{
    float: left;
}
/* span.price_color{
  float: left;
} */
.price_color.rt{
  float: left;
}
.price_color.bgg{
  width: 10px;
  height: 10px;
  float: left;
  position: relative;
  top: 3px;
}
.clr_bgg{
  width: 15px;
  height: 15px;
  border-radius: 3px;
  background-color: #002191;
}
.variantname.quantity.pop{
  /* float: left; */
  width: auto;
  position: relative;
  top: 0px;
  left: 10px;
}
.quantity.pop{
  width: 100%;
/* float: left; */
}
span.pls {
    padding: 0 5px;
}
.fnt_style{
  font-weight: 700;
  display: block;
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #08203a;
}
.fnt_sze {
    position: relative;
    top: 1px;
}
.lft_wdt{
  float: left;
  display: table;
  height: 110px;
}
.tbl_cll{
  display: table-cell;
  vertical-align: bottom;
}
.flt_nne img{
  float: none !important;
  width: auto !important;
  height: auto !important;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  cursor: pointer;
}
/* End cart popup */
/* custom fa css */
.featured_item_box.cust_feat{
  box-shadow:none;
  font-weight: bold;
  color: #bf0131;
}
.featured_item_box.cust_feat:hover{

}
/*Part Desc*/
div.mm-dropdown {
  border: 1px solid #9e9c9c;
  width: 308px;
  border-radius: 3px;
  margin-bottom: 25px;
  position: relative;
}

div.mm-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 0;
  position: absolute;
  background: #fff;
  z-index: 1;
  width: 100%;
  max-height: 170px;
  overflow-x: hidden;
  margin-top: 1px;
}
.textfirst {
    position: relative;
}

div.mm-dropdown ul li,
div.mm-dropdown div.textfirst {
  padding: 0;
  color: #333;
  padding: 7px 10px;
  font-size: 14px;
  font-weight: 700;
}

div.mm-dropdown div.textfirst img.down {
  float: right;
  margin-top: 5px
}

div.mm-dropdown ul li:last-child {
  border-bottom: 0;
}

div.mm-dropdown ul li {
  display: none;
  padding-left: 25px;
}

div.mm-dropdown ul li.main {
  display: block;
}

div.mm-dropdown ul li img {
  width: 20px;
  height: 20px;
}
.cclr{
    width: 40px;
    height: 20px;
    display: block;
    float: left;
    margin-right: 10px;
    border: 1px solid #dad2d2;
}
.clr1{
  background-color: #141414;
}
.clr2{
  background-color: #000000;
}
.clr3{
  background-color: #000000;
}
.clr4{
  background-color: #ffb7d5;
}
.clr5{
  background-color: #2c3968;
}
.clr6{
  background-color: #237cbf;
}
.clr7{
  background-color: #0078d7;
}
.clr8{
  background-color: #293749;
}
.clr9{
  background-color: #002191;
}
.clr10{
  background-color: #89cff0;
}
.clr11{
  background-color: #e6eafa;
}
.clr12{
  background-color: #F1F1FF;
}
.clr13{
  background-color: #415d6c;
}
.clr14{
  background-color: #dbe4eb;
}
.clr15{
  background-color: #7ad752;
}
.clr16{
  background-color: #9bbc88;
}
.clr17{
  background-color: #39ff14;
}
.clr18{
  background-color: #d06723;
}
.clr19{
  background-color: #fd651c;
}
.clr20{
  background-color: #ff6e00;
}
.clr21{
  background-color: #d2461d;
}
.clr22{
  background-color: #FF69B4;
}
.clr23{
  background-color: #ca38c6;
}
.clr24{
  background-color: #5b0a91;
}
.clr25{
  background-color: #9474b8;
}
.clr26{
  background-color: #AA00FF;
}
.clr27{
  background-color: #e4717a;
}
.clr28{
  background-color: #cc5057;
}
.clr29{
  background-color: #b3446c;
}
.clr30{
  background-color: #a62c2b;
}
.clr31{
  background-color: #d4e1ec;
}
.clr32{
  background-color: #8e130f;
}
.clr33{
  background-color: #eef4f4;
}
.clr34{
  background-color: #f69b02;
}

#wrapper {
  /* display: block;
  width: 850px;
  background: #fff;
  margin: 0 auto;
  padding: 10px 17px;*/
  /* -webkit-box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.35); */
}
.dataTables_wrapper {
  border-radius: 10px;
  overflow-x: auto;
}
.keywords {
  /* margin: 0 auto; */
  font-size: 1.2em;
  border-radius: 10px;
  width: 1080px;
  border: 1px solid #e9e9e9;
}


/* .keywords thead {
  cursor: pointer;
  background: #c9dff0;
} */
.keywords thead tr th {
  font-weight: 400;
  padding: 5px 30px;
  padding-left: 10px;
  color: #fff;
}
.keywords thead tr th span {
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.keywords thead tr th.headerSortUp, .keywords thead tr th.headerSortDown {
  background: #acc8dd;
}
.keywords tbody tr {
  color: #555;
}
/* .keywords tbody tr td {
  padding: 15px 10px;
} */
.keywords tbody tr td.lalign {
  text-align: left;
  text-transform: capitalize;
}

/* .keywords tbody tr:nth-child(even) {
    background-color: #f5f5f5;
} */
.keywords thead tr th {
    background: #5f5f5f;
    outline: 0;
}
.keywords tbody tr:hover {
    color: #555;
    background-color: #f5f5f5;
    cursor: pointer;
}
.keywords input[type=text]{
  border-radius: 5px;
  border: 1px solid #efe4e4;
}
.keywords tbody tr td {
    padding: 10px 10px;
    font: 400 14px 'Open Sans', sans-serif;
}
.keywords thead tr th{
  font: 500 15px 'Open Sans', sans-serif;
}
.bttn{
  float: right;
}
.search-table.cust{
    width: 215px;
    height: 30px;
    float: right;
    /* margin-right: 46px; */
    border-color: #ababab;
    border-radius: 3px;
    max-width: 250px;
}
.prd_desc_search{
    display: inline-block;
    float: left;
    margin-bottom: 10px;
}
.tble.table-responsive{
    width: 100%;
}
.bttn button {
  font: 500 13px 'Open Sans', sans-serif;
  /* width: 90px; */
  padding: 0;
  background: none;
  color: #2399f7 !important;
  cursor: pointer;
  text-decoration: underline;
}
.fl tr{
  float: left;
}
.fl td {
    padding: 10px 5px;
}
.search-table {
    padding: 5px 22px 5px 5px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d8e3ec;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background-image: url(../images/search.png) !important;
    background-position: 95% !important;
    background-repeat: no-repeat !important;
    max-width: 100px;
}
@media only screen and (min-width: 1080px) {
.keywords{
  width: 100%;
}
}
/*End Part Desc*/
/* end custom fa css */
/*orders*/
  .tablesorter-default {
    width: 100%;
    font: 12px/18px Arial, Sans-serif;
    color: #333;
    background-color: #fff;
    border-spacing: 0;
    margin: 10px 0 15px;
    text-align: left;
  }
  .tablesorter-default th,
  .tablesorter-default thead td {
    font-weight: bold;
    color: #000;
    background-color: #fff;
    border-collapse: collapse;
    border-bottom: #ccc 2px solid;
    padding: 8px 0px;
    border: 1px solid #ccc;
  }
  .tablesorter-default tfoot th,
  .tablesorter-default tfoot td {
    border: 0;
  }
  .tablesorter-default .header,
  .tablesorter-default .tablesorter-header {
    background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
    background-position: center right;
    background-repeat: no-repeat;
    cursor: pointer;
    white-space: normal;
    padding: 4px 20px 4px 4px;
  }
  .tablesorter-default thead .headerSortUp,
  .tablesorter-default thead .tablesorter-headerSortUp,
  .tablesorter-default thead .tablesorter-headerAsc {
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
    border-bottom: #000 2px solid;
  }
  .tablesorter-default thead .headerSortDown,
  .tablesorter-default thead .tablesorter-headerSortDown,
  .tablesorter-default thead .tablesorter-headerDesc {
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
    border-bottom: #000 2px solid;
  }
  .tablesorter-default thead .sorter-false {
    background-image: none;
    cursor: default;
    padding: 4px;
  }
  .tablesorter-default td {
    padding: 15px !important;
    text-align: center;
}
  .tablesorter-default tfoot .tablesorter-headerSortUp,
  .tablesorter-default tfoot .tablesorter-headerSortDown,
  .tablesorter-default tfoot .tablesorter-headerAsc,
  .tablesorter-default tfoot .tablesorter-headerDesc {
    border-top: #000 2px solid;
  }

  .tablesorter-default td {
    background-color: #fff;
    border-bottom: #ccc 1px solid;
    padding: 4px;
    vertical-align: top;
  }
  .tablesorter-default tbody > tr.hover > td,
  .tablesorter-default tbody > tr:hover > td,
  .tablesorter-default tbody > tr.even:hover > td,
  .tablesorter-default tbody > tr.odd:hover > td {
    background-color: #fff;
    color: #000;
  }

  .tablesorter-default tr.odd > td {
    background-color: #dfdfdf;
  }
  .tablesorter-default tr.even > td {
    background-color: #efefef;
  }
  .tablesorter-default tr.odd td.primary {
    background-color: #bfbfbf;
  }
  .tablesorter-default td.primary,
  .tablesorter-default tr.even td.primary {
    background-color: #d9d9d9;
  }
  .tablesorter-default tr.odd td.secondary {
    background-color: #d9d9d9;
  }
  .tablesorter-default td.secondary,
  .tablesorter-default tr.even td.secondary {
    background-color: #e6e6e6;
  }
  .tablesorter-default tr.odd td.tertiary {
    background-color: #e6e6e6;
  }
  .tablesorter-default td.tertiary,
  .tablesorter-default tr.even td.tertiary {
    background-color: #f2f2f2;
  }
  .tablesorter-default > caption {
    background-color: #fff;
  }
  .tablesorter-default .tablesorter-filter-row {
    background-color: #eee;
  }
  .tablesorter-default .tablesorter-filter-row td {
    background-color: #eee;
    border-bottom: #ccc 1px solid;
    line-height: normal;
    text-align: center; /* center the input */
    -webkit-transition: line-height 0.1s ease;
    -moz-transition: line-height 0.1s ease;
    -o-transition: line-height 0.1s ease;
    transition: line-height 0.1s ease;
  }
  .tablesorter-default .tablesorter-filter-row .disabled {
    opacity: 0.5;
    filter: alpha(opacity=50);
    cursor: not-allowed;
  }

  .tablesorter-default .tablesorter-filter-row.hideme * {
    height: 1px;
    min-height: 0;
    border: 0;
    padding: 0;
    margin: 0;
    /* don't use visibility: hidden because it disables tabbing */
    opacity: 0;
    filter: alpha(opacity=0);
  }
  .tablesorter-default input.tablesorter-filter,
  .tablesorter-default select.tablesorter-filter {
    width: 95%;
    height: auto;
    margin: 4px auto;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #bbb;
    color: #333;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: height 0.1s ease;
    -moz-transition: height 0.1s ease;
    -o-transition: height 0.1s ease;
    transition: height 0.1s ease;
  }
  .tablesorter .filtered {
    display: none;
  }

  .tablesorter .tablesorter-errorRow td {
    text-align: center;
    cursor: pointer;
    background-color: #e6bf99;
  }
  .dataTables_length.bs-select label,.dataTables_filter label{
      font-weight: 400;
  }
  .rgg a {
    font-size: 1.5rem !important;
}
.tablesorter input[type=text]{
width: 100%;
background: #fff;
border: 1px solid #ced4da;
height: 30px;
padding: 0px 15px;
color: #636363;
font-size: 12px;
box-shadow: inset 0 0 0 rgba(255,255,255,0.075);
outline: none;
border-radius: 5px;
}

/* End orders*/
/* order history */
.col8 {
    width: 75%;
    float: left;
}
.mb0{
  margin-bottom: 10px;
}
.dte {
    padding: 5px 20px;
}
.immg {
    width: 100px;
}
.dte a{
    /* background: #bf0131; */
    /* color: #f5f5f5; */
    color: #337ab7;
    padding: 7px 5px;
    border-radius: 3px;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
}
.dtl_fll {
  width: 100%;
  display: inline-block;
  padding: 18px 10px;
}
.col-5 {
  width: 20%;
  float: left;
  }
.col-3 {
    width: 20%;
    float: left;
}
.col-8 {
    width: 20%;
    float: left;
}
.col-8 a{
    font-weight: bold;
    white-space: nowrap;
}
.ord_fll {
    border: 1px solid #d7d7d7;
}
.ord_header {
    padding: 10px 0;
    background: #F9F9F9;
    display: inline-block;
    width: 100%;
}
.col-1-12_fl{
      font-weight: bold;
      float: left;
      width: 10%;
}
.col-1-12_cl{
      float: left;
      width: 10%;
}
.col-1-12 {
    float: left;
    width: 10%;
    font-weight: bold;
}
.col-3-12 {
    float: left;
    width: 20%;
}
.status_cmplt {
    font-weight: bold;
}
.pay_fll{
    width: 100%;
    display: inline-block;
    padding: 10px 10px;
    background: #F9F9F9;

}
.col-6-12_disp_none{
  float: right;
}
.disp_none{
  display: none;
}
.col-6-12_disp_none span{
  font-weight: 600;
font-size: 16px;
}
.col-6-12{
  float: right;
  padding-right: 15px;
  padding-top: 4px;
}
.mg0{
  margin: 0;
}
span.ord_ttl {
    text-transform: capitalize;
}
span.ord_ttl-inr {
    font-weight: 600;
    font-size: 16px;
}
/* end order history */
/* order status */


.modal-confirm.modal-dialog {
    margin-top: 80px;
}

.modal-confirm {
    color: #636363;
}

.modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
}

.modal-confirm .modal-header {
    border-bottom: none;
    position: relative;
    padding: 8px;
    text-align: center;
}
.modal-confirm .modal-header span{
  font-size: 25px;
  color: #398439;

}

.modal-confirm .modal-body{
  padding: 8px;
}

.modal-confirm .modal-body p{
  font-size: 18px;
}

.modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
    padding: 8px;
}
.order_header_nav {
    background-color: #fff;
    /*margin-bottom: 100px;*/
    box-shadow: 1px 2px 2px #e3e3e3;
    padding: 0;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}
.order_placed {
  margin:100px 0 75px 0;
  padding: 75px;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #e8e8e8;
  background-color: #f9f9f9;

}
.orderplaced_logo {
  margin:20px 0;
}
.order_placed .order_header {
  font-size:28px;
  font-weight:500;
  vertical-align:middle;
  color:#55a546;
  text-align:center;
  margin:30px 0;
}
.order_error {
  color: #d0403f !important;
}
.order_notfound {
  color:#4a4a4a !important;
}
.order_placed > .order_header > img {
  width: 50px;
  display: inline-block;
}
.order_placed h3 {
  font-size: 22px;
  font-weight: 600;
  margin:30px 0;
}
.order_placed h4 {
  padding: 30px 0;
  border-top: 1px solid #e8e8e8;
}
.order_placed_ads {
  text-align:center;
}
.order_placed_ads img {
  width: auto;
  margin:0px auto;
}

.ordered_feature_product {
  width: 160px;
  height: 100%;
  float: left;
  display: inline-block;
  padding:0;
  margin: 0 0px 0px 0px;
  border-radius: 0;
  border: none;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}
.ordered_feature_product img{
  max-width: 70px;
  max-height: 70px;
  margin:0px auto;
}
.ordered_feature_img {
  width: 150px;
  height: 70px;
  /* display: -webkit-inline-box; */
  margin: 5px;
  padding: 5px;
  position: relative;
  box-sizing: border-box;
  transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out 0s;
  /*
  width: 160px;
  height: 130px;
  max-width: 100%;
  display: block;
  margin: 0 auto; */
}
.ordered_feature_product h5 {
  font: 600 14px 'Open Sans', sans-serif;
  color:#333;
  padding: 15px 5px 3px 5px;
  margin: 0px 0px 0px 0px;
  clear: both;
  text-align: left;
  border-top: 1px solid #B4B4B4;
  position: relative;
}
.ordered_feature_product h5:after {
  background: url(../images/down_arrow.png) center no-repeat;
  /* content: "\f107"; */
  content: " ";
  font-family: "FontAwesome";
  width: 15px;
  left: 20px;
  height: 7px;
  position: absolute;
  top: -1px;
  display: block;
}
.p-10 {
  padding:10px 10px !important;
}
.btn_bg {
    background: #ca38c6 ;
    color: #fff;
}
.btn_bg:hover {
    color: #fff;
}
/* end order status */
/* Responsives*/
@media only screen and (max-width: 600px) {
.mbl_tp_1{
display: none;
}
}
@media only screen and (max-width: 992px) {
.topbar_phone{
  display: none;
}
}
@media only screen and (max-width: 750px) {
.region.region-topbar-third,.region.region-topbar-fourth,.region.region-topbar-second{
  display: none;
}
.container.mbll .col-lg-9.col-sm-9 {
    width: auto;
    padding: 0;
}
.topbar_nav{
  float: left;
}
.topbar_nav li{
  float: left;
}
.container.mbll {
    width: 100%;
    padding: 0;
}
.full_width {
    width: 100% !important;
}
.nav_logo {
    float: none;
    padding: 0;
    display: table;
    margin: 0 auto;
}
.top_cart {
    text-align: unset;
    width: auto;
    display: table;
    margin: auto;
}
.dsp_nne{
  display: none;
}
.navbar-header{
  display: table;
  margin: 0 auto;
}
.topbar_nav ul.navv{
  display: table;
  margin: auto;
}
}

@media only screen and (min-width: 751px) and (max-width: 1024px) {
.region.region-topbar-third,.region.region-topbar-fourth,.region.region-topbar-second{
  display: none;
}
.container.mbll .col-lg-9.col-sm-9 {
    width: auto;
    padding: 0;
}
.topbar_nav{
  float: left;
}
.topbar_nav li{
  float: left;
}
.container.mbll {
    width: 100%;
    padding: 0;
}
.full_width {
    width: 100% !important;
}
.nav_logo {
    float: none;
    padding: 0;
    display: table;
    margin: 0 auto;
}
.top_cart {
    text-align: unset;
    width: auto;
    display: table;
    margin: auto;
}
.dsp_nne{
  display: none;
}
.navbar-header{
  display: table;
  margin: 0 auto;
}
.topbar_nav ul.navv{
  display: table;
  margin: auto;
}
.container.mbll .col-md-3.col-xs-3{
  display: none;
}
.container.mbll .col-lg-9.col-sm-9 {
    width: 100%;
    padding: 0;
}
.topbar_nav{
  float: none !important;
}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
.nav_main_list ul li a{
  padding: 0 8px 15px 10px;
}
}
@media only screen and (max-width: 850px) {
.widget-shopping-cart-content{
  width: 310px !important;
  right: -45px;
}
.widget-shopping-cart-content .cart-list li .cart-list-left{
  display: none;
}
.lf-hle {
    width: 100%;
}
.widget-shopping-cart-content .widget-shopping-cart-close{
  height: auto;
  font-size: 17px !important;
}
}
@media only screen and (min-width: 851px) and (max-width: 1024px) {
.widget-shopping-cart-content{
  right: -180px;
  width: 450px !important;
}
}
@media only screen and (min-width: 1025px) and (max-width: 1199px) {
.container.mbll .col-md-3{
  width: 18%;
}
.container.mbll .col-sm-9{
  width: 82%;
}
}
/* home*/
@media only screen and (max-width: 620px) {
.region.region-content{
    display: unset !important;
    margin: unset !important;
}
}
@media only screen and (min-width: 650px) and (max-width: 767px) {
section.our_categories .col-xs-12.col-sm-6.col-md-4.col-lg-3{
  width: 50%;
}
section.featured_product .col-xs-12.col-sm-6.col-md-4.col-lg-3.ng-scope{
  width: 50%;
}
}
@media only screen and (max-width: 400px) {
.video_block .video_slide .left{
  left: 140px !important;
}
.video_block .video_slide .right{
  right: 130px !important;
}
}
@media only screen and (min-width: 401px) and (max-width: 550px) {
  .video_block .video_slide .left{
    left: 85px !important;
  }
  .video_block .video_slide .right{
    right: 85px !important;
  }
  }
@media only screen and (min-width: 551px) and (max-width: 750px) {
.video_block .video_slide .left {
      left: 15px !important;
  }
.video_block .video_slide .right{
    right: 15px !important;
  }
}
@media only screen and (max-width: 25000px) {
.video_slide {
    width: auto !important;
}
}
@media only screen and (max-width: 800px) {
.testimonial .col-xs-2.col-sm-3.col-md-2,.testimonial .col-sm-1.col-md-1{
display: none;
}
.testimonial .col-xs-10.col-sm-7.col-md-8{
  width: 100%;
  padding: 0 35px;
}
}
@media only screen and (max-width: 765px) {
.footer_main .footer_newsletter{
  display: block;
}
}
/*slider*/

/* End Slider */
/* End Home*/
/* Part Search*/
@media only screen and (min-width: 992px) and (max-width: 1199px) {
.path-part-search .featured_product .col-xs-12.col-sm-6.col-md-4.col-lg-4.ng-scope{
    width: 50%;
}
}
.path-part-search .dis-inline-block .input-text_1 {
    width: 175px;
}
input.reset-button-icons {
    background: #bf0131;
    border: 1px solid #bf0131;
}
input.reset-button-icons:hover{
  background-color: #cc3e62;
  border:1px solid #cc3e62;
}
/* End Part Search*/
/*Brands*/
@media only screen and (max-width: 550px) {
.line_card_view a{
  display:table;
  margin: 10px auto;
}
}
@media only screen and (min-width: 551px) and (max-width: 750px) {
.line_card_view a {
      max-width: unset;
      display: table;
      width: 49%;
      margin: 6px auto;
      float: left;
      margin-right: 6px;
  }
}
@media only screen and (min-width: 751px) and (max-width: 1150px) {
  .line_card_view a {
        max-width: unset;
        display: table;
        width: 30%;
        margin: 6px auto;
        float: left;
        margin-right: 6px;
    }
}
/*End Brands*/
/* Part Desc*/
ul.shw {
    box-shadow: 0px 2px 6px 1px #d8cdcd;
}
div.mm-dropdown ul.shw li{
      width: 308px;
      cursor: pointer;
}
@media only screen and (min-width: 500px) and (max-width: 780px) {
.owl-carousel .owl-stage-outer{
  bottom: 10px;
}
}
@media only screen and (min-width: 620px) and (max-width: 767px) {
.product_image .productslide_img img{
  margin-top: 0;
}
.product_image{
  width: auto;
}
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
div.mm-dropdown{
  width: auto;
}
div.mm-dropdown ul.shw li{
  width: auto;
}
}
.path-product-desc .region.region-content{
  display: unset;
}
.col-md-12.fl{
  margin: 0;
  padding: 0;
}
.col-md-12.pd0_mg0 {
    margin: 0;
    padding: 0;
}
.col-md-12.fl tr td {
    padding: 0 0;
    margin: 0 0;
    padding-bottom: 10px;
}
tr.pd_rr {
    padding-left: 10px;
}
/* End Part Desc*/
/*TESTIMONIALS*/
@media only screen and (min-width: 768px) and (max-width: 1199px) {
.path-testimonial .item{
  height: 400px;
}
}
/*End TESTIMONIALS*/
/*End Responsives*/


.product_search_switcher {
  width: 220px;
  position: fixed;
  top: 200px;
  bottom: 0;
  height: 100%;
  z-index: 1008;
  border-radius: 0;
  left: 0px;
  transition: ease all .5s;
}
.product_search_switcher.open {
   left: -220px;
   transition: ease all .5s;
}
.product_search_switcher .product_search_switcher-open {
background-color: #696969;
border-radius: 0 6px 6px 0;
color: #fff;
display: block;
font-size: 13px;
height: 30px;
right: -31px;
line-height: 30px;
position: absolute;
text-align: center;
text-decoration: none;
top: 35px;
width: 30px;
}
.product_search_switcher .product_search_wrap {
margin: 0;
overflow-y: auto;
padding: 15px 15px;
position: relative;
background: #fff;
box-shadow: 2px 1px 10px #ccc;
}
.product_search_input {
    border-radius: 0;
    border: 1px solid #ebebeb;
    color: #121111;
}
/* cart page*/
.crt_clr{
width: 15px;
height: 15px;
float: left;
margin-right: 10px;
}
.crt_prc{
  float: left;
}
.crt_prc_dl,.clr_prc{
  display: inline-block;
}
.crt_chng_clr{
  display: block;
}
.mb-5{
  margin-bottom: 5px;
}
.hover_bkgr_fricc.changecolorvariations > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    /* min-height: 100px; */
    vertical-align: middle;
    width: auto;
    position: relative;
    border-radius: 8px;
    padding: 30px 5%;
}
.pop_clr_lft {
    width: 70%;
    float: left;
}
.pop_clr_rgt {
    float: left;
    margin-left: 10px;
}
.fl td span {
    word-break: break-all;
}
@media only screen and (max-width: 850px) {
.path-cartpage .ship_handling{
  float:none !important;
  width: auto !important;
  text-align: center !important;
}
.cart-total{
  float: none;
  width: auto;
  padding: 0 20px;
}
}
.path-cartpage .region.region-content {
    display: block !important;
    width: auto !important;
    margin: unset !important;
}
.blld td{
  font-weight: 600;
  font-size: 16px;
  color: #2e2e2e;
}
/*End cart page*/
.wish_sets{
      margin-top: 3px;
    /* display: none; */
    margin-bottom: 0px;
    padding: 0px;
    /*width: 50%;*/
    /*float: left;*/
   /* font-size: 10px;*/
}
.selected{
  background: red;
}
.highlight{
  background: red;
}
/* drp-dwn */
.select2-container{
  height: 41px;
  width: 100% !important;
}
.select2-container .select2-selection--single{
  height: 40px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
  line-height: 40px !important;
}
/*End drp-dwn */


/*product description page tab design*/
.prod_desc_tab ul.nav-tabs li:before {
    content: " ";
    width: 20%;
    height: 4px;
    background: #ca38c6 ;
    top: 1px;
    left: 0;
    box-shadow: none;
    border: none;
    border-radius: 0;
    -webkit-transition: all 0.4s ease-out 0s;
    -moz-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
    opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    right: 0px;
    margin: 0 auto;
    position: absolute;
    z-index: 11;
}
.prod_desc_tab ul.nav-tabs li.active:before {
    display: block;
    opacity: 1;
    -khtml-opacity:1;
    -webkit-opacity:1;
    -moz-opacity: 1;
    width: 100%;
    z-index: 11;
}
.prod_desc_tab ul.nav-tabs li a:hover {
  background-color: #fff;

}
.prod_desc_tab ul.nav-tabs li a {
  margin: 0;
  color: #464646;
  font: 600 16px 'Open Sans', sans-serif;
}
/* .tab-content {
  > .tab-pane {
    display: none;
  }
  > .active {
    display: block;
  }
} */
.prod_specification {
  margin:25px 0;
}
.prod_desc_tabcontent {
  margin: 0;
  color: #3a3a3a;
  font: 400 13px 'Open Sans', sans-serif;
}
.prod_desc_tabcontent table {
  border-width:1px 0 0 1px;
  border: 1px solid #f0f0f2;

  width:100%;
}
.prod_desc_tabcontent table th, .prod_desc_tabcontent table td {
  padding: 5px;
  border:1px solid #f0f0f2;
}
.prod_specification_right {
    float: right;
    width: 55%;
    padding: 0 25px 0 25px;
}
.prod_specification_right h4 {
  margin-top: 0;
}
.prod_specification_right > ul {
  margin:0;
  padding: 0;
}
.prod_specification_right > ul > li {
  list-style-type: circle;
  line-height: 2;
  margin-left: 30px;
}
.prod_addinfo ul {
  margin: 0;
  padding: 0;
}
.prod_addinfo ul li {
  list-style-type: circle;
    line-height: 2;
    margin-left: 30px;
}
.m_t_0 {
  margin-top: 0;
}
.prod_addinfo {
  margin-top:25px;
}
.prod_storepolicy {
  margin-top: 25px;
  text-align: justify;
  font: 400 13px 'Open Sans', sans-serif;
}
.prod_storepolicy_title {
  color:#337ab7;
  font-weight: 500;
  margin-top: 15px;
}
.table-bordered>tbody>tr>td, .table-bordered>thead>tr>th {
  border: 1px solid #efefef;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f8f8f8;
}
.review_progress_bar {
    color: #5b5b5b;
    background-color: #e7a200;
}
.comments {
  max-height: 540px;
  padding-right: 10px;
  overflow-y: auto;
  width: 100%;
  overflow-x: hidden;
}
.comments::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.comments::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}

.comments::-webkit-scrollbar-thumb
{
  background-color: #a7a7a7;
}
a.site-logo img {
  /*width: 92px !important;
  height: 96px;*/
  width: 250px !important;
  object-fit: contain;
}

 .prd_rat .hide_span{
  display: block;
}


.coupon_title{
  margin-bottom: 8px;
  margin-top: 20px;
}

.coupon {
    font-size: 1em;
    float: left;
    text-align: left;
    display: flex;
}
.coupon label[for=coupon_code] {
    display: none;
}

.coupon .coupon_text {
    border: 1px solid #ddd;
    border-radius: 1.467em;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: .534em 1.8em;
    font-size: 15px;
    line-height: 2em;
    color: #333;
    
}
.coupon .coupon_button {
  border-radius: 1.571em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -4px;
    position: relative;
    white-space: pre;
    font-weight: 700;
    font-size: 15px;
    background: #be0f31;
    color: #fff;
    padding: 10px 25px;
    border-width: 0;
    display: inline-block;
}

.coupon_applied{
    border: 1px solid #3fbd19;
    padding: 8px;
    display: inline-block;
    width: 100%;
    margin-top: 15px;
    color: #fff;
    border-radius: 3px;
    background: #0bca13;
    font-weight: 600;
    font-size: 16px;
}
.coupon_applied i{
 padding-right: 8px;
    color: #fff;
    vertical-align: top;
    font-size: 22px;
}

.coupon_removed{
   border: 1px solid #be0f31;
    padding: 8px;
    display: inline-block;
    width: 100%;
    margin-top: 15px;
    color: #fff;
    border-radius: 3px;
    background: #be0f31;
    font-weight: 600;
    font-size: 16px;
}

.coupon_removed i{
 padding-right: 8px;
    color: #fff;
    vertical-align: top;
    font-size: 22px;
}

.coupon_codes_grid{
  border: 1px solid #ccc;
  padding: 10px;
  margin-top:10px;
  width: 100%;
}
.coupon_codes_grid a{
  
  color: #c42706;
}
.coupon_codes_grid tr th{
  border:1px solid #e8e8e8;
  padding:8px;
  background: #ccc;
  color: #000; 
}
.coupon_codes_grid tr td{
  border:1px solid #ccc;
}
.coupon_codes_grid_td_2{
  width: 85px;
  text-align: center;
  color: #000;
}
.coupon_codes_grid_td_2 i{
  font-size: 18px;
}
