<!--          <form action="#">
              <div class="top_searchbox m-t-10">
                <input type="text" placeholder="Search here...">
                <button type="submit" class="btn_bg_even"><i class="fa fa-search"></i></button>
              </div>
            </form> -->
             <div class="top_searchbox m-t-10">

                   <!--  <input type="text" name="partno" id="onselect" autocomplete="off"
                    ng-model='searchText_head' ng-keyup='fetchUsers_head()'  ng-click='searchboxClicked_head($event);'
                    placeholder="Please Enter Part# Here"/>
                    <ul id='searchResult_head' class="qaz" style="display: none;" >
                        <li id="slsl" ng-click='setValue_head(result.name,$event)'
                            ng-repeat="result in  testValue=(searchResult | filter : searchText_head) ">
                            {{'{{ result.name }}' }}
                        </li>
                        <li ng-show="!testValue.length"> Search data not found, please check your part#</li>
                      </ul> -->
                      <!-- <select id='selUser' data-live-search="true" data-title="Search Here" style='width: 200px;'>

                        </select> -->
                    <label for="ini_search" class="hide_span">Search</label>
                    <input type="text" name="inital_search" id="ini_search" ng-model="topsearch" placeholder="Enter Keywords...">
                    <ul id='headerul' class="tp_search_wle" style="display:none;">
                    </ul>
                    <button ng-click='partnosearch_head($event);partsearch();' class="btn_bg_even"><i class="fa fa-search"><span class="hide_span">Search</span></i></button>
                </div>

<div class="row-fluid">

</div>
