<body>
  <!--TOPBAR-->
  <header class="wow slideInDown" data-wow-delay="0.7s">
    <div class="top_border">
      <div class="container cust_wdt">
        <div class="row">
          <div class="col-lg-4 col-sm-3 hidden-xs">
            <div class="topbar_phone">
              <i class="fa fa-phone"></i>
              1-800- 624-5462
            </div>
          </div>
          <div class="col-lg-8 col-sm-9 hidden-xs">
            <nav class="topbar_nav">
              <ul>
                <li><a href="terms-conditions.html"><i class="fa fa-book" aria-hidden="true"></i>Terms and Conditions</a></li>
                <li><a href="faq.html"><i class="fa fa-question-circle-o" aria-hidden="true"></i>FAQ's</a></li>
                <li><a href="login.html"><i class="fa fa-sign-in" aria-hidden="true"></i>Login</a></li>
                <li><a href="#"><i class="fa fa-truck" aria-hidden="true"></i>Free Shipping on orders over $99 </a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="nav_mainlogo">
      <div class="container cust_wdt">
        <div class="row">
          <div class="col-lg-4 col-sm-4 col-xs-4">
            <div class="nav_logo wow slideInLeft" data-wow-delay="0.3s">
              <a href="index.html"><img src="{{ url('<front>') }}themes/bailey/images/bailey_logo.png" alt="logo" class="img-responsive"></a>
            </div>
          </div>
          <div class="col-lg-5 col-sm-4 col-xs-4">
            <form action="#">
              <div class="top_searchbox">
                <input type="text" placeholder="Search here...">
                <button type="submit"><i class="fa fa-search"></i></button>
              </div>
            </form>
          </div>
          <div class="col-lg-3 col-sm-4 col-xs-4">
            <div class="top_cart">
              <div class="cart_wishlist">
                <a href="wish.html" data-toggle="tooltip" title="Wish List" data-placement="bottom">
                  <i class="fa fa-heart-o" aria-hidden="true"></i>
                  <span>Wish List</span>
                  <span class="wishlist_count">8</span>
                </a>
              </div>
              <div class="cart_shopping">
                <a href="#" data-toggle="tooltip" title="My Cart" data-placement="bottom">
                  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                  <span>My Cart</span>
                  <span class="shopping_count">3</span>
                </a>
              </div>

              <div class="widget-shopping-cart-content">
                <div class="widget-shopping-cart-close-div">
                  <span class="widget-shopping-cart-close">×</span>
                </div>
                <ul class="cart-list">
                  <li>
                    <div class="cart-list-left">
                      <img src="{{ url('<front>') }}themes/bailey/images/img1.png" alt="Torque starter" />
                    </div>
                    <div class="lf-hle">
                      <div class="lft">
                        <div class="cart-list-right">
                          <!-- <a href="#" class="remove">×</a> -->
                          <a class="word_break" href="javascript://">
                            Lightweight Torque Starter
                          </a>
                          <span class="price_color">$84.00</span>
                          <span class="quantity">Qty. : 1</span>
                          <!-- <span class="quantity">1 × $12.00</span> -->
                        </div>
                      </div>
                      <div class="rgt">
                        <i class="fa fa-close"></i>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="cart-list-left">
                      <img src="{{ url('<front>') }}themes/bailey/images/img2.png" alt="" />
                    </div>
                    <div class="lf-hle">
                      <div class="lft">
                        <div class="cart-list-right">
                          <!-- <a href="#" class="remove">×</a> -->
                          <a class="word_break" href="javascript://">
                            50 AMP Alternator
                          </a>
                          <span class="price_color">$52.00</span>
                          <span class="quantity">Qty. : 1</span>
                          <!-- <span class="quantity">1 × $12.00</span> -->
                        </div>
                      </div>
                      <div class="rgt">
                        <i class="fa fa-close"></i>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="cart-list-left">
                      <img src="{{ url('<front>') }}themes/bailey/images/img3.png" alt="" />
                    </div>
                    <div class="lf-hle">
                      <div class="lft">
                        <div class="cart-list-right">
                          <!-- <a href="#" class="remove">×</a> -->
                          <a class="word_break" href="javascript://">
                            1575HP Turbocharger
                          </a>
                          <span class="price_color">$99.00</span>
                          <span class="quantity">Qty. : 1</span>
                          <!-- <span class="quantity">1 × $12.00</span> -->
                        </div>
                      </div>
                      <div class="rgt">
                        <i class="fa fa-close"></i>
                      </div>
                    </div>
                  </li>

                </ul>
                <div class="total">

                  <strong>Subtotal:</strong>
                  <span class="amount">$ 235.00</span>
                </div>
                <p class="buttons">
                  <a href="cart.html" class="view-cart">View cart</a>
                  <a href="checkout.html" class="checkout">Checkout</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!--TOPBAR-->

  <!--NAVBAR-->
  <nav class="nav_main sticky-header">
    <div class="container cust_wdt">
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <div class="nav_main_list wow slideInRight" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: slideInRight;">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse navbar-main-slide" id="nav">
              <ul class="navbar-nav-menu">
                <li class="">
                  <a href="index.html">Home</a>
                </li>
                <li><a href="part-search.html">Part Search</a></li>
                <li><a href="our-service.html">Services</a></li>
                <li><a href="line-card.html">Brands</a></li>
                <li><a href="dealer-locations.html">Our Locations</a></li>
                <li><a href="testimonial.html">Testimonial</a></li>
                <li><a href="video.html">Videos</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="contact-us.html">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!--NAVBAR-->
  {{ page.content }}

    <footer class="footer_main">
    <div class="container cust_wdt">
      <div class="footer_info">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <h2 class="footer_title">Contact US</h2>
            <ul class="personal_info">
              <li>
                <i class="fa fa-envelope"></i>
                Email : <a href="mailto:info@apaengineering.com">info@baileyhydraulics.com</a>
              </li>
              <li>
                <i class="fa fa-phone"></i>
                Phone : +91 800-800-1810
              </li>
              <!-- <li>
                <i class="fa fa-fax"></i>
                Fax : +55 528-634-7071
              </li> -->
              <li>
                <i class="fa fa-map-marker"></i>
                <span>
                  Address : Bailey International,LLC 2527 westcott blvd,knoxville TN 37931-3112 USA
                </span>
              </li>
            </ul>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12">
            <h2 class="footer_title">Site Map</h2>
            <div class="row col-sm-6">
              <ul class="personal_info">
                <li>
                  <a href="index.html">Home</a>
                </li>
                <li>
                  <a href="about.html">About Us</a>
                </li>
                <li>
                  <a href="our-service.html">Services</a>
                </li>
                <li>
                  <a href="testimonial.html">Testimonial</a>
                </li>
                <li>
                  <a href="contact-us.html">Contact us</a>
                </li>
              </ul>
            </div>
            <!-- </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <h2 class="footer_title">Quick Links</h2> -->
            <div class="row col-sm-6">
              <ul class="">
                <li>
                  <a href="part.html">View All Products</a>
                </li>
                <li>
                  <a href="part-search.html">Part Search</a>
                </li>
                <li>
                  <a href="line-card.html">Customers</a>
                </li>
                <li>
                  <a href="faq.html">FAQ's</a>
                </li>
                <li>
                  <a href="terms-conditions.html">Terms & Conditions</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
            <h2 class="footer_title">Keep in Touch</h2>
            <ul class="social_icons">
              <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-skype"></i></a></li>
              <li><a href="#"><i class="fa fa-envelope"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="copy_right">
      Powered by APA Engineering Pvt Ltd. © 2019 All rights reserved
    </div>
  </footer>


<div id="myModal" class="modal" style="display: none;">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <span class="modal-title">Awesome!</span>
      </div>
      <div class="modal-body">
        <p class="text-center">Thank you for Subscribe to our Newsletter. </p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success btn-block" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

  <!--JQuery-->

  <script type="text/javascript">
    $(document).ready(function() {
      $(".compare-switcher-open").click(function() {
        //$("compare-switcher").removeClass("open");
        $(".compare-switcher-open").closest('.compare-switcher').toggleClass("open");
      });
      setTimeout(function() {
        $('.featured_img img').css({
          'position': 'absolute',
          'left': '50%',
          'top': '50%',
          'margin-left': function() {
            return -$(this).outerWidth() / 2
          },
          'margin-top': function() {
            return -$(this).outerHeight() / 2
          }
        });

      }, 2500);



    });
  </script>
</body>

</html>
