<style>
#searchResult,#searchRequest,#searchsupplier,#searchpartno{
        /*border: 1px solid #aaa;*/
        border:none !important;
        overflow-y: auto;
        width: 100%;
        margin-left: 0px;
        padding-bottom: 0px;
        min-height: 10px;
        max-height: 150px;
        margin-top: 0px;
        background: #fff;
        z-index: 99;
        padding-left: 1px;

      }
      #searchResult li,#searchRequest li,#searchsupplier li,#searchpartno li{
        background: lavender;
        padding: 4px;
        margin-bottom: 1px;
      }
      #searchResult li:nth-child(even),#searchRequest li:nth-child(even),#searchsupplier li:nth-child(even),#searchpartno li:nth-child(even){
        background: cadetblue;
        color: white;
      }
      #searchResult li:hover,#searchRequest li:hover,#searchsupplier li:hover,#searchpartno li:hover{
        cursor: pointer;
      }
</style>
<section class="banner_slider m-b-5 ">
    <div class="containerq">
      <div id="carousel" class="slide carousel carousel-fade">
        <div class="carousel-inner">

          {% for key,value in service_array %}
            {% if key == 0 %}
              <div class="item active">
                <img src="{{value.file}}" alt="{{value.altvalue}}" /> 
              </div>
            {% else %} 
               <div class="item">
                <img src="{{value.file}}" alt="{{value.altvalue}}" />
              </div> 
            {% endif %}             
          {% endfor %}
          <!-- <div class="item active">
            <img src="{{ base_path ~ directory }}/images/banner-1.jpg" alt="banner-1" />
          </div>
          <div class="item">
            <img src="{{ base_path ~ directory }}/images/banner-2.jpg" alt="banner-2" />
          </div>
          <div class="item">
            <img src="{{ base_path ~ directory }}/images/banner-3.jpg" alt="banner-3" />
          </div> -->
        </div>
        <a class="carousel-control right" href="#carousel" data-slide="next">
          <i class="fa fa-angle-right m-control-right"><span class="hide_span">Prev</span></i>
        </a>
        <a class="carousel-control left" href="#carousel" data-slide="prev">
          <i class="fa fa-angle-left m-control-left"><span class="hide_span">Next</span></i>
        </a>
      </div>
    </div>
  </section>
<!-- <section class="banner_slider m-b-5 ovr">
  <div class="container">
    <div class="slide carousel carousel-fade">
      <div class="carousel-inner">
        <div class="item active">
          <div class="banner_form">
            <div class="row">
              <div class="col-md-4 col-sm-12 col-xs-12">
                <form method="get" enctype="application/x-www-form-urlencoded" action="part_search">
                  

                  <div class="form-group" ng-if="filter_combo == 2">
                    <select name="make" id="fullmake" ng-model="makechange"  ng-change="getHYear(makechange)" class="form-control banner_input" ng-disabled="fullmake.length == 0">
                      <option value="">Select Make</option>
                      <option ng-repeat="m_value in fullmake" value="{{'{{m_value}}'}}" >{{'{{m_value}}'}}</option>
                    </select>
                  </div>
                  <div class="form-group" ng-if="filter_combo == 2">
                    <select name="year"  id="yearid" ng-change="getHModel(yearchange)" ng-model="yearchange"   ng-disabled="fullappyear.length == 0" class="form-control banner_input">
                      <option value="">Select Year</option>
                      <option ng-repeat="y_value in fullappyear">{{'{{y_value}}'}}</option>
                    </select>
                  </div>
                  <div class="form-group" ng-if="filter_combo == 1">
                    <select name="year"  id="yearid" ng-change="getHMake(yearchange)" ng-model="yearchange"  ng-disabled="fullappyear.length == 0" class="form-control banner_input">
                      <option value="">Select Year</option>
                      <option ng-repeat="y_value in fullappyear">{{'{{y_value}}'}}</option>
                    </select>
                  </div>
                  <div class="form-group" ng-if="filter_combo == 1">
                    <select name="make" id="fullmake" ng-model="makechange"  ng-change="getHModel(makechange)" ng-disabled="fullmake.length == 0" class="form-control banner_input">
                      <option value="">Select Make</option>
                       <option ng-repeat="m_value in fullmake" value="{{'{{m_value}}'}}" >{{'{{m_value}}'}}</option>
                    </select>
                  </div>

                  <div class="form-group" ng-if="engine_flag == 0">
                    <select name="model" ng-model="modelchange" ng-disabled="fullmodel.length == 0" id="fullmodel" class="form-control banner_input">
                      <option value="">Select Model</option>
                      <option ng-repeat="mo_value in fullmodel" value="{{'{{mo_value}}'}}">{{'{{mo_value}}'}}</option>
                    </select>
                  </div>

                  <div class="form-group" ng-if="engine_flag == 1">
                    <select name="model" ng-change="getHEngine(modelchange)" ng-model="modelchange" ng-disabled="fullmodel.length == 0" id="fullmodel" class="form-control banner_input">
                      <option value="">Select Model</option>
                      <option ng-repeat="mo_value in fullmodel" value="{{'{{mo_value}}'}}">{{'{{mo_value}}'}}</option>
                    </select>
                  </div>

                  <div class="form-group" ng-if="engine_flag == 1">
                    <select name="engine" id="engine" ng-model="enginechange" class="form-control banner_input" ng-disabled="fullengine.length == 0">
                      <option value="">Select Engine</option>
                      <option ng-repeat="en_value in fullengine" value="{{'{{en_value}}'}}">{{'{{en_value}}'}}</option>
                    </select>
                  </div>


                  <div class="form-group">
                    <button type="submit" class="btn_bg float-r btn_bg_odd"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Search</button>
                  </div>
                </form>
              </div>
              <div class="col-md-2 hidden-xs hidden-sm"></div>
              <div class="col-md-6 hidden-xs hidden-sm">
                <h2 class="banner_text_caption">
                  We only Sell quality parts from trusted brands.
                </h2>
                <div class="banner_text">Search By Part Number</div>
                <div class="top_searchbox m-t-10">
                 
                    <input type="text" name="partno" autocomplete="off"
                    ng-model='searchText' ng-keyup='fetchUsers()'  ng-click='searchboxClicked($event);'
                    placeholder="please enter part#" />
                    <ul id='searchResult' style="display: none;" >
                        <li ng-click='setValue(result.name,$event)'
                            ng-repeat="result in  testValue=(searchResult | filter : searchText) ">
                            {{'{{ result.name }}' }}
                        </li>
                        <li ng-show="!testValue.length"> Search data not found, please check your part#</li>
                      </ul>
                    <button ng-click='partnosearch($event);'><i class="fa fa-search"></i></button>
                </div>
              </div> 
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section> -->
