<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
            <h2 class="footer_title">Keep in Touch</h2>
            <ul class="social_icons">

              <li><a href="{{keep_in[0]['facebook']}}"><i class="fa fa-facebook-square"></i><span class="hide_span">facebook</span></a></li>
              <li><a href="{{keep_in[0]['linkedin']}}"><i class="fa fa-linkedin-square"></i><span class="hide_span">linkedin</span></a></li>
              <li><a href="{{keep_in[0]['twitter']}}"><i class="fa fa-twitter"></i><span class="hide_span">twitter</span></a></li>
             <!--  <li><a href="{{keep_in[0]['email']}}"><i class="fa fa-skype"></i><span class="hide_span">skype</span></a></li> -->
              <li><a href="{{keep_in[0]['googleplus']}}"><i class="fa fa-envelope"></i><span class="hide_span">envelope</span></a></li>
            </ul>
             <a href="https://www.w3.org/WAI/WCAG2AA-Conformance"
   title="Explanation of WCAG 2.0 Level Double-A Conformance">
      <img height="32" width="88"
       src="https://www.w3.org/WAI/wcag2AA"
       alt="Level Double-A conformance,
            W3C WAI Web Content Accessibility Guidelines 2.0"> 
      </a>
          </div>
