
  <section class="featured_product">
      <div class="container">
        <div class="row">
          <div class="main_title">Featured Products</div>
          <div class="col-sm-12">
            <div class="row-flex">
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="(key, value) in products1">
                <div class="featured_item_box">

                  <a class="product_img_head" href="{{ url('<front>') }}product_desc/{{'{{value[0]}}'}}" target="_blank">
                    <div class="featured_img">
                    <img class="img-responsive" ng-src="{{'{{value[6]}}'}}" alt="featured product" err-SRC="{{ url('<front>') }}sites/default/files/logobrand.png">
                    </div>
                      <span ng-if="value[12]==0" class="new_brand">New</span>
                      <span ng-if="value[12]==0" class="new_brand">Best Seller</span>
                      <span ng-if="value[12]==1" class="new_brand">Only A Few Left</span>
                      <span ng-if="value[12]==5" class=""></span>


                      <span ng-if="value[12]==2" class="new_brand">10 % Off</span>



                      <span ng-if="value[12]==3" class="new_brand">BOGO Sale</span>



                      <span ng-if="value[12]==4" class="new_brand">Sold Out</span>



                      <!--span class="new_brand">No Marketing Msg Yet</span>-->




                  </a>
                  <div class="featured_item_price">
                    <div ng-if="value[5] != 0 && value[20] != 'on'">
                           <span class="price_color">${{'{{value[5]}}'}}</span>
                        </div>
                        <div ng-if="value[5] == 0 || value[20] == 'on'">
                            Call For Price
                        </div>
                    <!-- <span class="price_strike">$90.00</span> -->
                  </div>
                    <div class="product_wishlist" style="display:none !important">

                      <a id="wishtlist_class" mxt="cls" wishvalue= "{{'{{value[0]}}'}}">
                        <i ng-if="value[7]==1" id="{{'{{value[0]}}'}}insidewish" class="fa fa-heart" aria-hidden="true"></i>

                        <i ng-if="value[7]==0" id="{{'{{value[0]}}'}}insidewish" class="fa fa-heart-o" aria-hidden="true"> </i>
                      </a>
                    </div>
                  <div class="clearfix"></div>
                  <a class="product_img_head"  href="{{ url('<front>') }}product_desc/{{'{{value[0]}}'}}" target="_blank" data-tooltip="Part#: {{'{{value[8]}}'}} "><h5 class="text-up">{{'{{value[8]}}'}}</h5></a>
                  <!-- <div class="feature_ratings">
                    <ul>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star-half-o"></i></li>
                      <li class="customer_review p-l-5"><a class="p-0" href="{{ url('<front>') }}product_desc/{{'{{value[0]}}'}}" target="_blank"><i class="fa fa-angle-down" aria-hidden="true"></i> 27</a></li>
                      <li class="" style="color:#333;">
                        <label class="container_lbl"><div class="cmpre">Compare</div>
                          <input type="checkbox" class="compareselect" id="15638">
                          <span class="checkmark"></span>
                        </label>
                      </li>
                     
                    </ul>
                  </div> -->
                  <div class="feature_ratings">
                      <ul>
                        <li><i  ng-class=" {'fa fa-star': {{'{{value[13]}}'}} >= 0,'fa fa-star-o': {{'{{value[13]}}'}} <= 0}"></i></li>
                        <li><i ng-class=" {'fa fa-star': {{'{{value[13]}}'}} >= 1,'fa fa-star-o': {{'{{value[13]}}'}} <= 1}"></i></li>
                        <li><i ng-class=" {'fa fa-star': {{'{{value[13]}}'}} >= 2,'fa fa-star-o': {{'{{value[13]}}'}} <= 2}"></i></li>
                        <li><i ng-class=" {'fa fa-star': {{'{{value[13]}}'}} >= 3,'fa fa-star-o': {{'{{value[13]}}'}} <= 3}"></i></li>
                        <li><i ng-class=" {'fa fa-star': {{'{{value[13]}}'}} >= 4,'fa fa-star-o': {{'{{value[13]}}'}} <= 4}"></i></li>

                        <li class="customer_review p-l-5"><a class="p-0" href="#" target="_blank"><i class="fa fa-angle-down" aria-hidden="true"></i>{{'{{value[14]}}'}}</a></li>
                        <li class="" style="color:#333;">
                          <label class="container_lbl"><div class="cmpre">Compare</div>
                         <input type="checkbox" class="compareselect" id="{{'{{value[0]}}'}}">
                        <span class="checkmark"></span>
                        </label>
                      </li>
                      </ul>
                </div>
                  <!-- <div class="feature_ratings">
                    <ul>
                      <li class="" style="color:#333;">
                        <label class="container_lbl"><div class="cmpre">Compare</div>
                       <input type="checkbox" class ="compareselect" id="{{value[0]}}">
                      <span class="checkmark"></span>
                      </label>
                    </li>
                    </ul>
                  </div> -->
                  <div class="feature_shipping">
                    <i class="fa fa-truck" aria-hidden="true"></i>&nbsp;Free Delivery

                  <!-- <div class="feature_info m-l-10">
                    <button type="button" class="addcart_btn cartbtn_bg">Add to cart</button>
                    <button type="button" class="addcart_btn buybtn_bg">Buy now</button>
                  </div> -->
                </div>
              </div>
                        </div>



          </div>
          <div class="view_all">
            <a href="{{ url('<front>') }}part_searchelastic" target="_blank" style="outline: none;background: #272727;color: #fff;border: none;padding: 10px 20px;margin: 0px auto;" class="view">View All</a>
          </div>
        </div>
      </div>
    </section>
