<section class="our_categories">
  {{myvariable}}
      <div class="container">
        
          <div class="main_title">Our Categories</div>
          
            <div class="row row-flex">



            {% for key,value in items %}
            <div class="col-xs-12 col-sm-6">
             <div class="featured_item_box_new">                 
                  <div class="category_circle_new">
                    <img class="category_img" src="{{ url('<front>') }}sites/default/files/{{ value[0] }}" alt="featured product">
                  </div>
                  <div class="category_new_title_box">
                   <h4>{{ value[1] }}</h4>
                  <div class="category_view_new"><a href="{{ url('<front>') }}part_searchelastic?cat_id={{value[2]}}"> Shop Now</a></div>
                </div>
               </div>

               </div>
            {% endfor %}

            </div>
            <div class="view_all dis_none">
              <a href = "brands"><button type="button" class="view">View All</button></a>
            </div>
      </div>
    </section>
