<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <h2 class="footer_title">Site Map</h2>
            <div class="col-sm-6">
              <ul class="personal_info">
                <li>
                  <a href="{{ url('<front>') }}articles">Home</a>
                </li>
                <li>
                  <a href="{{ url('<front>') }}about_us">About Us</a>
                </li>
                <li>
                  <a href="{{ url('<front>') }}services">Services</a>
                </li>
                <li>
                  <a href="{{ url('<front>') }}testimonial">Testimonial</a>
                </li>
                <li>
                  <a href="{{ url('<front>') }}contact_us">Contact Us</a>
                </li>
              </ul>
            </div>
            <!-- </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <h2 class="footer_title">Quick Links</h2> -->
            <div class="col-sm-6">
              <ul class="personal_info">
                <li>
                  <a href="{{ url('<front>') }}part_search">View All Products</a>
                </li>
                <li>
                  <a href="{{ url('<front>') }}part_search">Part Search</a>
                </li>
                <li>
                  <a href="{{ url('<front>') }}brands">Customers</a>
                </li>
                <li>
                  <a href="{{ url('<front>') }}FAQ">FAQ's</a>
                </li>
                <li>
                  <a href="{{ url('<front>')}}terms_and_conditions">Terms & Conditions</a>
                </li>
              </ul>
            </div>
          </div>