body{
  overflow-x: hidden;
  min-height:100%;
}

/* TOP BAR */
.top_border {
  border-bottom: 1px solid #eeeeee;
}
.topbar_phone i.fa {
  font-size: 17px;
  color: #ca38c6;
  margin-right: 10px;
  vertical-align: middle;
}
.top_searchbox button i{
  color: #fff;
}
.topbar_nav {
  /* overflow: hidden; */
  /* border-right: 1px solid #eeeeee; */
  float: right;
  display: block;
  position: unset !important;
}

.topbar_nav ul {
  margin-bottom: 0;
  padding: 0;
}

.topbar_nav li {
  float: right;
  list-style: none;
  padding: 0px 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
}

.topbar_nav li i {
  padding-right: 10px;
  font-size: 16px;
  vertical-align: text-top;
}
/*Header*/
a.site-logo img {
  display: block;
  max-width: 100%;
  height: auto;
}
/*End Header*/
/* .topbar_nav li:last-child {
  border-left: 1px solid #eeeeee;
} */
.topbar_nav li a {
  display: block;
  width: 100%;
  padding: 8px 18px;
  border-right: 1px solid #eeeeee;
  font-weight: 500;
  color: #333;
}

.topbar_nav li:last-child a {
  color: #ca38c6;
}

.topbar_nav li:first-child a {
  border-right: 0;
  padding-right: 0;
}

.topbar_nav li a:hover, .b-topBar__lang a:hover {
  text-decoration: underline;
}

.top_searchbox {
  position: relative;
  width: 100%;
}
input[type=text] {
  width: 100%;
    background: #fff;
    border: 1px solid #c9aaaa;
    height: 40px;
    padding: 0px 15px;
    color: #636363;
    /* background: #f5f5f5; */
    font-size: 12px;
    box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.075);
    outline: none;
}

textarea {
  width: 100%;
  background: #fff;
  border: 1px solid #dcdcdc;
  min-height: 70px;
  color: #636363;
  background: #f5f5f5;
  font-size: 12px;
  outline: none;
}

sup {
  color: #ff0000;
  padding-left: 3px;
  font-size: 18px;
  top: -0.10em;
}
.btn_top_bg {
  background: #0a100a !important;
}
.top_searchbox button, .newsletter_input button {
  position: absolute;
  background: #ca38c6 ;
  color: #fff !important;
  top: 0;
  right: 0;
  height: 40px;
  width: auto;
  border: none;
  padding: 0px 5px;
}

button {
  background: #08203a;
  color: #fff !important;
  height: 40px;
  width: auto;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0px 25px;
  font-weight: 600 !!important;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

input:hover, input:focus {
    border: 1px solid #ca38c6 ;
    outline: none;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

button:hover, button:focus {
  outline: none;
}

.top_cart {
  text-align: right;
  width: auto;
  /* display: flex;
  float: right; */
}

.top_cart a {
  color: #333;
  text-decoration: none;
}
.top_cart a:hover{
  color: #333;
}
.cart_wishlist, .cart_shopping {
  display: inline-block;
  margin-right: 10px;
  position: relative;
}

.cart_wishlist i, .cart_shopping i {
  font-size: 36px;
  margin-right: 10px;
}

.cart_wishlist .wishlist_count, .cart_shopping .shopping_count {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #ca38c6 ;
  position: absolute;
  top: -2px;
  left: 20px;
  color: #fff !important;
  font-weight: 600;
  text-align: center;
  /* padding: 5px; */
}

/*
.cart_shopping .shopping_count {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #ca38c6 ;
  position: absolute;
  top: -2px;
  left: 25px;
  color: #fff;
  text-align: center;
} */
/* NAVBAR */

i.fa-caret-down {
  color: #ca38c6  ;
}
/* Slider */
.carousel-fade .carousel-control {
  z-index: 2;
  width:auto;
}
.banner_form {
  background-image: url('../../images/banner-4_bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 100%;
  top: 0;
  left: 0;
  padding: 50px;
  /* position: absolute; */
  height: 360px;
}
.banner_form .banner_input {
  border-radius: 0;
  border:1px solid #ebebeb;
  color:#121111;
}
.banner_text_caption {
  font-size: 36px;
  font-weight: 600;
  color: #ffc122;
  font-style: italic;
  line-height: 1.5;
}
.banner_text {
  font-size: 26px;
  color:#fff;
}
.btn_bg_odd {
  background-color: #bf0131;
  color: #fff !important;
}
.btn_bg_even {
  color: #fff !important;
}
/*TESTIMONIALS*/
.main_title {
  text-transform: uppercase;
  font-size: 20px;
  color: #ca38c6;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 20px 15px;
  text-align: center;
}

.h1-title {
  text-transform: uppercase;
  font-size: 24px;
  color: #08203a;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 20px 15px;
  text-align: center;
}
/* our Categories */
.our_categories img {
  width: 100%;
  height: 100%;
  z-index: -1;
  padding: 25px;
  margin: 0 auto;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.our_categories .category_circle:hover {
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.10), 0 6px 5px 0 rgba(0, 0, 0, 0.10);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.our_categories .featured_item_box h4 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  margin: 0 0 15px;
  color: #333;
}

.our_categories .featured_item_box .category_view {
  color: #08203a;
  text-align: center;
  font-size: 14px;
  margin: 20px 0px 0;
}

/* Featured */
.row-flex {
    /*display: -webkit-box; */
    display: -webkit-flex;
    display: -ms-flexbox;
    /* display: flex; */
    flex-wrap: wrap;
}
.row-flex [class*="col-"] {
    margin-bottom: 25px;
}
.featured_product {
  padding: 0px 0 0px 0;
  text-align: center;
  position: relative;
  /* box-shadow: 0px 30px 100px -38px rgba(0, 0, 0, 0.3); */
  z-index: 1;
}
.feature_info {
  text-align: left;
  /* margin: 2px 10px; */
  /* display: block; */
}

.feature_info a {
  padding: 8px;
  color: #ca38c6   !important;
  /* margin-right: 6px; */
}
.feature_info .addcart_btn {
    height: 25px;
    width: auto;
    border: none;
    font-size: 11px;
    text-transform: uppercase;
    padding: 0px 10px;
    margin-right: 5px;
}
.feature_info .cartbtn_bg {
    background: #bf0131;
}
.feature_info .buybtn_bg {
    background: #d4571a;
}
.feature_info .cartbtn_bg:hover {
  color: #fff !important;
  background-color: #960227;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}
.feature_info .buybtn_bg:hover {
  color: #fff !important;
  background-color: #ad4918;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}
.feature_shipping {
  display: block;
  margin: 0;
  width: 100%;
  text-align: left;
  padding: 3px 10px;
  float: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}
.feature_ratings .customer_review {
  color: #337ab7;
  /* text-decoration: underline; */
  font-size: 14px;
}
.product_img_head{
  width: 100%;
  display: inline-block;
  vertical-align:top;
}

.product_img_head img{
  width:100%;
  height:100%;
  max-width: 160px;
  max-height: 150px;
  object-fit: contain;
  margin: 0 auto;
}
.price_strike {
  font: 500 14px 'Roboto', sans-serif;
  text-decoration: line-through;
  color: #464646;
  padding-left: 5px;
  letter-spacing: 1px;
}
.featured_item_box a {
  /* color: #31353c; */
  text-decoration: none;
  padding: 5px 5px;
}
.view_all {
  display: block;
  margin: 0;
  padding: 0;
  clear: both;
}

.view_all button {
  outline: none;
  background: #272727;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 0px auto;
}

/*.view {
  color: #fff;
  cursor: pointer;
  display: block;
  position: relative;
  border: 2px solid #F7CA18;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.view:hover  {
  color: #fff !important;
  background-color: #0a100a;
}*/

/* Abpout us */
.about_bg_img {
    padding: 20px 50px;
    width: 350px;
    margin: 0;
}
/*VIDEO*/
/* .client_block .carousel-inner img {
  width: 100%;
  height: 100%;
  display: block;
  padding: 20px;
} */
/*FOOTER*/
footer {
  width: 100%;
  background: #111;
  color: #7c7e83;
  padding-bottom: 20px;
}

.footer_main .footer_newsletter {
  background: #272727;
  color: #c5c5c5;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
}

.footer_main .footer_newsletter h3 {
  font-size: 22px;
  line-height: 40px;
  font-family: 'Open Sans', sans-serif;
  /* text-transform: capitalize; */
  margin-bottom: 3px;
}

/* .footer_main .footer_newsletter .newsletter_input {
    width: 50%;
    margin: 10px 0 0 0;
} */
/* .newsletter_input input {
    width: 50%;
} */
.newsletter_input button {
  width: 100px;
  text-transform: uppercase;
  font: 500 14px 'Open Sans', sans-serif;
  /* color: #fff; */
}

.footer_info {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

.footer_info .footer_title {
  color: #f7f7f7;
  font: 600 16px 'Open Sans', sans-serif;
  letter-spacing: 1px;
  border-bottom: solid 1px #3a3a3a;
  padding-bottom: 20px;
  margin: 0 0 30px;
  text-transform: uppercase;
}

.footer_info ul, .social_icons ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer_info li {
  color: #7c7e83;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 20px;
  margin-top: 20px;
  letter-spacing: 0.5px;
}

.footer_info .personal_info li {
  text-indent: -25px;
  margin-left: 25px;
}

.footer_info .personal_info li i {
  margin-right: 5px;
}

.footer_info ul>li:first-child {
  margin-top: 0px;
}

.footer_info li i {
  font-size: 18px;
  color: #999999;
  margin-right: 20px;
  float: left;
  width: 20px;
}

.footer_info a {
  color: #7c7e83;
  text-decoration: none;
}

.personal_info a:hover, .personal_info_right a:hover, .social_icons li i:hover {
  color: #fff;
  text-decoration: none;
}

.social_icons li i {
  font-size: 20px;
  color: #999999;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
  width: auto;
}

.copy_right {
  padding: 20px 0 0px;
  margin: 0px auto;
  font-size: 12px;
  text-align: center;
  border-top: 1px solid #272727;
  color: #606165;
}

/* .footer_main button:hover, .footer_main button:focus {
  outline: none;
}

.footer_main button {
  position: absolute;
  background: #ca38c6 ;
  color: #fff;
  height: 40px;
  width: 60px;
  border: none;
  padding: 0px 5px;
} */
/*PRODUCT DESCRIPTION*/
.product_desc .product_desc_bg {
  padding: 40px;
  background: url('../images/productdesc-bg.jpg');
  background-size: cover;
}

.product_desc .product_desc_bg h3 {
  color: #fff;
  font: 700 24px 'Open Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0px;
}

.breadcrumb_part {
  list-style: none;
  margin: 0 30px;
  padding: 0;
  text-align: right;
}

.breadcrumb_part li {
  display: inline-block;
  list-style: none;
  font-size: 16px;
  line-height: 1.85;
}

.breadcrumb_part li a, .breadcrumb_part li i {
  color: #c7c7c7;
  padding-right: 5px;
  padding-left: 5px;
}

.breadcrumb_part .active {
  color: #ca38c6  ;
}

.product_image {
  border: solid 1px #e6e6e6;
  margin: 0;
  padding: 10px;
  height: 330px;
}

.product_desc_content h4 {
  color: #464646;
  font: 600 20px 'Open Sans', sans-serif;
  text-transform: uppercase;
}

.product_desc_content p {
  margin: 5px 0;
}

.product_desc_content .product_instock {
  color: #128026;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
}

.product_desc_content .product_brand img {
  width: 100%;
  height: 100%;
  /* width: 50px;
  float: left;
  padding-right: 10px; */
}

.product_desc_content .total_price {
  color: #565656;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-decoration: none;
  /* letter-spacing: 1px; */
  margin-top: 0;
}

.product_desc_content .mrp_price {
  color: #464646;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-decoration: none;
  /* letter-spacing: 1px; */
  padding: 5px 0 0 10px;
  margin-top: 0;
}

.product_desc_content .mrp_price {
  font-size: 16px !important;
  color: #464646 !important;
  text-decoration: line-through;
}

.product_desc_content .save_price {
  color: #464646 !important;
  font-size: 12px;
  font-weight: 600;
}

.product_desc_content .feature_ratings li:last-child {
  margin-left: 15px;
}

.product_desc_content .feature_ratings li:last-child a, .stock_block a {
  color: #337ab7;
  text-decoration: underline;
}

.color_blue {
  color: #ca38c6  ;
}

.product_desc_content .total_price span {
  font: 600 22px 'Open Sans', sans-serif;
  color: #B12704;
}

.product_desc_content .product_buttons {
  display: block;
  margin-left: 0px;
}

.product_desc_content .product_buttons button {
  margin-right: 15px;
  font-weight: 600;
}

.btn-success {
  color: #fff;
  background-color: #5cb85c !important;
  border-color: #4cae4c !important;
}

.btn-warning {
  color: #fff;
  background-color: #f0ad4e !important;
  border-color: #eea236 !important;
}

.quantity {
  /*float: left; */
  margin: 15px 10px;
  margin-left: 0;
  height: 30px;
  border: solid 1px #e6e6e6;
  display: block;
  width: 150px;
}

.quantity .group-quantity-button a {
  display: inline-block;
  width: 35px;
  text-align: center;
  line-height: 30px;
  height: 30px;
  color: #8e8e8e;
  font-size: 13px;
}

.quantity .input-text {
  border-top: none;
  border-bottom: none;
  border-right: solid 1px #e6e6e6;
  border-left: solid 1px #e6e6e6;
  line-height: 30px;
  height: 25px;
  text-align: center;
  font-size: 16px;
  color: #8e8e8e;
  width: 69px;
}

.buy_access h4 {
  color: #333;
  /* margin-top: 10px; */
  font-weight: 600;
  padding: 5px 5px 10px 0px;
  margin: 5px 0px 0px 0px;
  clear: both;
  text-align: left;
  border-bottom: 1px solid #B4B4B4;
  position: relative;
}

.buy_access h4::after {
  background: url(../images/down_arrow.png) center no-repeat;
  /* content: "\f107"; */
  content: " ";
  font-family: "FontAwesome";
  width: 15px;
  left: 20px;
  height: 7px;
  position: absolute;
  bottom: -6px;
  display: block;
}

.buy_access ul {
  margin: 0;
  padding: 0;
}

.buy_access ul .buy_access_product {
  padding: 10px 0;
  border-bottom: solid 1px #e6e6e6;
  margin-bottom: 0;
  display: inline-block;
  width: 100%;
}

.buy_access ul .buy_access_product .thumb {
  float: left;
  margin-right: 10px;
  max-width: 75px;
}

.buy_access ul .buy_access_product .thumb a {
  display: inline-block;
  position: relative;
  overflow: hidden;
  border: 1px solid #ccc;
  padding: 3px;
}

.buy_access ul .buy_access_product .access_cont {
  padding: 0;
  margin-bottom: 0;
  /* display: inline-block; */
  text-align: left;
  /* max-width: 150px; */
}

.buy_access ul .buy_access_product .access_cont .access_name {
  color: #464646;
  font-size: 14px;
}

.buy_access ul .buy_access_product .access_cont .access_number {
  color: #B12704 !important;
  font-size: 14px;
  line-height: 2;
}

.key_feat_txt {
  letter-spacing: 0.75px;
}

.key_feat_txt h4 {
  font-weight: 600;
  color: #565656;
}

.key_feat_txt ul {
  margin: 0;
  padding: 0;
}

.key_feat_txt li {
  list-style: circle;
  padding: 5px 0;
  font-size: 14px;
}

.product_image .productslide_img {
  display: block;
  width: 100%;
  height: 220px;
}

.product_image .productslide_img img {
    /* width: 100%;
    height: 100%; */
    width: 60%;
    max-height: 100%;
    margin: 0px auto;
    display: block;
    margin-top: 5%;
    object-fit: contain;
}

#owl-1 .owl-carousel.owl-drag .owl-item {
  margin-right: 0 !important;
}

#owl-2 {
  margin-top: 10px;
}

#owl_2>.owl-nav {
  display: none;
}

#owl_2 {
  padding: 10px 15px;
}

#owl_2 .owl-stage-outer .owl-stage img {
  cursor: pointer;
}
div#owl_2 img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}
/* .slide_buttons {
  display: table;
  margin: 100px auto;
} */
.slide_buttons .prev_btn {
  background: #272727;
  color: #fff;
  padding: 5px;
  margin-left: 15px;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  bottom: 15px;
  left: 0;
}

.slide_buttons .next_btn {
  background: #272727;
  color: #fff;
  padding: 5px;
  margin-right: 15px;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  bottom: 15px;
  right: 0;
}
.item_border {
  padding: 5px;
  margin: 0;
  border: 1px solid #e6e6e6;

}

/* .next_btn, .prev_btn{
    float: right;
    background: #2d9070;
    color: #fff;
    padding: 10px;
    margin-left: 5px;
    cursor: pointer;
} */
.review_progress {
  height: 20px;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.review_progress_bar {
  float: left;
  width: 0;
  height: 100%;
  padding-left: 2px;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #e7a200;
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease;
}

.comment_block {
  margin-bottom: 20px;
}

.no-margin {
  padding: 0;
  margin: 0;
}

.review_thumb {
  padding: 0px 0px;
  width: 50px;
  height: 50px;
  margin-left: 25px;
}

.review_thumb img {
  max-width: 100%;
}

.comment_block .comment_body {
  position: relative;
  padding: 15px;
  border: 1px solid #e0e0e0;
}

.comment_block .comment_body:before {
  left: -10px;
  border-color: transparent #e0e0e0 transparent transparent;
}

.comment_block .comment_body:after {
  left: -8px;
  border-color: transparent #fff transparent transparent;
}

.comment_block .comment_body:before, .comment_block .comment_body:after {
  content: "";
  border-width: 7.5px 10px 7.5px 0;
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  top: 20px;
}

.comment_block .comment_body .author {
  font-size: 15px;
  font-weight: 700;
  display: inline-block;
}

.star-holder .star {
  display: inline;
}

.comment_block .comment_body .date {
  color: #8c8c8c;
  margin-right: 15px;
  margin-left: 15px;
  font-size: 14px;
  /* line-height: 26px; */
}

.comment_block .comment_body .comment_text {
  margin: 10px 0 7px 0 !important;
}

#single-product-tab .new-review-form {
  margin: 53px 0 0 0;
}

#single-product-tab .new-review-form h2 {
  font-size: 22px;
  line-height: 36px;
}

#single-product-tab .new-review-form form {
  margin: 27px 0 0 0;
}

#single-product-tab .new-review-form .field-row {
  margin-bottom: 36px;
}

#single-product-tab .new-review-form .star-row {
  margin-bottom: 27px !important;
}

#single-product-tab .new-review-form .star-row .star-holder {
  padding: 9px 0 0 0;
}

.star-holder .star {
  display: inline;
}

#single-product-tab .new-review-form .buttons-holder {
  margin: -16px 0px 0 0px;
  text-align: right;
}

#single-product-tab .new-review-form .buttons-holder button {
  padding: 14px 31px;
}

/*media Query*/
}

@media (max-width: 600px) {
  input[type=text] {
    height: 35px;
  }

  .top_searchbox button, .newsletter_input button {
    height: 35px;
  }
  .top_searchbox button i {
    padding: 0 5px !important;
  }

  .footer_main .footer_newsletter {
    display: block;
  }
}

@media (max-width: 768px) {
  .topbar_nav li a {
    padding: 8px 4px;
  }

  .topbar_nav li i {
    padding-right: 5px;
    font-size: 14px;
  }

  .cart_wishlist span:nth-of-type(odd), .cart_shopping span:nth-of-type(odd) {
    font-size: 12px;
    /* display: none; */
  }

  .banner_slider .carousel-inner .item>img {
    height: auto !important;
  }

  .featured_item_box {
    width: 100% !important;
    height: 100%;
    margin: 10px auto;
    align-items: center;
  }

  .review_block .comments {
    margin-top: 25px;
  }

  .product_desc .product_desc_bg {
    padding: 20px;
  }

  .product_desc .product_desc_bg h3 {
    font: 600 16px 'Open Sans', sans-serif;
  }

  .breadcrumb_part li {
    font-size: 14px;
    line-height: 1.5;
  }
}

@media (min-width: 769px) {
  .topbar_nav li a {
    padding: 8px 8px;
  }

  .topbar_nav li i {
    padding-right: 5px;
    font-size: 14px;
  }
}

@media (min-width:769px) and (max-width:992px) {
  .featured_item_box {
    width: 300px;
    margin: 0px 20px 30px 20px;
  }
}

@media (max-width:1200px) {

  /* .featured_item_box {
    width: 200px;
    margin: 0px 15px 30px 15px;
  } */
  .nav_main_list ul li a {
    padding: 0 10px 15px 10px;
    font-size: 12px;
  }

  .cart_wishlist i, .cart_shopping i {
    font-size: 30px;
    margin-right: 10px;
  }

  .top_searchbox button i {
    padding: 0 10px;
  }
}

/*style-2*/
/* .header-page-breadcrumb {
    margin-bottom: 15px;
} */
.header-page-breadcrumb .breadcrumbs {
  padding: 15px;
}

.breadcrumbs {
  position: relative;
  z-index: 1;
  color: #e05b01;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0px 0 15px;
}

.breadcrumb-item {
  display: inline-block;
  vertical-align: middle;
  font-family: 'Open Sans', sans-serif;
  color: #e05b01;
}

.breadcrumb-item.current {
  color: #000;
}

.breadcrumb-item+i, i+.breadcrumb-item {
  margin-left: 5px;
  margin-right: 5px;
}

.breadcrumbs i {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.4rem;
}

/*part-search.html*/
.search-part-box {
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
  box-shadow: 0 0 5px #ccccccc4;
  padding: 5px 0;
  background: #e4f4ff;
}

.dis-inline-block .input-text_1 {
  width: 175px;
}

.dis-inline-block input {
  margin: 5px 5px 5px 5px;
}

.search-part-box input, .search-part-box select, .search-part-box button {
  margin: 5px 15px;
}
.path-part-search .search-part-box input,.path-part-search .search-part-box select,.path-part-search .search-part-box button{
  margin: 5px 10px;
}
.search-part-box input {
  position: relative;
}

.search-button-icons:before {
  font-family: FontAwesome;
  content: "\f002";
  padding-right: 10px;
  vertical-align: top;
}

.search_or {
  font-size: 18px;
  font-weight: 600;
  margin-right: 6px;
  margin: 3px 6px 0 3px;
  float: left;
}

.search_or span {
  vertical-align: -webkit-baseline-middle;
  color: #01489e;
}
.part-search-page {
  padding: 10px 0 0px;
  display: inline-block;
  width: 100%;
  /* overflow: hidden; */
}

.part-search-page .widget-product {
  margin-bottom: 10px;
}

.widget-product {
  margin-bottom: 37px;
  overflow: hidden;
}

.part-search {
  margin: 5px 0;
  padding: 0;
}

.part-search>li {
  border-bottom: 1px solid #e5e5e5;
  color: #4c4c4c;
  margin: 0;
  overflow: hidden;
  padding: 7px 0;
  position: relative;
}

.part-search>li a {
  font-size: 14px;
  font-weight: 600;
  color: #000;
  display: block;
  width: 100%;
  position: relative;
  padding: 5px 0px 5px;
  font-family: 'Montserrat', sans-serif;
  word-wrap: break-word;
  margin: 8px 0;
}

.part-search li:not(collapsed) .arrow:before, .part-search li:not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}

.part-search li:not(collapsed) .arrow:before, .part-search li:not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}

.part-search>li a:after {
  background: #bf0131;
  height: 1px;
  width: 25px;
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
}
.part-search>.sub-menu {
  padding: 0;
}
.part-search>.sub-menu li {
  border-bottom: 1px solid #e5e5e5;
  color: #4c4c4c;
  margin: 0;
  overflow: hidden;
  padding: 7px 0;
  position: relative;
}

.part-search>.sub-menu li a {
  font-size: 13px;
}

.part-search>.sub-menu li a input {
  vertical-align: top;
  margin-right: 5px;
}

.part-search>.sub-menu.brand {
  min-height: 28px;
 /* max-height: 250px;*/
  /* overflow-y: scroll; fa changed*/
}

.part-search li:last-child {
  height: 58px;
}

.part-search li:last-child {
  border-bottom: 0;
}

.btn-appl-flit {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  display: block;
  width: 100%;
  border-radius: 0;
  background: #d27335;
  border-color: #d27335;
}

/*.h1-title*/
.h1-title {
  text-transform: uppercase;
  font-size: 24px;
  color: #08203a;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 20px 15px;
  text-align: center;
}

.h2-title {
  font-size: 16px;
}

.services-list-item-wrapper {
  margin-bottom: 20px;
  margin-top: 20px;
}

.services-list-item {
  /* background: #f1f1f1; */
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 0 5px #efefef;
  margin-bottom: 20px;
}

.services-list-item-figure {
  position: relative;
  border: 1px solid #d4d4d4;
  padding: 10px;
}

.services-list-item-figure img {
  width: 100%;
  max-width: 100%;
}

.services-list-item-title {
  text-align: left;
  font-size: 20px;
  color: #272727;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
}

.service-desc {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  text-align: justify;
  line-height: 30px;
}
.search-part-box .dis-inline-block{
  display: block;
  float: left;
}
/*End part-search.html*/
/*line-card*/
.line_card_view {
  /* border-bottom: 1px solid #efefef; */
  display: inline-block;
  text-align: left;
  width: 100%;
  /* margin: 10px; */
}

.line_card_view a {
  max-width: 250px;
  display: inline-block;
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 10px;
  background-color: #fff;
  vertical-align: top;
  width: 100%;
  max-height: 120px;
  overflow: hidden;
  height: 100%;
  min-height: 120px;
  position: relative;
}

.img_view {
  max-width: 180px;
}

.line-card-section .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*Dealer-Locations*/
.installation-box {
  margin: 40px 0;
  /* border: 1px solid #ccc; */
}

.installation-branch-name {
  background: #ca38c6 ;
  color: #fff;
  /* padding: 10px; */
}

.installation-branch-name h3 {
  margin: 0px 0 0 15px;
  background: #e8e8e8;
  overflow: hidden;
  padding: 10px;
  color: #555;
  font-size: 16px;
}

.installation-branch-adderss {
  border: 1px solid #e8e8e8;
  padding: 10px;
}

.installation-branch-adderss p {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.9;
  font-size: 14px;
}

/*TESTIMONIAL*/
.content-testimonials {
  border: 1px solid #eee;
  padding: 10px 40px;
  margin-bottom: 20px;
  background-color: #fff;
  position: relative;
  /* width: 330px; */
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.content-testimonials:hover {
  cursor: pointer;
  box-shadow: 0 10px 5px 0 rgba(221, 221, 221, 0.55);
  -webkit-box-shadow: 0 10px 5px 0 rgba(221, 221, 221, 0.55);
  -moz-box-shadow: 0 10px 5px 0 rgba(221, 221, 221, 0.55);
  -o-box-shadow: 0 10px 5px 0 rgba(221, 221, 221, 0.55);
}

.content-testimonials .testi-thumb img {
  border: 1px solid #eee;
  height: 70px;
  margin: 0 auto;
  width: 70px;
}

.testi-details p {
  text-align: left;
  word-wrap: break-word;
  word-break: break-word;
}

/*vide.html*/
.youtube-video-section {
  padding: 30px 0;
  margin: 0 0 20px;
}

.youtube-title h4 {
  text-transform: uppercase;
  margin: 10px 0 20px;
  font-weight: 500;
  font-size: 20px;
}

.vid {
  width: 100%;
}

.vid iframe {
  width: 100%;
  height: 300px;
}

/*Aboutus page*/
.about-us-img {
  float: left;
  padding-right: 25px;
  padding-bottom: 10px;
}

.about-us-img img {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  display: block;
}

.about-us-txt p {
  line-height: 30px;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
  word-wrap: break-word;
  word-break: break-word;
}

/*ContactusPage*/
.block-title h3, .block-title .h3 {
  /* font-family: 'Poppins-SemiBold'; */
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  color: #222;
  font-size: 20px;
  font-weight: 600;
}

.contact-info p {
  color: #666;
  font-size: 14px;
}

.contact-info i{
  padding-right: 10px;
}

.contact-info p, .contact-form span {
  /* font-family: 'Poppins-Light'; */
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.btn-color {
  background: #bf0131;
  color: #fff;
  /* font-family: 'Poppins'; */
  font-family: 'Poppins', sans-serif;
}

.title {
  margin: 10px 0 10px;
  position: relative;
  text-align: center;
  padding: 10px 0;
}

.title:before {
  border-top: 2px double #acacac;
  content: "";
  left: 0;
  margin: 0 auto;
  position: absolute;
  top: 54%;
  width: 90%;
  right: 0;
}

.title h4 {
  background: #fff none repeat scroll 0 0;
  display: inline-block;
  font-size: 20px;
  font-weight: 900;
  padding: 0 15px;
  position: relative;
  width: auto;
  z-index: 1;
  margin-bottom: 0;
  word-spacing: 8px;
  letter-spacing: 1px;
  line-height: 20px;
  margin-top: 0;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
}

.installation-box {
  margin: 40px 0;
  /* border: 1px solid #ccc; */
}

/*FAQ Pages*/
.faq-tab {
  padding: 10px;
  display: block;
  overflow: hidden;
}

.faq-categories>li {
  border-bottom: 1px solid #e5e5e5;
  color: #4c4c4c;
  margin: 0;
  overflow: hidden;
  padding: 7px 0;
  position: relative;
  list-style: none;
}

.faq-categories a {
  font-size: 13px;
  font-weight: 400;
  color: #898989;
  display: block;
  width: 100%;
  position: relative;
  padding: 0px 0px 10px;
  font-family: 'Montserrat', sans-serif;
  word-wrap: break-word;
}

.faq-content {
  display: block;
}

.faq-content h2 {
  font-size: 1.2857142857142858em;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  padding: 5px 16px;
  display: inline-block;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  color: #1b1b1b;
}

.faq-question {
  font-size: 15px;
  padding: 10px 19px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
}

.faq-content p {
  font-size: 15px;
  line-height: 1.9;
  font-family: 'Open Sans', sans-serif;
}

.faq-question p a[aria-expanded="true"] {
  color: #000000;
}

.collapse.in {
  display: block;
}

.faq-question p a {
  font-weight: 600;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
}

/*terms-conditions page*/
.policies-content h4 {
  font-size: 1.2857142857142858em;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  padding: 5px 0px;
  display: inline-block;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  color: #1b1b1b;
}

.policies-content p {
  font-size: 14px;
  line-height: 1.9;
  font-family: 'Open Sans', sans-serif;
}







/*Muruganandham css*/
.compare-switcher.open {
   right: -150px;
}
.compare-switcher-box img{
    width: 80px;
    margin: 0 auto;
    text-align: center;
    display: block;
}

.compare-switcher-box h6{
  color: #5a5a59;
  font-size: 11px;
  padding: 5px;
  margin:0;
}
.compare-button{
    text-align: center;
    background: #ca38c6;
    color: #fff;
  }
.compare-table .fixedHeader tr {
    background-color: #f5f5f5;
}
.compare-table .fixedHeader th a {
    color: #454545;
}

.compare-table .but_close_comp {
    position: absolute;
    left: 0;
    top: -12px;
    width: 100%;
    text-align: center;
}

.compare-table td {
    padding: 10px;
    border-bottom: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    line-height: 22px;
    word-break: break-all;
    font: 400 16px 'Open Sans', sans-serif;
}

.stock-in{
  color: #128026;
  }
.stock-out{
    color: #d1252a;
  }

.compare-table .star i{
    color: #e7a200;
}
/*Select your Vehicle Css*/

.dropdown-inline{
display: inline-block;
position: relative;
}

.yeardropdown{
position: relative;
margin:5px!important;
width: 80px;
}
.yeardropdown-menu{

}

.position-relative{
position: relative;
}
.dropdown-large {
position: static !important;
}

.makedropdown{
margin:5px!important;
width: 80px;
}

.dropdown-menu-large {
margin-left: 16px;
padding: 10px 20px;
}
.dropdown-menu-large ul{
float: left;
list-style: none;
padding: 10px;
margin-right: 20px;
}

.dropdown-menu-large ul li a {
font-family: arial,helvetica,sans-serif;
font-size: 14px;
color: #000;
line-height: 23px;
}

.dropdown-menu-large ul:last-child{
margin-right: 0;
}
.reset-button{
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: 400;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
background: #d9534f;
color: #fff;
}

/*Price Filter Css*/
.noUi-target, .noUi-target * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.noUi-base {
  width: 95%;
  height: 100%;
  position: relative;
}
.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}
.noUi-handle {
  position: relative;
  z-index: 1;
}
.noUi-stacking .noUi-handle {
  /* This class is applied to the lower origin when
   its values is > 50%. */
  z-index: 10;
}
.noUi-stacking + .noUi-origin {
/* Fix stacking order in IE7, which incorrectly
   creates a new context for the origins. */
  *z-index: -1;
}
.noUi-state-tap .noUi-origin {
  -webkit-transition: left 0.3s, top 0.3s;
  transition: left 0.3s, top 0.3s;
}
.noUi-state-drag * {
  cursor: inherit !important;
}
/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 4px;
  width: 100%;
  position: relative;
}
.noUi-horizontal .noUi-handle {
  width: 34px;
  height: 28px;
  left: 0px;
  top: 0px;
}
.noUi-horizontal.noUi-extended {
  padding: 0 15px;
}
.noUi-horizontal.noUi-extended .noUi-origin {
  right: -15px;
}
.noUi-vertical {
  width: 18px;
}
.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  left: -6px;
  top: -17px;
}
.noUi-vertical.noUi-extended {
  padding: 15px 0;
}
.noUi-vertical.noUi-extended .noUi-origin {
  bottom: -15px;
}
/* Styling;
 */
.noUi-background {
  background-color: #ebebeb;
}
.noUi-base .noUi-background {
  background: none;
}
/* Handles and cursors;
 */
.noUi-dragable {
  cursor: w-resize;
}
.noUi-vertical .noUi-dragable {
  cursor: n-resize;
}
.noUi-handle {
  cursor: pointer;
}
.noUi-handle:after {
  left: 17px;
}
.noUi-vertical .noUi-handle:before, .noUi-vertical .noUi-handle:after {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px;
}
.noUi-vertical .noUi-handle:after {
  top: 17px;
}
/* Disabled state;
 */
[disabled].noUi-connect, [disabled] .noUi-connect {
  background: #B8B8B8;
}
[disabled] .noUi-handle {
  cursor: not-allowed;
}
/* Price Range */
.sidebar-nav.cost-price {
  margin-bottom: 70px;
}
.cost-price-content {
  /*display: inline-block;*/
  position: relative;
  margin-bottom: 20px;
}
.cost-price-content .noUi-handle-lower, .cost-price-content .noUi-handle-upper {
  height: 21px;
  width: 21px;
  background-color: #f1f3f8;
  border: 1px solid #dde1eb;
}
.cost-price-content .noUi-base .noUi-connect, .cost-price-content .noUi-base .noUi-background {
  position: absolute;
  top: -4px;
}
.price-min, .price-max {
/*  position: absolute;*/
  margin-top: 15px;
  font-size: 14px;
  color: #515151;
}
.price-min {
  left: 0;
}
.price-max {
  right: 0;
}
.cost-price-content .noUi-handle-lower, .cost-price-content .noUi-handle-upper {
  background-color: #fff;
  border: 1px solid #b8b8b8;
}



.price-min {

  border: 1px solid #dddddd;
  border-radius: 2px;
  height: 30px;
  line-height: 28px;
  color: #555555;
  width: 70px;
  text-align: center;
  background: #fff;
  display: inline-block;
  margin-right: 20px;

}

.price-max {
  border: 1px solid #dddddd;
  border-radius: 2px;
  height: 30px;
  line-height: 28px;
  color: #555555;
  background: #fff;
  width: 70px;
  text-align: center;
 display: inline-block;
}

.noUi-horizontal .noUi-handle {
  background: #ca38c6;
  border: none;
  height: 12px;
  width: 12px;
  border-radius: 30px;
}



/*cart*/


.cart-section{
    display: inline-block;
    width: 100%;
  }

.cart-value{
  margin-bottom: 30px;
}
.cart-table{
    /* width: 100%; */
    width: 1140px;
    line-height: 28px;
    color: #2e2e2e;
    font: 600 14px 'Open Sans', sans-serif;
}

.cart-table th {
    vertical-align: middle;
    padding: 15px 30px;
    font-size: 16px;
    line-height: 20px;
    color: #343434;
    border-top: 1px #e6e6e6 solid;
    border-bottom: 1px #e6e6e6 solid;
}

.cart-table td {
    vertical-align: middle;
    padding: 20px 30px;
    border-bottom: 1px #e6e6e6 solid;
}
.cart-table td img{
  max-width:80px;
}
.cart-table td .cart-desc{
  font-size: 15px;
  line-height: 28px;
  color: #2e2e2e;
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
}

.table-remove-txt{
  color: #f10808;
  text-decoration: underline;
  font-weight: 400;
}

.cur-pointer{
  cursor: pointer;
}
.table-qty{
  width:
}


.cart-total{
  float: right;
  width: 300px;

}

.cart-total-box{
  width: 100%;
  box-shadow: 0 0 2px #ccc;
  display: inline-block;
  padding: 10px;
}


.carttot-table{
  width: 100%;
    line-height: 28px;
    color: #2e2e2e;
    font: 600 15px 'Open Sans', sans-serif;
}
.carttot-table tr td{
  padding: 8px;
  font-weight: 400;
}
.carttot-table tr td hr{
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid #eee;
}

.carttot-table .tot td{
  font-weight: 600;
  font-size: 16px;
}
.blue{
  color: #0062b9;
}

.button-div{
  -webkit-appearance: none;
    padding: .4em 1em .4em 1em;
    margin-right: .3em;
    border: 1px solid;
    text-transform: capitalize;
    text-align: center;
    display: inline-block;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: .15px;
    cursor: pointer;
    zoom: 1;
}
.button-checkout{
    color: white;
    background: #bf0131;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
  }
  .button-checkout:hover{
    color: #fff;
  }



/*Checkout Css*/

.details-table{
  /*background-image: linear-gradient(to right,#f4f4f4 0,#f4f4f4 0);*/
  background: #fbfbfb;
  padding: 10px;
  display: inline-block;
  width: 100%;
  vertical-align: top;
}
.details-table h1{
  margin-top: 0;
}

.checkout-table tr td img{
  width: 80px;
}

.checkout-table tr td{
  font: 400 14px 'Open Sans', sans-serif;
  padding: 8px;
}

.billing-div h3{
  display: inline-block;
}

.add-billing{
  display: inline-block;

/*  background: #b6efff;*/
  /*padding: 5px 10px;*/
  border-radius: 2px;
  cursor: pointer;
  color: #0575d8;
  font-weight: 600;
}


/*home cart*/


.lft{
  float: left;
}

.rgt{
  float: right;
}

h1.page-title {
    display: none;
}
.active{
  display: block;
}
.remove{
  display: none;
}
.widget-shopping-cart-content.close1 {
    visibility: hidden;
     opacity: 0;
}
.widget-shopping-cart-content {
    position: absolute;
    top: 100%;
    /* left: -220px; */
    z-index: 99999;
    visibility: hidden;
    overflow: auto;
    padding: 0px;
    width: 450px;
    background-color: #fff;
    opacity: 0;
    -moz-box-shadow: 0px 1px 34px 4px rgba(127, 127, 127, 0.57);
    -webkit-box-shadow: 0px 1px 34px 4px rgba(127, 127, 127, 0.57);
    box-shadow: 0px 1px 34px 4px rgba(127, 127, 127, 0.57);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    right: 0;
}

.widget-shopping-cart-content.open {
    visibility: visible;
    opacity: 1;
}
.widget-shopping-cart-close-div{
  display: inline-block;
  width: 100%;
}
.widget-shopping-cart-content .widget-shopping-cart-close{
  float: right;
    font-size: 21px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    cursor: pointer;
     background: #ca38c6;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
}
header.header-2 .widget-shopping-cart-content,
header.header-3 .widget-shopping-cart-content,
header.header-4 .widget-shopping-cart-content {
    right: 0;
    left: auto;
}
.widget-shopping-cart-content .cart-list {
    padding: 15px;
    margin: 0;
    max-height: 373px;
    overflow: auto;
    border-bottom: 1px solid #f1eeea;
}



.widget-shopping-cart-content .cart-list li {
    padding: 15px 0;
    border-bottom: 1px solid #f1eeea;
    display: inline-block;
    width: 100%;
}

.widget-shopping-cart-content .cart-list li .cart-list-left{
  float: left;
    width: 80px;

}

.widget-shopping-cart-content .cart-list li .cart-list-right{
    /* float: right; */
    width: 270px;
    margin-left: 10px;
}

.widget-shopping-cart-content .cart-list li,
.widget-shopping-cart-content .cart-list li {
  text-align: left;
}
.widget-shopping-cart-content .cart-list li:first-child {
    padding-top: 0;
}
.widget-shopping-cart-content .cart-list li:last-child {
    padding-bottom: 0;
    border-bottom: none;
}
.widget-shopping-cart-content .cart-list li.empty {
    color: #222;
    font-weight: 400;
}


.fa-close {
  cursor: pointer;
}
.widget-shopping-cart-content .cart-list li a {
    font-weight: 700;
    display: block;
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: #08203a;
    padding-right: 10px;
    margin-bottom: 6px;
}
.widget-shopping-cart-content .cart-list li span{
  display: block;

}

.widget-shopping-cart-content .cart-list li .remove {
    position: relative;
    float: right;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 18px;
    line-height: 20px;
    border-radius: 0;
    color: #5e5a54;
    font-weight: 400;
}
.widget-shopping-cart-content .cart-list li img {
    float: left;
    padding: 10px;
    margin: 0 20px 0 0;
    width: 85px;
    height: 85px;
    border: 2px solid #f1eeea;
}
.widget-shopping-cart-content .cart-list .quantity {
    height: auto;
    display: block;
  color: #2b2b2a;
  /*float: left;*/
  margin: 2px 0px;
  border:0;
  font-weight: 600;
  font-size: 14px;
}
.widget-shopping-cart-content .total {
    margin: 0;
    padding: 20px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    border-bottom: 1px solid #f1eeea;
    position: relative;
  font-family: Lato, Helvetica, Arial, sans-serif;
}
.widget-shopping-cart-content .total .amount {
    position: absolute;
    right: 30px;
    top: 15px;
    /* color: #05bdef; */
    font-size: 17px;
}
.widget-shopping-cart-content .buttons {
    margin: 0;
    padding: 20px;
    text-align: center;
}
.widget-shopping-cart-content .buttons a {
    margin: 0 5px;
    height: 40px;
    line-height: 36px;
    padding: 0 20px;
    color: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    letter-spacing: .05em;
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  font-family: Lato, Helvetica, Arial, sans-serif;
}
.widget-shopping-cart-content .buttons a.view-cart, .widget-shopping-cart-content .buttons a.checkout {
    background-color: #ca38c6;
}
.widget-shopping-cart-content .buttons a.view-cart:hover {
    background-color: transparent;
    text-decoration: none;
    color: #000;
}

.widget-shopping-cart-content .buttons a.checkout:hover {
    background-color: #960227;
    text-decoration: none;
    color: #fff !important;
}
.widget-shopping-cart-content .total,
.widget-shopping-cart-content .total,
.widget-shopping-cart-content .total {
  text-align: left;
}
/* @media only screen and (max-width: 1500px) and (min-width: 991px){
  .widget-shopping-cart-content{
    left:-100px;
  }
}
@media only screen and (max-width: 1095px) and (min-width: 991px){
  .widget-shopping-cart-content{
    left:-130px;
  }
} */
@media screen and (max-width: 899px){
.widget-shopping-cart-content{
  width:100%;
}
}
.account-content.open {
    visibility: visible;
    opacity: 1;
}
/*@media only screen and (min-width: 991px) and (max-width: 1500px){
.account-content {
    left: -100px;
}
}*/
.account-content-close-div {
    display: inline-block;
    width: 100%;
}
.account-content {
        position: absolute;
    top: 100%;
    z-index: 99999;
    visibility: hidden;
    overflow: auto;
    padding: 0px;
    width: 140px;
    background-color: #fff;
    opacity: 0;
    -moz-box-shadow: 0px 0px 12px 0px rgba(127, 127, 127, 0.57);
     -webkit-box-shadow: 0px 0px 12px 0px rgba(127, 127, 127, 0.57);
    box-shadow: 0px 0px 12px 0px rgba(127, 127, 127, 0.57);
     -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    right: 230px;
}
.account-content .accnt-list{
    padding: 10px;
    margin: 0;
    max-height: 373px;
    overflow: auto;
    border-bottom: 1px solid #f1eeea;
}
.account-content .accnt-list li:first-child {
    padding-top: 0;
}
.account-content .accnt-list li, .account-content .accnt-list li {
    text-align: left;
}
.account-content .accnt-list li {
    display: inline-block;
    width: 100%;
}
.account-content .accnt-list li a{
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0.71px;
    color: #3a3a3a;
  }
  .account-content .accnt-list li:hover a{
    text-decoration:none;
    border-bottom: 2px solid #ca38c6  ;
  }
a.cart_shoppingg:hover{
    text-decoration:none !important;
  }
.account-content.close1 {
    visibility: hidden;
    opacity: 0;
}
.account-close-div {
    display: inline-block;
    width: 100%;
}
.account-content .account-close {
    float: right;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    cursor: pointer;
    background: #02bef1;
    width: 25px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
}
.pd_R{
  padding: 0px 5px;
}
/*End home cart*/
/*end cart*/
/*custom css*/
@media screen and (min-width: 995px){
.magnifier {
    width: 600px !important;
    height: 300px !important;
}
}
@media screen and (max-width: 768px){
.magnifier{
  display: none !important;
}
}
/* #owl_2 img{
  height: 25px;
} */

/*End custom css*/


/*Login Css*/

/*.bg-account-pages {
    background-color: #343b4a;
    background-size: cover;
    padding-bottom: 0;
    min-height: 100px;
}

*/


.login-banner {
    background-image: url(../images/login_bg.png);
    background-color: #fff;
    background-position: center center;
   /* -webkit-background-size: cover;
    background-size: cover;*/
    padding: 80px 0 120px 0;
}

.center-block{
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none!important;
}
.login-form-block{
    margin: -80px 0 0;
    background: #fff;
    -webkit-box-shadow: 1px 5px 20px rgba(0,0,0,.5);
    box-shadow: 1px 5px 20px rgba(0,0,0,.5);
    padding: 30px;
}

.login-text h1{
  margin:0;
}

.login-content{
  margin-top: 30px;
}

.form-group.with-addon {
    position: relative;
}
.form-group.with-addon .input-addon {
    color: #bbb;
    border-right: 1px solid #ddd;
    padding-right: 10px;
    position: absolute;
    top: 14px;
    left: 15px;
    z-index: 2;
}

.form-group.with-addon .input-addon+.form-control {
    padding-left: 50px;
    border-width: 1px;
    border-radius: 4px;
    height: 46px;
}

.login-button{
/*margin-top: 10px;*/
background-color: #48b14c;
text-transform: uppercase;
font-size: 14px;
line-height: 26px;
color: #fff;
font-family: Raleway,Arial,sans-serif;
font-weight: 700;
letter-spacing: 2px;
text-shadow: 1px 1px rgba(0,0,0,.1);
width: 100%;
margin-bottom: 10px;
height: 40px;
display: block;
text-align: center;
line-height: 40px;
}
.login-button:hover{
color: #fff;
}

.checkbox input[type=checkbox] {
    cursor: pointer;
    opacity: 0;
    z-index: 1;
    outline: 0!important;
}

.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 30px;
}

.checkbox label::before {
    -o-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    background-color: #fff;
    border-radius: 3px;
    border: 2px solid #98a6ad;
    position: absolute;
    transition: .3s ease-in-out;
    outline: 0!important;
    top: 2px;
    content: "";
}

.checkbox label::after, .checkbox label::before {
    display: inline-block;
    height: 18px;
    left: 0;
    /*margin-left: -18px;*/
    width: 18px;
}

.checkbox-info input[type=checkbox]:checked+label::before {
    background-color: #35b8e0;
    border-color: #35b8e0;
}
.checkbox input[type=checkbox]:checked+label::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 7px;
    display: table;
    width: 4px;
    height: 8px;
    border: 1px solid #ffffff;
    border-top-width: 0;
    border-left-width: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);

}

.text-muted {
    color: #98a6ad!important;
}

.text-dark {
    color: #3b3e47!important;
}

.sign-up-text{
  font-size: 16px;
  font-family: Roboto,Arial,sans-serif;
}
.modal-confirm.modal-dialog {
    margin-top: 80px;
}

.modal-confirm {
    color: #636363;
}

.modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
}

.modal-confirm .modal-header {
    border-bottom: none;
    position: relative;
    padding: 8px;
    text-align: center;
}
.modal-confirm .modal-header span{
  font-size: 25px;
  color: #398439;

}

.modal-confirm .modal-body{
  padding: 8px;
}

.modal-confirm .modal-body p{
  font-size: 18px;
}

.modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
    padding: 8px;
}

/********nandha ******/
i.reomve_product{font-size:12px !important;color:#272727;}

 /*cart*/
.path-cart .cart.cart-form table{
 max-width: 100%;
    width: 100%;
}
.path-cart .region.region-content {
    width: 100%;
}
.path-cart .cart.cart-form {
    display: table;
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
}
.path-cart .view {
    border: none;
    color: #000 !important;
    background-color: unset;
    cursor: pointer;
    display: block;
    position: relative;
    /*border: 2px solid #F7CA18;*/
    transition: all 0.4s cubic-bezier(0.42,0,0.58,1);
}
.path-cart table.views-table.views-view-table {
    border-spacing: 0 1em !important;
    padding: 10px 15px !important;
}
.path-cart table th {
    border-bottom: 1px solid #e7e3df;
    padding-bottom: 10px;
    text-align: center;
    border-right: 1px solid #e7e3df;
    border-left: 1px solid #e7e3df;
    border-top: 1px solid #e7e3df;
}
.path-cart table td {
    border-bottom: 1px solid #e7e3df;
    border-right: 1px solid #e7e3df;
    border-left: 1px solid #e7e3df;
    border-top: 1px solid #e7e3df;
    text-align: center;
}
/*.path-cart input#edit-edit-quantity-0 {
    padding: 1px 8px;
}*/
.path-cart .cart.cart-form input.form-number {
    padding: 0px 0px 0px 4px;
    width: 60px;
}
.path-cart .cart.cart-form input, .path-cart .cart.cart-form textarea {
    -webkit-box-shadow: unset;
    -moz-box-shadow: unset;
    box-shadow: unset;
    -webkit-transition: unset;
    -moz-transition: unset;
    -ms-transition: unset;
    -o-transition: unset;
    transition: unset;
}
.path-cart .delete-order-item {
    background: red;
    border: none;
    color: #fff;
    border-radius: 10px;
}

.path-cart .cart.cart-form a { color: #4e4e4e;}
.path-cart .form-wrapper {
    width: auto;
    float: right;
}
input.js-form-submit.form-submit {
    background:#bf0f31;
    color: #fff;
    border: none;
    border-radius: 2px;
}
.path-cart input#edit-submit, .path-cart input#edit-checkout {
    width: 100px;
    background: #6b9c1c;
    border: none;
    color: #fff;
    padding: 7px 10px;
    margin: 5px 5px;
    display: inherit;
}
.order-total-line {
    padding: 0 10px;
    text-align: right;
}
.order-total-line__total {
    padding-top: 5px;
    font-weight: bold;
}
/*************************************************/
.cart.cart-form .views-field .field {  width: 50%;float: left;}
.cart.cart-form .views-field .field a{  pointer-events: none;}
.path-cart input.form-number:hover,.path-cart input.form-number:focus{
  border: 2px solid #ca38c6 ;
}

.path-checkout .form-wrapper input[type=submit] {
    background: #6b9c1c;
    color: #fff;
    border: none;
    border-radius: 2px;
    font-weight: bold;
}

.bld {
    font-weight: bold;
}
.checkout-table .details a, .checkout-table .details a:hover {
    color: #000;
    text-decoration: none;
}

.widget-shopping-cart-content .cart-list li img.variantimg {
    float: left;
    padding: 0px;
    height:20px;
    margin: 0px;
}

.our-partners a img{
    background: white;
    width: 100%;
    height: 100%;
    margin-left: 15px;
    /* padding: 10px; */
}
.cartempty img{
  width: 100%;
  max-width: 350px;
  margin:10px auto;
}
.cartempty{
  text-align: center;
}


/* nandha */
.margin-bottom-10{
margin-bottom: 10px
}
.margin-left-10{
margin-left: 10px
}
.disp-inline-blk{
  display: inline-block;
}
.orderblock{
  border:1px solid #ddd;margin-bottom: 10px;
}
.padding-left-0{
padding-left: 0px
}
.field--name-address .address{overflow-wrap: break-word;}
/* End Nandha */
/* custom fa css */
.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 29px;
   overflow: hidden;
   width: 240px;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
}

.styled-select.slate {
   background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
   height: 34px;
   width: 240px;
   margin-bottom: 15px;
}

.styled-select.slate select {
   border: 1px solid #ccc;
   font-size: 16px;
   height: 34px;
   width: 268px;
}

/* -------------------- Rounded Corners */
.rounded {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
}
.slate   { background-color: #ddd; }
.slate select   { color: #000; }

/* end custom fa css */


@charset "utf-8";

/* Original design work, including graphics and all related scripts, Copyright (c) OCDesignsOnline.com, All Rights Reserved. Used with permission by PartsPlayer1. */

/* General page formatting
-------------------------------------------------- */
/* --- wall background --- */
.x-bg                             { background:#F5F5F5 none; padding:10px 0; border:1px solid #E3E3E3; border-width:2px 0; }
.x-bg-02                            {  background:#FFF none; padding:0; overflow:hidden; display:block; } /* content area bg */
.x-bg, .x-bg-02, .x-content               { text-align:center; vertical-align:top; }
@media screen and (max-width:800px)       { .x-bg .x-nota { display:none !important; } } /* general setting to hide items on tablet view */
@media screen and (max-width:500px)       { .x-bg .x-nomo { display:none !important; } } /* general setting to hide items on mobile view */

/* --- content area bg and width --- */
.x-content, #x-head, #x-foot                { width:100%;  }
.x-content                            { padding:13px 0 8px !important; overflow:hidden; }
.x-bg td [width="13"]                   { display:none !important; }

/* --- column dimensions --- */
#LeftPanel                            { display:none !important; }
.x-content                            { background:#FFF none; }
#x-main                           {  margin:0 auto !important; padding:0 !important; float:none; }

/* --- toggle left column elements for store/listing display only --- */
#LeftPanel .x-temp,
#x-template #LeftPanel .x-home                  { display:none !important; } /* promo boxes on store only */
#x-template #LeftPanel .x-temp                  { display:block !important; } /* promo boxes on template only */

/* --- global fonts --- */
.x-bg *                                                 { font-family:"Open Sans", Arial, Tahoma, Sans-serif; text-decoration:none; }
.x-bg, .x-bg p, .x-bg a, .x-bg li, .x-bg table,
.x-bg form select                     { font-size:13px; color:#63625F; word-wrap:break-word; }
.x-bg a:link, .x-bg a:visited, .x-bg a:active   { color:#63625F; }
.x-bg a:hover                             { color:#153788; }
.x-bg #x-head-catd ul.lev1 li a           { color:#FFF; } /* header categories dropdown menu links */
.x-bg #x-head-catd ul.lev1 li a:hover       { color:#153788; } /* header categories dropdown menu links hover */
.x-bg #x-side-cats ul li a                  { color:#63625F; } /* side categories menu links */
.x-bg #x-side-cats ul li a:hover            { color:#153788; } /* side categories menu links hover */
.x-bg #x-head-srch-sbox,
.x-bg #x-head-catd #x-head-ctd1 span      { color:#999; font-size:12px; font-style:italic; } /* search and category boxes */
#x-foot *                               { color:#97B2F1; } /* footer text */
#x-foot #x-foot-subm a                  { text-transform:uppercase; }
#x-foot a:hover                         { color:#FFF; text-decoration:underline; } /* footer links hover */
.x-bg .x-sbox, .x-bg .x-sbox p,
.x-bg .x-sbox a, .x-bg .x-sbox li,
.x-bg .x-tbox, .x-bg .x-tbox p,
.x-bg .x-tbox a, .x-bg .x-tbox li,
.x-bg .x-pbox, .x-bg .x-pbox p,
.x-bg .x-pbox a, .x-bg .x-pbox li             { text-align:left; }
#CentralArea ul, #x-main ul             { list-style-type:disc; list-style-position:inside; }
#CentralArea li, #x-main li                 { background:transparent none; }

/* --- title bars --- */
.x-bg .x-ffac, .x-bg .x-ffac p, .x-bg .x-ffac a   { font-family:"Open Sans Condensed", "Open Sans", Arial, Tahoma, Sans-serif; text-decoration:none; } /* accent font family */
.x-bg .x-fftb, .x-bg .x-fftb p, .x-bg .x-fftb a   { color:#FFF; font-size:15px; line-height:20px; font-weight:bold; text-transform:uppercase; /* text-shadow:1px 1px #222; */ } /* title bar font settings */
.x-bg .x-bar2 .x-fftb                   { color:#FFF; } /* header menu bar */
.x-bg .x-bar2 .x-fftb:hover               { color:#FFF; } /* header menu bar hover */
.x-bg .x-ttba .x-tins                   { padding:0 !important; }

/* --- buttons --- */
.x-bg .x-ffbn, .x-bg a.x-ffbn             { color:#FFF; font-size:12px; font-weight:bold; /* text-shadow:1px 1px #63625F; */ height:26px; line-height:26px; padding:0 10px; display:block; } /* title bar font settings */
.x-bg .x-ffbn:hover, .x-bg a.x-ffbn:hover     { color:#FFF; }

/* --- box dimensions --- */
#LeftPanel .x-ttba                      { width:auto; max-width:174px; min-width:134px; /* max-width:184px; min-width:144px; */ text-align:left; margin:0; padding:8px 12px; } /* side title bars */
#x-main .x-ttba                       { width:auto; text-align:left; margin:0; padding:8px 12px; } /* main title bars */
.x-bg .x-sbox                         { width:auto; max-width:198px; min-width:158px; /* max-width: 208px; min-width:158px; */ margin:0 0 13px; border-width:0 1px 1px !important; } /* side column content box */
.x-bg .x-tbox                         { width:auto; margin:0 0 13px; border-width:0 1px 1px !important; } /* main column content box */
.x-bg .x-pbox                       { width:auto; margin:0 0 13px; border-width:1px !important; } /* main column content box plain no title bar */
.x-bg .x-sbox .x-tins, .x-bg .x-tbox .x-tins,
.x-bg .x-pbox .x-tins                   { padding:10px 12px; }
.x-bg .x-prom                       { display:block; margin:0 auto 13px; width:100%; height:auto; }
@media screen and (max-width:500px)       { .x-bg #x-main .x-prom { display:none !important; } }

/* --- global backgrounds --- */
.x-bg .x-bkwh                       { background:#FFF none; } /* white backgrounds */
.x-bg .x-bkbl                         { background:#000 none; } /* black backgrounds */
.x-bg .x-hdbg                       { background:#1F4398 none; } /* header background */
.x-bg .x-ftbg                         { background:#1F4398 none; } /* footer background */
.x-bg .x-bklt                         { background:#FFF none; } /* text boxes backgrounds */
.x-bg .x-bkac, .x-bg .x-bktt.x-open         { background:#1F4398 none; } /* accent backgrounds */
.x-bg .x-bktt                         { background:#95C93D none; } /* title bars */
.x-bg .x-ffbn, .x-bg a.x-ffbn             { background:#95C93D none; } /* buttons */
.x-bg .x-ffbn:hover, .x-bg a.x-ffbn:hover     { background:#1F4398 none; } /* buttons hover */
.x-bg #x-head-catd #x-head-ctd2 ul.lev1     { background:#1F4398 none; } /* header cats dropdown background */
.x-bg .x-bar2                         { background:#95C93D none; } /* header menu bar color */
.x-bg .x-bar2 a:hover,
#x-head-menu div#x-head-cats:hover      { background:#1F4398 none; } /* header menu bar hover */
.x-bg .x-bkdk                       { background:#222 none; } /* dark backgrounds */
.x-bg .x-grdn                         { background:#1F4398 none; } /* neutral gradient */
.x-bg .x-grda                         { background:#153788 none; } /* bright accent gradient */

/* --- global borders --- */
.x-bg .x-shao                         { border:0 none; } /* content area border */
.x-bg .x-ftbg                         { border:1px solid #1F4398; } /* footer top divider line */
.x-bg .x-brdm                       { border:1px solid #E3E3E3; } /* text boxes border */
.x-bg .x-brda, .x-bg .x-brdt.x-open         { border:1px solid #153788; } /* accent color bgs border */
.x-bg .x-brdb                         { border:1px solid #86C13A; } /* buttons border */
.x-bg .x-brds                         { border:1px solid #153788; } /* search box border */
.x-bg .x-bar2                         { border:1px solid #FFF; } /* header menu bar and divider border */
.x-bg .x-brdd                         { border:1px solid #222; } /* dark border */
.x-bg .x-brdt                         { border:1px solid #86C13A; } /* title bars border */
.x-bg #x-head-catd #x-head-ctd2 ul.lev1 li a  { border-top:1px solid #163682; } /* header cats dropdown optional dividers */
.x-bg #x-head-catd #x-head-ctd2 ul.lev1 li a:hover  { background-color:#FFF; } /* header cats dropdown hover */
.x-bg #LeftPanel .lev1 li a,
.x-bg #LeftPanel .lev1 span             { border-top:1px solid #E3E3E3; } /* side cats menu optional dividers */
.x-bg #LeftPanel .lev2 li a,
.x-bg #LeftPanel .lev2 span,
.x-bg #LeftPanel .lev3 li a,
.x-bg #LeftPanel .lev3 span             { border-top:0 none; } /* side cats menu remove dividers for subcats */

/* --- shadows --- */
.x-bg .x-shao                         { -moz-box-shadow: 0 0 10px #CCC; -webkit-box-shadow: 0 0 10px #CCC; box-shadow: 0 0 10px #CCC; } /* optional outer shadow */



/* Header formatting
-------------------------------------------------- */
/* --- head main --- */
#x-head                           { height:auto; }
#x-head .x-fbox                     { text-align:center; width:33%; min-width:290px; margin:0 auto; padding:0; float:left; display:block; position:relative; left:0; top:0; }
@media screen and (max-width:890px)     { #x-head .x-fbox { float:none; } }
#x-head-bar1                        { width:100%; position:relative; text-align:center; overflow:hidden; z-index:9001; }
#x-head-logo                        { width:272px; max-width:100%; display:block; margin:0 auto; padding:10px 0; } /* position logo homepage link */
#x-head-prom                        { width:244px; max-width:100%; display:block; margin:0 auto; padding:10px 0; } /* position logo homepage link */

/* --- search box --- */
#x-head-srch                        { width:250px; height:26px; position:relative; margin:38px auto 20px; padding:0; overflow:hidden; }
#x-head-srch-sbox                   { width:59%; height:26px; line-height:26px; border-width:0; padding:0 10px; float:left; } /* input box */
#x-head-srch-bttn                     { float:right; border-width:0 0 0 1px; } /* float submit button link */
@media screen and (max-width:890px)       { #x-head-srch { margin:10px auto 15px; } }
@media screen and (max-width:320px)       { #x-head-srch-bttn.x-ffbn { margin:3px 3px 0 0; padding:0; font-size:11px; line-height:16px; } }

/* --- categories dropdown --- */
#x-head-catd.x-fbox                   { display:none; position:relative; padding:10px 0; z-index:9001; }
#x-head-catd #x-head-ctd1             { width:250px; height:26px; margin:0 auto; overflow:visible; }
#x-head-catd #x-head-ctd1 span          { height:26px; line-height:26px; text-align:left; background:transparent url(images/x-head-icon-catd.png) 224px 5px no-repeat; padding:0 10px; display:block; }
#x-head-catd #x-head-ctd2             { border-width:0 1px 1px; margin-left:-1px; width:250px; display:none; }
#x-head-catd #x-head-ctd1:hover #x-head-ctd2  { display:block; }
#x-head-catd #x-head-ctd2 ul.lev1         { width:100%; list-style-type:none; }
#x-head-catd #x-head-ctd2 ul.lev1 li a      { font-size:13px; line-height:16px; padding:5px 10px; background:transparent none; text-align:left; display:block; border-width:1px 0 0; }
#x-head-catd #x-head-ctd2 ul.lev1 li a:hover  { }
@media screen and (max-width:800px)       { #x-head-bar1 { overflow:visible; } #x-head-catd.x-fbox { display:block; } }

/* --- menu bar text links --- */
#x-head-bar2                        { width:100%; height:38px; max-height:38px !important; overflow:visible; text-align:center; clear:both; border-width:0; position:relative; z-index:5001; }
#x-head-menu                        { position:relative; text-align:center; }
#x-head-menu a, #x-head-menu a span     { height:38px; line-height:38px; margin:0; width:auto; padding:0 6px; display:inline-block; border-width:0 1px 0 0; }
#x-head-menu a:first-child                { border-width:0 1px; }
#x-head-menu a img                    { display:none; }
@media screen and (max-width:800px) {
#x-head-menu a                      { width:16px; }
#x-head-menu a img                    { width:16px; height:16px; display:inline-block; padding-top:11px; padding-bottom:11px; position:relative; }
#x-head-menu a span                 { display:none; }
#x-head-menu a img                    { display:inline-block; padding-top:11px; padding-bottom:11px; position:relative; }
}



/* Left panel formatting
-------------------------------------------------- */



/* Homepage formatting
-------------------------------------------------- */



/* Template formatting
-------------------------------------------------- */
/* --- template titles --- */
#CentralArea h1, #x-main h1             { color:#63625F; text-align:center; font-size:17px; line-height:20px; font-weight:bold; margin:0; padding:0 0 15px; } /* listing main title */
#CentralArea h5, #x-main h5                   { color:#63625F; text-align:left; font-size:13px; line-height:18px; font-weight:bold; margin:0; padding:5px 0 5px; } /* listing section subtitles */

/* --- template image gallery -- thumbs side --- */
#x-temp-gall                          { width:100%; max-width:700px; margin:0 auto; }
#x-temp-gall img                      { margin:0 auto; display:block; border:0 none; width:auto; height:auto; }
#x-temp-gall .x-cntr                    { display:table-cell; vertical-align:middle; text-align:center; }
#x-temp-gall #x-gall-main               { border:1px solid #E3E3E3; background:#FFF none; margin-bottom:8px; float:left; } /* set spacing and border of main img holder */
#x-temp-gall #x-gall-main,
#x-temp-gall #x-gall-main .x-cntr         { width:100%; max-width:500px; height:auto; max-height:500px; } /* set main img holder size */
#x-template #x-main #x-gall-main img      { width:100%; height:auto; max-width:500px !important; max-height:500px !important; } /* set main img size */
#x-temp-gall #x-gall-thmb               { width:170px; float:right; } /* thumbs gallery container */
#x-temp-gall #x-gall-thmb h5              { font-size:11px; font-weight:normal; text-align:center; margin:0; padding:0 0 5px; width:100%; clear:both; } /* thumbs text title */
#x-temp-gall #x-gall-thmb h5 span         { display:inline-block; width:18px; height:18px; background:transparent url(images/x-gall-icon.png) left center no-repeat; } /* thumbs title icon */
#x-temp-gall #x-gall-thmb .x-hold         { border:1px solid #E3E3E3; background:#FFF none; margin:0 0 8px 8px; display:block; float:left; } /* set spacing and border of thumb holders */
#x-temp-gall #x-gall-thmb .x-hold:hover     { border:1px solid #153788; }
#x-temp-gall #x-gall-thmb .x-hold,
#x-temp-gall #x-gall-thmb .x-cntr         { width:75px; height:75px; } /* set thumb holders size */
#x-template #x-main #x-gall-thmb img      { max-width:75px; max-height:75px; } /* set thumbs size */
#x-temp-gall .x-hide                    { display:none !important; } /* hide unused gallery image slots */
@media screen and (max-width:960px) {
#x-temp-gall,
#x-temp-gall #x-gall-main,
#x-temp-gall #x-gall-thmb               { width:100%; max-width:500px; height:auto; text-align:center; margin:0 auto; overflow:hidden; line-height:1px; }
#x-temp-gall #x-gall-main               { margin-bottom:10px; float:none; } /* set spacing and border of main img holder */
#x-temp-gall #x-gall-thmb h5              { margin:0 auto; } /* thumbs text title */
#x-temp-gall #x-gall-thmb .x-hold         { margin:3px 2px; display:inline-block; float:none; } /* set spacing and border of thumb holders */
#x-temp-gall #x-gall-thmb .x-hold,
#x-temp-gall #x-gall-thmb .x-cntr         { width:100%; max-width:70px; height:100%; max-height:70px; } /* set thumb holders size */
#x-temp-gall #x-gall-thmb img           { width:100%; max-width:70px; height:auto; max-height:70px; } /* set thumbs size */
}

/* --- template specs table --- */
#x-main-spec                        { width:40%; float:right; margin-left:20px; } /* if desc box is floated right */
#x-main-spec_cst                        { width:40%; float:left; margin-right:20px; } /* if desc box is floated right */
#x-main-spec                        { /* width:100%; margin-top:15px; float:none; */ } /* if desc box is full width */
#x-main-spec .x-brdm                  { border-color:#E3E3E3; }
#x-main-spec .x-tbox                    { margin-bottom:5px; }
#x-main-spec table                    { width:100%; border:0 none; border-collapse:collapse; margin:0 auto; padding:0; }
#x-main-spec table th,#x-main-spec_cst table th,
#x-main-spec table td,#x-main-spec_cst table td                 { color:#63625F; text-align:left; font-size:12px; line-height:15px; border-bottom:1px dotted #E3E3E3; padding:5px 8px; }
#x-main-spec table th                 { color:#63625F; font-weight:normal; width:40%; border-right:1px dotted #E3E3E3;  }
#x-main-spec table tr:last-child th,
#x-main-spec table tr:last-child td         { border-bottom:0 none; }
@media screen and (max-width:670px)     { #x-main-spec { width:100%; float:none; margin-left:0; } #x-main-spec .x-tbox { margin-bottom:15px; } }

/* --- template reference numbers table --- */
#x-main-refr.x-tbox p                 { margin-left:21px;text-align:left; float:left; width:22%; padding:3px 6px 3px 0; }
@media screen and (max-width:670px)     { #x-main-refr.x-tbox p { width:46%; } }
@media screen and (max-width:370px)     { #x-main-refr.x-tbox p { width:100%; padding:3px 0; } }

/* --- template application info table --- */
#x-main-appl.x-tbox p                 { text-align:left; float:left; width:46%; margin:0; padding:3px 6px 3px 0; }
@media screen and (max-width:670px)     { #x-main-appl.x-tbox p { width:100%; padding:3px 0; } }

/* --- template terms of sale accordion --- */
.x-bg #x-main #x-main-tabs .x-brdt        { border-width:0 1px 1px !important; }
.x-bg #x-main #x-main-tabs a:first-child .x-brdt { border-width:1px !important; }
#x-main-tabs                        { width:100%; height:auto; margin:0 0 13px; }
#x-main-tabs .x-tbox                    { margin:0; }
#x-main-tabs a .x-ttba .x-ffac              { background:transparent url(images/x-main-ttab-icop.png) right center no-repeat; padding-right:28px !important; }
#x-main-tabs a .x-ttba.x-open .x-ffac       { background-image:url(images/x-main-ttab-icom.png); }

/* --- template newsletter wide banner --- */
#x-main-news-bttn                   { float:right; } /* float submit button link */
#x-main-news p.x-ckbx                 { line-height:16px; float:right; margin:5px 15px 0 0; }
#x-main-news #general                 { margin:1px 5px 0 0; }


.x-tins                   { padding:8px !important;text-align: left; }

/* Footer
-------------------------------------------------- */
#x-foot                             { height:auto; padding:20px 0; border-width:1px 0 0; text-align:center; }
#x-foot *                               { font-size:12px; line-height:16px; }
#x-foot-subm                          { padding:0 20px 0; }
#x-foot-copy                            { padding:5px 20px 0; }

.x-brdt {
    /* border: 1px solid #86C13A; */
}

.x-bktt {
    background: #666764 none;
}


.brand_color_thumb{
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
    border: 1px solid #cecece;
    margin: 0 10px;
}
