<script src="https://cdn.ckeditor.com/4.11.4/standard/ckeditor.js"></script>
<div ng-app="postApp" ng-cloak ng-controller="postController">
            <div class="content">
               <div class="container-fluid">
                  <div class="page-title-box">
                    <h4 class="page-title">Banner</h4>
                   <div class="float-right">
                  <a href="javascript:history.back()" class="button-normal btn-back-icon">Back</a>
           </div>
                  </div>
                  <div  class="alert alert-success" {% if title == "" %} style="display:none" {% endif %} >
                   {{title}}
                  </div>
                  <div  class="alert alert-danger" {% if error == "" %} style="display:none" {% endif %} >
                   {{error}}
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="card mt-10">
                        <div class="card-header card-header-toggle">
                          <h3 class="card-title"><span>Click Here to</span><font id="updateservice"> Add Banner
                          </font></h3>
                        </div>
                          <div class="card-body card-body-toggle">
                            <div class="row">
                              <div class="col-md-7">
                                <form action="banner" id="resetform" method="post" enctype="multipart/form-data">

                                  <div class="form-group row">
                                    <div class="col-md-3">

                                      <label class="label-text">Upload Image<span class="red-text">*</span></label>
                                    </div>

                                    <div class="col-md-9">
                                      <div class="file-upload">
                                        <div class="file-select">
                                          <div class="file-select-button" id="fileName">Choose File</div>
                                          <div class="file-select-name" id="noFile">No file chosen...</div>
                                      <input name="newf"  type="file" class="upl_cl">
                                    </div>
                                    </div>
                                    <div class="form-group row img">
                                        <img class="uploadimage" style="width:100px;">
                                    </div>
                                    </div>
                                  </div>


                                    <div class="row form-group">
                                      <div class="col-md-3 label-text">Alt text <span class="red-text">*</span></div>
                                      <div class="col-md-3">
                                        <input  pattern=".*\S+.*" ng-model="alttag" id="altvalue" name="alt" required=""  autocomplete="off" required="" type="text" name="" class="form-control">
                                      </div>
                                    </div>
                                    <div class="form-group row">
                                      <input type="hidden" id="hidden_id" name="hidden_id">
                                    </div>
                                    <div class="form-group row">
                                      <input type="hidden" id="postid" name="postid" value='{{postid}}'>
                                    </div>
                                    <div class="form-group row">
                                      <div class="col-md-3">

                                         <label class="label-text">Sequence<span class="red-text">*</span></label>
                                      </div>

                                      <div class="col-md-2">
                                        <input required id="sequencedata" ng-model="sequencedata" name="sequence"  autocomplete="off" required="" type="number" min="1" class="form-control">
                                      </div>
                                    </div>
                                  <div class="row">
                                    <div class="col-md-12">
                                      <div class="float-right">
                                        <button class="button-normal btn-save-icon" type="submit">Save</button>
                                        <button class="button-normal btn-reset-icon" id="resets" type="reset">Reset</button>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="rel_lf mand">* All Inputs Should  Begin Without Spaces</div>
                                  </div>
                              </form>
                            </div>
                            </div>
                          </div>
                      </div>
                      <div class="col-md-12 pad-0">
                      <div class="card">
                      <div class="table-responsive">
                      <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper"><table class="table-striped table-sort dataTable" id="DataTables_Table_0" role="grid">
                        <thead>
                          <tr role="row">
                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Image: activate to sort column ascending" style="width: 67px;">Image</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Sequence: activate to sort column ascending" style="width: 149px;">Sequence</th>
                            <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Edit" style="width: 46px;">Edit</th><th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Delete" style="width: 69px;">Delete</th>
                          </tr>
                        </thead>
                        <tfoot>
                          <tr>
                            <td rowspan="1" colspan="1"></td>
                            <td rowspan="1" colspan="1">
                              <input ng-change="sequencebanner()" ng-model="sequence_banner" type="text" name="" class="search-table"></td>
                            <td rowspan="1" colspan="1"></td>
                            <td rowspan="1" colspan="1"></td>
                          </tr>
                        </tfoot>
                        <tbody>
                       <tr ng-repeat="(key, value) in pagedItems[currentPage]">


                                        <td><img style="width:100px;" src="{{'{{value.file}}'}}"></td>
                                        <td>{{'{{value.sequence}}'}}</td>
                                        <td><a  ng-click='singlebanner(value.id)' class="edit-icons"><img src="../themes/APA Admin Theme/images/icons/table-edit.png"></a></td>
                                        <td><span  id="{{'{{value.id}}'}}" ng-click="deleteconfirm(value.id)" class="delete-icons" ><img src="../themes/APA Admin Theme/images/icons/table-delete.png"></span></td>
                        </tr>
                        </tbody>
                      </table></div>
                      </div>
                      <div class="container-fluid pad-0 bg-pagination">
                                  <ul class="pagination pull-right pagi_master ">
                                      <li ng-class="{disabled: currentPage == 0}">
                                          <a href ng-click="prevPage()">«</a>
                                      </li>
                                      <li ng-repeat="n in pagenos | limitTo:5"
                                          ng-class="{active: n == currentPage}"
                                      ng-click="setPage()">
                                          <a href ng-bind="n + 1">1</a>
                                      </li>
                                      <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                          <a href ng-click="nextPage()">»</a>
                                      </li>
                                    </ul>
                                  </div>
                    </div>
                  </div>




                    </div>
                    <!-- <div class="col-md-5">
                      <div class="card">
                        <div class="card-header">
                             <h3 class="card-title">Selected Theme</h3>
                        </div>
                          <div class="card-body px-3 py-3">
                              <div class="demo-item">
                                <div class="demo-thumb" style="background-image:url(assets/images/template_1.png)">
                                  <a href="" class="image" target="_blank"></a>
                                </div>
                                <div class="demo-content">
                                  <span class="change-theme"><a href="javascript://">Change Theme</a></span>
                                  <span class="change-theme"><a href="https://www.apagreen.com/apadesign/catapult/theme1/" target="_blank">Demo</a></span>
                                </div>
                              </div>
                           </div>
                        </div>
                      </div> -->
                    </div>

                    </div>


               </div>
            </div>


<div id="myModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
      <div class="modal-content">
        <div class="modal-content_in">
          <div class="icon-box">
              <i data-dismiss="modal" class="fa fa-close"></i>
          </div>
          <h4 class="modal-title cclr">Are you sure?</h4>
            <button  type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <p typess="aboutus"  id="confirms">Do you really want to delete these records?</p>
        </div>
        <div class="modal-footer svv">
          <button  type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
          <button  id="delbanner" type="button" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>

  <script>
    // Replace the <textarea id="editor1"> with a CKEditor
    // instance, using default configuration.
    CKEDITOR.replace( 'editor1' );
  </script>
