 <div ng-app="postApp" ng-cloak ng-controller="postController">
    <div class="content">
       <div class="container-fluid">
          <div class="page-title-box">
             <h4 class="page-title">Home</h4>
             <div class="float-right">
                  <a href="javascript:history.back()" class="button-normal btn-back-icon">Back</a>
           </div>
          </div>

          <div class="row">
            <div class="col-md-7 theme-setting">
              <div class="card">
                 <div class="card-header">
                     <h3 class="card-title">Home Page Setting</h3>
                 </div>
                 <div class="card-body pt-0">
                    <div class="form-group row">
                      <div class="col-sm-6 col-md-4">
                          <div class="label-text">Banner</div>
                      </div>
                      <div class="col-sm-6 col-md-8">
                          <div class="switch-button bnr">
                              <div style="height: 35px;" ng-if="home[0] == 0">
                                <input setid="bannerset" checked    type="checkbox" class="top_switch switch-checkbox  No">
                                <div class="switch-yesno">
                                  <span>YES</span>
                                </div>
                                <div class="layer"></div>
                              </div>
                              <div style="height: 35px;" ng-if="home[0] == 1">
                                <input setid="bannerset"  type="checkbox" class="top_switch switch-checkbox  Yes">
                                <div class="switch-yesno">
                                  <span>YES</span>
                                </div>
                                <div class="layer"></div>
                              </div>
                          </div>
                        <div class="blue-highlight"><a href="#">Update Banner</a></div>
                      </div>
                  </div>

                  <div class="form-group row">
                      <div class="col-sm-6 col-md-4">
                          <div class="label-text">Our Categories</div>
                      </div>
                      <div class="col-sm-6 col-md-8">
                          <div class="switch-button or_cte">
                              <div style="height: 35px;" ng-if="home[1] == 0">
                                <input setid="categoryset" checked    type="checkbox" class="top_switch switch-checkbox  No">
                                <div class="switch-yesno">
                                  <span>YES</span>
                                </div>
                                <div class="layer"></div>
                              </div>
                              <div style="height: 35px;" ng-if="home[1] == 1">
                                <input setid="categoryset"  type="checkbox" class="top_switch switch-checkbox  Yes">
                                <div class="switch-yesno">
                                  <span>YES</span>
                                </div>
                                <div class="layer"></div>
                              </div>
                          </div>
                        <div class="blue-highlight"><a href="#">Update Our Categories</a></div>
                      </div>
                  </div>

                  <!-- <div class="form-group row">
                      <div class="col-md-4">
                          <div class="label-text">Featured Parts</div>
                      </div>
                      <div class="col-md-8">
                          <div class="switch-button">
                            <input type="checkbox" class="switch-checkbox">
                            <div class="switch-yesno">
                              <span>YES</span>
                            </div>
                            <div class="layer"></div>
                        </div>
                        <div class="blue-highlight"><a href="javascript://">Update Featured Parts</a></div>
                      </div>
                  </div> -->
                  <div class="form-group row">
                      <div class="col-sm-6 col-md-4">
                          <div class="label-text">Featured Products</div>
                      </div>
                      <div class="col-sm-6 col-md-8">
                         <div class="switch-button fe_prd">
                              <div style="height: 35px;" ng-if="home[2] == 0">
                                <input setid="featuredset" checked    type="checkbox" class="top_switch switch-checkbox  No">
                                <div class="switch-yesno">
                                  <span>YES</span>
                                </div>
                                <div class="layer"></div>
                              </div>
                              <div style="height: 35px;" ng-if="home[2] == 1">
                                <input setid="featuredset"  type="checkbox" class="top_switch switch-checkbox  Yes">
                                <div class="switch-yesno">
                                  <span>YES</span>
                                </div>
                                <div class="layer"></div>
                              </div>
                          </div>
                        <div class="blue-highlight"><a href="#">Update Featured Products</a></div>
                      </div>
                  </div>



                  <div class="form-group row">
                      <div class="col-sm-6 col-md-4">
                          <div class="label-text">About Us</div>
                      </div>
                      <div class="col-sm-6 col-md-8">
                          <div class="switch-button abt">
                              <div style="height: 35px;" ng-if="home[3] == 0">
                                <input setid="aboutset" checked    type="checkbox" class="top_switch switch-checkbox  No">
                                <div class="switch-yesno">
                                  <span>YES</span>
                                </div>
                                <div class="layer"></div>
                              </div>
                              <div style="height: 35px;" ng-if="home[3] == 1">
                                <input setid="aboutset"  type="checkbox" class="top_switch switch-checkbox  Yes">
                                <div class="switch-yesno">
                                  <span>YES</span>
                                </div>
                                <div class="layer"></div>
                              </div>
                          </div>
                        <div class="blue-highlight"><a href="#">Update About Us</a></div>
                      </div>
                  </div>

                  <div class="form-group row">
                      <div class="col-sm-6 col-md-4">
                          <div class="label-text">Brands</div>
                      </div>
                      <div class="col-sm-6 col-md-8">
                          <div class="switch-button brnd">
                              <div style="height: 35px;" ng-if="home[4] == 0">
                                <input setid="brandset" checked    type="checkbox" class="top_switch switch-checkbox  No">
                                <div class="switch-yesno">
                                  <span>YES</span>
                                </div>
                                <div class="layer"></div>
                              </div>
                              <div style="height: 35px;" ng-if="home[4] == 1">
                                <input setid="brandset"  type="checkbox" class="top_switch switch-checkbox  Yes">
                                <div class="switch-yesno">
                                  <span>YES</span>
                                </div>
                                <div class="layer"></div>
                              </div>
                          </div>
                        <div class="blue-highlight"><a href="#">Update Popular Brands</a></div>
                      </div>
                  </div>

                  <div class="form-group row">
                      <div class="col-sm-6 col-md-4">
                          <div class="label-text">Testimonials</div>
                      </div>
                      <div class="col-sm-6 col-md-8">
                          <div class="switch-button tst">
                              <div style="height: 35px;" ng-if="home[5] == 0">
                                <input setid="testimonialset" checked    type="checkbox" class="top_switch switch-checkbox  No">
                                <div class="switch-yesno">
                                  <span>YES</span>
                                </div>
                                <div class="layer"></div>
                              </div>
                              <div style="height: 35px;" ng-if="home[5] == 1">
                                <input setid="testimonialset"  type="checkbox" class="top_switch switch-checkbox  Yes">
                                <div class="switch-yesno">
                                  <span>YES</span>
                                </div>
                                <div class="layer"></div>
                              </div>
                          </div>
                        <div class="blue-highlight"><a href="#">Update Testimonials</a></div>
                      </div>
                  </div>

                  <div class="form-group row">
                      <div class="col-sm-6 col-md-4">
                          <div class="label-text">Video</div>
                      </div>
                      <div class="col-sm-6 col-md-8">
                          <div class="switch-button vdo">
                              <div style="height: 35px;" ng-if="home[6] == 0">
                                <input setid="videoset" checked    type="checkbox" class="top_switch switch-checkbox  No">
                                <div class="switch-yesno">
                                  <span>YES</span>
                                </div>
                                <div class="layer"></div>
                              </div>
                              <div style="height: 35px;" ng-if="home[6] == 1">
                                <input setid="videoset"  type="checkbox" class="top_switch switch-checkbox  Yes">
                                <div class="switch-yesno">
                                  <span>YES</span>
                                </div>
                                <div class="layer"></div>
                              </div>
                          </div>
                        <div class="blue-highlight"><a href="#">Update Video</a></div>
                      </div>
                  </div>





                <!--   <div class="row">
                      <div class="col-md-12">
                         <div class="float-right">
                            <button class="button-normal btn-save-icon" type="button">Save</button>
                            <button class="button-normal btn-reset-icon" type="button">Reset</button>
                         </div>
                     </div>
                  </div> -->

                 </div>
              </div>
            </div>
            <div class="col-md-5 theme-side">
              <div class="card">
                <div class="card-header">
                     <h3 class="card-title">Selected Theme</h3>
                </div>
                  <div class="card-body px-3 py-3">
                      <div class="demo-item">
                        <div class="demo-thumb">
                          <!-- <img src="assets/images/the1.png"> -->
                          <img class="img_1" src="../themes/APA Admin Theme/images/crp_img/1.png">
                          <img class="img_2" src="../themes/APA Admin Theme/images/crp_img/2.png">
                          <img class="img_3" src="../themes/APA Admin Theme/images/crp_img/3.png">
                          <img class="img_4" src="../themes/APA Admin Theme/images/crp_img/4.png">
                          <img class="img_5" src="../themes/APA Admin Theme/images/crp_img/5.png">
                          <img class="img_6" src="../themes/APA Admin Theme/images/crp_img/6.png">
                          <img class="img_7" src="../themes/APA Admin Theme/images/crp_img/7.png">
                          <img class="img_8" src="../themes/APA Admin Theme/images/crp_img/8.png">
                          <img class="img_9" src="../themes/APA Admin Theme/images/crp_img/9.png">
                          <!-- <a href="" class="image" target="_blank"></a> -->
                        </div>
                        <div class="demo-content">
                          <span class="change-theme"><a href="#">Change Theme</a></span>
                          <span class="change-theme"><a href="https://www.apagreen.com/apadesign/catapult/theme1/" target="_blank">Demo</a></span>
                        </div>
                      </div>
                   </div>
                </div>
              </div>
          </div>

          <!-- <div class="seo-section">
            <div class="seo-div">
                <div class="row">
                  <div class="col-md-12">

                  <div class="card">
                      <div class="card-header">
                         <h3 class="card-title">SEO</h3>
                      </div>
                      <div class="card-body pt-0">
                          <div class="form-group row">
                            <div class="col-md-6">
                              <label class="label-text">Meta Title</label>
                              <input type="text" name="" class="form-control">
                              <span class="hint-text">Most search engines use a maximum of 60 chars for the title.</span>
                            </div>
                            <div class="col-md-6">
                              <label class="label-text">Meta Keyword</label>
                              <input type="text" name="" class="form-control">
                              <span class="hint-text">Most search engines use a maximum of 160 chars for the description.</span>
                            </div>
                            </div>
                            <div class="form-group row">
                            <div class="col-md-6">
                              <label class="label-text">Meta Description</label>
                              <textarea type="text" class="form-control"></textarea>
                              <span class="hint-text">Most search engines use a maximum of 160 chars for the description.</span>
                            </div>
                          </div>
                      </div>
                   </div>

                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                     <div class="float-right">
                        <button class="button-div button-save" type="button">Save</button>
                        <button class="button-div button-cancel" type="button">Cancel</button>
                     </div>
                 </div>
              </div>
            </div>
         </div> -->



       </div>
    </div>
</div>
<script>
  //alert("test");
  /*var postApp     = angular.module('postApp', []);
  var homeurl = "{{ url('<front>') }}";
  postApp.controller('postController', function($scope, $http,$timeout,$window,$filter) {

  });*/
</script>
