<script src="https://cdn.ckeditor.com/4.11.4/standard/ckeditor.js"></script>

      <style>
      /* Outer */
.popup {
	width:100%;
	height:100%;
	display:none;
	position:fixed;
	top:0px;
	left:0px;
	background:rgba(0,0,0,0.75);
  z-index: 999;
}

/* Inner */
.popup-inner {
	max-width:700px;
	width:90%;
	padding:40px;
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%);
	box-shadow:0px 2px 6px rgba(0,0,0,1);
	border-radius:3px;
	background:#fff;
}

/* Close Button */
.popup-close {
	width:30px;
	height:30px;
	padding-top:4px;
	display:inline-block;
	position:absolute;
	top:0px;
	right:0px;
	transition:ease 0.25s all;
	-webkit-transform:translate(50%, -50%);
	transform:translate(50%, -50%);
	border-radius:1000px;
	background:rgba(0,0,0,0.8);
	font-family:Arial, Sans-Serif;
	font-size:20px;
	text-align:center;
	line-height:100%;
	color:#fff;
}

.popup-close:hover {
	-webkit-transform:translate(50%, -50%) rotate(180deg);
	transform:translate(50%, -50%) rotate(180deg);
	background:rgba(0,0,0,1);
	text-decoration:none;
}

/* .file-upload{display:block;text-align:center;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}
.file-upload .file-select{display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;
  line-height:40px;
  text-align:left;
  background:#FFFFFF;
  overflow:hidden;position:relative;}
.file-upload .file-select .file-select-button{background:#dce4ec;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-upload .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;
  -o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;
  -webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;
  -o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;
  -webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;
  margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-upload_2{
    display: block;
    text-align: center;
    font-size: 12px;
    margin-top: 25px;
    border: none;
}
.file-upload_2 button{
    border: none;
    color: #fff;
    background: #2399f7;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 14px;
} */
      </style>

<div ng-app="postApp" ng-cloak ng-controller="postController">
<div>
  <div class="content">
    <div class="container-fluid">
      <div class="page-title-box">
        <h4 class="page-title">Parts Information</h4>
        <div class="float-right">
                             <a href="javascript:history.back()" class="button-normal btn-back-icon">Back</a>
                     </div>

      </div>
      <div class="alert alert-success" {% if title == "" %} style="display:none" {% endif %}>
            {{title}}
      </div>
      <div class="alert alert-danger" {% if error == "" %} style="display:none;color:red" {% endif %}>
        {{error}}
      </div>
      <ul class="tabs">
        <li class="tab fisttab current" data-tab="part-1" id="partlist">Part List</li>
        <li class="tab secondtab" id="addpart" data-tab="part-2" ng-click="add_partss()">Add Parts</li>
      </ul>
      <div id="part-1" class="tab-content tab-seo-content current">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Part List</h3>
              </div>

            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <div class="table-responsive">
                  <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper">
                    <table class="table-striped table-sort dataTable" id="DataTables_Table_0" role="grid">
                      <thead>
                        <tr role="row">
                          <th class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="descending" aria-label="Part Number: activate to sort column ascending" style="width: 100px;">Part Number</th>
                          <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Categories: activate to sort column ascending" style="width: 144px;">Categories</th>
                          <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Image" style="width: 40px;">Image</th>
                          <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Brands: activate to sort column ascending" style="width: 100px;">Brands</th>
                          <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Price: activate to sort column ascending" style="width: 33px;">Price</th>
                         <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Featured Products" style="width: 110px;">Featured Products</th><th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Edit" style="width: 24px;">Edit</th><th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Delete" style="width: 40px;">Delete</th>
                        </tr>
                      </thead>
                      <tfoot>
                        <tr>
                          <td rowspan="1" colspan="1">
                            <input ng-change="partnossearch()" ng-model="partnos_search" type="text" name="" class="search-table"></td>
                          <td rowspan="1" colspan="1">
                            <input ng-change="categoryssearch()" ng-model="categorys_search" type="text" name="" class="search-table">
                          </td>
                          <td rowspan="1" colspan="1"></td>
                          <td rowspan="1" colspan="1">
                            <input ng-change="brandsssearch()" ng-model="brandss_search" type="text" name="" class="search-table">
                          </td>
                          <td rowspan="1" colspan="1"></td>
                          <td rowspan="1" colspan="1"></td>
                          <td rowspan="1" colspan="1"></td>
                        </tr>
                      </tfoot>
                      <tbody>
                        <tr role="row" ng-repeat="(key, value) in pagedItems[currentPage]" class="odd">
                          <td class="sorting_1">{{'{{value.partno}}'}}</td>
                          <td>{{'{{value.category_value}}'}}</td>
                          <td><img src="{{'{{value.pimage}}'}}" style="width: 50px;"></td>
                          <td>{{'{{value.brand}}'}}</td>
                          <td>{{'{{value.price}}'}}</td>
                          <td>
                            <div ng-if="value.featured==1">
                              Yes
                            </div>
                            <div ng-if="value.featured==0">
                              No
                            </div>
                          </td>
                          <td><a ng-click='editproducts(value.product_id)' class="edit-icons" href="#"><img src="../themes/APA Admin Theme/images/icons/table-edit.png"></a></td>
                          <td><a id="{{'{{value.product_id}}'}}" ng-click="deleteconfirm(value.product_id)" class="delete-icons" href="#"><img src="../themes/APA Admin Theme/images/icons/table-delete.png"></a></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="container-fluid pad-0 bg-pagination">
                  <ul class="pagination pull-right pagi_master ">
                    <li ng-class="{disabled: currentPage == 0}">
                        <a href ng-click="prevPage()">«</a>
                    </li>
                    <li ng-repeat="n in pagenos | limitTo:5"
                        ng-class="{active: n == currentPage}"
                    ng-click="setPage()">
                        <a href ng-bind="n + 1">1</a>
                    </li>
                    <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                        <a href ng-click="nextPage()">»</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
                  <div id="part-2" class="tab-content tab-seo-content ">
                    <div class="row mb-10">
                      <div class="col-md-12">
                        <div class="float-right">
                           <a href="{{ url('<front>') }}sites/default/files/template/ProductBulkUpload.xls" download="" class="button-normal btn-download-icon">Download Sample</a>
                           <button class="button-normal btn-bulkupload-icon btn" type="button" data-popup-open="popup-1" href="#">Bulk Upload</button>
                         </div>
                       </div>
                    </div>
                    <div class="card">

                      <form method="post" action="partmaster" enctype="multipart/form-data">
                      <div class="row">
                        <div class="col-md-6 border-right">
                          <div class="">
                            <div class="card-header">
                              <h3 class="card-title change_while_edit">Add Parts Information</h3>
                            </div>
                              <div class="card-body pt-0">

                                <div class="row form-group mt-3">
                                  <div class="col-md-6 col-lg-4 label-text">Part Number <span class="red-text">*</span></div>
                                  <div class="col-md-6 col-lg-8">
                                    <input name="field_partno" ng-model="field_partno" id="partnumberss" ng-blur="search_enable()"  type="text" name="" class="form-control">
                                    <p style="color:#ff0000;" class="part_val"></p>
                                  </div>

                                </div>


                                <div class="row form-group">
                                  <div class="col-md-6 col-lg-4 label-text">Part Title <span class="red-text">*</span></div>
                                  <div class="col-md-6 col-lg-8">
                                    <input  maxlength="50" placeholder="Maximum 50 words" type="text" id='titless' name="title" class="form-control">
                                  </div>
                                </div>

                                <div class="form-group row">
                                  <div class="col-md-6 col-lg-4">
                                    <div class="label-text"> Product image <span class="red-text">*</span></div>
                                  </div>
                                  <div class="col-md-6 col-lg-8">
                                    <input  maxlength="50" placeholder="Maximum 50 words, Example:xclutch002.jpg" type="text" id='uploadprod_im'  name="product_image" class="form-control">
                                    <!-- <div class="file-upload">
                                      <div class="file-select f1s">
                                        <div class="file-select-button" id="fileName">Choose File</div>
                                        <div class="file-select-name" id="noFile">No file chosen...</div>
                                        <input type="file" name="product_image" id="uploadprod_im">
                                      </div>
                                    </div> -->
                                  </div>
                                </div>


                                <div class="form-group row">
                                  <div class="col-md-6 col-lg-4">
                                  </div>
                                  <div class="col-md-6 col-lg-8">
                                    <div class="file-uploaded_img">
                                      <img class="uploadimage">
                                    </div>
                                  </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-6 col-lg-4 label-text"> Categories<span class="red-text">*</span></div>
                                     <div class="col-md-6 col-lg-8">
                                      <div id="select_category"></div>

                                     </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-6 col-lg-4 label-text"> Brands<span class="red-text">*</span></div>
                                     <div class="col-md-6 col-lg-8">
                                      <div id="select_brand"></div>

                                     </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-6 col-lg-4 label-text">Stock <span class="red-text">*</span></div>
                                     <div class="col-md-6 col-lg-8">
                                       <select  id="stock_select" ng-model="field_stock_info" name="stock" class="form-control">
                                         <option value="">Select</option>
                                         <option value="1">In Stock</option>
                                         <option value="0">Out Stock</option>
                                       </select>
                                     </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-6 col-lg-4 label-text">Marketing Tag <span class="red-text">*</span></div>
                                     <div class="col-md-6 col-lg-8">
                                      <div id="select_market"></div>
                                     </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-6 col-lg-4 label-text">New <span class="red-text">*</span></div>
                                     <div class="col-md-6 col-lg-8">
                                        <select  id="new_tags" ng-model="field_new" name="field_new" class="form-control" >
                                          <option value="">Select a value</option>
                                          <option value="1">Yes</option>
                                          <option value="0">No</option>
                                          </option>
                                        </select>
                                     </div>
                                </div>

                                <div class="row form-group">
                                  <div class="rrd">
                                    <div class="col-md-6 col-lg-4 label-text">Price<span class="red-text">*</span></div>
                                     <div class="col-md-6 col-lg-8">
                                         <input type="number" step="0.01" class="form-control" id="field_total_price" ng-model="field_total_price"  name="field_total_price" ng-blur="search_enable()" style="    width: 50%;"><br>
                                         <div class="iins">
                                         [ eBay Competitor Lowest Price <button style="-webkit-box-shadow: 10px 10px 48px -12px rgba(0,0,0,1);
-moz-box-shadow: 10px 10px 48px -12px rgba(0,0,0,1);
box-shadow: 10px 10px 48px -12px rgba(0,0,0,1);"data-popup-open="popup-2" ng-click="editpopup()"  ng-disabled="btn_disble" class="bttn_prt_ms"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> $ {{'{{CLP}}'}} </button>]
                                      </div>
                                     </div>
                                  </div>
                                </div>

                               <!--  <div class="row form-group">
                                    <div class="col-md-12 col-lg-12 label-text algn_cnt">
                                      <div class="iins">
                                      [ eBay Competitor Lowest Price <button style="-webkit-box-shadow: 10px 10px 48px -12px rgba(0,0,0,1);
-moz-box-shadow: 10px 10px 48px -12px rgba(0,0,0,1);
box-shadow: 10px 10px 48px -12px rgba(0,0,0,1);"data-popup-open="popup-2" ng-click="editpopup()" data-toggle="tooltip" title="eBay Competitor Lowest Price" ng-disabled="btn_disble" class="bttn_prt_ms">$ {{'{{CLP}}'}}</button>]</div>
                                  </div>
                                     
                                </div> -->

                                <div class="row form-group">
                                    <div class="col-md-6 col-lg-4 label-text"> Show in Featured Products <span class="red-text">*</span></div>
                                     <div class="col-md-6 col-lg-8">
                                         <select id="featured_id" ng-model="field_new_feature" name="field_featured" class="form-control">
                                          <option value="">Select a value</option>
                                          <option value="1">Yes</option>
                                          <option value="0">No</option>
                                          </option>
                                        </select>
                                     </div>
                                </div>
                                <div class="row form-group">
                                  <div class="col-md-6 col-lg-4 label-text">Sku</div>
                                  <div class="col-md-6 col-lg-6">
                                    <input  type="text" name="sku" id="sku_value" ng-model="field_sku" ng-blur="search_enable()" class="form-control">
                                  </div> 
                                </div>

                                 <div class="row form-group">
                                  <div class="col-md-6 col-lg-4 label-text">Lester</div>
                                  <div class="col-md-6 col-lg-6">
                                    <input  ng-model="field_lester" type="text" name="field_lester" id="lester_id" class="form-control">
                                  </div>
                                </div>
                                <div class="row form-group">
                                  <div class="col-md-6 col-lg-4 label-text">Interchange Part Number </div>
                                  <div class="col-md-6 col-lg-6">
                                    <input  ng-model="field_interchange" type="text" name="field_interchange" id="interchange_id" class="form-control" ng-blur="search_enable()" >
                                  </div>
                                </div>
                                <div class="row form-group">
                                  <div class="col-md-6 col-lg-4 label-text">Call Price</div>
                                  <div class="col-md-6 col-lg-6">
                                    <input type="checkbox" id="callprice" name="field_call_price"
                                style="height: 18px" class="form-control">
                                  </div>
                                </div>
                               <!--  <div class="col-md-12">
                                   <div class="float-right">
                                      <button class="button-normal btn-save-icon" type="submit">Save</button>
                                      <button class="button-normal btn-reset-icon" type="reset">Reset</button>
                                   </div>
                                </div> -->

                              </div>
                            </div>




                          </div>

                          <div class="col-md-6">
                            <div class="">
                              <div class="card-header">
                                <h3 class="card-title">Key Features </h3>
                              </div>
                              <div class="card-body pt-0">
                                <textarea name="editor1"   class="form-control"></textarea>
                              </div>
                            </div>
                            <br>
                            <div class="row form-group" style="display: none">
                              <div class="col-md-4">
                                Set All Colors
                              </div>
                              <div class="col-md-6">
                                <input type="checkbox" id="setallcolors" name="setallcolors"  checked="" 
                                style="height: 18px" class="form-control allcolorvalue">
                              </div>
                            </div>


                              <div class="variation_class" >
                                <div ng-hide="setcolor" style="display: none">
                                  <div  class="addvariation" style="text-align: center;color:green">Add  Variation</div>
                                  <br>
                                  <div class="variation_update">
                                    <div id="firstvariation">
                                      <div class="variation_id">
                                        <div class="row form-group">
                                          <div class="col-md-3 col-lg-4 label-text">Colors <span class="red-text">*</span></div>
                                           <div class="col-md-6 col-lg-6 colorselect"></div>
                                        </div>
                                        <div class="row form-group">
                                          <div class="col-md-3 col-lg-4 label-text">Price <span class="red-text">*</span></div>
                                          <div class="col-md-6 col-lg-6">
                                            <input  id="price_id" type="number" step="0.01" name="price[]" class="pricerequired form-control">
                                          </div>
                                           <div class="col-md1 wd_ht">
                                            <span id="variation_add"><img src="../themes/APA Admin Theme/images/Add-icon.png"></span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div><p class="msg_only_one_clr" style="text-align: center;color: red;"></p></div>
                                <div class="row form-group">
                                    <div class="col-md-2 col-lg-3">
                                       <label class="label-text">Slider Image<span class="red-text">*</span></label>
                                     </div>
                                       <div class="col-md-10 col-lg-8">
                                       <textarea type="text" id="slider_image" required="" name="slider_image" class="form-control" placeholder="Enter comma separtated"></textarea>
                                       </div>
                                   </div>
<!--  
                                <div class="variation_class_image">
                                  <div class="variation_imagess">
                                    <div class="addvariation" style="text-align: center;color:green;margin-top: 2px;margin-bottom: 15px;">Add  Slider</div>
                                    <div class="variaions_images_set_js">
                                      <div class="row form-group">
                                        <div class="col-md-3 col-lg-4 label-text">Add Slider Image <span class="red-text">*</span></div>
                                         <div class="col-md-6 col-lg-6">
                                           <div class="file-upload">
                                              <div class="file-select">
                                                <div class="file-select-button" id="fileName">Choose File</div>
                                                <div class="file-select-name" id="noFile">No file chosen...</div>
                                                <input type="file" class="upl_cl" name="sliderimage[]">
                                              </div>
                                          </div>
                                         </div>
                                         <div class="col-md1 wd_ht">
                                          <span id="variation_add_image"><img src="../themes/APA Admin Theme/images/Add-icon.png"></span>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div> -->
                              </div>
                              <div class="form-group row">
                                <input type="hidden" id="hidden_id" name="hidden_id">
                              </div>
                              <div class="form-group row">
                                <input type="hidden" id="postid" name="postid" value='{{postid}}'>
                              </div>
                              <div class="form-group row">
                              <div class="col-md-6 col-lg-4 label-text"></div>
                              <div class="col-md-6 col-lg-6">
                                <div>
                                  <button class="button-normal btn-save-icon save_part" type="submit">Save</button>
                                  <!-- <button class="button-normal btn-reset-icon" type="reset">Reset</button> -->
                                </div>
                                </div>
                              </div>
                          </div>
                          <form>
          </div>
          <div class="row pb-3 pr-2">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="popup" data-popup="popup-2">
    <div class="popup-inner pp_innr">
      <div id="info" style="display:none">
          <div  class="alert alert-info"  id="info_msg"></div>
      </div>
      <div id="info_url" class="alert alert-warning" style="display:none"></div>
      <div class="ovr_scrl">
        <div class="conf_auto_card">
          <label for="exckeyword" class="conf_auto_card_label">
            OR (Any Words Any Order) :
          <textarea class="autosizeinput" id="orinput" width="100%" value="" maxlength="350" ng-model="keywordsor"></textarea>
         </label>
          <label for="exckeyword" class="conf_auto_card_label">
            AND (All Words Any Order) :
          <textarea class="autosizeinput" id="orinput" width="100%" value="" maxlength="350" ng-model="keywordsand"></textarea>
         </label>
          <label for="exckeyword" class="conf_auto_card_label">
            Exclude KeyWords : (Comma Separated)
          <textarea class="autosizeinput" id="orinput" width="100%" value="" maxlength="350" ng-model="keywordsmore"></textarea>
         </label>

                           
                            <div class="conf_auto_card_body">
                                  <label for="price">Percentage</label>
                                ± <input type="text" value="" id="" class="percentage-textbox" ng-model="percentage" ng-change="percentchange()" style="">
                                <span style="font-size: 14px; font-weight: 600;" class="">% of My Price $[{{'{{field_total_price}}'}}]</span>
                                <label for="price" class="from_price">From</label>
                                $ <input type="text" ng-model="fromprice" class="textbox-small" name="minus" readonly=""> To
                                $ <input type="text" ng-model="toprice" class="textbox-small"  name="plus" readonly="">
                                <button class="button-normal btn-search-icon save_part" type="button" ng-click="CLP_popup_open()">Search</button>
                                <button class="button-normal btn-save-icon save_part" type="button" ng-click="CLP_save()">Save</button>
                                  <div id="filtr_msgg" style="display: none;padding: 5px 0 0px 0;">
                                      <center><p style="background: #1f6f1d;color: white; border-radius:5px;padding: 8px 0px 8px 0px;">Filters Saved Successfully</p></center>
                                  </div>
                                   <div id="keyword_alrt" style="display: none;text-align:center;" >
                                      <p style="background:#c33e3e;display: inline-block;width:auto;text-align:center;color: #fff; border-radius:5px;padding: 8px 10px;">Please Check OR Keyword length</p>
                                  </div>
                            </div>

                            <div class="display-inline v-align-t">
                                <div class="conf_auto_card_title">
                                    <h6>Condition</h6>
                                </div>
                                <div class="conf_auto_card_body">
                                    <label for="con_New">
                                    <input type="checkbox" id="con_New" name="condition" ng-model="condition" ng-true-value="'3'" ng-click="conditionchange($event)" element="New" ng-false-value="''" value="3" ng-checked="isChecked">New
                                    </label>
                                    <label for="con_Used">
                                        <input type="checkbox" id="con_Used" name="condition" ng-model="condition" ng-true-value="'4'" ng-false-value="''" ng-click="conditionchange($event)" element="Used" value="4" ng-checked="isChecked">
                                        Used
                                    </label>
                                    <label for="con_Remanufactured">
                                        <input type="checkbox" id="con_Remanufactured" name="condition" ng-model="condition"  ng-true-value="'5'" ng-false-value="''" ng-click="conditionchange($event)" element="Remanufactured" value="5" ng-checked="isChecked">
                                        Remanufactured
                                    </label>
                                </div>
                            </div>

                            <div class="conf_auto_card_body">
                                   <label for="freeship">
                                    <input  type="checkbox" id="freeship" name="freeship" ng-model="freeshiping" element="Free Shipping" ng-true-value="'1'" ng-false-value="''" value="1">Free</label>
                            </div>

      </div>
      <a class="popup-close" data-popup-close="popup-2" href="#" ng-click="clp_popup_close()">x</a>
    </div>

    <section class="de">
  
  <div ng-show="noresult" style="text-align: center;color:red;">***No Result Found***</div>
  <div class="tbl-header" ng-show="!noresult">
    <table class="custo_pp" cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Img</th>
          <th>Seller</th>
          <th>Title</th>
          <th>Current Price</th>
          <th>Shipping Price</th>
          <th>Total Price</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr ng-repeat="data in api_searh_result">
          <td><img ng-src="{{'{{data.galleryURL}}'}}" style="max-width: 60px;"></td>
          <td>{{'{{data.sellerUserName}}'}}</td>
          <td><a href="https://www.ebay.com/itm/{{'{{data.itemid}}'}}" target="_blank">{{'{{data.title}}'}}</a></td>
          <td>{{'{{data.currentPrice}}'}}</td>
          <td>{{'{{data.shippingPrice}}'}}</td>
          <td>{{'{{data.totalPrice}}'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
    </div>
  </div> -->

  <div class="part-master-popup" style="display: none;" data-popup="popup-2">
      <div class="part-master-modal">
          <div class="part-master-container">
              <div class="part-header-modal">
                  <h4>Search Filters</h4>
                  <span class="part-popup-close" ng-click="clp_popup_close()">×</span>
              </div>
              <div class="part-body-modal">
                <div class="keyword-fieldset-box">
                  <div class="left-fieldset">
                      <div class="fieldset-box">
                          <div class="fieldset-box-title">
                              <h6>Keywords</h6>
                          </div>
                          <div class="fieldset-box-body">
                              <label class="fieldset-box-label">
                                OR (Any Words Any Order) : 
                              <textarea class="fieldset-box-textarea" id="orinput" value="" maxlength="350" ng-model="keywordsor"></textarea>
                              </label>

                              <label class="fieldset-box-label">
                                AND (All Words Any Order) : 
                              <textarea class="fieldset-box-textarea" id="orinput" value="" maxlength="350" ng-model="keywordsand"></textarea>
                              </label>

                              <label class="fieldset-box-label">
                                Exclude KeyWords : <span class="small-text">(Comma Separated)</span>
                              <textarea class="fieldset-box-textarea" id="orinput" value="" maxlength="350" ng-model="keywordsmore"></textarea>
                              </label>

                          </div>
                      </div>
                  </div>

                  <div class="right-fieldset">
                      <div class="fieldset-box">
                          <div class="fieldset-box-title">
                              <h6>Price</h6>
                          </div>
                          <div class="fieldset-box-body">
                              <label class="per-label">Percentage</label>
                              <input type="text" value="" class="percentage-textbox" ng-model="percentage" ng-change="percentchange()" >
                              <span style="font-size: 14px; font-weight: 600;" class="ng-binding">% of My Price [{{'{{field_total_price}}'}}] </span>
                              <label class="per-label">From</label> $ 
                              <input type="text" class="textbox-small" ng-model="fromprice" name="minus" readonly=""> To $ 
                              <input type="text" class="textbox-small" ng-model="toprice" name="plus" readonly="">
                          </div>
                          <div class="fieldset-box-title">
                              <h6>Condition</h6>
                          </div>
                          <div class="fieldset-box-body">
                              <label for="con_New">
                                  <input type="checkbox" id="con_New" name="condition" ng-model="condition" ng-true-value="'3'" ng-click="conditionchange($event)" element="New" ng-false-value="''" value="3" ng-checked="isChecked">
                                  New
                              </label>
                              <label for="con_Used">
                                  <input type="checkbox" id="con_Used" name="condition" ng-model="condition" ng-true-value="'4'" ng-false-value="''" ng-click="conditionchange($event)" element="Used" value="4" ng-checked="isChecked">
                                  Used
                              </label>
                               <label for="con_Remanufactured">
                                  <input type="checkbox" id="con_Remanufactured" name="condition" ng-model="condition"  ng-true-value="'5'" ng-false-value="''" ng-click="conditionchange($event)" element="Remanufactured" value="5" ng-checked="isChecked">
                                  Remanufactured
                              </label>
                          </div>
                          <div class="fieldset-box-title">
                              <h6>Shipping</h6>
                          </div>
                          <div class="fieldset-box-body">
                            <label> <input type="checkbox" id="freeship" name="freeship" ng-model="freeshiping" element="Free Shipping" ng-true-value="'1'" ng-false-value="''" value="1">Free</label>
                          </div>
                      </div>
                  </div>
                </div>
                  <div class="part-fieldset-button">
                    <button class="button-normal btn-search-icon save_part" type="button" ng-click="CLP_popup_open()">Search</button>
                    <button class="button-normal btn-save-icon save_part" type="button" ng-click="CLP_save()">Save</button>
                  </div>
                  <div class="part-succe">
                  <div id="filtr_msgg" style="display: none;padding: 5px 0 0px 0;">
                      <center><p style="background: #1f6f1d;color: white; border-radius:5px;padding: 8px 0px 8px 0px;">Filters Saved Successfully</p></center>
                  </div>
                   <div id="keyword_alrt" style="display: none;text-align:center;" >
                      <p style="background:#c33e3e;display: inline-block;width:auto;text-align:center;color: #fff; border-radius:5px;padding: 8px 10px;">Please Check OR Keyword length</p>
                  </div>
                </div>

                  <div class="part-result-sec">
                      <div class="part-result-box">
                          <div ng-show="noresult" style="text-align: center;color:red;">***No Result Found***</div>

                          <div class="result-table-header" ng-show="!noresult">
                              <table class="result-table" cellpadding="0" cellspacing="0" border="0">
                                <thead>
                                  <tr>
                                    <th>Img</th>
                                    <th>Seller</th>
                                    <th>Title</th>
                                    <th>Current Price</th>
                                    <th>Shipping Price</th>
                                    <th>Total Price</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr ng-repeat="data in api_searh_result">
                                      <td><img ng-src="{{'{{data.galleryURL}}'}}" style="max-width: 60px;"></td>
                                      <td>{{'{{data.sellerUserName}}'}}</td>
                                      <td><a href="https://www.ebay.com/itm/{{'{{data.itemid}}'}}" target="_blank">{{'{{data.title}}'}}</a></td>
                                      <td>{{'{{data.currentPrice}}'}}</td>
                                      <td>{{'{{data.shippingPrice}}'}}</td>
                                      <td>{{'{{data.totalPrice}}'}}</td>
                                  </tr>
                                </tbody>
                              </table>
                          </div>
                          <!-- <div class="result-table-body" ng-show="!noresult">
                            <table class="result-table1" cellpadding="0" cellspacing="0" border="0">
                                <tbody>
                                  <tr ng-repeat="data in api_searh_result">
                                      <td><img ng-src="{{'{{data.galleryURL}}'}}" style="max-width: 60px;"></td>
                                      <td>{{'{{data.sellerUserName}}'}}</td>
                                      <td><a href="https://www.ebay.com/itm/{{'{{data.itemid}}'}}" target="_blank">{{'{{data.title}}'}}</a></td>
                                      <td>{{'{{data.currentPrice}}'}}</td>
                                      <td>{{'{{data.shippingPrice}}'}}</td>
                                      <td>{{'{{data.totalPrice}}'}}</td>
                                  </tr>
                                </tbody>
                              </table>
                          </div> -->
                      </div>
                  </div>

              </div>
          </div>
      </div>
  </div>


<div id="myModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
      <div class="modal-content">
        <div class="modal-content_in">
          <div class="icon-box">
            <i data-dismiss="modal" class="fa fa-close"></i>
          </div>
          <h4 class="modal-title cclr">Are you sure?</h4>
            <button  type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <p  id="confirms" typess="products">Do you really want to delete these records?</p>
        </div>
        <div class="modal-footer svv">
          <button  type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
          <button  id="delpartid" type="button" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>


<div id="Mandatory_val" class="modal fade">
    <div class="modal-dialog modal-confirm">
      <div class="modal-content">
        <div class="modal-content_in">
          <div class="icon-box">
            <i data-dismiss="modal" style="color: #ec3333;" class="fa fa-times-circle-o"></i>
          </div>
          <button  type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <p style="color: #e01f1f;margin-left: 92px;margin-top: -18px;">Please, enter all the required fields</p>
        </div>
        
      </div>
    </div>
  </div>

  <script>
    CKEDITOR.replace('editor1');
  </script>



  <div class="popup" data-popup="popup-1">
    <div class="popup-inner">
      <div id="info" style="display:none">
          <div  class="alert alert-info"  id="info_msg"></div>
      </div>
      <div id="info_url" class="alert alert-warning" style="display:none"></div>
      <div class="file-upload">
        <div class="file-select">
          <div class="file-select-button" id="fileName">Choose File</div>
          <div class="file-select-name" id="noFile">No file chosen...</div>
          <input type="file" name="chooseFile" id="bulkupload_file">
        </div>
        <div class="file-upload_2">
          <div class="">
            <button type="button" id="upload_data">Upload</button>
          </div>
        </div>
      </div>
      <a class="popup-close" data-popup-close="popup-1" href="#">x</a>
    </div>
  </div>
</div>
  
<style>
 .alert_alter{
   padding: 0px;
   text-align: center;
 }
</style>
