<div class="content">
   <div class="container-fluid">
    <div class="page-title-box">
         <h4 class="page-title">Promotion Popup</h4>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card mt-10">
            <div class="card-header card-header-toggle">
              <h3 class="card-title"><span>Click Here to Add </span> Promotion Popup</h3>
            </div>
              <div class="card-body card-body-toggle">
                <div class="row">
                  <div class="col-md-7">
                <form>
                       <div class="form-group row">
                        <div class="col-md-6 col-lg-4">
                           <label class="label-text">Promotion Image URL </label>
                         </div>
                           <div class="col-md-6 col-lg-4">
                           <input type="text" class="form-control">
                           </div>
                       </div>
                       <div class="form-group row">
                        <div class="col-md-6 col-lg-4">
                           <label class="label-text">Upload Promotion Image</label>
                         </div>
                         <div class="col-md-6 col-lg-8">
                      <form>
                        <div class="upoad-img-button-div">
                          <div class="button-div button-upload upoad-img-button">
                            <span>Choose file</span>
                            <input type="file" multiple="" class="upl_cl">
                          </div>
                          <p></p>
                        </div>
                      </form>
                  </div>
                       </div>
                        <div class="row form-group">
                              <div class="col-md-6 col-lg-4 label-text">Alt text <span class="red-text">*</span></div>
                              <div class="col-md-6 col-lg-4">
                                <input type="text" name="" class="form-control">
                              </div>
                        </div>
                       <div class="row form-group">
                          <div class="col-md-6 col-lg-4 label-text">Show On Home Page </div>
                           <div class="col-md-6 col-lg-4">
                              <div class="checkbox">
                                    <div class="form-check">
                                       <input type="checkbox" data-checkboxes="mygroup" class="check-input" id="checkbox-12" checked="">
                                       <label for="checkbox-12" class="label-text"></label>
                                    </div>
                                 </div>
                           </div>
                       </div>
                       <div class="row">
                              <div class="col-md-7">
                                 <div class="float-right">
                                    <button class="button-normal btn-save-icon" type="button">Save</button>
                                    <button class="button-normal btn-reset-icon" type="button">Reset</button>
                                 </div>
                             </div>
                            </div>
                </form>
                </div>
                </div>
              </div>
          </div>
          </div>
          <div class="col-md-12 pad-0">
          <div class="card">
          <div class="card-body">
          <div class="table-responsive">
          <table class="table-striped table-sort">
            <thead>
            <tr>
              <th>Promotion Image</th>
              <th>Promotion Image Url</th>
              <th>Show Website</th>
              <th>Alt Text</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
            </thead>
            <tfoot>
              <tr>
                <td><input type="text" name="" class="search-table"></td>
                <td><input type="text" name="" class="search-table"></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tfoot>
            <tbody>
            <tr>
              <td class="table_align_center"><img src="../themes/APA Admin Theme/images/pro-1.jpg" style="width: 150px;"></td>
              <td>https://www.AB Elektronik.in/</td>
              <td><input  type="checkbox" checked></td>
              <td>AB Elektronik</td>
              <td><a class="edit-icons" href="#"><img src="../themes/APA Admin Theme/images/icons/table-edit.png"></a></td>
              <td><a class="delete-icons" href="#"><img src="../themes/APA Admin Theme/images/icons/table-delete.png"></a></td>
            </tr>
            <tr>
              <td class="table_align_center"><img src="../themes/APA Admin Theme/images/pro-2.jpg" style="width: 150px;"></td>
              <td>https://www.AISIN.com/</td>
              <td><input  type="checkbox"></td>
              <td>AISIN</td>
              <td><a class="edit-icons" href="#"><img src="../themes/APA Admin Theme/images/icons/table-edit.png"></a></td>
              <td><a class="delete-icons" href="#"><img src="../themes/APA Admin Theme/images/icons/table-delete.png"></a></td>
            </tr>
            </tbody>
          </table>
          </div>
          <div class="container-fluid pad-0 bg-pagination">
                <ul class="pagination pull-right">
                  <li class="page-item"> <a class="page-link" href="#">
                      <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                    </a>
                  </li>

                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">
                      <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    </a>

                  </li>
                </ul>
              </div>
        </div>
      </div>
      </div>
        </div>

        </div>


   </div>
