<link rel="stylesheet" type="text/css" href="../themes/APA Admin Theme/css/daterangepicker.css">
<div ng-app="postApp" ng-cloak ng-controller="postController">
  <div class="content">
    <div class="container-fluid">
      <div class="page-title-box">
        <h4 class="page-title">Promotions</h4>                  
      </div>
      <div class="alert alert-success" ng-hide="success_data1" style="padding:2px;">
        <p style="color:green;text-align:center; "ng-bind="success_text">success</p>
      </div>
      <div class="alert alert-danger" ng-hide="error_data1" style="padding:2px;">
        <p style="color:red;text-align:center; "ng-bind="error_text">success</p>
      </div>
      <!-- <div  class="alert alert-success" {% if title == "" %} style="display:none" {% endif %} >
       {{title}}
      </div>
      <div  class="alert alert-danger" {% if error == "" %} style="display:none" {% endif %} >
       {{error}}
      </div> -->
      <div class="row">
        <div class="col-md-12">
          <div class="card mt-10">
            <div class="card-header card-header-toggle" ng-click="promotion_reset()">
              <h3 class="card-title"><span>Click Here to </span><font id="updateservice"> Add Promotions
              </font></h3>
            </div>
              <div class="card-body card-body-toggle">                            
               
                <div class="row">
                  <div class="col-md-7">
                    <form action="banner" id="resetform" method="post" enctype="multipart/form-data">
                        
                        <div class="row form-group">
                          <div class="col-md-3 label-text">Promotion Name <span class="red-text">*</span></div>
                          <div class="col-md-6">
                            <input ng-change="promoNamechange()" ng-style="promoNameerror"  pattern=".*\S+.*" ng-model="promoName" id="promoName" name="promoName" required=""  autocomplete="off" type="text"  class="form-control">
                          </div>
                        </div>
                        <div class="row form-group">
                          <div class="col-md-3 label-text">Promotion Description </div>
                          <div class="col-md-6">
                            <textarea  ng-model="promoDescription" id="promoDescription" name="promoDescription" autocomplete="off" class="form-control"> </textarea> 
                          </div>
                        </div>
                        <div class="row form-group">
                          <div class="col-md-3 label-text">
                            Select Offer type<span class="red-text">*</span>
                          </div>
                          <div class="col-md-6">
                            <select ng-style="Offererror" ng-change="offerChange()" id="select_Offer" ng-model="select_Offer" name="select_Offer" class="form-control">
                              <option value="">Choose Offer type</option>
                             <!-- <select data-drupal-selector="edit-offer-0-target-plugin-id" id="edit-offer-0-target-plugin-id" name="offer[0][target_plugin_id]" class="form-select required" required="required" aria-required="true"> -->
                              <!-- <option value="order_buy_x_get_y">Buy X Get Y</option> -->
                              <option value="order_item_fixed_amount_off">Fixed amount off each matching product</option>
                              <option value="order_item_percentage_off">Percentage off each matching product
                              </option>
                             <!--  <option value="order_fixed_amount_off">Fixed amount off the order subtotal</option>
                              <option value="order_percentage_off">Percentage off the order subtotal</option> -->
                            </select>
                          </div>
                        </div>

                        <div class="row form-group">
                          <div class="col-md-3 label-text"><label ng-if="flatoff==1">Amount off</label> <label ng-if="flatoff==0">Discount %</label><span class="red-text">*</span></div>
                          <div class="col-md-6">
                            <input ng-change="dis_amt_change()" ng-style="dis_amt_error" pattern=".*\S+.*" 
                            ng-model="discount_amount" id="discount_amount" name="discount_amount" required=""  autocomplete="off" type="number" min="0" class="form-control">
                          </div>
                        </div>
                        <div class="row form-group">
                          <div class="col-md-3 label-text">Coupon Code <span class="red-text">*</span></div>
                          <div class="col-md-6">
                            <input ng-change="promochange()" ng-style="promoerror"  pattern=".*\S+.*" ng-model="promocode" id="altvalue" name="alt" required=""  autocomplete="off" required="" type="text"  class="form-control">
                          </div>
                        </div>
                        <div class="form-group row">
                          <input type="hidden" id="postid" name="postid" value='{{postid}}'>
                        </div>
                        <div id="prmoEachProduct" ng-if="prmoEachProduct == 1">
                          <div class="form-group row">
                            <div class="col-md-3 label-text">Select Products<span class="red-text">*</span></div>
                            <div class="col-md-6">
                              <input id="product_detail"  type="text" ng-style="proderror" ng-model="promo_auto_parts" ng-keyup="complete(promo_auto_parts)" class="form-control " />
                              <ul class="list-group promotion_dropdown">
                                <li class="list-group-item" ng-repeat="data in filter_uuid_parts" ng-click="fillTextbox(data)">{{'{{data}}'}}</li>
                              </ul>
                            </div>
                            <div class="col-md-1">
                              <div ng-click="tranferdata()" id="arrow_move" class="alternative-parts-arrow">
                                <img src="../themes/APA Admin Theme/images/icons/transfer.png">
                              </div>
                            </div>
                          </div>
                          <div class="row form-group" style="text-align:center">
                            <div class="col-sm-4">
                              <span class="promo_or">(OR)</span>  
                            </div>
                          </div>
                          <div class="row form-group">
                            <div class="col-md-3 label-text">
                              Select Category<span class="red-text">*</span>
                            </div>
                            <div class="col-md-6">
                              <select ng-change="category_changepromo()" ng-style="Categoryerror" ng-model="selectCategory" name="selectCategory" id="selectCategory" class="form-control">
                                <option value="" selected="selected">Choose Category</option>
                                <option value="all" >All Category</option>
                                <option ng-repeat="x in brandcategorydata" value="{{'{{x.tid}}'}}">{{'{{x.tname}}'}}</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <!-- <div class="row form-group">
                          <div class="col-md-3 label-text">
                            Select Message<span class="red-text">*</span>
                          </div>
                          <div class="col-md-3">
                            <select ng-style="marketerror"  ng-model="select_marketing" name="select_marketing" class="form-control">
                              <option value="" selected="selected"> Choose Message</option>
                              <option ng-repeat="x in marketing_message_map" value="{{'{{x.tid}}'}}">{{'{{x.tname}}'}}</option>
                            </select>
                          </div>
                        </div> -->
                        <div class="row form-group">
                          <div class="col-md-3 label-text">Date Range <span class="red-text">*</span>
                          </div>
                          <div class="col-md-6">
                            <input id="daterangeid" ng-style="dateerror" type="text" ng-model="daterangepromo" name="daterangepromo" class="date-range-input" value="Select Date Range" placeholder="Select Date Range" ng-click="daterange_get()" style="width:100%;">
                          </div>
                        </div>
                        <div class="row">
                          <input type="hidden" id="hidden_id" ng-model="hidden_promotion">
                        </div>
                        <div class="row">
                          <input type="hidden" id="hidden_coupon" ng-model="hidden_coupon">
                        </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="float-right">
                            <button ng-click='promotion_submit()' class="button-normal btn-save-icon" type="button">Save</button>
                            <button ng-click="promotion_reset()" class="button-normal btn-reset-icon" id="resets" type="reset">Reset</button>
                          </div>
                        </div>
                      </div>                      
                  </form>
                  </div>
                  <div class="col-md-4">
                    <ul class="second_promo" id="second_promo" ng-bind="second_promo">
                    </ul>
                  </div>
                </div>
              </div>
          </div>

          <div class="col-md-12 pad-0">
          <div class="card">
          <div class="table-responsive">
          <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper"><table class="table-striped table-sort dataTable" id="DataTables_Table_0" role="grid">
            <thead>
              <tr role="row">
                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Image: activate to sort column ascending" style="width: 67px;">
                Coupon Code</th>
                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Sequence: activate to sort column ascending" style="width: 149px;">
                Promotion Name</th>
                 <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Sequence: activate to sort column ascending" style="width: 149px;">
                Offer Type</th>
                 <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Sequence: activate to sort column ascending" style="width: 149px;">
                ($)Amount</th>
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Sequence: activate to sort column ascending" style="width: 149px;">
              Percentage(%)</th>
               <!--  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Sequence: activate to sort column ascending" style="width: 149px;">
                Select Product</th> -->
                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Sequence: activate to sort column ascending" style="width: 149px;">
                Range</th>
                <!-- <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Edit" style="width: 46px;">Edit</th> -->
                <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Delete" style="width: 69px;">Delete</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"></td>
                  <!-- <input ng-change="sequencebanner()" ng-model="sequence_banner" type="text" name="" class="search-table"> --></td>
                <!-- <td rowspan="1" colspan="1"></td> -->
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"></td>
              </tr>
            </tfoot>
            <tbody>
              <tr ng-repeat="(key, value) in pagedItems[currentPage] | orderBy: '-promotion_id'">
                <td>{{'{{value.code}}'}}</td>
                <td>{{'{{value.name}}'}}</td>
                <!-- <td>{{'{{value.description}}'}}</td> -->
                <td>  <!-- <span value="order_buy_x_get_y">Buy X Get Y</span> -->
                      <span ng-if="value.promo_offer_type == 'order_item_fixed_amount_off'" value="order_item_fixed_amount_off">Fixed amount off each matching product</span>
                      <span ng-if="value.promo_offer_type == 'order_item_percentage_off'" value="order_item_percentage_off">Percentage off each matching product
                      </span>
                      <span ng-if="value.promo_offer_type == 'order_fixed_amount_off'" value="order_fixed_amount_off">Fixed amount off the order subtotal</span>
                      <span ng-if="value.promo_offer_type == 'order_percentage_off'" value="order_percentage_off">Percentage off the order subtotal</span>
                </td> 
            
               <!--  <td>{{'{{value.partno}}'}}</td> -->
                    <td>  {% if value.percentage == 0 %}  {{'{{value.amount}}'}} {% endif %} </td>       
                  <td> {% if value.amount == 0 %}  {{'{{value.percentage}}'}} {% endif %}   </td>
                  
                <td>{{'{{value.dates}}'}}</td>
                <!-- <td><a  ng-click='promotion_edit(value.promotion_id)' class="edit-icons"><img src="../themes/APA Admin Theme/images/icons/table-edit.png"></a></td>  -->               
                <td><span   ng-click="deletepromotion_function(value.coupon_id,value.promotion_id)" class="delete-icons" ><img src="../themes/APA Admin Theme/images/icons/table-delete.png"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
          </div>
          <div class="container-fluid pad-0 bg-pagination">
            <ul class="pagination pull-right pagi_master ">
              <li ng-class="{disabled: currentPage == 0}">
                  <a href ng-click="prevPage()">«</a>
              </li>
              <li ng-repeat="n in pagenos | limitTo:5"
                  ng-class="{active: n == currentPage}"
              ng-click="setPage()">
                  <a href ng-bind="n + 1">1</a>
              </li>
              <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                  <a href ng-click="nextPage()">»</a>
              </li>
            </ul>
          </div>
        </div>
        </div>
        </div>                    
      </div>
    </div>
  </div>
</div>
<div id="myModal" class="modal fade">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-content_in">
        <div class="icon-box">
            <i data-dismiss="modal" class="fa fa-close"></i>
        </div>
        <h4 class="modal-title cclr">Are you sure?</h4>
          <button  type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <p id="confirms">Do you really want to delete these records?</p>
      </div>
      <div class="modal-footer svv">
        <button  type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
        <button  id="deletepromotions" type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>

