
  <link rel="stylesheet" type="text/css" href="../themes/APA Admin Theme/css/daterangepicker.css">
      
               <div class="content" ng-app="postApp" ng-cloak ng-controller="postController">
                  <div class="container-fluid">
                         
                      <div class="search-analy-div">
                          <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <div class="col-md-5">
                                        <label>Custom range</label>
                                        <input type="text" name="searchanalysisfrom" class="form-control">
                                    </div>
                                  <!--   <div class="col-md-5">
                                        <label>From Date</label>
                                        <input type="text" name="searchanalysisto" class="form-control">
                                    </div>
                                    <div class="col-md-2">
                                        <label>&nbsp;</label>
                                        <button class="button-normal btn-save-icon" type="submit" ng-click="search_analysis_datepicker()">Show</button>
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="tot-search">
                                    <!-- <h6>Total number of searches 226</h6> -->
                                </div>
                            </div>
                          </div>

                          <div class="row">
                              <div class="col-md-3">
                                  <div class="search-anal-box">
                                      <h5 class="search-anal-box-tit">Top Searches</h5>
                                      <div class="search-anal-box-list">
                                          <ul>
                                            <li class="head">SEARCH TERM</li>
                                            <li class="head"># OF SEARCHES</li>
                                          </ul>
                                          <ul ng-repeat="top in topsearches">
                                            <li>{{'{{top.keyword}}'}}</li>
                                            <li>{{'{{top.searchcount}}'}}</li>
                                          </ul>
                                         
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="search-anal-box">
                                      <h5 class="search-anal-box-tit">Searches Yielding One Result</h5>
                                      <div class="search-anal-box-list">
                                          <ul>
                                            <li class="head">SEARCH TERM</li>
                                            <li class="head"># OF SEARCHES</li>
                                          </ul>
                                           <ul ng-repeat="one in oneresult">
                                            <li>{{'{{one.keyword}}'}}</li>
                                            <li>{{'{{one.searchcount}}'}}</li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="search-anal-box">
                                      <h5 class="search-anal-box-tit">Absolute Zero Results</h5>
                                      <div class="search-anal-box-list">
                                          <ul>
                                            <li class="head">SEARCH TERM</li>
                                            <li class="head"># OF SEARCHES</li>
                                          </ul>
                                           <ul ng-repeat="zero in zeroresult">
                                            <li>{{'{{zero.keyword}}'}}</li>
                                            <li>{{'{{zero.searchcount}}'}}</li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="search-anal-box">
                                      <h5 class="search-anal-box-tit">No "Exact Phrase" Matches</h5>
                                      <div class="search-anal-box-list">
                                          <ul>
                                            <li class="head">SEARCH TERM</li>
                                            <li class="head"># OF SEARCHES</li>
                                          </ul>
                                           <ul ng-repeat="more in morethanone">
                                            <li>{{'{{more.keyword}}'}}</li>
                                            <li>{{'{{more.searchcount}}'}}</li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                          </div>

                      </div>


                  </div>
               </div>
            
      <!-- END wrapper -->

      <!-- jQuery  -->
      <script src="../themes/APA Admin Theme/js/jquery.min.js"></script>
      <script src="../themes/APA Admin Theme/js/raphael-min.js"></script>
      <script src="../themes/APA Admin Theme/js/morris.min.js"></script>
      <script src="../themes/APA Admin Theme/js/moment.min.js"></script>
  
   
<style type="text/css">
 #locationmap {
  width: 100%;
  height: 300px;
  overflow: hidden;
}
</style>

<script>
/*$(function() {
  $('input[name="searchanalysisfrom"]').daterangepicker({
    opens: 'left',
    singleDatePicker: true
  });
  $('input[name="searchanalysisto"]').daterangepicker({
    opens: 'left',
    singleDatePicker: true
  });
});*/
</script>
  

     <!--  <script type="text/javascript">
         $(document).ready(function() {
             $('input[name="daterange"]').daterangepicker({
             opens: 'left'
           });
         });
      </script> -->
      
    <!-- Resources -->
