<div ng-app="postApp" ng-cloak ng-controller="postController">
  
   <div class="content-page">
               <div class="content">
                  <div class="container-fluid">
                        <div class="page-title-box">
                           <h4 class="page-title">Seo Report</h4>
                        </div> 


                        <div class="row">
                          <div class="col-md-12">
                               <div class="card mt-10">
                                 <div class="card-body">
                                    <div class="seo-report-table">
                                       <table class="table-striped seo-table">
                                          <thead>
                                             <tr>
                                                <th>Page</th>
                                                <th>Title</th>
                                                <th>Meta Title Tag</th>
                                                <th>Meta Description Tag</th>
                                                <th>Keyword</th>
                                                <th>H1 Tags</th>
                                                <th>H2 Tags</th>
                                                <th>Content</th>
                                                <th>Page ON (or) OFF</th>
                                             </tr>
                                          </thead>
                                          <tbody>
                                              {% for item in items %}
                                             <tr>
                                             <td>{{ item.page_name}}</td>
                                             <td>{% if item.meta_title is empty  %}<a href="javascript://" class="seo-yes"><i class="fa fa-check" aria-hidden="true"></i></a>{% else %}<a href="javascript://" class="seo-no"><i class="fa fa-times" aria-hidden="true"></i></a>{% endif %}</td>
                                             <td>{% if item.meta_title is empty  %}<a href="javascript://" class="seo-yes"><i class="fa fa-check" aria-hidden="true"></i></a>{% else %}<a href="javascript://" class="seo-no"><i class="fa fa-times" aria-hidden="true"></i></a>{% endif %}</td>
                                             <td>{% if item.meta_description is empty  %}<a href="javascript://" class="seo-yes"><i class="fa fa-check" aria-hidden="true"></i></a>{% else %}<a href="javascript://" class="seo-no"><i class="fa fa-times" aria-hidden="true"></i></a>{% endif %}</td>
                                             <td>{% if item.meta_keyword is empty  %}<a href="javascript://" class="seo-yes"><i class="fa fa-check" aria-hidden="true"></i></a>{% else %}<a href="javascript://" class="seo-no"><i class="fa fa-times" aria-hidden="true"></i></a>{% endif %}</td>
                                             <td>{% if item.h1_tag is empty  %}<a href="javascript://" class="seo-yes"><i class="fa fa-check" aria-hidden="true"></i></a>{% else %}<a href="javascript://" class="seo-no"><i class="fa fa-times" aria-hidden="true"></i></a>{% endif %}</td>
                                             <td>{% if item.h2_tag is empty  %}<a href="javascript://" class="seo-yes"><i class="fa fa-check" aria-hidden="true"></i></a>{% else %}<a href="javascript://" class="seo-no"><i class="fa fa-times" aria-hidden="true"></i></a>{% endif %}</td>
                                             <td>{% if item.meta_title is empty  %}<a href="javascript://" class="seo-yes"><i class="fa fa-check" aria-hidden="true"></i></a>{% else %}<a href="javascript://" class="seo-no"><i class="fa fa-times" aria-hidden="true"></i></a>{% endif %}</td>
                                             <td>{% if item.meta_title is empty  %}<a href="javascript://" class="seo-yes"><i class="fa fa-check" aria-hidden="true"></i></a>{% else %}<a href="javascript://" class="seo-no"><i class="fa fa-times" aria-hidden="true"></i></a>{% endif %}</td>
                                            </tr>
                                             {% endfor %}
                                          </tbody>
                                          <!-- <tbody>
                                             <tr>
                                                <td>Home</td>
                                                <td><a href="javascript://" class="seo-yes"><i class="fa fa-check" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-yes"><i class="fa fa-check" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-yes"><i class="fa fa-check" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-no"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-no"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-no"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-no"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-yes"><i class="fa fa-check" aria-hidden="true"></i></a></td>
                                             </tr>
                                             <tr>
                                                <td>About Us</td>
                                                <td><a href="javascript://" class="seo-yes"><i class="fa fa-check" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-no"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-no"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-no"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-no"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-yes"><i class="fa fa-check" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-no"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-no"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                             </tr>
                                             <tr>
                                                <td>Our Service</td>
                                                <td><a href="javascript://" class="seo-yes"><i class="fa fa-check" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-no"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-no"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-yes"><i class="fa fa-check" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-no"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-yes"><i class="fa fa-check" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-yes"><i class="fa fa-check" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-yes"><i class="fa fa-check" aria-hidden="true"></i></a></td>
                                             </tr>
                                              <tr>
                                                <td>Our Locations</td>
                                                <td><a href="javascript://" class="seo-yes"><i class="fa fa-check" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-no"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-no"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-yes"><i class="fa fa-check" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-no"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-yes"><i class="fa fa-check" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-yes"><i class="fa fa-check" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-yes"><i class="fa fa-check" aria-hidden="true"></i></a></td>
                                             </tr>
                                             <tr>
                                                <td>Testimonial</td>
                                                <td><a href="javascript://" class="seo-yes"><i class="fa fa-check" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-no"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-no"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-no"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-no"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-yes"><i class="fa fa-check" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-no"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-no"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                             </tr>
                                             <tr>
                                                <td>Videos</td>
                                                <td><a href="javascript://" class="seo-yes"><i class="fa fa-check" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-yes"><i class="fa fa-check" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-yes"><i class="fa fa-check" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-no"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-no"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-no"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-no"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-no"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                             </tr>
                                             <tr>
                                                <td>Faq</td>
                                                <td><a href="javascript://" class="seo-yes"><i class="fa fa-check" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-yes"><i class="fa fa-check" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-no"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-no"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-no"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-yes"><i class="fa fa-check" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-yes"><i class="fa fa-check" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-yes"><i class="fa fa-check" aria-hidden="true"></i></a></td>
                                             </tr>
                                              <tr>
                                                <td>Terms and Conditions</td>
                                                <td><a href="javascript://" class="seo-yes"><i class="fa fa-check" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-yes"><i class="fa fa-check" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-yes"><i class="fa fa-check" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-no"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-no"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-no"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-no"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-no"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                             </tr>
                                             <tr>
                                                <td>Contact Us</td>
                                                <td><a href="javascript://" class="seo-yes"><i class="fa fa-check" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-yes"><i class="fa fa-check" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-yes"><i class="fa fa-check" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-no"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-no"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-no"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-no"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                                <td><a href="javascript://" class="seo-yes"><i class="fa fa-check" aria-hidden="true"></i></a></td>
                                             </tr>
                                          </tbody> -->
                                       </table>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- <div class="seo-report-tab-container">
                           <div class="row">
                              <div class="col-md-2 seo-report-tab-menu">
                                  <div class="list-group">
                                     <a href="#" class="list-group-item active text-center">
                                      Home
                                     </a>
                                     <a href="#" class="list-group-item text-center">
                                       About Us
                                     </a>
                                     <a href="#" class="list-group-item text-center">
                                       Our Service
                                     </a>
                                     <a href="#" class="list-group-item text-center">
                                       Contact Us
                                     </a>
                                     
                                   </div>
                              </div>

                              <div class="col-md-10">
                                  <div class="seo-tab-content active">
                                       <div class="seo-tab-table">
                                          <table class="table-striped table-seo">
                                             <thead>
                                                <tr>
                                                   <th>Keyword</th>
                                                   <th>Title</th>
                                                   <th>Meta Description Tag</th>
                                                   <th>Headings Tags</th>
                                                </tr>
                                             </thead>
                                             <tbody>
                                                <tr>
                                                   <td><a href="javascript://" class="seo-yes"><i class="fa fa-check" aria-hidden="true"></i></a></td>
                                                   <td><a href="javascript://" class="seo-no"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                                   <td><a href="javascript://" class="seo-no"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                                   <td><a href="javascript://" class="seo-no"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                                </tr>
                                             </tbody>
                                          </table>
                                       </div>
                                  </div>
                                  <div class="seo-tab-content">
                                       hai
                                  </div>
                              </div>
                           </div>
                        </div> -->

                  </div>
               </div>
            </div>          



</div>
