  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <div ng-app="postApp" ng-cloak ng-controller="postController">
    <div class="">
            <div class="content">
               <div class="container-fluid">
                <div class="page-title-box">
                     <h4 class="page-title">Marketing Message</h4>
                      <!-- <div class="float-right">
                        <button class="button-normal btn-seo-icon mr-1" data-toggle="modal" data-target="#seopopup1">Update Seo</button> <a href="home-page.html" class="button-normal btn-back-icon">Back</a>
                     </div> -->
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="card mt-10">
                        <div class="card-header card-header-toggle">
                          <h3 class="card-title"><span>Click Here to Add </span><font id="updateservice">Marketing Message</font></h3>
                        </div>
                          <div  class="alert alert-success" {% if title == "" %} style="display:none" {% endif %}>
                            {{title}}
                          </div>
                          <div  class="alert alert-danger" {% if error == "" %} style="display:none" {% endif %}>
                            {{error}}
                          </div>
                          <div id="tpp" class="card-body card-body-toggle">
                            <div class="row">
                              <div class="col-md-7">
                                <form method="post" id="resetform" name="categorform" action="" enctype="multipart/form-data">
                                  <div class="form-group row">
                                    <div class="col-md-6 col-lg-4">
                                      <label class="label-text">Marketing Message
                                        <span class="red-text">*</span>
                                      </label>
                                    </div>
                                    <div class="col-md-6 col-lg-8">
                                      <input maxlength="20" type="text"  required placeholder="Maximum 20 words" name="marketmessage" id="marketname" class="form-control" required>
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <div class="col-md-6 col-lg-4">
                                      <label class="label-text">Percentage
                                        <!-- <span class="red-text">*</span> -->
                                      </label>
                                    </div>
                                    <div class="col-md-6 col-lg-8">
                                      <input  type="number"  min="1" max="99" maxlength="2" name="percentage" id="percentage" class="form-control">
                                    </div>
                                  </div>
                                 

                                  <div class="form-group row">
                                      <input type="hidden" id="hidden_id" name="hidden_id">
                                  </div>
                                  <div class="form-group row">
                                      <input type="hidden" id="postid" name="postid" value='{{postid}}'>
                                  </div>
                                 
                                  <div class="form-group row">
                                    <div class="col-md-6 col-lg-4 label-text"></div>
                                    <div class="col-md-6 col-lg-8">
                                      <div>
                                        <input type="submit" value="save" class="button-normal btn-save-icon" type="submit">
                                        <button id="resets" class="button-normal btn-reset-icon" type="reset" value="Reset">Reset</button>

                                      </div>
                                   </div>
                                  </div>
                                  
                                </form>
                              </div>
                            </div>
                          </div>
                      </div>
                      </div>
                      <div class="col-md-12 pad-0">
                      <div class="card">
                      <div class="card-body">
                      <div class="table-responsive">
                      <table class="table-striped table-sort">
                        <thead>
                        <tr>
                          <th>Marketing Message</th>
                          <th>Percentage</th>
                          <th>Edit</th>
                          <th>Delete</th>
                        </tr>
                        </thead>
                        <tfoot>
                          <tr>
                            <td><input ng-change="marketnamesearch()" ng-model="market_search" type="text" name="" class="search-table"></td>
                            <td><input ng-change="marketpercentage()" ng-model="percentage_search" type="text" name="" class="search-table"></td>
                            <td></td>
                          </tr>
                        </tfoot>
                        <tbody>
                        <tr ng-repeat="(key, value) in pagedItems[currentPage]">
                          <td>{{'{{value.tname}}'}}</td>
                          <td>{{'{{value.percentage}}'}}</td>
                          <td><a class="edit-icons" ng-click='editmarket(value.tid)'><img class="rt" src="../themes/APA Admin Theme/images/icons/table-edit.png"></a></td>
                          <td><a id="{{'{{value.tid}}'}}" ng-click="deleteconfirm(value.tid)" class="delete-icons" href="#"><img src="../themes/APA Admin Theme/images/icons/table-delete.png"></a></td>
                        </tr>
                        <!-- <tr>
                          <td>AISIN </td>
                          <td>https://www.AISIN.com/</td>
                          <td><input  type="checkbox" checked="checked"></td>
                          <td class="table_align_center"><img src="../themes/APA Admin Theme/images/brand/2.jpg" style="width: 50px;"></td>
                          <td>AISIN</td>
                          <td><a class="edit-icons" href="#"><img src="../themes/APA Admin Theme/images/icons/table-edit.png"></a></td>
                          <td><a class="delete-icons" href="#"><img src="../themes/APA Admin Theme/images/icons/table-delete.png"></a></td>
                        </tr>
                        <tr>
                          <td>ALGO </td>
                          <td>https://www.ALGO.com/</td>
                          <td><input  type="checkbox" checked="checked"></td>
                          <td class="table_align_center"><img src="../themes/APA Admin Theme/images/brand/3.jpg" style="width: 50px;"></td>
                          <td>ALGO</td>
                          <td><a class="edit-icons" href="#"><img src="../themes/APA Admin Theme/images/icons/table-edit.png"></a></td>
                          <td><a class="delete-icons" href="#"><img src="../themes/APA Admin Theme/images/icons/table-delete.png"></a></td>
                        </tr> -->
                        </tbody>
                      </table>
                      </div>
                      <div class="container-fluid pad-0 bg-pagination">
                        <ul class="pagination pull-right pagi_master ">
                          <li ng-class="{disabled: currentPage == 0}">
                              <a href ng-click="prevPage()">«</a>
                          </li>
                          <li ng-repeat="n in pagenos | limitTo:5"
                              ng-class="{active: n == currentPage}"
                          ng-click="setPage()">
                              <a href ng-bind="n + 1">1</a>
                          </li>
                          <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                              <a href ng-click="nextPage()">»</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  </div>
                    </div>
                    </div>
               </div>
            </div>

            <div id="myModal" class="modal fade">
              <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                  <div class="modal-content_in">
                    <div class="icon-box">
                      <i data-dismiss="modal" class="fa fa-close"></i>
                    </div>
                    <h4 class="modal-title cclr">Are you sure?</h4>
                      <button  type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  </div>
                  <div class="modal-body">
                    <p   id="confirms">Do you really want to delete these records?</p>
                  </div>
                  <div class="modal-footer svv">
                    <button  type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                    <button  ng-click="deletemarketmsg()" type="button" class="btn btn-danger">Delete</button>
                  </div>
                </div>
              </div>
          </div>
</div>
