<div ng-app="postApp" ng-cloak ng-controller="postController">
  <div class="content">
    <div class="container-fluid">
      <div class="page-title-box">
        <h4 class="page-title">Contact Us</h4>
        <div  class="alert alert-success" {% if title == "" %} style="display:none" {% endif %} >
          {{title}}
        </div>
        <div  class="alert alert-danger" {% if error == "" %} style="display:none" {% endif %} >
         {{error}}
        </div>
             <div class="float-right">
                <a href="javascript:history.back()" class="button-normal btn-back-icon">Back</a>
              </div>
      </div>
      <ul class="tabs">
        <li class="tab current" data-tab="contact-1">Contact Address</li>
        <li class="tab" data-tab="contact-2">Branch Details</li>
      </ul>
      <div id="contact-1" class="tab-content tab-seo-content current">
        <form action="contactus" id="resetform" method="post" enctype="multipart/form-data" autocomplete="off">
          <div class="row">
            <div class="col-md-6">
              <div class="card m-0">
                <div class="card-header">
                  <h3 class="card-title">Contact Address</h3>
                </div>
                <div class="card-body pt-0">
                  <div class="row">
                    <input type="text" name="contactusid" style="display:none;" ng-model="contactusid_model">
                    <div class="col-md-6 form-group">
                      <label class="label-text">Company Name<span class="red-text">*</span></label>
                      <input type="text"  pattern=".*\S+.*" required name="company_name" autocomplete="off" ng-model="company_name_model" class="form-control">
                    </div>
                    <div class="col-md-6 form-group">
                      <label class="label-text">Address 1 <span class="red-text">*</span></label>
                      <input type="text" id="" pattern=".*\S+.*" name="address1" autocomplete="off" ng-model="address1_model" class="form-control">
                    </div>
                    <div class="col-md-6 form-group">
                      <label class="label-text">Address 2 <span class="red-text">*</span></label>
                      <input type="text" id="" pattern=".*\S+.*" required name="address2" autocomplete="off" ng-model="address2_model" class="form-control">
                    </div>
                    <div class="col-md-6 form-group">
                      <label class="label-text">Zip Code <span class="red-text">*</span></label>
                      <input type="text" id="" pattern=".*\S+.*" required name="zip_code" autocomplete="off" ng-model="zip_code_model" class="form-control">
                    </div>
                    <div class="col-md-6 form-group">
                      <label class="label-text">Country <span class="red-text">*</span></label>
                      <input type="text" id="" pattern=".*\S+.*" required name="country" autocomplete="off" ng-model="country_model" class="form-control">
                    </div>
                    <div class="col-md-6 form-group">
                      <label class="label-text">State <span class="red-text">*</span></label>
                      <input type="text" id="" pattern=".*\S+.*" required name="state"  autocomplete="off" ng-model="state_model" class="form-control">
                    </div>
                    <div class="col-md-6 form-group">
                      <label class="label-text">City <span class="red-text">*</span></label>
                      <input type="text" id="" pattern=".*\S+.*" required name="city" autocomplete="off" ng-model="city_model" class="form-control">
                    </div>
                    <div class="col-md-6 form-group">
                      <label class="label-text">Email</label>
                      <input type="text" id="" pattern=".*\S+.*"  name="email" autocomplete="off" ng-model="email_model" class="form-control">
                    </div>
                    <div class="col-md-6 form-group">
                      <label class="label-text">Phone</label>
                      <input type="text" id="" pattern=".*\S+.*"  name="phone" autocomplete="off" ng-model="phone_model" class="form-control">
                    </div>
                    <div class="form-group row">
                      <input type="hidden" id="postid" name="postid" value='{{postid}}'>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <div class="card-header">
                   <h3 class="card-title">Keep In Touch</h3>
                </div>
                <div class="card-body pt-0">
                  <div class="row">
                    <div class="col-md-6 form-group">
                        <label class="label-text">Facebook</label>
                        <input type="text" name="facebook" autocomplete="off" ng-model="facebook_model" class="form-control">
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="label-text">Twitter</label>
                        <input type="text" name="twitter" autocomplete="off" ng-model="twitter_model" class="form-control">
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="label-text">YouTube</label>
                        <input type="text" name="youtube" autocomplete="off" ng-model="youtube_model" class="form-control">
                    </div>
                     <div class="col-md-6 form-group">
                        <label class="label-text">LinkedIn</label>
                        <input type="text" name="linkedin" autocomplete="off" ng-model="linkedin_model" class="form-control">
                    </div>
                     <div class="col-md-6 form-group">
                        <label class="label-text">Google+</label>
                        <input type="text" name="googleplus" autocomplete="off" ng-model="googleplus_model" class="form-control">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                   <div class="row">
                      <div class="col-md-12">
                         <div class="row">
                            <div class="col-md-3">
                              <label class="label-text">Email Id for Drop Us a line</label>
                            </div>
                            <div class="col-md-5">
                              <input type="email" autocomplete="off" name="emaildropline" ng-model="emaildropline_model" class="form-control">
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
             <div class="col-md-12">
                <div class="card">
                      <div class="card-header">
                         <h3 class="card-title">Map Information</h3>
                      </div>
                <div class="card-body pt-0">
                   <div class="row">
                      <div class="col-md-12">
                         <div class="checkbox">
                            <div class="form-check">
                               <input type="checkbox" autocomplete="off" ng-checked="showmap_model=='on'" name="showmap" ng-model="showmap_model" checked>
                               <label class="">Show Map</label>
                            </div>
                            <!-- <div class="form-check">
                               <input type="checkbox" data-checkboxes="mygroup" class="check-input" id="checkbox-2">
                               <label for="checkbox-2" class="label-text">Show only in Footer</label>
                            </div> -->
                         </div>
                         <div class="form-group">
                             <label class="label-text">Google Map Iframe</label>
                               <textarea type="text" autocomplete="off" name="googlemap" ng-model="googlemap_model" class="form-control"></textarea>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
               <div>
                  <button value="save" class="button-normal btn-save-icon" name="contact"  type="submit">Save</button>
                  <!-- <button class="button-normal btn-reset-icon" ng-click="reset_contactus()" type="button">Reset</button> -->
               </div>
           </div>
        </div>
      </form>
    </div>

                  <div id="contact-2" class="tab-content tab-seo-content">
                      <div class="row">
                        <div class="col-md-12">
                        <div class="card mt-10">
                           <div class="card-header card-header-toggle">
                              <h3 class="card-title"><span>Click Here to Add </span>Branch Details</h3>
                           </div>
                              <div class="card-body card-body-toggle">
                                  <form action="contactus" id="branchform" method="post" enctype="multipart/form-data">
                                    <input type="hidden" id="hidden_id" name="hidden_id">
                                    <div class="form-group row">
                                      <input type="hidden" id="postid" name="postid" value='{{postid}}'>
                                    </div>
                                       <div class="row">
                                        <input type="text" style="display:none;" name="branchid" ng-model="branchid_model">
                                          <div class="col-md-6 form-group">
                                             <label class="label-text">Branch Title<span class="red-text">*</span></label>
                                             <input type="text" required id="branch_title" autocomplete="off" name="branch_title" ng-model="branch_title" class="form-control">
                                         </div>
                                         <div class="col-md-6 form-group">
                                             <label class="label-text">Branch Name<span class="red-text">*</span></label>
                                             <input type="text" required id="branch_name" autocomplete="off"  name="branch_name" ng-model="branch_name" class="form-control">
                                         </div>
                                         <div class="col-md-6 form-group">
                                             <label class="label-text">Address 1 <span class="red-text">*</span></label>
                                             <input type="text" required id="branch_address1" autocomplete="off" name="branch_address1" ng-model="branch_address1" class="form-control">
                                         </div>
                                         <div class="col-md-6 form-group">
                                             <label class="label-text">Address 2 <span class="red-text">*</span></label>
                                             <input type="text" required id="branch_address2" autocomplete="off" name="branch_address2" ng-model="branch_address2" class="form-control">
                                         </div>
                                         <div class="col-md-6 form-group">
                                             <label class="label-text">Zip Code <span class="red-text">*</span></label>
                                             <input type="text" required id="branch_zipcode" autocomplete="off" name="branch_zipcode" ng-model="branch_zipcode" class="form-control">
                                         </div>
                                         <div class="col-md-6 form-group">
                                             <label class="label-text">Country <span class="red-text">*</span></label>
                                             <input type="text" required id="branch_country" autocomplete="off" name="branch_country" ng-model="branch_country" class="form-control">
                                         </div>
                                         <div class="col-md-6 form-group">
                                             <label class="label-text">State <span class="red-text">*</span></label>
                                             <input type="text"  id="branch_state" autocomplete="off" name="branch_state" ng-model="branch_state" class="form-control">
                                         </div>

                                         <div class="col-md-6 form-group">
                                             <label class="label-text">City </label>
                                             <input type="text"  id="branch_city" autocomplete="off" name="branch_city" ng-model="branch_city" class="form-control">
                                         </div>
                                         <div class="col-md-6 form-group">
                                             <label class="label-text">Email</label>
                                             <input type="text" id="branch_email" autocomplete="off" name="branch_email" ng-model="branch_email" class="form-control">
                                          </div>
                                         <div class="col-md-6 form-group">
                                             <label class="label-text">Phone</label>
                                             <input type="text"  id="branch_phone" autocomplete="off" name="branch_phone" ng-model="branch_phone" class="form-control">
                                        </div>
                                         <div class="col-md-12">
                                             <div>
                                                <button value="save" class="button-normal btn-save-icon" name="branch" type="submit">Save</button>
                                                <button class="button-normal btn-reset-icon" type="reset">Reset</button>
                                             </div>
                                         </div>
                                       </div>

                                    </form>
                                 </div>
                              </div>
                      </div>
                      </div>
                      <div class="row">
                          <div class="col-md-12">
                      <div class="card">
                        <div class="card-body">
                        <div class="table-responsive">
                      <table class="table-striped table-sort">
                        <thead>
                        <tr>
                          <th>Heading</th>
                          <th>Branch Name</th>
                          <th>Address</th>
                          <th>Zip Code</th>
                          <th>Country</th>
                          <th>State</th>
                          <th>City</th>
                          <th>Email</th>
                          <th>Phone</th>
                          <th>Edit</th>
                          <th>Delete</th>
                        </tr>
                        </thead>
                        <tfoot>
                          <tr>
                            <td><input type="text" name="" class="search-table" ng-change="branchheadingsearch()" ng-model="branchheading_search"></td>
                            <td><input type="text" name="" class="search-table" ng-change="branchnamesearch()" ng-model="branchname_search"></td>
                            <td><input type="text" name="" class="search-table" ng-change="branchaddresssearch()" ng-model="branchaddress_search"></td>
                            <td><input type="text" name="" class="search-table" ng-change="branchzipcodesearch()" ng-model="branchzipcode_search"></td>
                            <td><input type="text" name="" class="search-table" ng-change="branchcountryssearch()" ng-model="branchcountry_search"></td>
                            <td><input type="text" name="" class="search-table" ng-change="branchstatesearch()" ng-model="branchstate_search"></td>
                            <td><input type="text" name="" class="search-table" ng-change="branchcitysearch()" ng-model="branchcity_search"></td>
                            <td><input type="text" name="" class="search-table" ng-change="branchemailsearch()" ng-model="branchemail_search"></td>
                            <td><input type="text" name="" class="search-table" ng-change="branchphonesearch()" ng-model="branchphone_search"></td>
                            <td></td>
                            <td></td>
                          </tr>
                        </tfoot>
                        <tbody>
                        <tr ng-repeat="(key, value) in pagedItems[currentPage]">
                          <td>{{'{{value.branch_heading}}'}}</td>
                          <td>{{'{{value.branch_name}}'}}</td>
                          <td>{{'{{value.branch_address1}}'}}</td>
                          <td>{{'{{value.branch_zip_code}}'}}</td>
                          <td>{{'{{value.branch_country}}'}}</td>
                          <td>{{'{{value.branch_state}}'}}</td>
                          <td>{{'{{value.branch_city}}'}}</td>
                          <td>{{'{{value.branch_email}}'}}</td>
                          <td>{{'{{value.branch_phone}}'}}</td>
                          <td><a class="edit-icons" ng-click="editbranch(value.branch_id)" ><img src="../themes/APA Admin Theme/images/icons/table-edit.png"></a></td>
                          <td><a class="delete-icons" id="{{'{{value.branch_id}}'}}" ng-click="deletebranch(value.branch_id)"><img src="../themes/APA Admin Theme/images/icons/table-delete.png"></a></td>
                        </tr>
                        </tbody>
                      </table>
                      </div>
                      <div class="container-fluid pad-0 bg-pagination">
                        <ul class="pagination pull-right pagi_master ">
                          <li ng-class="{disabled: currentPage == 0}">
                            <a href ng-click="prevPage()">«</a>
                          </li>
                          <li ng-repeat="n in pagenos | limitTo:5"
                                ng-class="{active: n == currentPage}"
                            ng-click="setPage()">
                              <a href ng-bind="n + 1">1</a>
                          </li>
                          <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                              <a href ng-click="nextPage()">»</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  </div>
                </div>
          </div>
        </div>
    </div>
    <div id="myModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
      <div class="modal-content">
        <div class="modal-content_in">
          <div class="icon-box">
            <i data-dismiss="modal" class="fa fa-close"></i>
          </div>
          <h4 class="modal-title cclr">Are you sure?</h4>
            <button  type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <p typess="branch"  id="confirms">Do you really want to delete these records?</p>
        </div>
        <div class="modal-footer svv">
          <button  type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
          <button  id="branch" type="button" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
