
<style>

</style>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<div ng-app="postApp" ng-cloak ng-controller="postController">

<div id="wrapper">
   <!-- Top Bar Start -->

   <!-- Top Bar End --><!-- ========== Left Sidebar Start ========== -->
<div class="">
   <div class="content">
      <div class="container-fluid">
         <div class="page-title-box">
            <h4 class="page-title">Tax</h4>
           <div class="float-right">
                  <a href="javascript:history.back()" class="button-normal btn-back-icon">Back</a>
           </div>

         </div>

        <div  class="alert alert-success" {% if title == "" %} style="display:none" {% endif %} >
         {{title}}
        </div>
        <div  class="alert alert-danger" {% if error == "" %} style="display:none" {% endif %} >
         {{error}}
        </div>
         <div class="row">
               <div class="col-md-12">
                  <div class="card mt-15">
                  
                     <div class="">
                      <form action="taxsetting" id="paypalform" method="post" enctype="multipart/form-data">
                        <div class="row">
                          <input type="hidden" name="hidden_id" id="hidden_id">
                          <input type="hidden" id="postid" name="postid" value='{{postid}}'>
                           <div class="col-md-6">
                                 <div class="mt-10">
                                  <div class="form-group mt-15 row">
                                    <div class="col-md-4">
                                       <label>Tax Percentage </label>
                                    </div>
                                    <div class="col-md-8">
                                       <input type="text" autocomplete="off" id="tax_per" name="tax_per" class="form-control" onkeypress="return isNumberKey(event)" required>
                                    </div>
                                 </div>
                                
                                 <div class="form-group row">
                                    <div class="col-md-4">
                                       <label>Including Tax in invoice </label>
                                    </div>
                                      <div class="col-md-8">
                                              <!-- <input type="checkbox" class="form-control flipswitch" /> -->
                                              <input type="checkbox" name="tax_status" id="tax_status" class=" form-control">
                                              <span class="checkmark"></span>
                                       </div>
                                 </div>
                                

                           </div>
                           <div class="form-group row">
                             <div class="col-md-4"></div>
                             <div class="col-md-8">
                                <div>
                                   <button class="button-normal btn-add-icon" name="tax_sub" value="save" type="submit">Update</button>
                              
                                </div>
                            </div>
                           </div>
                           </div>
                        </div>


                       </form>
                     </div>
                  </div>


                 

               </div>
         </div>


         </div>
      </div>
   </div>
</div>
</div>

 <SCRIPT language=Javascript>
       <!--
       function isNumberKey(evt)
       {
          var charCode = (evt.which) ? evt.which : evt.keyCode;
          if (charCode != 46 && charCode > 31 
            && (charCode < 48 || charCode > 57))
             return false;

          return true;
       }
       //-->
    </SCRIPT>