<div class="full-content-page theme-section">
   <div class="content">
      <div class="container-fluid">
         <div class="page-title-box">
            <h4 class="page-title">Your Theme</h4>
         </div>


         <div class="row">
               <div class="col-md-6 col-lg-5">
                  <div class="">
                     <span class="image-bg">
                        <span class="image-shop-scroll"></span>
                        <span class="glare"></span>
                     </span>
                  </div>

                <!--   <div class="current-theme">
                        <div class="current-theme-item" style="background-image: url(assets/images/the1.png);">
                        </div>
                  </div> -->

               </div>
               <div class="col-md-6 col-lg-7">
                  <div class="theme-box-content mt-20">
                     <p class="theme-name">Theme Name : Catapult</p>
                     <div class="theme-cate-sec">
                        <div class="radio-check radio-check-inline">
                           <input id="website" name="radio" type="radio" checked="checked">
                           <label for="website" class="radio-label">Website</label>
                         </div>
                         <div class="radio-check radio-check-inline">
                           <input id="catalog" name="radio" type="radio">
                           <label for="catalog" class="radio-label">Catalog</label>
                         </div>
                         <div class="radio-check radio-check-inline">
                           <input id="ecommerce" name="radio" type="radio">
                           <label for="ecommerce" class="radio-label">E-commerce</label>
                         </div>
                     </div>
                     <ul class="listing-style">
                        <li>10 Static Pages</li>
                        <li>Manual SEO Configuration</li>
                        <!-- <li>Automated SEO Configuration</li> -->
                        <li>Search Function</li>
                        <li>Responsive Pages</li>

                     </ul>
                        <a href="theme1/e_commerce/" class="button-normal visit-button" target="_blank">Visit Website</a>
                  </div>
               </div>
         </div>


         <div class="row">
            <div class="col-md-12">
               <div class="other-demo">
                  <div class="page-title-box">
                     <h4 class="page-title">Other Themes</h4>
                  </div>
               </div>

               <div class="row">
                  <div class="col-md-3">
                     <!-- <div class="catapult-item">
                         <a href="" target="_blank">
                             <img src="assets/images/themes/theme1.jpg" alt="Template Image">
                         </a>
                         <div class="catapult-item-caption">
                             <h5><a href="" target="_blank">Catapult – Website HTML Template</a></h5>
                             <div class="catapult-item-author-ctg">
                                 By <span title="Author">APA Engineering</span> in
                                      <strong><a href=""> Website </a></strong>
                             </div>
                         </div>

                         <div class="catapult-item-foot">
                             <div class="catapult-sales-count">
                                 <a href="" target="_blank" class="catapult-preview">Preview <i class="fa fa-long-arrow-right"></i></a>
                             </div>
                             <div class="catapult-foot-right">
                                 <a href="" target="_blank" class="catapult-buy-now">Buy Now</a>
                             </div>
                         </div>
                     </div> -->

                     <div class="portfolio-image">
                        <a href="theme1/e_commerce/" target="_blank">
                            <!-- <span class="rebon_tap">New</span> -->
                            <img src="../themes/APA Admin Theme/images/themes/theme1.png" alt="" class="img-responsive">
                        </a>
                        <a href="" class="text" target="_blank">Catapult theme One</a>
                    </div>



                  </div>
                  <div class="col-md-3">

                     <div class="portfolio-image">
                        <a href="theme2/" target="_blank">
                            <!-- <span class="rebon_tap">New</span> -->
                            <img src="../themes/APA Admin Theme/images/themes/theme2.png" alt="" class="img-responsive">
                        </a>
                        <a href="" class="text" target="_blank">Catapult theme Two</a>
                    </div>

                  </div>
                  <div class="col-md-3">

                     <div class="portfolio-image">
                        <a href="client1/index.html" target="_blank">
                            <span class="rebon_tap">New</span>
                            <img src="../themes/APA Admin Theme/images/themes/theme3.png" alt="" class="img-responsive">
                        </a>
                        <a href="" class="text" target="_blank">Catapult theme Three</a>
                    </div>

                  </div>
                  <div class="col-md-3">

                     <div class="portfolio-image">
                        <a href="http://apagreen.com/autotech/" target="_blank">
                            <!-- <span class="rebon_tap">New</span> -->
                            <img src="../themes/APA Admin Theme/images/themes/theme4.png" alt="" class="img-responsive">
                        </a>
                        <a href="" class="text" target="_blank">Catapult theme Four</a>
                    </div>
                  </div>

               </div>
            </div>
         </div>


         </div>
      </div>
   </div>
