<div class="">
  <div class="content">
     <div class="container-fluid">
        <div class="page-title-box">
          <h4 class="page-title">User Master</h4>
          <div class="float-right">
                 <a href="javascript:history.back()" class="button-normal btn-back-icon">Back</a>
         </div>
        </div>
        <div class="row">
            <div class="col-md-12 pad-0">
            <div class="card">
              <div class="card-body">
              <div class="table-responsive">
            <table class="table-striped table-sort">
              <thead>
              <tr>
                <th>User Name</th>                
                <th>User Email</th>
                <th>User Registered</th>
                <th>User Last Login</th>
              </tr>
              </thead>
              <tbody>
                {% for key,value in user_details %}
              <tr>
                <td>{{value['name']}}</td>
                <td>{{value['mail']}}</td>
                <td>{{value['created']}}</td>
                <td>{{value['login']}}</td>
              </tr> 
              {% endfor %}             
              </tbody>
            </table>
            </div>
          </div>
        </div>
        </div>
          </div>

          </div>


     </div>
  </div>