<div ng-app="postApp" ng-cloak ng-controller="postController">
            <div class="content">
               <div class="container-fluid">
                  <div class="page-title-box">
                     <h4 class="page-title">Theme Settings</h4>
                     <div class="float-right">
                  <a href="javascript:history.back()" class="button-normal btn-back-icon">Back</a>
           </div>
                  </div>

                  <div class="row">
                    <div class="col-md-8 theme-setting">
                      <div class="card">
                        <div class="card-header">
                             <h3 class="card-title">Select the Necessary Section for Customization</h3>
                        </div>
                          <div class="card-body pt-0">
                              <div id="accordion">

                                  <div class="card-panel">
                                    <div class="card-header-panel">
                                      <a class="card-link" data-toggle="collapse" href="#collapseOne">
                                        General Settings
                                      </a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                      <div class="card-body-panel">
                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <div class="label-text">Catalog</div>
                                            </div>
                                            <div class="col-md-8">
                                               <div class="switch-button">
                                                <div style="height: 35px;" ng-if="theme[0] == 0">
                                                  <input setid="productsoverall" checked    type="checkbox" class="top_switch switch-checkbox  No">
                                                  <div class="switch-yesno">
                                                    <span>YES</span>
                                                  </div>
                                                  <div class="layer"></div>
                                                </div>
                                                <div  style="height: 35px;" ng-if="theme[0] == 1">
                                                  <input setid="productsoverall"  type="checkbox" class="top_switch switch-checkbox  Yes">
                                                  <div class="switch-yesno">
                                                    <span>YES</span>
                                                  </div>
                                                  <div class="layer"></div>
                                                </div>
                                              </div>
                                            </div>
                                        </div>

                                        <div class="form-group row cartoveralls">
                                            <div class="col-md-4">
                                                <div class="label-text">Shopping Cart</div>
                                            </div>
                                            <div class="col-md-8">
                                              <div class="switch-button">
                                                <div style="height: 35px;" ng-if="theme[2] == 0">
                                                  <input setid="cartoverall" checked    type="checkbox" class="top_switch switch-checkbox  No">
                                                  <div class="switch-yesno">
                                                    <span>YES</span>
                                                  </div>
                                                  <div class="layer"></div>
                                                </div>
                                                <div style="height: 35px;" ng-if="theme[2] == 1">
                                                  <input setid="cartoverall"  type="checkbox" class="top_switch switch-checkbox  Yes">
                                                  <div class="switch-yesno">
                                                    <span>YES</span>
                                                  </div>
                                                  <div class="layer"></div>
                                                </div>
                                              </div>
                                            </div>
                                        </div>



                                        <!-- <div class="row">
                                          <div class="col-md-12">
                                             <div class="float-right">
                                                <button class="button-normal btn-save-icon" type="button">Save</button>
                                                <button class="button-normal btn-reset-icon" type="button">Reset</button>
                                             </div>
                                         </div>
                                        </div> -->

                                      </div>
                                    </div>
                                  </div>
                                  <div class="card-panel">


                                    <div class="card-header-panel">
                                      <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                                        Top Bar
                                      </a>
                                    </div>
                                    <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                      <div class="card-body-panel">

                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <div class="label-text">Phone #</div>
                                            </div>

                                            <div class="col-md-8">

                                              <div class="switch-button">
                                                <div style="height: 35px;" ng-if="topbar[0]['phone_enable'] == 0">
                                                  <input setid="phone" checked    type="checkbox" class="top_switch switch-checkbox {{'{{topbar[0][phone_enable]}}'}} No">
                                                  <div class="switch-yesno">
                                                    <span>YES</span>
                                                  </div>
                                                  <div class="layer"></div>
                                                </div>
                                                <div style="height: 35px;" ng-if="topbar[0]['phone_enable'] == 1">
                                                  <input setid="phone"  type="checkbox" class="top_switch switch-checkbox {{'{{topbar[0][phone_enable]}}'}} Yes">
                                                  <div class="switch-yesno">
                                                    <span>YES</span>
                                                  </div>
                                                  <div class="layer"></div>
                                                </div>
                                              </div>

                                              <div class="switch-input-box">
                                                <input id="phone_value"  type="text" value="{{'{{topbar[0].phone}}'}}"
                                                class="form-control">
                                              </div>
                                              <button setid="phone_save" class="button-normal btn-save-icon ml-10 saves">Save</button>
                                            </div>

                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <div class="label-text">Shipping <!-- <i class="fa fa-cube" aria-hidden="true"></i> --></div>
                                            </div>
                                            <div class="col-md-8">
                                              <div class="switch-button">
                                                <div style="height: 35px;" ng-if="topbar[0].shipping_enable == 0">
                                                  <input checked setid="shipid" type="checkbox" class="top_switch switch-checkbox
                                                  No">
                                                  <div class="switch-yesno">
                                                    <span>YES</span>
                                                  </div>
                                                  <div class="layer"></div>
                                                </div>
                                                <div style="height: 35px;" ng-if="topbar[0].shipping_enable == 1">
                                                  <input setid="shipid"  type="checkbox" class="top_switch switch-checkbox
                                                  Yes">
                                                  <div class="switch-yesno">
                                                    <span>YES</span>
                                                  </div>
                                                  <div class="layer"></div>
                                                </div>
                                              </div>
                                              <div class="switch-input-box">
                                                <input id="ship_value" type="text" class="form-control" value="{{'{{topbar[0].shipping}}'}}">
                                              </div>
                                              <button setid="ship_save" class="saves button-normal btn-save-icon ml-10">Save</button>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <div class="label-text">Faq</div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="switch-button">
                                                  <div style="height: 35px;" ng-if="topbar[0]['faq_enable'] == 0">
                                                    <input checked setid="faqid" type="checkbox" class="top_switch switch-checkbox
                                                    No">
                                                    <div class="switch-yesno">
                                                      <span>YES</span>
                                                    </div>
                                                    <div class="layer"></div>
                                                  </div>
                                                  <div style="height: 35px;" ng-if="topbar[0]['faq_enable'] == 1">
                                                    <input setid="faqid"  type="checkbox" class="top_switch switch-checkbox
                                                    Yes">
                                                    <div class="switch-yesno">
                                                      <span>YES</span>
                                                    </div>
                                                    <div class="layer"></div>
                                                  </div>
                                              </div>
                                              <div class="blue-highlight"><a href="{{ url('<front>') }}siteadmin/faq">Update FAQ’s Page</a></div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-md-4">
                                              <div class="label-text">Terms and Conditions</div>
                                            </div>
                                            <div class="col-md-8">
                                              <div class="switch-button">
                                                <div style="height: 35px;" ng-if="topbar[0]['faq_enable'] == 0">
                                                  <input checked setid="tid" type="checkbox" class="top_switch switch-checkbox No">
                                                  <div class="switch-yesno">
                                                    <span>YES</span>
                                                  </div>
                                                  <div class="layer"></div>
                                                </div>
                                                <div style="height: 35px;" ng-if="topbar[0]['faq_enable'] == 1">
                                                  <input setid="tid" type="checkbox" class="top_switch switch-checkbox Yes">
                                                  <div class="switch-yesno">
                                                    <span>YES</span>
                                                  </div>
                                                  <div class="layer"></div>
                                                </div>
                                              </div>
                                              <div class="blue-highlight"><a href="{{ url('<front>') }}siteadmin/termsandcondition">Update Terms and Conditions Page</a></div>
                                            </div>
                                        </div>

                                      </div>
                                    </div>
                                  </div>
                                  <div class="card-panel">
                                    <div class="card-header-panel">
                                      <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                                      Menu Bar
                                    </a>
                                    </div>
                                    <div id="collapseThree" class="collapse" data-parent="#accordion">
                                      <div class="card-body-panel">

                                        <!-- <div class="form-group row">
                                            <div class="col-md-4">
                                                <div class="label-text">Home <span class="red-text">*</span></div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="blue-highlight"><a href="home-page.html">Update Home Page</a></div>
                                            </div>
                                        </div> -->
                                        <div style="clear:both"></div>
                                        <div class="form-group" ng-repeat="(key, value) in products">

                                          <div class="row" ng-if="key != 0 && key != 1 && key != 10 && key != 11">
                                            <div id="part{{'{{value[2]}}'}}" class="col-md-4">
                                                <div class="label-text">{{'{{value[0]}}'}}</div>
                                            </div>
                                            <div  class="col-md-8">
                                              <div class="switch-button">
                                                <input  setid = "{{'{{value[2]}}'}}" type="checkbox" ng-checked="{{'{{value[1]}}'}}" class="menu_switch switch-checkbox {{'{{value[3]}}'}}">
                                                <div class="switch-yesno">
                                                  <span>YES</span>
                                                </div>
                                                <div class="layer"></div>
                                              </div>
                                              <!-- <div class="blue-highlight"><a href="categories.html">Update Page</a></div> -->
                                            </div>
                                          </div>
                                        </div>


                                      </div>
                                    </div>
                                  </div>
                                  <div class="card-panel">
                                    <div class="card-header-panel">
                                      <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
                                        Footer
                                      </a>
                                    </div>
                                    <div id="collapseFour" class="collapse" data-parent="#accordion">
                                      <div class="card-body-panel">

                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <div class="label-text">Site Map</div>
                                            </div>
                                            <div class="col-md-8">
                                              <div class="switch-button">
                                                <div style="height: 35px;" ng-if="footerbar[2] == 0">
                                                  <input setid="sitemap" checked    type="checkbox" class="top_switch switch-checkbox  No">
                                                  <div class="switch-yesno">
                                                    <span>YES</span>
                                                  </div>
                                                  <div class="layer"></div>
                                                </div>
                                                <div style="height: 35px;" ng-if="footerbar[2] == 1">
                                                  <input setid="sitemap"  type="checkbox" class="top_switch switch-checkbox  Yes">
                                                  <div class="switch-yesno">
                                                    <span>YES</span>
                                                  </div>
                                                  <div class="layer"></div>
                                                </div>
                                              </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <div class="label-text">Contact</div>
                                            </div>
                                            <div class="col-md-8">
                                              <div class="switch-button">
                                                <div style="height: 35px;" ng-if="footerbar[1] == 0">
                                                  <input setid="contactset" checked    type="checkbox" class="top_switch switch-checkbox  No">
                                                  <div class="switch-yesno">
                                                    <span>YES</span>
                                                  </div>
                                                  <div class="layer"></div>
                                                </div>
                                                <div style="height: 35px;" ng-if="footerbar[1] == 1">
                                                  <input setid="contactset"  type="checkbox" class="top_switch switch-checkbox  Yes">
                                                  <div class="switch-yesno">
                                                    <span>YES</span>
                                                  </div>
                                                  <div class="layer"></div>
                                                </div>
                                              </div>
                                              <div class="blue-highlight"><a href="{{ url('<front>') }}siteadmin/contactus">Update Main Contact</a></div>
                                            </div>
                                        </div>

                                       <!--  <div class="form-group row">
                                            <div class="col-md-4">
                                                <div class="label-text">Newsletter</div>
                                            </div>
                                            <div class="col-md-8">
                                              <div class="switch-button">
                                                <div style="height: 35px;" ng-if="footerbar[0] == 0">
                                                  <input setid="newset" checked    type="checkbox" class="top_switch switch-checkbox  No">
                                                  <div class="switch-yesno">
                                                    <span>YES</span>
                                                  </div>
                                                  <div class="layer"></div>
                                                </div>
                                                <div style="height: 35px;" ng-if="footerbar[0] == 1">
                                                  <input setid="newset"  type="checkbox" class="top_switch switch-checkbox  Yes">
                                                  <div class="switch-yesno">
                                                    <span>YES</span>
                                                  </div>
                                                  <div class="layer"></div>
                                                </div>
                                              </div>
                                              <div class="switch-input-box">
                                                <input type="text" name="" class="form-control" placeholder="Enter Mail id">
                                              </div>
                                              <button class="button-normal btn-save-icon ml-10">Save</button>
                                            </div>
                                        </div> -->

                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <div class="label-text">Keep In Touch</div>
                                            </div>
                                            <div class="col-md-8">
                                              <div class="switch-button">
                                                <div style="height: 35px;" ng-if="footerbar[3] == 0">
                                                  <input setid="keepset" checked    type="checkbox" class="top_switch switch-checkbox  No">
                                                  <div class="switch-yesno">
                                                    <span>YES</span>
                                                  </div>
                                                  <div class="layer"></div>
                                                </div>
                                                <div style="height: 35px;" ng-if="footerbar[3] == 1">
                                                  <input setid="keepset"  type="checkbox" class="top_switch switch-checkbox  Yes">
                                                  <div class="switch-yesno">
                                                    <span>YES</span>
                                                  </div>
                                                  <div class="layer"></div>
                                                </div>
                                              </div>
                                              <!-- <div class="blue-highlight"><a href="contact.html">Update Keep In Touch</a></div> -->
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <div class="label-text">Copyright</div>
                                            </div>
                                            <div class="col-md-6">
                                                <input id="copyright_data" type="text" value="{{'{{footerbar[4]}}'}}" name="" class="form-control">
                                            </div>
                                            <button id="updatecopy" class="button-normal btn-save-icon">Save</button>

                                        </div>



                                      </div>
                                    </div>
                                  </div>
                                  <div class="card-panel partdetailss">
                                    <div class="card-header-panel">
                                      <a class="collapsed card-link" data-toggle="collapse" href="#collapseFive">
                                        Part Setting
                                      </a>
                                    </div>
                                    <div id="collapseFive" class="collapse" data-parent="#accordion">
                                      <div class="card-body-panel">
                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <div class="label-text">Categories</div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="switch-button">
                                                <div style="height: 35px;" ng-if="theme[7] == 0">
                                                  <input setid="categoryset_part" checked    type="checkbox" class="top_switch switch-checkbox  No">
                                                  <div class="switch-yesno">
                                                    <span>YES</span>
                                                  </div>
                                                  <div class="layer"></div>
                                                </div>
                                                <div style="height: 35px;" ng-if="theme[7] == 1">
                                                  <input setid="categoryset_part"  type="checkbox" class="top_switch switch-checkbox  Yes">
                                                  <div class="switch-yesno">
                                                    <span>YES</span>
                                                  </div>
                                                  <div class="layer"></div>
                                                </div>
                                              </div>
                                              <div class="blue-highlight"><a href="{{ url('<front>') }}admin/categories">Update Categories</a></div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <div class="label-text">Brands</div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="switch-button">
                                                 <div style="height: 35px;" ng-if="theme[3] == 0">
                                                  <input setid="brandset_part" checked    type="checkbox" class="top_switch switch-checkbox  No">
                                                  <div class="switch-yesno">
                                                    <span>YES</span>
                                                  </div>
                                                  <div class="layer"></div>
                                                </div>
                                                <div style="height: 35px;" ng-if="theme[3] == 1">
                                                  <input setid="brandset_part"  type="checkbox" class="top_switch switch-checkbox  Yes">
                                                  <div class="switch-yesno">
                                                    <span>YES</span>
                                                  </div>
                                                  <div class="layer"></div>
                                                </div>
                                              </div>
                                              <div class="blue-highlight"><a href="{{ url('<front>') }}admin/brand">Update Brands</a></div>
                                            </div>
                                        </div>

                                      <!--   <div class="form-group">
                                            <h6>Part title</h6>
                                          <div class="custome-part-mult-sel">
                                              <div class="drag-drop-add">Brand <span class="drag-add"><i class="fa fa-plus" aria-hidden="true"></i></span></div>
                                              <div class="drag-drop-add">Categories <span class="drag-add"><i class="fa fa-plus" aria-hidden="true"></i></span></div>
                                              <div class="drag-drop-add">Part Number <span class="drag-add"><i class="fa fa-plus" aria-hidden="true"></i></span></div>
                                              <div class="drag-drop-add">Make <span class="drag-add"><i class="fa fa-plus" aria-hidden="true"></i></span></div>
                                              <div class="drag-drop-add">Model <span class="drag-add"><i class="fa fa-plus" aria-hidden="true"></i></span></div>
                                              <div class="drag-drop-add">Year <span class="drag-add"><i class="fa fa-plus" aria-hidden="true"></i></span></div>
                                            <div class="drag-drop">
                                                <div class="drag-drop-remove">Brand <span class="drag-close"><i class="fa fa-times" aria-hidden="true"></i></span></div>
                                                <span><i class="fa fa-plus" aria-hidden="true"></i></span>
                                                <div class="drag-drop-remove">Categories <span class="drag-close"><i class="fa fa-times" aria-hidden="true"></i></span></div>
                                                <span><i class="fa fa-plus" aria-hidden="true"></i></span>
                                                 <div class="drag-drop-remove">Part Number <span class="drag-close"><i class="fa fa-times" aria-hidden="true"></i></span></div>
                                                 <span><i class="fa fa-plus" aria-hidden="true"></i></span>
                                                 <div class="drag-drop-remove">Make <span class="drag-close"><i class="fa fa-times" aria-hidden="true"></i></span></div>
                                                 <span><i class="fa fa-plus" aria-hidden="true"></i></span>
                                                 <div class="drag-drop-remove">Model <span class="drag-close"><i class="fa fa-times" aria-hidden="true"></i></span></div>
                                                 <span><i class="fa fa-plus" aria-hidden="true"></i></span>
                                                 <div class="drag-drop-remove">Year <span class="drag-close"><i class="fa fa-times" aria-hidden="true"></i></span></div>
                                            </div>
                                          </div>
                                          <div class="custome-part-single">
                                              <div class="form-check">
                                                 <input type="checkbox" data-checkboxes="mygroup" class="check-input" id="custome-title-check">
                                                 <label for="custome-title-check" class="label-text"> I Need Custom Part Title</label>
                                              </div>
                                          </div>
                                        </div> -->

                                        <!-- <div class="form-group row">
                                            <div class="col-md-4">
                                                <div class="label-text">In stock</div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="switch-button">
                                                  <input type="checkbox" class="switch-checkbox" >
                                                  <div class="switch-yesno">
                                                    <span>YES</span>
                                                  </div>
                                                  <div class="layer"></div>
                                              </div>

                                            </div>
                                        </div> -->
                                         <div class="form-group row">
                                            <div class="col-md-4">
                                                <div class="label-text">Compare</div>
                                            </div>
                                            <div class="col-md-8">
                                               <div class="switch-button">


                                                <div style="height: 35px;" ng-if="theme[5] == 0">
                                                  <input setid="compare" checked    type="checkbox" class="top_switch switch-checkbox  No">
                                                  <div class="switch-yesno">
                                                    <span>YES</span>
                                                  </div>
                                                  <div class="layer"></div>
                                                </div>
                                                <div style="height: 35px;" ng-if="theme[5] == 1">
                                                  <input setid="compare"  type="checkbox" class="top_switch switch-checkbox  Yes">
                                                  <div class="switch-yesno">
                                                    <span>YES</span>
                                                  </div>
                                                  <div class="layer"></div>
                                                </div>
                                              </div>

                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <div class="label-text">Year, Make, Model</div>
                                            </div>
                                            <div class="col-md-8">
                                              <div class="switch-button">


                                                <div style="height: 35px;" ng-if="theme[4] == 0">
                                                  <input setid="ymm" checked    type="checkbox" class="top_switch switch-checkbox  No">
                                                  <div class="switch-yesno">
                                                    <span>YES</span>
                                                  </div>
                                                  <div class="layer"></div>
                                                </div>
                                                <div style="height: 35px;" ng-if="theme[4] == 1">
                                                  <input setid="ymm"  type="checkbox" class="top_switch switch-checkbox  Yes">
                                                  <div class="switch-yesno">
                                                    <span>YES</span>
                                                  </div>
                                                  <div class="layer"></div>
                                                </div>
                                              </div>
                                              <div class="blue-highlight"><a href="{{ url('<front>') }}admin/makemodelyear">Update Year, Make, Model</a></div>

                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <div class="label-text">Wishlist</div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="switch-button">


                                                <div style="height: 35px;" ng-if="theme[6] == 0">
                                                  <input setid="wish" checked    type="checkbox" class="top_switch switch-checkbox  No">
                                                  <div class="switch-yesno">
                                                    <span>YES</span>
                                                  </div>
                                                  <div class="layer"></div>
                                                </div>
                                                <div style="height: 35px;" ng-if="theme[6] == 1">
                                                  <input setid="wish"  type="checkbox" class="top_switch switch-checkbox  Yes">
                                                  <div class="switch-yesno">
                                                    <span>YES</span>
                                                  </div>
                                                  <div class="layer"></div>
                                                </div>
                                              </div>
                                            </div>
                                        </div>

										<div class="form-group row">
                                            <div class="col-md-4">
                                                <div class="label-text">Reviews</div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="switch-button">
													<div style="height: 35px;" ng-if="theme[8] == 0">
														<input setid="reviews" checked    type="checkbox" class="top_switch switch-checkbox  No">
														<div class="switch-yesno">
														<span>YES</span>
													</div>
													<div class="layer"></div>
                                                </div>
                                                <div style="height: 35px;" ng-if="theme[8] == 1">
													<input setid="reviews"  type="checkbox" class="top_switch switch-checkbox  Yes">
													<div class="switch-yesno">
														<span>YES</span>
													</div>
													<div class="layer"></div>
                                                </div>
                                            </div>
                                        </div>
                                        
										
                                        <!-- <div class="form-group row">
                                            <div class="col-md-4">
                                                <div class="label-text">Review</div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="switch-button">
                                                  <input type="checkbox" class="switch-checkbox">
                                                  <div class="switch-yesno">
                                                    <span>YES</span>
                                                  </div>
                                                  <div class="layer"></div>
                                              </div>

                                            </div>
                                        </div> -->



                                      </div>
                                    </div>
                                  </div>
                                </div>
                           </div>
                        </div>
                      </div>

                      <div class="col-md-4 theme-side" style = "display:none;">
                      <div class="card">
                        <div class="card-header">
                             <h3 class="card-title">Selected Theme</h3>
                        </div>
                          <div class="card-body px-3 py-3">
                              <div class="demo-item">
                                <div class="demo-thumb" style="background-image:url(assets/images/template_1.png)">
                                  <a href="" class="image" target="_blank"></a>
                                </div>
                                <div class="demo-content">
                                  <span class="change-theme"><a href="index.html">Change Theme</a></span>
                                  <span class="change-theme"><a href="https://www.apagreen.com/apadesign/catapult/theme1/" target="_blank">Demo</a></span>
                                </div>
                              </div>
                           </div>
                        </div>
                      </div>

                    </div>

                  </div>
               </div>
            </div>

               </div>
            </div>
         </div>
