 <div class="container">

      <!-- Top Brands Content -->

      <div class="faq-page-breadcrumb">
        <div class="breadcrumbs revealOnScroll" data-animation="fadeIn">
          <div class="breadcrumb-item"><a href="{{ url('<front>') }}">Home</a></div><i class="fa fa-chevron-right"></i>
          
              {% for key,value in seo_array%}
                  {% if value[0] != '' %}
                  <div class="breadcrumb-item current">{{value[0]}}</div>
                  {% else %}
                   <div class="breadcrumb-item current">About Us</div>
                  {% endif %}
              {% endfor %}
        </div>
      </div>

      <!-- About Us Content -->
     
      <div id="about-section" class="about-section">
            {% for key,value in seo_array%}
                {% if value[1] != '' %}
                  
                  <h1 class="h1-title text-center">{{value[1]}}</h1>
                  {% else %}
                  <h1 class="h1-title text-center">XCLUTCH - ABOUT US</h1>

                  <p>XClutch is the American performance division of Australian Clutch Services. With over 25 years of experience, our performance kits are designed and developed to provide the ultimate clutch solution for the street or the track. 
XClutch (Also known in other markets as "Xtreme Clutch")  kits and components are designed and tested in-house at Australian Clutch Services which is based in South Australia. The range includes a wide variety of performance options including heavy duty, single plate road clutches all the way through to carbon clutches for time attack and drag racing. The XClutch range draws on our experiences in the Australian and European markets, but is tailored to suit the American car park. 

Each kit is carefully designed to ensure it provides the attributes required for the specific vehicle use.</p>

                {% endif %}
            {% endfor %}


       {% for key,value in items%}
        <div class="">
          <div class="about-us">

            <div class="row">
              <div class="col-md-6">
                <div class="about-us-img">
                  <img src="{{value['img_url']}}" alt="{{value['altvalue']}}">
                </div>
              </div>
              <div class="col-md-6">
                <div class="about-us-txt">
                  {{value['raw_html']|raw}}
                </div>
              </div>
            </div>
          </div>
        </div>
       {% endfor %}
      </div>
     
    </div>