<div class="container">


      <div class="faq-page-breadcrumb">
        <div class="breadcrumbs revealOnScroll" data-animation="fadeIn">
          <div class="breadcrumb-item"><a href="{{ url('<front>') }}">Home</a></div><i class="fa fa-chevron-right"></i><div class="breadcrumb-item current">Compare</div>
        </div>
      </div>

      <div id="about-section" class="about-section">
    <h1 class="h1-title text-center">Compare Product</h1>

        <div class="compare-table-div m-t-40">
           <table cellspacing="0" cellpadding="0" border="0" class="compare-table">
              <thead class="fixedHeader">
                 <tr>
                    <th></th>
                     {% for key,value in product_name %}
                        <th class="compare_title text-center">
                           <!-- <div class="but_close_comp"> <a href=""> <i class="remove_x fa fa-times-circle"></i> </a> </div> -->
                           <div class=""> <a title="" href="" class=""> {{value}}</a> </div>
                        </th>
                      {% endfor %}
                 </tr>
              </thead>
              <tbody class="">
                 <tr>
                    <td> &nbsp; </td>
                    {% for key,value in product_image %}
                      <td class="text-">
                        <a title="" href="">
                         <img width="120" alt="" class="" src="{{value}}">
                       </a>
                      </td>
                    {% endfor %}
                 </tr>
                 <tr>
                    <td class=""> Price </td>
                    {% for key,value in product_price %}
                      <td class=" compare_price "> <span class="rupee">$</span>{{value}} </td>
                    {% endfor %}
                 </tr>
                 <tr>
                    <td class=""> Brand </td>
                    {% for key,value in brand %}
                      <td class=" compare_price "> {{value}} </td>
                    {% endfor %}
                 </tr>
                 <tr>
                    <td class="">Manufacturer</td>                   
                    <td class="">DENSO</td>
                    <td class="">Delco-Remy</td>
                    <td class="">Mitsubishi</td>
                 </tr>
                 <tr>
                    <td class="">Product Attributes</td>                   
                    <td class="">Amperage Rating - 110,Fan Type - Internal<br>Regulator Type - Internal,Voltage - 12</td>
                    <td class="">
                      Amperage Rating - 45,
                      Fan Type - External<br>
                      Plug Type - 192
                    </td>
                    <td class="">Amperage Rating - 70<br>Fan Type - Internal<br>Plug Type - 192</td>
                 </tr>
                 <tr>
                    <td class="">Parts Breakdown</td>                   
                    <td class="">
                      Alternator Rotor-1K-30018<br>
                      Alternator Slip Ring-1K-32000<br>
                      Alternator SRE Frame-1K-10077
                      <br>Alternator Test Lead-TE-10184
                    </td>
                    <td class="">
                      Alternator Rotor-1A-30101<br>
                      Alternator SRE Frame-1A-10100<br>
                      Alternator Stator-1A-40079
                    </td>
                    <td class="">
                      Bearing-6302-2RS<br>
                      Bearing-B8-85D<br>
                      Voltage Regulator-1J-60001
                    </td>
                 </tr>
                 <tr>
                    <td class="">Where Used</td>                   
                    <td class="">
                      Alltech - 326-12343<br>
                      Armature G Roy - 12343<br>
                      ASC - A521429
                      <br>Atelier Dynamo - A290-454
                    </td>
                    <td class="">
                      Denparts - A240-828<br>
                      Dixie Electric - A-188<br>
                      EGI - A-7234
                    </td>
                    <td class="">
                      Cosmos - 10-14910A<br>
                      Denparts - A14910<br>
                      Dixie Electric - A-8221
                    </td>
                 </tr>
                 <tr>
                    <td class="">Interchange</td>                   
                    <td class="">
                      Precision DAS - 12343<br>
                      Romaine Electric - 36-12343<br>
                      Voltux - V2-12343
                      <br>WAS BOM - 12343
                    </td>
                    <td class="">
                      WAS BOM - 7234<br>
                      Romaine UPC - RZ06993<br>
                      Precision DAS - 7234
                    </td>
                    <td class="">
                      EGI - A-14910<br>
                      DuBois Marketing - M900049<br>
                      Denparts - A14910
                    </td>
                 </tr>
                 <!-- <tr class="feature_info">
                    <td class="text-center"> </td>
                    {% for key,value in product_id %}
                      <td class="text-center">
                        <button id="{{value}}" type="button" class="addtocart_class addcart_btn cartbtn_bg">Add to cart</button>
                      </td>
                    {% endfor %}
                 </tr> -->

              </tbody>
           </table>
        </div>
      </div>
    </div>
