<div class="container">
      <div class="row">
        <div class="faq-page-breadcrumb">
          <div class="breadcrumbs revealOnScroll" data-animation="fadeIn">
            <!-- <div class="breadcrumb-item"><a href="{{ url('<front>') }}">Home</a></div>
              <i class="fa fa-chevron-right"></i> -->
            <div class="breadcrumb-item current">My Cart</div>
          </div>
        </div>
         <!-- <div class="main_title">Cart</div> -->
         <div id="content" class="content">
            <!-- <div class="page-heading">
               <h1 class="pageHeadingSpan">
                  My Cart
               </h1>
            </div> -->

            <!-- {{ dump(product_name) }} -->

              <div style="display: none" class="alert alert-danger"></div>
               <section id="emptyclass" {% if product_name  %} style="display:none" {% endif %} {% if product_name is empty %} style="display:block" {% endif %}   style="text-align: center;" class="cart-section m-b-20 cartempty">

                  <img src="{{ url('<front>') }}sites/default/files/cart-empty.png" alt="cart-empty"/>
                  <h3>Your Shopping Cart is empty</h3>
                  <h4>You have no items in your cart. Start adding!</h4>
                  <a href="{{ url('<front>') }}wish_list">+ Add items from wishlist</a>
               </section>


               <section id="fullclass" {% if product_name is empty %} style="display:none" {% endif %}  class="cart-section m-b-20">
                 <div class="cart-value">
                     <div class="table-responsive">
                        <table class="cart-table">
                            <thead>
                              <tr>
                                <th><span class="hide_span">No Data</span></th>
                                <th>Description</th>
                                <th>Unit Price</th>
                               <!--  <th>Color</th> -->
                                <th>Quantity</th>
                                <th>Total</th>
                                <th>Remove</th>
                              </tr>
                            </thead>
                            <tbody>


                              {% for key,valuedesc in product_name %}
                                <tr id="tr{{valuedesc.pvariant}}" data="{{valuedesc.order_id}}" prodid="{{valuedesc.pdid}}">
                                  <td>
                                    <img class="product-image af" ng-src="{{valuedesc.image}}" err-SRC="{{ url('<front>') }}sites/default/files/logobrand.png" alt="product-image">
                                    <div class="filter-wrap ">
                                      <div class="filter-options pro_variant_block" style="text-align: left">

                                      </div>
                                    </div>
                                  </td>
                                  <td>
                                    <a style="margin-bottom: 0px;" target="_blank" href="{{ url('<front>') }}/product_desc/{{valuedesc.pdid}}" class="cart-desc">{{valuedesc.pname}} <br><font style="color:red"> Sku :</font>{{valuedesc.sku}}</a>



                                      {% for keys,variation_val in valuedesc.variant %}
                                     <!--  <div style="width:100%">


                                           
                                                <div class="clr_prc mb-5"
                                                >

                                                   <font id="{{variation_val[4]}}" data-val="{{variation_val[0]}}" class="color_variant" ></font>

                                                    <div class="crt_clr"style="background-color:{{valuedesc.variant_color}}"></div>
                                                     <span>{{variation_val[3]}}</span>

                                                  <div class="crt_prc" style="display: none">
                                                    <span id="variant_val" class="hidden">{{variation_val[0]}}</span>
                                                  </div>
                                                </div>

                                                

                                                <div class="crt_chng_clr">

                                                  <a href="#" data="{{valuedesc.pvariant}}" qty_val="{{valuedesc.quantity}}" id="change_variation" class="text-danger cur-pointer">
                                                    Change Color
                                                  </a>
                                                </div>

                                      </div> -->

                                    {% endfor %}
                                  </td>
                                  <td>
                                    <span style="float:right;"><font style="display: none" id="value{{valuedesc.pvariant}}">    {{valuedesc.hidden_price}}
                                    </font>
                                    $<font>{{valuedesc.hidden_price}}</font></span>
                                    <!-- <br><br>
                                    <span style="float:right;">
                                    $<font>{{valuedesc.basic_price}}</font></span> -->
                                  </td>
                                 <!--  <td>
                                    {% for keys,variation_val in valuedesc.variant %}
                                      <div style="width:100%">
                                        <font id="{{variation_val[4]}}" data-val="{{variation_val[0]}}" class="color_variant" ></font>


                                                <div class="clr_prc">
                                                  {% if variation_val[3] != "No Color"  %}
                                                    <div class="crt_clr"style="background-color:{{valuedesc.variant_color}}"></div>
                                                     <span>{{variation_val[3]}}</span>
                                                  {% endif %}
                                                  <div class="crt_prc">
                                                  <span id="variant_val" class="hidden">{{variation_val[0]}}</span>

                                                  </div>
                                                </div>


                                                <br>
                                                {% if variation_val[3] != "No Color"  %}
                                                  <div class="crt_prc_dl">
                                                  <font>Price : ${{valuedesc.basic_price}}</font>
                                                  </div>
                                                {% endif %}
                                                <br>
                                                <div class="crt_chng_clr">
                                                <a href="#" data="{{valuedesc.pvariant}}" qty_val="{{valuedesc.quantity}}" id="change_variation" class="text-danger cur-pointer">
                                                  Change Color
                                                </a>
                                                </div>

                                      </div>

                                    {% endfor %}
                                  </td> -->
                                  <td>
                                    <div class="quantity">
                                      <div class="group-quantity-button">
                                        <a order_id="{{valuedesc.order_id}}" fields="{{valuedesc.pdid}}" pvariant="{{valuedesc.pvariant}}"  class="minusclass" class="minus" href="#"><i class="minus{{valuedesc.pvariant}} fa fa-minus" aria-hidden="true"></i>
                                          <span class="hide_span">minus</span></a>
                                        <input id="quantity{{valuedesc.pvariant}}" class="input-text qty text qtyChange" type="text" size="4" title="Qty" value="{{valuedesc.quantity}}" name="quantity" order_id="{{valuedesc.order_id}}" fields="{{valuedesc.pdid}}" pvariant="{{valuedesc.pvariant}}">

                                        <a order_id="{{valuedesc.order_id}}" fields="{{valuedesc.pdid}}" pvariant="{{valuedesc.pvariant}}" class="plusclass" href="#">
                                          <i  class="fa fa-plus" aria-hidden="true"></i>
                                          <span class="hide_span">plus</span></a>
                                      </div>
                                    </div>
                                  </td>
                                  <td>
                                    <div style="float:right;">
                                    $<font class="singledata" id="singleprice{{valuedesc.pvariant}}">{{valuedesc.total_price}}</font>
                                    </div>
                                  </td>
                                  <td>
                                    <span data="{{valuedesc.pvariant}}" id="xremove" class="text-danger cur-pointer"><img src="{{ url('<front>') }}/themes/AUTOTECH/images/table-delete.png" alt=""></span>
                                  </td>
                                </tr>
                              {% endfor %}

                             <!--  <tr>
                                <td><img class="product-image af" src="assets/images/img2.png"></td>
                                <td>
                                  <a href="#" class="cart-desc">50 Amp Alternator</a>
                                  <span class="text-danger cur-pointer">x Remove</span>
                                </td>
                                <td>$15.00</td>
                                <td>
                                  <div class="quantity">
                                    <div class="group-quantity-button">
                                      <a class="minus" href="#"><i class="fa fa-minus" aria-hidden="true"></i></a>
                                      <input class="input-text qty text" type="text" size="4" title="Qty" value="1" name="quantity">
                                      <a class="plus" href="#"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                    </div>
                                  </div>
                                </td>
                                <td>$15.00</td>
                              </tr>
                              <tr>
                                <td><img class="product-image af" src="assets/images/img3.png"></td>
                                <td>
                                  <a href="#" class="cart-desc">1575 HP Turbocharger</a>
                                  <span class="text-danger cur-pointer">x Remove</span>
                                </td>
                                <td>$10.00</td>
                                <td>
                                  <div class="quantity">
                                    <div class="group-quantity-button">
                                      <a class="minus" href="#"><i class="fa fa-minus" aria-hidden="true"></i></a>
                                      <input class="input-text qty text" type="text" size="4" title="Qty" value="1" name="quantity">
                                      <a class="plus" href="#"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                    </div>
                                  </div>
                                </td>
                                <td>$10.00</td>
                              </tr> -->
                              <tr>
                                <td colspan="3"></td>
                                <td>Subtotal</td>
                                <td><div style="float:right;">$<font id="basic_total">{{ totalvalues - totaltax}}</font></div></td>
                                <td></td>
                              </tr>
                            </tbody>
                        </table>
                     </div>
                   </div>

                 <div style="float:left;width:70%;text-align: left" class="ship_handling">
                  <br><br>
                  <p style="font-size: 12px;color:#272727;font-weight: 700;">  <span class="red-text">*</span> FREE SHIPPING CONTINENTAL USA</p>
                 </div>
                 <div class="cart-total">
                    <div class="cart-total-box">
                      <table class="carttot-table">
                        <tbody>
                          <tr class="blld">
                            <td>Shipping &amp; Handling</td>
                            <td style="float:right">$0.00</td>
                          </tr>
                          <tr class="">
                            <td>Taxes</td>

                            <td style="float:right">$<font id="full_tax">{{ totaltax }} </font></td>
                          </tr>
                          <tr>
                            <td colspan="2"><hr><font style="display: none;" id="tax_percentage">{{ tax_value }} </font></td>
                          </tr>
                          <tr class="tot">
                            <td> Total Price </td>
                            <td style="float:right">$<font id="full_total">{{ totalvalues }}</font></td>
                          </tr>
                      </tbody></table>
                    </div>
                    <div class="checkout-button-div">
                    <a href="{{ urls }}" class="button-div button-checkout">Checkout</a>
                  </div>
                 </div>
              </section>



         </div>
      </div>
   </div>
