{% for index,val in cart_items %}
<li>
  <div class='cart-list-left'>
  <img src="sites/default/files/{{val[6]}}" alt="" />
  </div>
  <div class="lf-hle">
    <div class='lft'>
      <div class='cart-list-right'>
      <a class='word_break' href='#'>{{val[1]}} / {{val[3]}}</a>
      <span class='price_color'>${{val[5]}}</span>
      <span class='quantity'>Qty. : 1</span>
      </div>
    </div>jj
    <div class='rgt'>
      <i id="{{val[0]}}" productid="{{val[0]}}" variantid="{{val[0]}}" class='fa fa-close reomve_product'></i>
    </div>
  </div>
</li>

{% endfor %}
