<style>
 #cpatchaTextBox{
  margin-bottom: 5px;
 }
 canvas{
  pointer-events:none;
  background-color: green;
  padding: 2px 2px 2px 2px;
}
</style>
<div class="container">
  
      <!-- Slider -->
      <div class="faq-page-breadcrumb">
        <div class="breadcrumbs revealOnScroll" data-animation="fadeIn">
          <div class="breadcrumb-item"><a href="{{ url('<front>') }}">Home</a></div><i class="fa fa-chevron-right"></i>
          {% for key,value in seo_array%}
          {% if value[0] != '' %}
          <div class="breadcrumb-item current">{{value[0]}}</div>
          {% else %}
           <div class="breadcrumb-item current">Contact Us</div>
          {% endif %}
          {% endfor %}
        </div>
      </div>

      <!-- Middle Content -->
      <div class="contact-loc-section">
        <!-- <h1 class="h1-title text-center">H1 Tage goes here</h1>
        <h2 class="h2-title text-center">H2 Tage goes here</h2> -->
        <div class="">
          <div class="contact-page-location">
            <div class="row">
              <div class="col-md-6">
             
                <div class="revealOnScroll" data-animation="fadeInLeft">

                    
                    {% for key,value in seo_array%}
                        {% if value[1] != '' %}
                          
                          <div class="block-title"><h3>{{value[1]}}</h3></div>
                          {% else %}
                          <div class="block-title"><h3>Contact info</h3></div>
                        {% endif %}
                    {% endfor %}

                   {% for key,value in contact%}  
                  <div class="contact-info">
                    <h4 class="margin-bottom-25">{{value[0]}}, </h4>
                    <p><strong>Address:</strong> # {{value[1]}},{{value[2]}} {{value[6]}}, {{value[5]}} {{value[3]}},{{value[4]}}.</p>
                  <!--  <p><a href="mailto:text@gmondial.com"><strong>Email:</strong> text@gmondial.com</a></p> //-->
                    <p><a href="tel:{{value[8]}}"><strong>Phone:</strong>{{value[8]}}</a></p>
                    <!-- <p><strong>Fax:</strong> (718) 886-6223 </p> -->
                  </div>
                  
                     {% if value[15] == 'on' %}
                        <div class="map">
                          <iframe src="{{value[16]}}" height="300" frameborder="0" width="100%" style="border:0" allowfullscreen></iframe>
                        </div>
                     {% endif %}
                  {% endfor %}
                </div>
                 

              </div>
              <div class="col-md-6">
              {% if error != '' %}
               <p id="msg"  class="alert-danger" style="padding:10px">{{error}}</p> 
              {% elseif success != '' %}
               <p id="msg" class="alert-success" style="padding:10px">{{success}}</p>
              {% endif %}

                <div class="block-title revealOnScroll" data-animation="fadeInRight">
                  <h3>Drop Us A Line</h3>
                </div>

                <div class="contact-form revealOnScroll" data-animation="fadeInRight">
                  <form  action="contact_us"  method="post" id="contact_form">
                    <input type="hidden" id="postid" name="postid" value='{{postid}}'>
                    <div class="form-group">
                      <label for="name">Name <sup>*</sup></label>
                      <input type="text" required="" class="form-control" id="name" name="name_data">
                    </div>
                    <div class="form-group">
                      <label for="email">Email <sup>*</sup></label>
                      <input type="email" required="" class="form-control" id="email" name="mail_data">
                    </div>
                    <div class="form-group">
                      <label for="subject">Subject</label>
                      <input type="text" class="form-control" id="subject" name="subject_data">
                    </div>
                    <div class="form-group">
                      <label for="msg">Your Message</label>
                      <textarea class="form-control" rows="5" id="msg" name="msg_data"></textarea>
                    </div>
                    
                    <div id="captcha">
                    </div>
                    <input type="text" placeholder="Captcha" id="cpatchaTextBox"/>


                    <div class="form-group">
                      <button class="btn btn-large btn-color" onclick="validateCaptcha()">Submit</button> 
                    </div>
                  </form>
                </div>


              </div>
            </div>
          </div>
          <!-- <div class="row">
            <div class="title">
              <h4>Other Location</h4>
            </div>
            {% for key,value in items%}
            <div class="col-md-3">
              <div class="installation-box">
                <div class="installation-branch-name">
                  <h3>{{value[3]}}</h3>
                </div>
                <div class="installation-branch-adderss">
                <h4>{{value[0]}}</h4>
                  {{value[1]|raw}}
                  {{value[2]|raw}}
                  {% if value['7'] != "" %}
                    <p><a href="tel:{{value[7]}}">Phone:{{value[7]}}</a></p>
                  {% endif %}
                </div>
              </div>
            </div>
            {% endfor %}
            
          </div> -->
        </div>
      </div>


    </div>
    <script>

    window.onload = function() {
      createCaptcha();
    };
    var code;

function createCaptcha() {
      document.getElementById('captcha').innerHTML = "";
      var charsArray ="0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ@!#$%^&*";
      var lengthOtp = 6;
      var captcha = [];
      for (var i = 0; i < lengthOtp; i++) {
        var index = Math.floor(Math.random() * charsArray.length + 1);
        if (captcha.indexOf(charsArray[index]) == -1)
          captcha.push(charsArray[index]);
        else i--;
      }
      var canv = document.createElement("canvas");
      canv.id = "captcha";
      canv.width = 100;
      canv.height = 50;
      var ctx = canv.getContext("2d");
      ctx.font = "25px Georgia";
      ctx.strokeText(captcha.join(""), 0, 30);
      code = captcha.join("");
      document.getElementById("captcha").appendChild(canv); 
  
  }
  function validateCaptcha() {

    if($('#name').val() == ''){
      $('#name').css("border-color","red");
      return false;
    }else{
      $('#name').css("border-color","green");
    }

    if($('#email').val() == ''){
      $('#email').css("border-color","red");
      return false;
    }else{
      $('#email').css("border-color","green");
    }


    event.preventDefault();
    var capchaval=document.getElementById("cpatchaTextBox").value;
    if(capchaval == '' || capchaval == undefined){
      $('#cpatchaTextBox').css("border-color","red");
    }else{
      if (capchaval == code) {
       $( "#contact_form" ).submit();
      }else{
        $('#cpatchaTextBox').css("border-color","red");
        $('#cpatchaTextBox').val("");
        createCaptcha();
      }
    }
    
  }







    </script>