   <div class="container">
<!-- Middle Content -->
      <div class="faq-page-breadcrumb">
        <div class="breadcrumbs revealOnScroll" data-animation="fadeIn">
<!--           <div class="breadcrumb-item"><a href="{{ url('<front>') }}">Home</a></div><i class="fa fa-chevron-right"></i>
 -->          {% for key,value in seo_array%}
                  {% if value[0] != '' %}
                      <div class="breadcrumb-item current">{{value[0]}}</div>
                      {% else %}
                       <div class="breadcrumb-item current">FAQ's</div>
                  {% endif %}
              {% endfor %}

        </div>
      </div>
      <div class="faq-page-section">
     <!--   <h2 class="h2-title text-center">H2 Tage goes here</h2> //-->
        <div class="">
          <div class="faq-container">
            <div class="row">
              
             <!--  <div class="col-md-3">
                {% for key,value in items %}
                <div class="faq-tab">
                  <ul class="faq-categories padding-left-0">
                    {% if value[2] == 'Cancellations and Returns' %}
                    <li><a href="#cancel">{{value[2]}}</a> </li>
                    {% else %}
                    <li><a href="#{{value[2]}}">{{value[2]}}</a> </li>
                    {% endif %}
                  </ul>
                </div>
                {% endfor %}
              </div> -->
              
              <div class="col-md-12">
                {% for key,value in items %}
               
                <div id="cancel" class="faq-content">
                

                  <h2>{{value[0]}}</h2>
                  <div class="faq-question">
                    <p>{{value[1]|raw}}</p>
                  </div>
                </div>
                {% endfor %}
              </div> 
              
            </div>
          </div>
        </div>
      </div>
    </div> 

<script>
    $(document).ready(function() {
      $('.faq-tab ul li:first').addClass('active');
      $('.faq-content:not(:first)').hide();
      $('.faq-tab ul li a').click(function(event) {
        event.preventDefault();
        var content = $(this).attr('href');
        $(this).parent().addClass('active');
        $(this).parent().siblings().removeClass('active');
        $(content).show();
        $(content).siblings('.faq-content').hide();
      });

      // $('.showSingle').click(function(){
      //    $('.showSingle').hide();
      //            $('.targetDiv').hide();
      //            $('#div'+$(this).attr('target')).show();
      //      });



    });
  </script>
