
   
  <div class="content-page">
            <div class="content">
               <div class="container-fluid">
                <div class="page-title-box">
                     <h4 class="page-title">Make</h4>
                      <div class="float-right">                     
                        <button class="button-normal btn-seo-icon mr-1" data-toggle="modal" data-target="#seopopup1">Update Seo</button> <a href="website-setting.html" class="button-normal btn-back-icon">Back</a>
                     </div>
                  </div>
                  <ul class="tabs">
                      <li class="tab current" data-tab="make-1">Make</li>
                      <li class="tab" data-tab="make-2">Model </li>
                      <li class="tab" data-tab="make-3">Year </li>
                      <li class="tab" data-tab="make-4">Application Search</li>
                      <li class="tab" data-tab="make-5">Add Application</li>
                   </ul>
                   <div id="make-1" class="tab-content tab-seo-content current">

                      <div class="row">
                          <div class="col-md-12">
                              <div class="card mt-10">
                                  <div class="card-header card-header-toggle">
                                    <h3 class="card-title"><span>Click Here to Add </span> Make</h3>
                                  </div>
                                    <div class="card-body card-body-toggle">
                                      <div class="row">
                                        <div class="col-md-10 col-lg-7">
                                      <form>  
                                         <div>{{items}}</div>                                   
                                        <div class="form-group row mt-10">
                                          <div class="col-md-6 col-lg-4">
                                             <label class="label-text">Make Name </label>
                                           </div>  
                                             <div class="col-md-6 col-lg-4">
                                             <input type="text" class="form-control">
                                             </div>
                                        </div>

                                        <div class="row">
                                          <div class="col-md-12 col-lg-8">
                                             <div class="float-right">
                                                <button class="button-normal btn-save-icon" type="button">Save</button>
                                                <button class="button-normal btn-reset-icon" type="button">Reset</button>
                                             </div>
                                         </div>
                                        </div>
                                      </form>
                                    </div>
                                    </div>
                                      </div>
                                    </div>
                              </div>
                          </div>
                          <div class="row">
                        <div class="col-md-12">
                          <div class="card">
                            <div class="card-body">
                            <div class="table-responsive">
                              <table class="table-striped table-sort">
                                <thead>
                                  <tr>                                                           
                                  <th>Make Name</th>
                                  <th>Edit</th>
                                  <th>Delete</th>
                                </tr>
                                </thead>
                                <tfoot>
                          <tr>
                            <td><input type="text" name="" class="search-table"></td>
                            <td></td>
                            <td></td>
                          </tr>
                        </tfoot>
                                <tbody>
                                <tr>                                  
                                  <td>Audi </td>
                                  <td><a class="edit-icons" href="#"><img src="assets/images/icons/table-edit.png"></a></td>
                                  <td><a class="delete-icons" href="#"><img src="assets/images/icons/table-delete.png"></a></td>
                                </tr>
                                <tr>
                                  
                                  <td>Benz </td>
                                  <td><a class="edit-icons" href="#"><img src="assets/images/icons/table-edit.png"></a></td>
                                  <td><a class="delete-icons" href="#"><img src="assets/images/icons/table-delete.png"></a></td>
                                </tr>
                                <tr>
                                  
                                  <td>Benz</td>
                                  <td><a class="edit-icons" href="#"><img src="assets/images/icons/table-edit.png"></a></td>
                                  <td><a class="delete-icons" href="#"><img src="assets/images/icons/table-delete.png"></a></td>
                                </tr>
                                </tbody>
                              </table>
                              </div>
                              <div class="container-fluid pad-0 bg-pagination">
                                    <ul class="pagination pull-right">
                                      <li class="page-item"> <a class="page-link" href="#">
                                          <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                                        </a>   
                                      </li>

                                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                                      <li class="page-item">
                                        <a class="page-link" href="#">
                                          <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                        </a>      
                                      
                                      </li>
                                    </ul>
                                  </div>
                            </div>
                          </div>
                          </div>
                      </div>

                      </div>
                   

                    <div id="make-2" class="tab-content tab-seo-content">
                       <div class="row">
                          <div class="col-md-12">
                              <div class="card mt-10">
                                <div class="card-header card-header-toggle">
                                    <h3 class="card-title"><span>Click Here to Add </span> Model</h3>
                                </div>
                                  
                                    <div class="card-body card-body-toggle">
                                      <div class="row">
                                        <div class="col-md-10 col-lg-7">
                                      <form>
                                        <!-- <div class="form-group row"> 
                                           <div class="col-md-3 label-text">Vehicle Type</div>
                                             <div class="col-md-4">
                                               <select class="form-control">
                                                 <option>Select</option>
                                                 <option>Car</option>
                                                 <option>Van</option>
                                                 <option>Truck</option>
                                               </select>
                                             </div>
                                        </div> -->
                                        <div class="form-group row"> 
                                           <div class="col-md-6 col-lg-4 label-text">Make Type</div>
                                             <div class="col-md-6 col-lg-4">
                                               <select class="form-control">
                                                 <option>Select</option>
                                                 <option>Audi</option>
                                                 <option>Benz</option>
                                                 <option>Jaguar</option>
                                               </select>
                                             </div>
                                       </div>
                                        <div class="form-group row">
                                          <div class="col-md-6 col-lg-4">
                                             <label class="label-text">Model Name </label>
                                           </div>  
                                             <div class="col-md-6 col-lg-4">
                                             <input type="text" class="form-control">
                                             </div>
                                         </div>
                                   <div class="row">
                                          <div class="col-md-12 col-lg-8">
                                             <div class="float-right">
                                                <button class="button-normal btn-save-icon" type="button">Save</button>
                                                <button class="button-normal btn-reset-icon" type="button">Reset</button>
                                             </div>
                                         </div>
                                        </div>
                                      </form>
                                    </div>
                                    </div>
                                    </div>
                              </div>
                          </div>
                       </div>
                       <div class="row">
                          <div class="col-md-12">
                              <div class="card">
                              <div class="card-body">
                              <div class="table-responsive">
                                  <table class="table-striped table-sort">
                                    <thead>
                                    <tr>                                      
                                      <th>Make</th>
                                      <th>Model Name</th>
                                      <th>Edit</th>
                                      <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                          <tr>
                            <td><input type="text" name="" class="search-table"></td>
                            <td><input type="text" name="" class="search-table"></td>
                            <td></td>
                            <td></td>
                          </tr>
                        </tfoot>
                        <tbody>
                                    <tr>
                                      
                                      <td>Audi </td>
                                      <td>A13</td>
                                      <td><a class="edit-icons" href="#"><img src="assets/images/icons/table-edit.png"></a></td>
                                      <td><a class="delete-icons" href="#"><img src="assets/images/icons/table-delete.png"></a></td>
                                    </tr>
                                    <tr>
                                      
                                       <td>Benz </td>
                                      <td>F31</td>
                                      <td><a class="edit-icons" href="#"><img src="assets/images/icons/table-edit.png"></a></td>
                                      <td><a class="delete-icons" href="#"><img src="assets/images/icons/table-delete.png"></a></td>
                                    </tr>
                                    <tr>
                                      
                                      <td>Benz</td>
                                      <td>VFS652</td>
                                      <td><a class="edit-icons" href="#"><img src="assets/images/icons/table-edit.png"></a></td>
                                      <td><a class="delete-icons" href="#"><img src="assets/images/icons/table-delete.png"></a></td>
                                    </tr>
                                    </tbody>
                                  </table>
                                  </div>
                                  <div class="container-fluid pad-0 bg-pagination">
                                        <ul class="pagination pull-right">
                                          <li class="page-item"> <a class="page-link" href="#">
                                              <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                                            </a>   
                                          </li>

                                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                                          <li class="page-item">
                                            <a class="page-link" href="#">
                                              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                            </a>      
                                          
                                          </li>
                                        </ul>
                                      </div>
                                </div>
                                </div>
                          </div>
                       </div>

                    </div>

                    <div id="make-3" class="tab-content tab-seo-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card mt-10">
                                  <div class="card-header card-header-toggle">
                          <h3 class="card-title"><span>Click Here to Add </span> Year</h3>
                        </div>

                                    <div class="card-body card-body-toggle">
                            <div class="row">
                              <div class="col-md-10 col-lg-7">


                                      <form>
                                        <!-- <div class="form-group row">
                                              <div class="col-md-3">
                                                 <label class="label-text">Vehicle Type</label>
                                               </div>
                                               <div class="col-md-4">
                                             <select class="form-control">
                                               <option>Select</option>
                                               <option>Car</option>
                                               <option>Van</option>
                                               <option>Truck</option>
                                             </select>
                                           </div>
                                             </div> -->
                                             <div class="form-group row"> 
                                                 <div class="col-md-6 col-lg-4 label-text">Make</div>
                                           <div class="col-md-6 col-lg-4">
                                             <select class="form-control">
                                               <option>Select</option>
                                               <option>Audi</option>
                                               <option>Benz</option>
                                               <option>Jaguar</option>
                                             </select>
                                           </div>
                                             </div>
                                             <div class="form-group row"> 
                                                 <div class="col-md-6 col-lg-4 label-text">Model</div>
                                           <div class="col-md-6 col-lg-4">
                                             <select class="form-control">
                                               <option>Select</option>
                                               <option>A420</option>
                                               <option>350C</option>
                                               <option>A27</option>
                                             </select>
                                           </div>
                                             </div>
                                             <div class="form-group row"> 
                                                 <div class="col-md-6 col-lg-4 label-text">From Year</div>
                                           <div class="col-md-6 col-lg-4">
                                            <input type="text" class="form-control">
                                           </div>
                                             </div>
                                             <div class="form-group row"> 
                                                 <div class="col-md-6 col-lg-4 label-text">To Year</div>
                                           <div class="col-md-6 col-lg-4">
                                            <input type="text" class="form-control">
                                           </div>
                                             </div>
                                            <!--  <div class="form-group row"> 
                                                 <div class="col-md-3 label-text">Attribute Notes</div>
                                           <div class="col-md-9">
                                            <textarea type="text" class="form-control"></textarea> 
                                           </div>
                                             </div> -->                                             
                                   <div class="row">
                                          <div class="col-md-12 col-lg-8">
                                             <div class="float-right">
                                                <button class="button-normal btn-save-icon" type="button">Save</button>
                                                <button class="button-normal btn-reset-icon" type="button">Reset</button>
                                             </div>
                                         </div>
                                        </div>
                                      </form>
                                    </div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12">
                              <div class="card">
                                <div class="card-body">
                                <div class="table-responsive">
                                  <table class="table-striped table-sort">
                                    <thead>
                                    <tr>
                                      <th>Make</th>
                                      <th>Model</th>
                                      <th>Year</th>
                                      <th>Edit</th>
                                      <th>Delete</th>
                                      <th>Add Parts</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                      <tr>
                            <td><input type="text" name="" class="search-table"></td>                            
                            <td><input type="text" name="" class="search-table"></td> 
                            <td><input type="text" name="" class="search-table"></td>
                            <td></td>
                            <td></td>
                          </tr>
                        </tfoot>
                        <tbody>
                                    <tr>                                      
                                      <td>Audi </td>
                                      <td>A420</td>
                                      <td>2001</td>
                                      <td><a class="edit-icons" href="#"><img src="assets/images/icons/table-edit.png"></a></td>
                                      <td><a class="delete-icons" href="#"><img src="assets/images/icons/table-delete.png"></a></td>
                                      <td><a class="button-div button-save" href="application_parts.html">Add Parts</a></td>
                                    </tr>
                                    <tr>                                      
                                      <td>Benz </td>
                                      <td>350C</td>
                                      <td>2009</td>
                                      <td><a class="edit-icons" href="#"><img src="assets/images/icons/table-edit.png"></a></td>
                                      <td><a class="delete-icons" href="#"><img src="assets/images/icons/table-delete.png"></a></td>
                                      <td><a class="button-div button-save" href="application_parts.html">Add Parts</a></td>
                                    </tr>
                                    <tr>
                                      
                                      <td>Benz </td>
                                      <td>C3654</td>
                                      <td>1988</td>
                                      <td><a class="edit-icons" href="#"><img src="assets/images/icons/table-edit.png"></a></td>
                                      <td><a class="delete-icons" href="#"><img src="assets/images/icons/table-delete.png"></a></td>
                                      <td><a class="button-div button-save" href="application_parts.html">Add Parts</a></td>
                                    </tr>
                                    </tbody>
                                  </table>
                                  </div>
                                  <div class="container-fluid pad-0 bg-pagination">
                                        <ul class="pagination pull-right">
                                          <li class="page-item"> <a class="page-link" href="#">
                                              <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                                            </a>   
                                          </li>

                                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                                          <li class="page-item">
                                            <a class="page-link" href="#">
                                              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                            </a>      
                                          
                                          </li>
                                        </ul>
                                      </div>
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>

                    <div id="make-4" class="tab-content tab-seo-content">

                    <div class="row">
                      <div class="col-md-12">
                          <div class="card">
                              <div class="card-header">
                                   <h3 class="card-title">Application Search </h3>
                                   <!-- <div class="float-right"><button class="button-div button-save" type="button">Add</button></div> -->
                              </div>
                              <div class="card-body">
                                <div class="field-row-300">
                                      <div class="lable-inline">Make</div>
                                       <input type="text" name="" class="form-control-200">
                                  </div>
                                  <div class="field-row-300">
                                      <div class="lable-inline">Model</div>
                                       <input type="text" name="" class="form-control-200">
                                  </div>
                                   <div class="field-row-200">
                                      <div class="lable-inline">From Year</div>
                                       <input type="text" name="" class="form-control-100">
                                  </div>
                                  <div class="field-row-200">
                                      <div class="lable-inline">To Year</div>
                                       <input type="text" name="" class="form-control-100">
                                  </div>
                                  <div class="field-row-300">
                                      <div class="lable-inline">Part Number</div>
                                       <input type="text" name="" class="form-control-200">
                                  </div>
                                  <div class="field-row">
                                      <button class="button-normal btn-save-icon" type="button">Search</button>
                                      <button class="button-normal btn-reset-icon" type="button">Reset</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>

                     <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                              <div class="card-body">
                              <div class="table-responsive">
                                <table class="table-striped table-sort">
                                  <thead>
                                  <tr>                                    
                                    <th>Make</th>
                                    <th>Model</th>
                                    <th>Year</th>
                                    <th>Part Number</th>
                                    <th>Notes</th>
                                    <th>Edit</th>
                                    <th>Delete</th>                                    
                                  </tr>
                                  </thead>
                                  <tfoot>
                          <tr>
                            <td><input type="text" name="" class="search-table"></td>
                            <td><input type="text" name="" class="search-table"></td> 
                            <td><input type="text" name="" class="search-table"></td>
                            <td><input type="text" name="" class="search-table"></td>
                            <td><input type="text" name="" class="search-table"></td>

                            <td></td>
                            <td></td>
                          </tr>
                        </tfoot>
                        <tbody>
                                  <tr>                                    
                                    <td>Audi </td>
                                    <td>A420</td>
                                    <td>2001</td>
                                    <td>fdfdg</td>
                                    <td>V; 6; 3.0; 2959; -; -; 12; 3; SOHC; GAS; FI; MFI;</td>
                                    <td><a class="edit-icons" href="#"><img src="assets/images/icons/table-edit.png"></a></td>
                                    <td><a class="delete-icons" href="#"><img src="assets/images/icons/table-delete.png"></a></td>
                                    
                                  </tr>
                                  <tr>
                                    
                                    <td>Benz </td>
                                    <td>350C</td>
                                    <td>2009</td>
                                    <td>2014gg01</td>
                                    <td>V; 6; 3.0; 2959; -; -; 12; 3; SOHC; GAS; FI; MFI;</td>
                                    <td><a class="edit-icons" href="#"><img src="assets/images/icons/table-edit.png"></a></td>
                                    <td><a class="delete-icons" href="#"><img src="assets/images/icons/table-delete.png"></a></td>
                                    
                                  </tr>
                                  <tr>
                                    
                                    <td>Benz </td>
                                    <td>C3654</td>
                                    <td>1988</td>
                                    <td>2001</td>
                                    <td>V; 6; 3.0; 2959; -; -; 12; 3; SOHC; GAS; FI; MFI;</td>
                                    <td><a class="edit-icons" href="#"><img src="assets/images/icons/table-edit.png"></a></td>
                                    <td><a class="delete-icons" href="#"><img src="assets/images/icons/table-delete.png"></a></td>
                                    
                                  </tr>
                                  </tbody>
                                </table>
                                </div>
                                <div class="container-fluid pad-0 bg-pagination">
                                      <ul class="pagination pull-right">
                                        <li class="page-item"> <a class="page-link" href="#">
                                            <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                                          </a>   
                                        </li>

                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">
                                          <a class="page-link" href="#">
                                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                          </a>      
                                        
                                        </li>
                                      </ul>
                                    </div>
                              </div>
                          </div>
                        </div>
                      </div>


                    </div>


                    <div id="make-5" class="tab-content tab-seo-content">

                      <div class="row">
                            <div class="col-md-12">
                                <div class="card mt-10">
                                  <div class="card-header card-header-toggle">
                          <h3 class="card-title"><span>Click Here to Add </span> Application</h3>
                        </div>
                                    <div class="card-body card-body-toggle pt-10">
                            <div class="row">
                            <div class="col-md-12">
                                <div class="float-right">
                                  <button class="button-normal btn-bulkupload-icon mr-2" type="button">Bulk Upload</button>
                                </div>
                            </div>
                              <div class="col-md-12 col-lg-7">
                                      <form>
                                          <div class="form-group row"> 
                                              <div class="col-md-3 label-text">Make</div>
                                               <div class="col-md-4">
                                                 <select class="form-control">
                                                   <option>Select</option>
                                                   <option>Audi</option>
                                                   <option>Benz</option>
                                                   <option>Jaguar</option>
                                                 </select>
                                               </div>
                                               

                                            </div>
                                            
                                             <div class="form-group row"> 
                                                 <div class="col-md-3 label-text">Model</div>
                                           <div class="col-md-4">
                                             <select class="form-control">
                                               <option>Select</option>
                                               <option>A420</option>
                                               <option>350C</option>
                                               <option>A27</option>
                                             </select>
                                           </div>
                                             </div>
                                              <div class="form-group row"> 
                                                 <div class="col-md-3 label-text">From Year</div>
                                                 <div class="col-md-4">
                                                  <input type="text" class="form-control">
                                                 </div>
                                             </div>
                                             <div class="form-group row"> 
                                                 <div class="col-md-3 label-text">To Year</div>
                                                 <div class="col-md-4">
                                                  <input type="text" class="form-control">
                                                 </div>
                                               </div>
                                                   
                                              <div class="form-group row"> 
                                                 <div class="col-md-3 label-text">Part Number</div>
                                                 <div class="col-md-9">
                                                  <textarea type="text" class="form-control"></textarea> 
                                                 </div>
                                             </div>
                                             <div class="form-group row"> 
                                                 <div class="col-md-3 label-text">Notes</div>
                                                 <div class="col-md-9">
                                                  <textarea type="text" class="form-control"></textarea> 
                                                 </div>
                                             </div>
                                             <div class="row">
                                                <div class="col-md-12">
                                                   <div class="float-right">
                                                <button class="button-normal btn-save-icon" type="button">Save</button>
                                                <button class="button-normal btn-reset-icon" type="button">Reset</button>
                                             </div>
                                               </div>
                                            </div>
                                      </form>
                                    </div>
                                    
                                    </div>
                                    </div>
                                </div>
                            </div>
                      </div>

                       <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                              <div class="card-body">
                              <div class="table-responsive">
                                <table class="table-striped table-sort">
                                  <thead>
                                  <tr>
                                    
                                    <th>Make</th>
                                    <th>Model</th>
                                    <th>Year</th>
                                    <th>Part Number</th>
                                    <th>Notes</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                    
                                  </tr>
                                  </thead>
                                  <tfoot>
                          <tr>
                            <td><input type="text" name="" class="search-table"></td>
                            <td><input type="text" name="" class="search-table"></td>
                            <td><input type="text" name="" class="search-table"></td>
                            <td><input type="text" name="" class="search-table"></td>
                            <td><input type="text" name="" class="search-table"></td>

                            <td></td>
                            <td></td>
                          </tr>
                        </tfoot>
                        <tbody>
                                  <tr>
                                    
                                    <td>Audi </td>
                                    <td>A420</td>
                                    <td>2001</td>
                                    <td>fdfdg</td>
                                    <td>V; 6; 3.0; 2959; -; -; 12; 3; SOHC; GAS; FI; MFI;</td>
                                    <td><a class="edit-icons" href="#"><img src="assets/images/icons/table-edit.png"></a></td>
                                    <td><a class="delete-icons" href="#"><img src="assets/images/icons/table-delete.png"></a></td>
                                    
                                  </tr>
                                  <tr>
                                    
                                    <td>Benz </td>
                                    <td>350C</td>
                                    <td>2009</td>
                                    <td>2014gg01</td>
                                    <td>V; 6; 3.0; 2959; -; -; 12; 3; SOHC; GAS; FI; MFI;</td>
                                    <td><a class="edit-icons" href="#"><img src="assets/images/icons/table-edit.png"></a></td>
                                    <td><a class="delete-icons" href="#"><img src="assets/images/icons/table-delete.png"></a></td>
                                    
                                  </tr>
                                  <tr>
                                    
                                    <td>Benz </td>
                                    <td>C3654</td>
                                    <td>1988</td>
                                    <td>2001</td>
                                    <td>V; 6; 3.0; 2959; -; -; 12; 3; SOHC; GAS; FI; MFI;</td>
                                    <td><a class="edit-icons" href="#"><img src="assets/images/icons/table-edit.png"></a></td>
                                    <td><a class="delete-icons" href="#"><img src="assets/images/icons/table-delete.png"></a></td>                                    
                                  </tr>
                                  </tbody>
                                </table>
                                </div>
                                <div class="container-fluid pad-0 bg-pagination">
                                      <ul class="pagination pull-right">
                                        <li class="page-item"> <a class="page-link" href="#">
                                            <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                                          </a>   
                                        </li>

                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">
                                          <a class="page-link" href="#">
                                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                          </a>      
                                        
                                        </li>
                                      </ul>
                                    </div>
                              </div>
                          </div>
                        </div>
                      </div>


                    </div>


                </div>  
                </div>
                  

               </div>
            </div>
          </div>

