<style type="text/css">
	.button{
	color: white;
    background: #ee4a1b;
    border-color: #ee4a1b;
    width: 40%;
    -webkit-appearance: none;
    padding: .4em 1em .4em 1em;
    margin-right: .3em;
    border: 1px solid;
    text-transform: capitalize;
    text-align: center;
    display: inline-block;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: .15px;
    cursor: pointer;
    zoom: 1;
	}

</style>

<div id="block-autotech-content" class="block block-system block-system-main-block">
		<div class="layout-checkout-form clearfix container mg_b">
			<div class="layout-region col-md-8 cust_wd_8">
				  <div class="pfl_hle ord">
				    <form method="post" action='orderinformations'>
				      <div class="row">
				        <div class="col-md-12">
				          <div class="row">
				            <div class="col-md-12">
				              <div class="bll_dtl">
				            <h4>Billing Information</h4>
				            <input type="hidden" name="profile_id" value="{{hiddenid}}">
				            <div class="form-group row">
				              <input type="hidden" id="postid" name="postid" value='{{postid}}'>
				            </div>
				            <div class="row">
				              <div class="col-md-6">
				                <div class="field">
				                  <input type="text" name="bill_firstname" required id="bill_firstname" value="{{result_data[0]['bill_firstname']}}" placeholder="First Name">
				               </div>
				              </div>
				              <div class="col-md-6">
				                <div class="field">
				                  <input type="text" name="bill_lastname" required id="bill_lastname" value="{{result_data[0]['bill_lastname']}}" placeholder="Last Name">
				                </div>
				              </div>
				              <div class="col-md-12">
				                <div class="field">
				                  <input type="text" name="bill_address1" required id="bill_address1" value="{{result_data[0]['bill_address1']}}" placeholder="Address">
				                </div>
				              </div>
				              <div class="col-md-6">
				                <div class="field">
				                  <input type="text" name="bill_address2"  id="bill_address2" value="{{result_data[0]['bill_address2']}}" placeholder="Address2">
				                </div>
				              </div>
				              <div class="col-md-6">
				                <div class="field">
				                  <input type="text" name="bill_zipcode" required id="bill_zipcode" value="{{result_data[0]['bill_zipcode']}}" placeholder="Zip code">
				                </div>
				              </div>
				              <div class="col-md-6">
				                <div class="field">
				                  <input type="text" name="bill_city" required id="bill_city" value="{{result_data[0]['bill_city']}}" placeholder="City">
				                </div>
				              </div>
				              <div class="col-md-6">
				                <div class="field">
				                  <input type="text" name="bill_state" id="bill_state" value="{{result_data[0]['bill_state']}}" placeholder="Province / State">
				                </div>
				              </div>
				              <div class="col-md-6">
				                <div class="field">
				                  <select class="form-control" name="bill_country" required id="bill_country">
				                    <option value="" >Country</option>
				                    {% for key,value in countrys %}
					                    {% if result_data[0]['bill_country']==key %}
					                    	<option value="{{key}}" selected="selected">{{value}}</option>
					                    {% else %}
					                    	<option value="{{key}}">{{value}}</option>
				                    	{% endif %}
				                    {% endfor %}
				                  </select>
				                </div>
				              </div>
				              <div class="col-md-6">
				                <div class="field">
				                  <input type="text" name="bill_phone" required id="bill_phone" value="{{result_data[0]['bill_phone']}}" placeholder="Phone Number">
				                </div>
				              </div>
				              <div class="col-md-12">
				                <div class="field">
				                  <input type="email" name="bill_email" required id="bill_email" value="{{result_data[0]['bill_email']}}" placeholder="E-mail">
				                </div>
				              </div>
				            </div>
				          </div>
				            </div>

				            <div class="col-md-12">
				              <div class="pretty p-default p-round p-smooth">
				                <input type="checkbox" ng-click="billing_address()" id="billing_shipping"/>
				                <div class="state p-primary">
				                    <label>Same as Billing Address</label>
				                </div>
				          </div>
				              <div class="shp_dtl"><h4>Shipping Information</h4>
				            <div class="row">
				              <div class="col-md-6">
				                <div class="field">
				                  <input type="text" name="s_firstname" required id="s_firstname" value="{{result_data[0]['s_firstname']}}" placeholder="First Name">
				               </div>
				              </div>
				              <div class="col-md-6">
				                <div class="field">
				                  <input type="text" name="s_lastname" required id="s_lastname" value="{{result_data[0]['s_lastname']}}" placeholder="Last Name">
				                </div>
				              </div>
				              <div class="col-md-12">
				                <div class="field">
				                  <input type="text" name="s_address1" required id="s_address1" value="{{result_data[0]['s_address1']}}" placeholder="Address">
				                </div>
				              </div>
				              <div class="col-md-6">
				                <div class="field">
				                  <input type="text" name="s_address2"  id="s_address2" value="{{result_data[0]['s_address2']}}" placeholder="Address2">
				                </div>
				              </div>
				              <div class="col-md-6">
				                <div class="field">
				                  <input type="text" name="s_zipcode" required id="s_zipcode" value="{{result_data[0]['s_zipcode']}}" placeholder="Zip code">
				                </div>
				              </div>
				              <div class="col-md-6">
				                <div class="field">
				                  <input type="text" name="s_city" required id="s_city" value="{{result_data[0]['s_city']}}" placeholder="City">
				                </div>
				              </div>
				              <div class="col-md-6">
				                <div class="field">
				                  <input type="text" name="s_state" required id="s_state" value="{{result_data[0]['s_state']}}" placeholder="Province / State">
				                </div>
				              </div>
				              <div class="col-md-6">
				                <div class="field">
				                  <select class="form-control" name="s_country" required="" id="s_country">
				                    <option value="">Country</option>
				                    {% for key,value in countrys %}
				                      	{% if result_data[0]['s_country']==key %}
					                    	<option value="{{key}}" selected="selected1">{{value}}</option>
					                    {% else %}
					                    	<option value="{{key}}">{{value}}</option>
				                    	{% endif %}
				                    {% endfor %}
				                  </select>
				                </div>
				              </div>
				              <div class="col-md-6">
				                <div class="field">
				                  <input type="text" name="s_phonenumber" required id="s_phonenumber" value="{{result_data[0]['s_phonenumber']}}" placeholder="Phone Number">
				                </div>
				              </div>
				              <div class="col-md-12">
				                <div class="field">
				                  <input type="email" name="s_email" required id="s_email" value="{{result_data[0]['s_email']}}" placeholder="E-mail">
				                </div>
				              </div>
				            </div>
				          </div>
				          </div>
				          </div>
				            <div class="upt_btn text-center">
				              <input type="submit" value="Continue to review" class="button">
				            </div>
				        </div>
				      </div>
				    </form>
				  </div>
			</div>
				{% if uid != '' %}
			<div class="layout-region col-md-4 cust_wd_4" style="">
				<h3>Order Summary</h3>
				<table class="table checkout-table ">
					{% for key,value in order_summary %}
					<tr>
			          <td class="image p-b-10">
			          	<a href="{{ summary['base_url'] }}/product_desc/{{value.p_id}}" target="_blank" class="quick-shop info" data-toggle="tooltip" title="{{ value.p_name }}">
			          	<img class="product-image af" src="{{ summary['base_url'] }}/sites/default/files/{{ value.spliturl }}">
			          </a>
			           <!--  <div class="filter-wrap ">
			              <div class="filter-options pro_variant_block" style="text-align: left">
			                  <div style="width:100%">
			                    <a id="{{ order[key]['c_value'] }}" data-val="{{ order[key]['variant_id'] }}" class="color_variant" ><i aria-hidden="true" class="fa fa-check"></i> <img style="width: 20px;" src="{{ summary['base_url'] }}/sites/default/files/color_img/{{ value.c_url }}" alt="{{ value.color_name }}"> <span id="variant_val" class="hidden">{{ value.variant_id }}</span></a> <span>{{ value.color_name }}</span>
			                  </div>
			              </div>
			            </div> -->
			          </td>
			          <td class="details p-b-10">
			              <div class="brand bld" >{{ value.prodname }} <span style="font: 600 16px 'Nunito', sans-serif; color: #c42706; padding-left: 5px; letter-spacing: 1px;">${{ value.basic_price }}</span></div>
			              <div class="brand bld" >{{ value.color_name }} <span style="font: 600 16px 'Nunito', sans-serif; color: #c42706; padding-left: 5px; letter-spacing: 1px;">${{ value.basic_price_val }}</span></div>
			            <span class="removeItem link">Qty:<i class="bld">{{ value.p_quantity }}</i></span><br>
			            <span class="removeItem link">Total Price: <i class="bld">${{ value.p_totalprice }}</i></span>
			            </td>
			        </tr>
			        {% endfor %}
			    </table>
			    <table id="" class="table checkout-table table-slim unstyled totals">
					<tbody>
					  <tr>
					     <td>Sub Total</td>
					     <td class="text-right">
					        <a id="shippingAmount"  class="underline hidden"></a>
					        <span id="shippingFree">${{ summary['total_price'] }}</span>
					     </td>
					  </tr>
					  <tr>
					     <td>Shipping &amp; Handling</td>
					     <td class="text-right">
					        <a id="shippingAmount" class="underline hidden"></a>
					        <span id="shippingFree" data-at="shippingFree">$0.00</span>
					     </td>
					  </tr>
					  <tr>
					     <td>Taxes</td>
					     <td class="text-right">
					        <a id="shippingAmount" class="underline hidden"></a>
					        <span id="shippingFree" data-at="shippingFree">$0.00</span>
					     </td>
					  </tr>

					  <tr class="subtotal">
					     <td>Total</td>
					     <td id="subTotal" class="lineTotal text-right">
					        <span class="togglable">
					        <span class="toggleOff">${{ summary['total_price'] }}</span>
					        <span class="toggleOn hide">{{ summary['total_price'] }}</span>
					        </span>
					     </td>
					  </tr>

					</tbody>
				</table>
			</div>
			{% else %}
			<div class="layout-region layout-region-checkout-secondary" style="">
				<p>Your cart is empty</p>
			</div>
			{% endif %}
		</div>
</div>
