<style type="text/css">
	.button{
	color: white;
    background: #ee4a1b;
    border-color: #ee4a1b;
    width: 40%;
    -webkit-appearance: none;
    padding: .4em 1em .4em 1em;
    margin-right: .3em;
    border: 1px solid;
    text-transform: capitalize;
    text-align: center;
    display: inline-block;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: .15px;
    cursor: pointer;
    zoom: 1;
	}

</style>

<div id="block-autotech-content" class="block block-system block-system-main-block">
		<div class="layout-checkout-form clearfix container mg_b">
			<div class="layout-region col-md-8 cust_wd_8">
				  <div class="pfl_hle ord">
				    <form method="post" action='orderinformations'>
				      <div class="row">
				        <div class="col-md-12">
				          <div class="row">
				            <div class="col-md-12">
				              <div class="bll_dtl">
				            <h4>Billing Information</h4>
				            <label for="profile_id" class="hide_span">Id</label>
				            <input type="hidden" name="profile_id" id="profile_id" value="{{hiddenid}}">
				            <div class="form-group row">
				              <label for="postid" class="hide_span">Id</label>
				              <input type="hidden" id="postid" name="postid" value='{{postid}}'>
				            </div>
				            <div class="row">
				              <div class="col-md-6">
				                <div class="field">
				                  <label for="bill_firstname" class="hide_span">Firstname</label>
				                  <input type="text" name="bill_firstname" required id="bill_firstname" value="{{result_data[0]['bill_firstname']}}" class="eff2" placeholder="First Name *" maxlength="30">
													<!-- <label>First Name *</label>
													<span class="focus-border">
            								<i></i>
            							</span> -->
				               </div>
				              </div>
				              <div class="col-md-6">
				                <div class="field">
				                  <label for="bill_lastname" class="hide_span">Lastname</label>
				                  <input type="text" name="bill_lastname" required id="bill_lastname" value="{{result_data[0]['bill_lastname']}}" class="eff2" placeholder="Last Name *" maxlength="30">
													<!-- <label>Last Name *</label>
													<span class="focus-border">
            								<i></i>
            							</span> -->
				                </div>
				              </div>
				              <div class="col-md-12">
				                <div class="field">
				                  <label for="bill_address1" class="hide_span">Address1</label>
				                  <input type="text" name="bill_address1" required id="bill_address1" value="{{result_data[0]['bill_address1']}}" class="eff2" placeholder="Address *" maxlength="65">
											
				                </div>
				              </div>
				              <div class="col-md-6">
				                <div class="field">
				                  <label for="bill_address2" class="hide_span">Address2</label>
				                  <input type="text" name="bill_address2"  id="bill_address2" value="{{result_data[0]['bill_address2']}}" class="eff2" placeholder="Address2 *" maxlength="65">
												
				                </div>
				              </div>
				              <!-- <div class="col-md-6">
				                <div class="field">
				                  <input type="text" name="bill_zipcode" required id="bill_zipcode" value="{{result_data[0]['bill_zipcode']}}" class="eff2" placeholder="Zip code *" maxlength="10">
													
				                </div>
				              </div>
				              <div class="col-md-6">
				                <div class="field">
				                  <input type="text" name="bill_city" required id="bill_city" value="{{result_data[0]['bill_city']}}" class="eff2" placeholder="City *" maxlength="15">
													
				                </div>
				              </div>
				              <div class="col-md-6">
				                <div class="field">
				                  <input type="text" name="bill_state" id="bill_state" value="{{result_data[0]['bill_state']}}" class="eff2" placeholder="Province / State *" maxlength="15">
													
				                </div>
				              </div> -->


				              <label for="h_b_city" class="hide_span">Address2</label>
				              <label for="h_s_city" class="hide_span">Address2</label>
				              <label for="h_b_zip" class="hide_span">Address2</label>
				              <label for="h_s_zip" class="hide_span">Address2</label>

				              <input type="hidden" id="h_b_city" value="{{result_data[0]['bill_city']}}">
				              <input type="hidden" id="h_s_city" value="{{result_data[0]['s_city']}}">
				              <input type="hidden" id="h_b_zip" value="{{result_data[0]['bill_zipcode']}}">
				              <input type="hidden" id="h_s_zip" value="{{result_data[0]['s_zipcode']}}">
				             
				              <div class="col-md-6">
				                <div class="field">     
				                  <label for="bill_state" class="hide_span">State</label>             
				                  <select class="form-control" name="bill_state"  id="bill_state" ng-change="state_change();"  ng-model="statechange" required>
				                  	<option value="">Select State </option>
				                  	{% if result_data[0]['bill_state'] != '' %}
				                    <option value="">{{result_data[0]['bill_state']}}</option>
				                    {% endif %}


				                    {% for key,value in states %}

				                      {% if result_data[0]['bill_state']==key %}
				                        <option {% if result_data[0]['bill_state']==key %} style="display: none" {% endif %} value="{{key}}" selected="selected">{{value}}</option>
				                      {% else %}
				                        <option  value="{{key}}">{{value}}</option>
				                      {% endif %}
				                    {% endfor %}
				                  </select>
				                </div>
				              </div>

				              <div class="col-md-6">
				                <div class="field">  
				                  <label for="bill_city" class="hide_span">City</label>             
				                  <select ng-change="city_change();" name="bill_city"  id="bill_city"  class="form-control" ng-model="citychange"  required>
				                    <option value="" selected="selected">Select City</option>
				                    <option ng-repeat="option in citydata" value="{{'{{option}}'}}">{{'{{option}}'}}</option>
				                  </select>
				                </div>
				              </div>

				              <!-- <div class="col-md-6">
				                <div class="field">  
				                  <select  name="bill_zipcode" ng-model="zipchange" id="bill_zipcode"  class="form-control"   required>
				                    <option value="" selected="selected">Select Zip</option>
				                    <option ng-repeat="option in zipdata" value="{{'{{option}}'}}">{{'{{option}}'}}</option>

				                  </select>
				                </div>
				              </div> -->
				              <div class="col-md-6">
				                <div class="field">
				                  <label for="bill_zipcode" class="hide_span">Zipcode</label>
				                  <input type="text" name="bill_zipcode" required id="bill_zipcode" value="{{result_data[0]['bill_zipcode']}}" class="eff2" placeholder="Zip code *" maxlength="10">
													
				                </div>
				              </div>
				              <div class="col-md-6">
				                <div class="field">
				                  <label for="bill_phone" class="hide_span">Phone</label>
				                  <input type="text" name="bill_phone" required id="bill_phone" class="eff2"  value="{{result_data[0]['bill_phone']}}" placeholder="Phone Number *" maxlength="15">
													<!-- <label>Phone Number *</label>
													<span class="focus-border">
            								<i></i>
            							</span> -->
				                </div>
				              </div>
				              <div class="col-md-6">
				                <div class="field">
				                  <label for="bill_email" class="hide_span">Email</label>
				                  <input type="text" name="bill_email" required id="bill_email" class="eff2 bill_email" value="{{result_data[0]['bill_email']}}" placeholder="E-mail *" maxlength="60">

				                </div>
				              </div>
				            </div>
				          </div>
				            </div>

				            <div class="col-md-12">
				              <div class="pretty p-default p-round p-smooth">
				              	<label for="billing_shipping" class="hide_span">Shipping</label>
				                <input type="checkbox" ng-click="billing_address()" id="billing_shipping"/>
				                <div class="state p-primary">
				                    <label>Same as Billing Address</label>
				                </div>
				          </div>
				              <div class="shp_dtl">
												<h4>Shipping Information</h4>
												<div class="form-group row">
				            </div>
				            <div class="row">
				              <div class="col-md-6">
				                <div class="field">
				                <label for="s_firstname" class="hide_span">Firstname</label>
				                  <input type="text" name="s_firstname" required id="s_firstname" value="{{result_data[0]['s_firstname']}}" class="eff2" placeholder="First Name *" maxlength="30">
													<!-- <label>First Name *</label>
													<span class="focus-border">
            								<i></i>
            							</span> -->
				               </div>
				              </div>
				              <div class="col-md-6">
				                <div class="field">
				                  <label for="s_lastname" class="hide_span">Lastname</label>
				                  <input type="text" name="s_lastname" required id="s_lastname" value="{{result_data[0]['s_lastname']}}" class="eff2" placeholder="Last Name *" maxlength="30">
													<!-- <label>Last Name *</label>
													<span class="focus-border">
            								<i></i>
            							</span> -->
				                </div>
				              </div>
				              <div class="col-md-12">
				                <div class="field">
				                 <label for="s_address1" class="hide_span">Address 1</label>
				                  <input type="text" name="s_address1" required id="s_address1" value="{{result_data[0]['s_address1']}}" class="eff2" placeholder="Address *" maxlength="65">
													<!-- <label>Address *</label>
													<span class="focus-border">
            								<i></i>
            							</span> -->
				                </div>
				              </div>
				              <div class="col-md-6">
				                <div class="field">
				                <label for="s_address2" class="hide_span">Address 2</label>
				                  <input type="text" name="s_address2"  id="s_address2" value="{{result_data[0]['s_address2']}}" class="eff2" placeholder="Address2 *" maxlength="65">
													<!-- <label>Address2 *</label>
													<span class="focus-border">
            								<i></i>
            							</span> -->
				                </div>
				              </div>
				              <!-- <div class="col-md-6">
				                <div class="field">
				                  <input type="text" name="s_zipcode" required id="s_zipcode" value="{{result_data[0]['s_zipcode']}}" class="eff2" placeholder="Zip code *" maxlength="15">
												
				                </div>
				              </div>
				              <div class="col-md-6">
				                <div class="field">
				                  <input type="text" name="s_city" required id="s_city" value="{{result_data[0]['s_city']}}" class="eff2" placeholder="City *" maxlength="15">
													
				                </div>
				              </div>
				              <div class="col-md-6">
				                <div class="field">
				                  <input type="text" name="s_state" required id="s_state" value="{{result_data[0]['s_state']}}" class="eff2" placeholder="Province / State *" maxlength="15">
													
				                </div>
				              </div> -->
				              <div class="col-md-6">
				                <div class="field llb">
													<!-- <label for="Country" class="">Country *</label> -->
								 <label for="s_state" class="hide_span">State</label>
				                  <select class="form-control sll" name="s_state" required="" id="s_state" ng-change="s_state_change();"  ng-model="s_statechange">
				                    <option value="">Select State</option>
				                    <!-- <option value="">{{result_data[0]['s_state']}}</option> -->
				                    {% for key,value in states %}
				                      	{% if result_data[0]['s_state']==key %}
					                    	<option {% if result_data[0]['s_state']==key %} style="display: none" {% endif %} value="{{key}}" selected>{{value}}</option>
					                    {% else %}
					                    	<option value="{{key}}">{{value}}</option>
				                    	{% endif %}
				                    {% endfor %}
				                  </select>
				                </div>
				              </div>
				              <div class="col-md-6">
				                <div class="field">  
				                <label for="s_city" class="hide_span">City</label>
				                  <select ng-change="s_city_change();" name="s_city"  id="s_city"  class="form-control" ng-model="s_citychange"  required>
				                    <option value="" selected="selected">Select City</option>
				                    <option ng-repeat="option in s_citydata" value="{{'{{option}}'}}">{{'{{option}}'}}</option>
				                  </select>
				                </div>
				              </div>

				             <!--  <div class="col-md-6">
				                <div class="field">  
				                  <select  name="s_zipcode" ng-model="s_zipchange" id="s_zipcode"  class="form-control"   required>
				                    <option value="" selected="selected">Select Zip</option>
				                    <option ng-repeat="option in s_zipdata" value="{{'{{option}}'}}">{{'{{option}}'}}</option>

				                  </select>
				                </div>
				              </div> -->
				              <div class="col-md-6">
				                <div class="field">
				                 <label for="s_zipcode" class="hide_span">Zipcode</label>
				                  <input type="text" name="s_zipcode" required id="s_zipcode" value="{{result_data[0]['s_zipcode']}}" class="eff2" placeholder="Zip code *" maxlength="15">
												
				                </div>
				              </div>
				              <div class="col-md-6">
				                <div class="field">
				                 <label for="s_phonenumber" class="hide_span">Phone</label>
				                  <input type="text" name="s_phonenumber" required id="s_phonenumber" value="{{result_data[0]['s_phonenumber']}}" class="eff2" placeholder="Phone Number *" maxlength="15">
													<!-- <label>Phone Number *</label>
													<span class="focus-border">
            								<i></i>
            							</span> -->
				                </div>
				              </div>
				              <div class="col-md-6">
				                <div class="field">
				                  <label for="s_email" class="hide_span">Email</label>
				                  <input type="text" name="s_email" required id="s_email" value="{{result_data[0]['s_email']}}" class="eff2" placeholder="E-mail *" maxlength="60">
													<!-- <label>E-mail *</label>
													<span class="focus-border">
            								<i></i>
            							</span> -->
				                </div>
				              </div>
				            </div>
				          </div>
				          </div>
				          </div>
				            <div class="upt_btn text-center">
				              <label for="Submit" class="hide_span">Submit</label>
				              <input type="submit" id="Submit" value="Continue to review">
				            </div>
				        </div>
				      </div>
				    </form>
				  </div>
			</div>
				{% if uid != '' %}
			<div class="layout-region col-md-4 cust_wd_4 ord" style="">
				<h4>Order Summary</h4>
<div class="brd_btm">
					{% for key,value in order_summary %}

							<ul id="cart-listcom" class="cart-list_ord_inf">
								<li>
									<div class="cart-list-left_ord_inf">
			          	<a href="{{ summary['base_url'] }}/product_desc/{{value.p_id}}" target="_blank" class="quick-shop info" data-toggle="tooltip" title="{{ value.p_name }}" >
			          	<img class="product-image_ord_inf" ng-src="{{ value.spliturl }}" alt="product-image" err-SRC="{{ url('<front>') }}sites/default/files/logobrand.png" >
			          </a>
								</div>
			           <!--  <div class="filter-wrap ">
			              <div class="filter-options pro_variant_block" style="text-align: left">
			                  <div style="width:100%">
			                    <a id="{{ order[key]['c_value'] }}" data-val="{{ order[key]['variant_id'] }}" class="color_variant" ><i aria-hidden="true" class="fa fa-check"></i> <img style="width: 20px;" src="{{ summary['base_url'] }}/sites/default/files/color_img/{{ value.c_url }}" alt="{{ value.color_name }}"> <span id="variant_val" class="hidden">{{ value.variant_id }}</span></a> <span>{{ value.color_name }}</span>
			                  </div>
			              </div>
			            </div> -->
									<div class="lf-hle_ord_inf">
									<div class="lft_ord_inf">
										<div class="cart-list-right_ord_inf">
			              <div class="cst_brnd_ord_inf" >
										<div class="rw1">
										<div class="fl_lff">
										<div class="brand_ord_inf bld">{{ value.prodname }}</div>
										</div>
										<div class="fl_rgg">
										<div class="price_color_ord_inf pos_rel_ord_inf">${{ value.basic_price }}</div>
										</div>
										</div>
										<!-- <div class="rw2">
										<div class="fl_lff">
										<div class="brand_ord_inf bld">{{ value.color_name }}</div>
										</div>
										<div class="fl_rgg">
										<div class="price_color_ord_inf">${{ value.basic_price_val }}</div>
										</div>
										</div> -->
										<div class="rw3">
										<div class="fl_lff">
				            <div class="brand_ord_inf bld">Qty</div>
										</div>
										<div class="fl_rgg">
										<div class="price_color_ord_inf">{{ value.p_quantity }}</div>
										</div>
										</div>

										<div class="rw3">
										<div class="fl_lff">
				            <div class="brand_ord_inf bld">Total Price</div>
										</div>
										<div class="fl_rgg">
										<div class="price_color_ord_inf">${{ value.p_totalprice }}</div>
										</div>
										</div>
<!-- 
											<div class="rw4">
										<div class="fl_lff">
										<div class="brand_ord_inf bld">Qty:<i class="price_color_ord_inf">{{ value.p_quantity }}</i></div>
										</div>
										</div> -->
									</div>

									</div>
									</div>
									</div>
									</li>
							</ul>

			        {% endfor %}
</div>
			    <table id="" class="table checkout-table table-slim unstyled totals">
					<tbody>
					  <tr>
					     <td> <div class="fl_l bld">Sub Total</div></td>
					     <td class="text-right"><div class="fl_r">
					        <a id="shippingAmount"  class="underline hidden"></a>
					        <span id="shippingFree" class="price_color_ord_inf">${{ summary['total_price'] }}</span></div>
					     </td>
					  </tr>
					  <tr>
					     <td><div class="fl_l bld"> Shipping &amp; Handling </div></td>
					     <td class="text-right"><div class="fl_r">
					        <a id="shippingAmount" class="underline hidden"></a>
					        <span id="shippingFree" class="price_color_ord_inf" data-at="shippingFree">$0.00</span></div>
					     </td>
					  </tr>
					  <tr>
					     <td><div class="fl_l bld">Taxes</div></td>
					     <td class="text-right"><div class="fl_r">
					        <a id="Tax_hidden" class="underline hidden"></a>
					        <input type="hidden" name="taxes_hidden" id="taxes_hidden" value="{{ summary['tax_val'] }}">
					        <span id="Taxes" class="price_color_ord_inf" data-at="Taxes">${{ summary['tax_val'] }}</span></div>
					     </td>
					  </tr>

					  <tr class="subtotal">
					     <td><div class="fl_l bld">Total</div></td>
					     <td id="subTotal" class="lineTotal text-right"><div class="fl_r">
					        <span class="togglable">
					       	<input type="hidden" name="total_pr_hidden" id="total_pr_hidden" value="{{ summary['total_price'] + summary['tax_val'] }}">
					        <span class="toggleOff price_color_ord_inf">${{ summary['total_price'] + summary['tax_val']  }}</span>
					        <span class="toggleOn hide price_color_ord_inf">{{ summary['total_price'] + summary['tax_val'] }}</span>
					        </span></div>
					     </td>
					  </tr>
				{% if summary['total_coupon_applied'] != '' %} 
					  	<tr class="subtotal" ng-hide="coupon_apply">
					     	<td><div class="fl_l bld">Discount</div></td>
					     	<td class="lineTotal text-right"><div class="fl_r">
					        <span class="togglable">
					        <span class="toggleOff price_color_ord_inf" >${{ summary['discount'] }}</span>
					        </span></div>
					     	</td>
					  	</tr>
					  	<tr class="subtotal" ng-hide="coupon_apply">
					  	   <td><div class="fl_l bld">Total <span class="price_color_ord_inf">(Coupon applied)</span></div></td>
					     	<td class="lineTotal text-right"><div class="fl_r">
					        <span class="togglable">
					        <span class="toggleOff price_color_ord_inf" >${{ summary['total_coupon_applied']+summary['tax_val'] }}</span>
					        </span></div>
					     	</td>
					  	</tr>

					  	<tr>
                      		<td id="cpn_grid" colspan="2">
	                           <table ng-hide="coupon_codes_grid == false" class="coupon_codes_grid">
	                           	<thead>
	                           		<tr>
	                           			<th>Coupon Code</th>
	                           			<th style="text-align: center;">Action</th>
	                           		</tr>
	                           	</thead>
	                           	<tbody>
	                           		<tr>
	                           			<td class="coupon_codes_grid_td_1"><span>{{ summary['coupon_code'] }}</span></td>
	                           			<td class="coupon_codes_grid_td_2" ><input type="hidden" name="applied_coupon_hidden" id="applied_coupon_hidden" value="{{ summary['coupon_code'] }}">
		                           	<a ng-click="apply_coupon_remove()"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
	                           		</tr>
	                           	</tbody>
	                           	</table>
	                       </td>
	                   	</tr>
				{% else %}
					  	<tr></tr>

                       	<tr>
                           <td colspan="2" ng-hide="coupon_apply">
                           	<div class="fl_l bld coupon_title">Coupon Code:</div>
                           	<div class="coupon">
                           		<label for="coupon_code">Coupon:</label>
                           		<input type="text" name="promocode" id="coupon_val" ng-model="coupon_val" class="coupon_text">
                           		<input type="button" class="coupon_button" value="Apply" name="promocode" id="apply_validate_coupon" ng-click="apply_validate_coupon()">
                           	</div>
                           	
                         
                          {% for key,value in coupon_list %}
                              {{value}}
                          {% endfor %}
                          
                           </td>
                      	</tr>

				{% endif %}

					  	<tr class="subtotal" ng-hide="!coupon_apply">
						    <td><div class="fl_l bld">Discount</div></td>
						    <td id="Discount"  class="lineTotal text-right"><div class="fl_r">
						        <span class="togglable">
						        <span class="toggleOff price_color_ord_inf" >$-{{'{{discount}}'}}</span>
						        </span></div>
						    </td>
					  	</tr>
					  	<tr class="subtotal" ng-hide="!coupon_apply">
					     	<td id="total_coupon_applied" ><div class="fl_l bld">Total <span class="price_color_ord_inf">(Coupon applied)</span></div></td>
					     	<td  class="lineTotal text-right"><div class="fl_r">
						        <span class="togglable">
						        <span class="toggleOff price_color_ord_inf">${{'{{coupon_recal_totalprice}}'}}</span>
						        </span></div>
					     	</td>
					  	</tr>

					 	<tr></tr>

                      	<tr>
                           	<td colspan="2" ng-hide="coupon_codes"><!-- ng-hide="!coupon_apply" -->
                           	<div class="fl_l bld coupon_title">Coupon Code:</div>
                           	<div class="coupon">
                           		<label for="coupon_code">Coupon:</label>
                           		<input type="text" name="promocode" id="coupon_val" ng-model="coupon_val" class="coupon_text">
                           		<input type="button" class="coupon_button" value="Apply" name="promocode" id="apply_validate_coupon" ng-click="apply_validate_coupon()">
                           	</div>
                         
                       <!--    {% for key,value in coupon_list %}
                              {{value}}
                          {% endfor %} -->
                          	</td>
                      	</tr>
                      
                     	<tr>
	                      	<td colspan="2">
	                      		<div id="coupon_msg">	
	                           	</div>
	                           	<table ng-hide="coupon_codes_grid == true" class="coupon_codes_grid">
	                           	<thead>
	                           		<tr>
	                           			<th>Coupon Code</th>
	                           			<th style="text-align: center;">Action</th>
	                           		</tr>
	                           	</thead>
	                           	<tbody>
	                           		<tr>
	                           			<td class="coupon_codes_grid_td_1"><span>{{'{{applied_coupon_hidden}}'}}</span></td>
	                           			<td class="coupon_codes_grid_td_2"><input type="hidden" name="applied_coupon_hidden" id="applied_coupon_hidden" value="{{'{{applied_coupon_hidden}}'}}">
		                           	<a ng-click="apply_coupon_remove()"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
	                           		</tr>
	                           	</tbody>
	                           	</table>
	                       </td>
	                    </tr>
	                 
					</tbody>
				</table>
			</div>
			{% else %}
			<div class="layout-region layout-region-checkout-secondary" style="">
				<p>Your cart is empty</p>
			</div>
			{% endif %}
		</div>
</div>
