<div class="container">
      <!-- Slider -->
      <div class="">
        <div class="faq-page-breadcrumb">
          <div class="breadcrumbs revealOnScroll" data-animation="fadeIn">
            <div class="breadcrumb-item"><a href="{{ url('<front>') }}">Home</a></div><i class="fa fa-chevron-right"></i>
           
          {% for key,value in seo_array%}
              {% if value[0] != '' %}
              <div class="breadcrumb-item current">{{value[0]}}</div>
              {% else %}
               <div class="breadcrumb-item current">Our Locations</div>
              {% endif %}
          {% endfor %}
          </div>
        </div>
      </div>
      <!-- Middle Content -->
      <div class="installation-section">
        
          {% for key,value in seo_array%}
                {% if value[1] != '' %}
                  
                  <h1 class="h1-title text-center">{{value[1]}}</h1>
                  {% else %}
                  <h1 class="h1-title text-center">Our Locations</h1>
                {% endif %}
            {% endfor %}
        <div class="">
          <div class="">
            <div class="row">
              {% for key,value in items%}

              <div class="col-md-3">
                <div class="installation-box">
                  <div class="installation-branch-name">
                    <h3><b>{{value['heading']}}</b></h3>
                  </div>
                  <div class="installation-branch-adderss">
                    {% if value['address1'] != "" %}<p>{{value['address1']|raw}}</p>{% endif %}
                    {% if value['address2'] != "" %}<p>{{value['address2']|raw}}</p>{% endif %}
                    {% if value['phone'] != "" %}<p>Phone: {{value['phone']}}</p>{% endif %}
                    {% if value['email'] != "" %}<p>Email: {{value['email']}}</p>{% endif %}
                  </div>
                  <div>
                  
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>