<!--NAVBAR-->
  <div id="wrapper">

  <div class="container">
  <!-- Preloader -->
    
    <div class="preloader">
            <div class="cssload-container">
                <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
            </div>
        </div>
    
    <!-- START PRELOADER -->
    <div class="preloader" style="display: none;">
      <div class="status" style="display: none;">
        <div class="status-mes"></div>
      </div>
    </div>
    <!-- END PRELOADER -->  
    <!-- Slider -->

    <!-- Middle Content -->
        <div class="faq-page-breadcrumb">
          <div class="breadcrumbs revealOnScroll" data-animation="fadeIn">
<!--             <div class="breadcrumb-item"><a href="{{ url('<front>') }}">Home</a></div><i class="fa fa-chevron-right"></i>
 -->            
                 {% for key,value in seo_array%}
                    {% if value[0] != '' %}
                    <div class="breadcrumb-item current">{{value[0]}}</div>
                    {% else %}
                    <div class="breadcrumb-item current">Services</div>
                    {% endif %}
                {% endfor %}
          </div>
        </div>
     
     <!-- Middle Content -->
    <div class="our-service-section">
      {% for key,value in seo_array%}
                {% if value[1] != '' %}
                  
                  <h1 class="h1-title text-center">{{value[1]}}</h1>
                  {% else %}
                  <h1 class="h1-title text-center">Our Services</h1>
                {% endif %}
      {% endfor %}

      <div class="">
      <!-- <h1 class="h1-title text-center">H1 Tage goes here</h1>
      <h2 class="h2-title text-center">H2 Tage goes here</h2> -->
        <div class="services-list-item-wrapper"> 
         {% for key,value in items %}
  
          <div class="services-list-item">
            <div class="row">
              <div class="col-md-3">
                <div class="services-list-item-figure">
                  <img src="{{value[2]}}" alt="{{value[0]}}">
                </div>
              </div>
              <div class="col-md-9">
                <div class="services-list-item-content">
                  <div class="services-list-item-title">
                    {{value[0]}}
                  </div>
                  <p class="service-desc">{{value[1]|raw}} 
                  </p>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
         

        </div>

      </div>
    </div>
      
      </div>
      
      
      
    </div>