<div class="container">
  <!-- Slider -->
  <div class="">


    <!-- Middle Content -->
    <div class="faq-page-breadcrumb">
      <div class="breadcrumbs revealOnScroll" data-animation="fadeIn">
        <div class="breadcrumb-item"><a href="{{ url('<front>') }}">Home</a></div><i class="fa fa-chevron-right"></i>
       
       {% if value[0] != '' %}  
          {% for key,value in seo_array%}
                   <div class="breadcrumb-item current">{{value[0]}}</div>
                                      
                   
          {% endfor %}
          {% else %}
           <div class="breadcrumb-item current">Videos</div>
       {% endif %} 
      </div>
    </div>


    <!-- Youtube Content -->

    <div class="video-page-section">
                    {% for key,value in seo_array%}
                        {% if value[1] != '' %}
                          
                         
                          <h1 class="h1-title text-center">{{value[1]}}</h1>
                          {% else %}
                          <h1 class="h1-title text-center">Videos</h1>

                        {% endif %}
                    {% endfor %}
     <!-- <h2 class="h2-title text-center">H2 Tage goes here</h2> //-->
      <div class="">
        <!-- <div class="block-title testimonial-title">
      <h3>Videos</h3>
    </div> -->


        <div class="youtube-video-section">
          <div class="row">
          {% for key,value in items %}
          
          <div class="col-md-4">
              <div class="youtube-title">
                <h4>{{value['title']}}</h4>
              </div>
              <div class="vid">
                 <iframe width="360" height="300" src="{{value['raw_html']}}?autoplay=0" frameborder="0" autoplay="false" allow="accelerometer;  encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              <!--./vid -->

            </div>
            <!--.col -->

            {% endfor %}
             </div>

        </div>
      </div>
    </div>


  </div>

</div>
