
<style type="text/css">

  fieldset, label { margin: 0; padding: 0; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
  
  padding-right: 36px;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
 color: #2399f7;
 float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating  input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked)  label:hover, /* hover current star */
.rating:not(:checked)  label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating  input:checked + label:hover, /* hover current star when changing rating */
.rating  input:checked ~ label:hover,
.rating  label:hover ~ input:checked ~ label, /* lighten current selection */
.rating  input:checked ~ label:hover ~ label { color: #FFED85;  }
</style>
<div>
<section class="product_desc">
    <div class="">
      <div class="container">
        <div class="faq-page-breadcrumb">
          <div class="breadcrumbs revealOnScroll" data-animation="fadeIn">
           <!--  <div class="breadcrumb-item"><a href="{{ url('<front>') }}">Home</a></div><i class="fa fa-chevron-right"></i> -->
              <div class="breadcrumb-item"><a href="{{ url('<front>') }}part_searchelastic">Part Search</a></div><i class="fa fa-chevron-right"></i>
            <div class="breadcrumb-item current">Product Details</div>
          </div>
        </div>

    <!--product_desc_bg -->
    <!-- img_array -->
    <div class="product_desc_content">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-xs-12">
            <div class="row col-xs-12 col-sm-6 col-md-4 col-lg-4">
              <div class="product_image m-t-10">
                <div id="owl_1" class="owl-carousel owl-theme">
                  <!-- <div class="item productslide_img">
                    <a data-type="iframe" width="420" height="315" href="https://www.youtube.c
                    om/watch?v=Idnsf0W6moM" allowfullscreen class="fancybox">
                      <img src="sites/default/files/{{value}}" alt="slider image" />
                    </a>
                  </div> -->
                {% for key,valuearr in img_array %}
                  <div class="item productslide_img">
                    <img ng-src="{{valuearr}}" alt="" err-SRC="{{ url('<front>') }}sites/default/files/logobrand.png" class="image block__pic">
                  </div>
                {% endfor %}
                </div>
                <div id="owl_2" class="owl-carousel owl-theme m-t-20">
                  {% for key,valuearr in img_array %}
                  <div class="item">
                    <img ng-src="{{valuearr}}" err-SRC="{{ url('<front>') }}sites/default/files/logobrand.png" alt="" class="image">
                  </div>
                  {% endfor %}
                </div>
                <div class="slide_buttons">
                  <div class="next_btn"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
                  <div class="prev_btn"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
                </div>
              </div>
            </div>

            {% for key,valuedesc in items_desc %}
              <div class="col-xs-12 col-sm-6 col-md-8 col-lg-6">
                <div class="product_brand fs-14">
                  <div class="product_brand_icon">
                   <img  ng-src="{{ url('<front>') }}sites/default/files/{{valuedesc[8]}}" err-SRC="{{ url('<front>') }}sites/default/files/logobrand.png" alt="{{valuedesc[1]}}">
                  </div>
                  <h4 class="m-t-10 part_no">{{valuedesc[1]}}</h4>
                </div>
               <div class="feature_ratings" style="margin-left:-10px;">
                  <ul>
                    <li><i class="fa {% if total_rating > 0  %} fa-star {% else %} fa-star-o {% endif %}"></i></li>
                    <li><i class="fa {% if total_rating > 1  %} fa-star {% else %} fa-star-o {% endif %}"></i></li>
                    <li><i class="fa {% if total_rating > 2  %} fa-star {% else %} fa-star-o {% endif %}"></i></li>
                    <li><i class="fa {% if total_rating > 3  %} fa-star {% else %} fa-star-o {% endif %}"></i></li>
                    <li><i class="fa {% if total_rating > 4  %} fa-star {% else %} fa-star-o {% endif %}"></i></li>
                    <li class="customer_review"><a href="#read_review" id="read_review">({{total_cnt}})</a><p></p>
                  </li>
                  </ul>
                </div>



                <!-- <div class="feature_ratings" style="margin-left:-10px;">
                  <ul>
                    <li><i class="fa {% if total_rating > 0  %} fa-star {% else %} fa-star-o {% endif %}"></i></li>
                    <li><i class="fa {% if total_rating > 1  %} fa-star {% else %} fa-star-o {% endif %}"></i></li>
                    <li><i class="fa {% if total_rating > 2  %} fa-star {% else %} fa-star-o {% endif %}"></i></li>
                    <li><i class="fa {% if total_rating > 3  %} fa-star {% else %} fa-star-o {% endif %}"></i></li>
                    <li><i class="fa {% if total_rating > 4  %} fa-star {% else %} fa-star-o {% endif %}"></i></li>
                    <li class="customer_review"><a href="#read_review"></a><p></p></li>
                  </ul>
                </div> -->

              <div class="stock_block m-t-10 m-b-10">
                <span class="m-r-15"><i class="fa fa-truck" aria-hidden="true"></i> &nbsp;&nbsp;Free Delivery</span>|
                <span class="m-l-15"><a href="{{ url('<front>') }}sites/default/files/dummy.pdf">Read Instructions</a></span>
              </div>
              <div class="total_price">
                {% if interchange_array['field_call_price'] != 'on' and valuedesc[5] != 0 %}
                  <span class="dd_p">${{valuedesc[5]}}</span>
                 <!--  <span class="mrp_price">${{valuedesc[9]}}</span> -->
                {% endif %}


                  <span style="display: none;" id="price_total">{{valuedesc[5]}}</span>

              </div>
              <!-- <p class="save_price">You Save : <span class="ttl_p">${{valuedesc[10]}}(10%)</span></p> -->
              <div class="quantity hidden">
                <div class="group-quantity-button">
                  <a class="minus" href="#"><i class="fa fa-minus" aria-hidden="true"></i><span class="hide_span">quantity</span></a>
                  <input class="input-text qty text" id="item_qty" type="text" size="4" title="Qty" value="1" name="quantity">
                  <a class="plus" href="#"><i class="fa fa-plus" aria-hidden="true"></i><span class="hide_span">quantity</span></a>
                </div>
              </div>
              <div class="filter-wrap ">
              </div>

              <div class="mm-dropdown" style="display:none !important">
                <div class="textfirst">No Color<img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-down-b-128.png" width="10" height="10" class="down" alt="Arrow"></div>
                <ul id="clrpick">

                  {% for keys,variation_val in valuedesc[11] %}
                  <!-- {% if variation_val[4] == 152  %} style="display: none" {% endif %} -->
                  <li ng-hide="{{variation_val[4]}} == 152" class="input-option" id="dtpic_{{variation_val[4]}}"
                  data-val="{{variation_val[0]}}" value="{{variation_val[0]}}"
                  onclick="filtercolorvariant(this)">
                     <div  id="variant_val" class="cclr" style="background: {{variation_val[5]}}"></div>{{variation_val[6]}}
                  </li>
                  {% endfor %}
                </ul>
                 <label for="namesubmit" class="hide_span">Submit</label>
                 <input type="hidden" class="option" id="namesubmit" name="namesubmit" value="" />
              </div>

             
              <!-- <div class="quantity">
                <div class="group-quantity-button">
                  <a class="minus minusclass_desc" href="#" order_id_desc="{{qty_change[0]}}" fields_desc="{{valuedesc[0]}}" pvariant_desc="{{qty_change[2]}}" singleprice_desc="{{qty_change[4]}}" total_desc="{{qty_change[1]}}"><i class="fa fa-minus" aria-hidden="true"></i></a>
                  <input class="input-text qty text qtyChange_desc" id="quantity_desc{{qty_change[2]}}" type="text" size="4" title="Qty" value="{{qty_change[3]}}" name="quantity" order_id_desc="{{qty_change[0]}}" fields_desc="{{valuedesc[0]}}" pvariant_desc="{{qty_change[2]}}" singleprice_desc="{{qty_change[4]}}" total_desc="{{qty_change[1]}}">
                  <a class="plus plusclass_desc" href="#" order_id_desc="{{qty_change[0]}}" fields_desc="{{valuedesc[0]}}" pvariant_desc="{{qty_change[2]}}" singleprice_desc="{{qty_change[4]}}" total_desc="{{qty_change[1]}}"><i class="fa fa-plus" aria-hidden="true"></i></a>
                </div>
              </div> -->
            
              <div class="quantity">
                <div class="group-quantity-button">
                  <a class="minus minusclass_desc" href="#"><i class="fa fa-minus" aria-hidden="true"></i><span class="hide_span">minus</span></a>
                  <input class="input-text qty text qtyChange_desc" type="text" size="4" title="Qty" value="1" name="quantity">
                  <a class="plus plusclass_desc" href="#"><i class="fa fa-plus" aria-hidden="true"></i><span class="hide_span">plus</span></a>
                </div>
              </div>

            


            <!--  
             <input type="hidden" value="{{qty_change[3]}}" id="qty_val">

              <div class="quantity">
                <div class="group-quantity-button">
                  <a class="minus minusclass_desc" href="#" order_id_desc="{{qty_change[0]}}" fields_desc="{{valuedesc[0]}}" pvariant_desc="{{qty_change[2]}}" singleprice_desc="{{qty_change[4]}}" total_desc="{{qty_change[1]}}"><i class="fa fa-minus" aria-hidden="true"></i></a>
                  <input class="input-text qty text qtyChange_desc" id="quantity_desc{{qty_change[2]}}" type="text" size="4" title="Qty"  name="quantity" order_id_desc="{{qty_change[0]}}" fields_desc="{{valuedesc[0]}}" pvariant_desc="{{qty_change[2]}}" singleprice_desc="{{qty_change[4]}}" total_desc="{{qty_change[1]}}">
                  <a class="plus plusclass_desc" href="#" order_id_desc="{{qty_change[0]}}" fields_desc="{{valuedesc[0]}}" pvariant_desc="{{qty_change[2]}}" singleprice_desc="{{qty_change[4]}}" total_desc="{{qty_change[1]}}"><i class="fa fa-plus" aria-hidden="true"></i></a>
                </div>
              </div> -->




















             <!--  <div class="quantity">
                <div class="group-quantity-button">
                  <a class="minus" href="#"><i class="fa fa-minus" aria-hidden="true"></i></a>
                  <input class="input-text qty text" type="text" size="4" title="Qty" value="1" name="quantity">
                  <a class="plus" href="#"><i class="fa fa-plus" aria-hidden="true"></i></a>
                </div>
              </div> -->
              <div class="feature_info">
                {% if interchange_array['field_call_price'] != 'on' and valuedesc[5] != 0 %}
                     <button type="button" id="{{valuedesc[0]}}" class="addtocart_class addcart_btn cartbtn_bg">Add to cart</button>
                     <!-- <button type="button" class="addcart_btn buybtn_bg">Buy now</button> -->
                {% else %}
                    <div style='color:red;margin-left: 88px;font-weight: bold'>  Call For Price</div>

                {% endif %}
                  <!-- <button type="button" class="addcart_btn buybtn_bg">Buy now</button> -->

              </div>
              <br>
              <div class="alert alert-success" style="width:211px;display: none"></div>
              <div class="alert alert-danger" style="width:211px;display: none"></div>

            </div>
            {% endfor %}
           <!--  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 dis_none">
              <div class="buy_access">
                <h4>BUY ACCESSORIES</h4>
                <ul>
                {% for key,valuelink in item_link  %}

                  {% if valuelink[0] is not empty %}
                  <li class="buy_access_product">
                    <div class="thumb">
                      <a href="#">
                        <img ng-src="{{ url('<front>') }}sites/default/files/{{valuelink[6]}}" style="width:100%;" />
                      </a>
                    </div>
                    <div class="access_cont">
                      <a href="#" class="access_name">{{valuelink[1]}}</a>
                      <a href="#" class="access_number m-t-20">{{valuelink[8]}}</a>
                      <div class="fs-14">
                        <span>${{valuelink[5]}}</span>

                      </div>
                    </div>
                  </li>
                     {% else %}
                      <li>
                      <div>There Is No Accessories For This Product</div>
                      </li>
                     {% endif %}
                  {% endfor %}

                </ul>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
          </div>
    </div>

    <!--product_desc_content-->
    <br>
    <div class="container">
      <div class="col-md-12 fl">


      <table>
          {% if interchange_array['field_call_price'] != '' %}
            <tr>
              <td><b>SKU:</b></td>
              <td>
                <span>{{interchange_array['sku']}}</span>
              </td>
            </tr>
          {% endif %}
          {% if interchange_array['field_lester'] != '' %}
            <tr class="pd_rr">
              <td><b>Lester:</b></td>
              <td><span>
                {{interchange_array['field_lester']}}</span>
              </td>
            </tr>
          {% endif %}
      </table>

      </div>
    </div>
    <div class="container">
      <div class="col-md-12 fl">
        {% if interchange_array['field_interchange'] != "" %}
          <table>
            <tr>
              <td><b>Interchange Part Number:</b></td>
            </tr>
            <tr class="pd_rr">

                <td><span>{{interchange_array['field_interchange']}}</span></td>

            </tr>


          </table>
        {% endif %}
      </div>
    </div>



    <!-- <div class="container">
         <div class="table-responsive">
                  <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper">
                    <table class="table-striped table-sort dataTable" id="DataTables_Table_0" role="grid">
                      <thead>
                        <tr role="row">
                          <th class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="descending" aria-label="Part Number: activate to sort column ascending" style="width: 100px;">Make</th>
                          <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Categories: activate to sort column ascending" style="width: 144px;">Model</th>
                          <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Image" style="width: 40px;">Year</th>
                          <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Brands: activate to sort column ascending" style="width: 100px;">Engine</th>
                        </tr>
                      </thead>

                      <tbody>
                         <tr>
                          <td rowspan="1" colspan="1">
                            <input ng-change="makesearch_full()" ng-model="makesearchdesc_search" type="text" name="" class="search-table"></td>
                          <td rowspan="1" colspan="1">
                            <input ng-change="modelsearch()" ng-model="modelsearchdesc_search" type="text" name="" class="search-table">
                          </td>
                          <td rowspan="1" colspan="1">
                            <input ng-change="yearsearch()" ng-model="yearsearchdesc_search" type="text" name="" class="search-table">
                          </td>
                          <td rowspan="1" colspan="1">
                            <input ng-change="enginesearch()" ng-model="enginesearchdesc_search" type="text" name="" class="search-table">
                          </td>
                        </tr>
                        <tr role="row" ng-repeat="(key, value) in pagedItems[currentPage]" class="odd">
                          <td class="sorting_1">{{'{{value.make}}'}}</td>
                          <td>{{'{{value.model}}'}}</td>
                          <td>{{'{{value.year}}'}}</td>
                          <td>{{'{{value.engine}}'}}</td>


                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
            <div class="pagination pull-right pagi_master" ng-if="pagenos.length > 1 ">
              <ul>
                  <li ng-class="{disabled: currentPage == 0}">
                      <a href ng-click="setfirst()"> First</a>
                  </li>
                  <li ng-class="{disabled: currentPage == 0}">
                      <a href ng-click="prevPage()">« Prev</a>
                  </li>
                  <li ng-repeat="n in pagenos | limitTo:5"
                      ng-class="{active: n == currentPage}"
                  ng-click="setPage()">
                      <a href ng-bind="n + 1">1</a>
                  </li>
                  <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                      <a href ng-click="nextPage()">Next »</a>
                  </li>
                  <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                      <a href ng-click="setlast()"> Last</a>
                  </li>
              </ul>
            </div>

    </div> -->

<div class="container maye_div">

   <div style="clear:both"></div>
   <br>
  <div class="col-md-12 pd0_mg0">
    <div class="prd_desc_search">
      <label for="queryprod" class="hide_span">queryprod</label>
    <input placeholder="search" class="search-table cust" type="text" ng-model="queryprod" id="queryprod">
    </div>
    <div class="bttn">
        <button ng-disabled="currentPageTest == 0" ng-click="currentPageTest=currentPageTest-1">
           Previous
       </button> <span style="font: 500 14px 'Open Sans', sans-serif;padding: 0 20px;">{{'{{currentPageTest+1}}'}}/{{'{{numberOfPages()}}'}}</span>
     <button ng-disabled="currentPageTest >= getData().length/pageSize - 1" ng-click="currentPageTest=currentPageTest+1">
           Next
       </button>
    </div>
<div id="wrapper" class="tble table-responsive">

<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper" style="border-radius: 0px">
    <table class="keywords table-striped table-sort dataTable table-bordered" id="DataTables_Table_0" role="grid" cellspacing="0" cellpadding="0">
      <thead>
        <tr role="row">
          <th class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="descending" aria-label="Part Number: activate to sort column ascending" style="width: 100px;">Make</th>
          <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Categories: activate to sort column ascending" style="width: 144px;">Model</th>
          <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Image" style="width: 40px;">Year</th>
          <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Brands: activate to sort column ascending" style="width: 100px;">Engine</th>
        </tr>
      </thead>
    <tbody>
      <tr>
      <!--  <td rowspan="1" colspan="1">
         <input ng-model="queryprod" type="text" name="" class="search-table"></td> -->
      <!--  <td rowspan="1" colspan="1">
         <input ng-change="modelsearch()" ng-model="modelsearchdesc_search" type="text" name="" class="search-table">
       </td>
       <td rowspan="1" colspan="1">
         <input ng-change="yearsearch()" ng-model="yearsearchdesc_search" type="text" name="" class="search-table">
       </td>
       <td rowspan="1" colspan="1">
         <input ng-change="enginesearch()" ng-model="enginesearchdesc_search" type="text" name="" class="search-table">
       </td> -->
     </tr>
      <!-- <tr role="row" ng-repeat="value in pagedItems[currentPage] | filter:queryprod" class="odd"> -->
        <tr role="row" ng-repeat="value in datatest | filter:queryprod | startFrom:currentPageTest*pageSize  | limitTo:pageSize" class="odd">
          <td class="sorting_1">{{'{{value.make}}'}}</td>
          <td>{{'{{value.model}}'}}</td>
          <td>{{'{{value.year}}'}}</td>
          <td>{{'{{value.engine}}'}}</td>
      </tr>

    </tbody>
  </table>
  </div>
 </div>



 <!-- <div class="pagination pull-right pagi_master" ng-if="pagenos.length > 1 ">
   <ul>
       <li ng-class="{disabled: currentPageTest == 0}">
           <a href ng-click="setfirst()"> First</a>
       </li>
       <li ng-class="{disabled: currentPageTest == 0}">
           <a href ng-click="prevPage()">« Prev</a>
       </li>
       <li ng-repeat="n in pagenos | limitTo:5"
           ng-class="{active: n == currentPageTest}"
       ng-click="setPage()">
           <a href ng-bind="n + 1">1</a>
       </li>
       <li ng-class="{disabled: currentPageTest == pagedItems.length - 1}">
           <a href ng-click="nextPage()">Next »</a>
       </li>
       <li ng-class="{disabled: currentPageTest == pagedItems.length - 1}">
           <a href ng-click="setlast()"> Last</a>
       </li>
   </ul>
 </div> -->
 </div>
 </div>
  </section>
 <!--  <section class="featured_product">
    <div class="container">
      <div class="row">
        <h2 class="main_title">BUY Accessories</h2>
        <div class="col-sm-12">
          <div class="" ng-repeat="(key, valuelink) in accessories" ng-show="accessories.length">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-if="valuelink[0] !=''">
            <div class="featured_item_box">
              <a class="product_img_head" href="{{ url('<front>') }}product_desc/{{'{{valuelink[0]}}'}}">
                <div class="featured_img">
                  <img class="img-responsive" ng-src="{{'{{valuelink[6]}}'}}" alt="featured product" />
                </div>
                    <span ng-if="valuelink[9]==0" class="new_brand">New</span>
                    <span ng-if="valuelink[11]==0" class="new_brand">Best Seller</span>
                    <span ng-if="valuelink[11]==1" class="new_brand">Only A Few Left</span>
                    <span ng-if="valuelink[11]==2" class="new_brand">10 % Off</span>
                    <span ng-if="valuelink[11]==3" class="new_brand">BOGO Sale</span>
                    <span ng-if="valuelink[11]==4" class="new_brand">Sold Out</span>
              </a>
              <div class="featured_item_price">
                <span class="price_color">${{'{{valuelink[5]}}'}}</span>
                <span class="price_strike">${{'{{valuelink[10]}}'}}</span>
              </div>
              <div class="product_wishlist">
                      <a id="wishtlist_class" wishvalue= "{{'{{valuelink[0]}}'}}">
                        <i ng-if="valuelink[7]==1" id="{{'{{valuelink[0]}}'}}insidewish" class="fa fa-heart" aria-hidden="true"></i>
                        <i ng-if="valuelink[7]==0" id="{{'{{valuelink[0]}}'}}insidewish" class="fa fa-heart-o" aria-hidden="true"> </i>
                      </a>
                    </div>
              <div class="clearfix"></div>
              <a href="{{ url('<front>') }}product_desc/{{'{{valuelink[0]}}'}}" data-tooltip="Part#: {{'{{valuelink[12]}}'}} | {{'{{valuelink[13]}}'}}"><h5 class="text-up">{{'{{valuelink[1]}}'}}</h5></a>
              <div class="feature_shipping">
                <i class="fa fa-truck" aria-hidden="true"></i>&nbsp;Free Delivery
              </div>

            </div>
          </div>

        </div>
          <div class="view_all m-b-30" ng-show="!accessories.length">
            <div>There Is No Accessories For This Product</div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
<div class="container key_features m-t-40">
         <div class="prod_desc_tab">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#prod_description">Description</a></li>
            <li><a data-toggle="tab" href="#prod_specific_tab">Specifications</a></li>
            <!-- <li><a data-toggle="tab" href="#prod_addinfo">Additional Information</a></li> -->
            <li><a data-toggle="tab" href="#prod_storepolicy">Store Information</a></li>
            <!-- <li><a data-toggle="tab" href="#prod_reviews">Reviews(10)</a></li> -->
          </ul>
        </div>
              <div class="tab-content prod_desc_tabcontent">
                  <div id="prod_description" class="tab-pane fade active in">
                      <div class="prod_specification">
                        <div class="prod_addinfo">
                          <div class="col-sm-6">
                            <h4>Two stage parallel turbochargers for diesel engines</h4>
                            <p>
                              in our two stage parallel system, two turbos work in sequence to improve engine performance. our high-temprature, high-durability turbine control valve is designed to ensure rapid transition between the different modes of turbo operation.
                            </p>
                            <h4>From Ignition To 2400 Rpm</h4>
                            <ul>
                              <li>the primary turbo activates (vanes are fully closed to almost fully open)</li>
                              <li>the turbine valve and the compressor discharge valve remain closed</li>
                              <li>the compressor recirculation valve stays open</li>
                            </ul>
                          </div>
                          <div class="col-sm-6">
                            <h4 class="">Product Performance</h4>
                            <ul>
                              <li>Replaces MITSUBISHI,Permanent Magnet Gear Reduction, 12 Volt, Clockwise Rotation, 8-Tooth Pinion
                              </li>
                              <li>100% NEW unit manufactured with 100% NEW premium quality components</li>
                              <li>Engineered to meet or exceed OEM specifications</li>
                              <li>100% tested for reliability and performance</li>
                            </ul>
                          </div>



                        </div>
                          <div class="prod_specification_right">

                          </div>
                      </div>
                  </div><!--Description-->
                  <div id="prod_specific_tab" class="tab-pane fade">
                    <div class="prod_specification">
                        <table cellpadding="0" cellspacing="0">
                           <tbody>
                          <tr><td colspan="2" style="padding:5px 0 0 5px;"><h4 class="m_t_0">Product Specifications</h4></td></tr>
                          <tr>
                            <th>
                              <b>Condition</b>
                            </th>
                            <td>New</td>
                          </tr>
                          <tr>
                            <th><b>Brand</b></th>
                            <td>Parts Player</td>
                          </tr>
                          <tr>
                            <th>
                            <b>Part Number</b>
                            </th>
                            <td>PP17836N</td>
                          </tr>
                          <tr>
                            <th><b>Other Part #</b></th>
                            <td>17836N</td>
                          </tr>
                          <tr>
                            <th><b>UPC</b></th>
                            <td>862798018199</td>
                          </tr>
                          <tr><th><b>OEM Manufacturer</b></th> <td>MITSUBISHI</td></tr>
                          <tr><th><b>Weight</b></th> <td>7.75</td></tr>
                          <tr><th><b>Voltage</b></th> <td>12</td></tr>
                          <tr><th><b>Rotation</b></th> <td>Clockwise</td></tr>
                          <tr><th><b>Design / Type</b></th><td>Permanent Magnet Gear Reduction</td></tr>
                          </tbody>
                        </table>
                    </div>
                  </div><!--Specifications-->
                  <div id="prod_addinfo" class="tab-pane fade">
                    <div class="prod_addinfo">
                      <div class="col-sm-12">
          <h4>Two stage parallel turbochargers for diesel engines</h4>
          <p>
            in our two stage parallel system, two turbos work in sequence to improve engine performance. our high-temprature, high-durability turbine control valve is designed to ensure rapid transition between the different modes of turbo operation.
          </p>
          <div class="col-sm-6">
            <h4>From Ignition To 2400 Rpm</h4>
            <ul>
              <li>the primary turbo activates (vanes are fully closed to almost fully open)</li>
              <li>the turbine valve and the compressor discharge valve remain closed</li>
              <li>the compressor recirculation valve stays open</li>
            </ul>
          </div>
          <div class="col-sm-6">
            <h4>From 2400 Rpm To 2800 Rpm</h4>
            <ul>
              <li>the secondary turbo activates (vanes close slightly during transition, then open again)</li>
              <li>the turbine valve begins to open</li>
              <li>the compressor discharge valve opens</li>
          </ul></div>
          <div class="col-sm-6">
            <h4>From Ignition To 2400 Rpm</h4>
            <ul>
              <li>the primary turbo activates (vanes are fully closed to almost fully open)</li>
              <li>the turbine valve and the compressor discharge valve remain closed</li>
              <li>the compressor recirculation valve stays open</li>
            </ul>
          </div>
          <div class="col-sm-6">
            <h4>From 2400 Rpm To 2800 Rpm</h4>
            <ul>
              <li>the secondary turbo activates (vanes close slightly during transition, then open again)</li>
              <li>the turbine valve begins to open</li>
              <li>the compressor discharge valve opens</li>
          </ul></div>
        </div>
                    </div>
                  </div><!--Add Info-->
                  <div class="tab-pane fade" id="prod_storepolicy">
                    <div class="prod_storepolicy">
                    <h4 class="prod_storepolicy_title">Shipping and Handling</h4>
                    <p>We ship orders worldwide from one of our multiple warehouses and offer free shipping on all orders to the United States.
                    We process and ship orders within one business day of the order information being received. Business days include Monday through Friday, which are not U. S. holidays.
                    Expedited orders including one-day, second day and third day delivery methods are processed and shipped the same business day for orders paid and received by 5pm Eastern Time. Expedited orders received after the cut-off time, are processed and shipped on the next business day.
                    Parts Player reserves the right to change shipping carrier and shipping method for efficient and on-time deliveries. We are not responsible for processing and shipping time delays due to factors out of our control such as payment delays, severe weather or shipping carrier delays.</p>
                    <h4 class="prod_storepolicy_title">Return &amp; Warranty Policy</h4>
                    <p>All of our products are covered by a one year warranty from the date of purchase. All returns must be approved with a Return Material Authorization Number (RMA #) that must be included with the return. Parts Player offers warranty for products that have a manufacturing defect due to materials or workmanship. The warranty does not cover failure due to abuse, misuse, improper installation or modifications. Parts Player is not liable for the cost of installation, removal or any other expenses beyond the original purchase price of the item.</p>
                    <p>It is the responsibility of the customer to verify the correct application information prior to purchasing any product from Part Player. All purchases made in error may be returned within 30 days from the date of purchase and are subject to a 20% restocking fee. The product must be returned in its original condition including the packaging. All returned products will be inspected. Returns processing may take up to 5 business days from the time your product is received at Parts Player’s location.
                    </p>
                    <h4 class="prod_storepolicy_title">Store Policies</h4>
                    <p>We strive to provide you with the best shopping experience and customer service. If you have questions about any of the policies below or our listings including technical questions, please get in touch with us through the 'Contact Us' form or through the 'Ask a question' link below.
                    We accept PayPal and PayPal-supported credit cards: MasterCard, Visa, American Express or Discover Card.
                    Immediate payment is required during checkout. We will process and ship orders once payment has cleared.</p>
                    </div>
                  </div><!--Store Policy-->
              </div>

</div><!--container key_features-->

{% if  reviews_val != 0 %}

<div>
    <div class="container review_block">
<div class="row">
<h2 class="main_title">Reviews</h2>
<div class="col-sm-3 col-xs-12">
{% if star_array|length != 0 %}
<div class="review_progress">

 <div class="review_progress_bar rev_1" role="progressbar" aria-valuenow="{% if star_array[0][0] == 1 %} star_array[0][1]%  {% endif %}" aria-valuemin="0" aria-valuemax="100" >
  {% if star_array[0][0] == 1 %} {{star_array[0][1]}}%   {% endif %}
 </div>
</div>
<div class="review_progress">
 <div class="review_progress_bar rev_2" role="progressbar" aria-valuenow="{% if star_array[1][0] == 2 %} star_array[1][1]  {% endif %}" aria-valuemin="0" aria-valuemax="100" >
   {% if star_array[1][0] == 2 %} {{star_array[1][1]}}%  {% endif %}
 </div>
</div>
<div class="review_progress">
 <div class="review_progress_bar rev_3" role="progressbar" aria-valuenow="{% if star_array[2][0] == 3 %} star_array[2][1]  {% endif %}" aria-valuemin="0" aria-valuemax="100" >
   {% if star_array[2][0] == 3 %} {{star_array[2][1]}}%  {% endif %}
 </div>
</div>
<div class="review_progress">
 <div class="review_progress_bar rev_4" role="progressbar" aria-valuenow="{% if star_array[3][0] == 4 %} star_array[3][1]  {% endif %}" aria-valuemin="0" aria-valuemax="100" >
  {% if star_array[3][0] == 4 %} {{star_array[3][1]}}%  {% endif %}
 </div>
</div>
<div class="review_progress">
 <div class="review_progress_bar rev_5" role="progressbar" aria-valuenow="{% if star_array[3][0] == 5 %} star_array[4][1]  {% endif %}" aria-valuemin="0" aria-valuemax="100" >
  {% if star_array[4][0] == 5 %} {{star_array[4][1]}}%  {% endif %}
 </div>
</div>
{% endif%}
{% if user_id != '' %}
<div class="add-review">
 <div class="new-review-form">
   <h4>Write a Review</h4>
   <form id="contact-form" class="contact-form" method="post">
     <div class="row field-row">
       <div class="col-xs-12 col-sm-12 form-group">
         <label for="review_name">Name<sup>*</sup></label>
         <input type="text" id="review_name" placeholder="Name">
       </div>
       <div class="col-xs-12 col-sm-12 form-group">
         <label for="review_email">Email<sup>*</sup></label>
         <input type="text" id="review_email" placeholder="E-mail">
       </div>
       <div class="field-row star-row col-xs-12 col-sm-12 form-group">
         <label for="ratingSystem">Your rating<sup>*</sup></label>
         <div class="star-holder">
           <div class="star big">
             <div class="feature_ratings">
               <!-- <ul>
                 <li><i class="fa fa-star"></i></li>
                 <li><i class="fa fa-star"></i></li>
                 <li><i class="fa fa-star"></i></li>
                 <li><i class="fa fa-star-o"></i></li>
                 <li><i class="fa fa-star-o"></i></li>
               </ul> -->
               <fieldset class="rating prd_rat" id="ratingSystem">               
                   
                   
                   <input type="radio" id="star5" name="rating" value="5" />
                   <label for="star5" class="hide_span"></label>
                   
                   <input type="radio" id="star4" name="rating" value="4" />
                   <label for="star4" class="hide_span"></label>
                
                   <input type="radio" id="star3" name="rating" value="3" />
                      <label for="star3" class="hide_span"></label>
                   
                   <input type="radio" id="star2" name="rating" value="2" />
                   <label for="star2" class="hide_span"></label>
                   
                   <input type="radio" id="star1" name="rating" value="1" />
                   <label for="star1" class="hide_span"></label>
             </fieldset>
             </div>
           </div>
         </div>
       </div>
       <div class="field-row">
         <div class="col-xs-12 col-sm-12">
           <label class="" for="review">Comments</label>
           <textarea cols="8" class="review_cmt" id="review"></textarea>
           <button  ng-click="review_click()" style="margin-bottom:10px;" id="submit" type="button" class="m-t-15 btn_bg">Submit</button>
           <div style="width: 260px;margin-left:0px;" class="row success_msg_review"><p class="notify_review"></p></div>
         </div>

       </div>
`
     </div>
   </form>
 </div>
</div>
{% endif %}
</div>

{% if review|length != 0 %}
<div class="col-sm-9 col-xs-12">
<div class="">
 <div class="comments">
 {% for key,val in review %}
   <div class="comment_block">
     <div class="row no-margin">
       <div class="col-lg-2 col-sm-2 hidden-xs no-margin">
         <div class="review_thumb">
           <img alt="Customer Review" src="{{ url('<front>') }}themes/AUTOTECH/images/default-avatar.jpg">
         </div>
       </div>
       <div class="col-xs-12 col-lg-10 col-sm-10 no-margin">
         <div class="comment_body">
           <div class="meta-info">
             <div class="author inline">
               <a href="#" class="bold">{{val[1]}}</a>
             </div>
             <div class="star-holder inline">
               <div class="feature_ratings">
                 <ul>

                   <li><i  class="fa  {% if val[3] > 0 %} fa-star {% else %} fa-star-o {% endif %} " ></i></li>
                   <li><i  class="fa  {% if val[3] > 1 %} fa-star {% else %} fa-star-o {% endif %} " ></i></li>
                   <li><i  class="fa  {% if val[3] > 2 %} fa-star {% else %} fa-star-o {% endif %} " ></i></li>
                   <li><i  class="fa  {% if val[3] > 3 %} fa-star {% else %} fa-star-o {% endif %} " ></i></li>
                   <li><i  class="fa  {% if val[3] > 4 %} fa-star {% else %} fa-star-o {% endif %} " ></i></li>

                   <li class="date inline pull-right">
                     {{val[8]}}
                   </li>
                 </ul>
               </div>
             </div>
           </div>
           <p class="comment_text">
             {{val[4]}}
           </p>
         </div>
       </div>
     </div>
   </div>
   {% endfor %}
 </div>
</div>
</div>
{% endif %}
</div>
    </div>
</div>
{% endif %}
<!--Reviews-->

<!-- <section class="featured_product">
    <div class="container">
      <div class="row">
        <h2 class="main_title">Similar Products </h2>
        <div class="col-sm-12">
          <div class="row-flex">

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="(key, value) in similarproducts">

              <div class="featured_item_box">
                <a class="product_img_head" href="{{ url('<front>') }}product_desc/{{'{{value[0]}}'}}">
                  <div class="featured_img">
                    <img class="img-responsive" ng-src="{{'{{value[6]}}'}}" alt="featured product" />
                  </div>
                    <span ng-if="value[19]==6" class="new_brand">New</span>
                    <span ng-if="value[19]==1" class="new_brand">Best Seller</span>
                    <span ng-if="value[19]==2" class="new_brand">Only A Few Left</span>
                    <span ng-if="value[19]==3" class="new_brand">10 % Off</span>
                    <span ng-if="value[19]==4" class="new_brand">BOGO Sale</span>
                    <span ng-if="value[19]==5" class="new_brand">Sold Out</span>
                </a>
                <div class="featured_item_price">
                  <div ng-if="value[5] != 0">
                    <span class="price_color">${{'{{value[5]}}'}}</span>
                    <span class="price_strike">${{'{{value[13]}}'}}</span>
                  </div>
                  <div ng-if="value[5] == 0">
                      Call For Price
                  </div>
                </div>
                <div class="product_wishlist" style="display:none !important">
                      <a id="wishtlist_class_m" wishvalue= "{{'{{value[0]}}'}}">
                        <i ng-if="value[7]==1" id="{{'{{value[0]}}'}}insidewish" class="fa fa-heart" aria-hidden="true"></i>
                        <i ng-if="value[7]==0" id="{{'{{value[0]}}'}}insidewish" class="fa fa-heart-o" aria-hidden="true"> </i>
                      </a>
                    </div>
                <div class="clearfix"></div>
                <a href="{{ url('<front>') }}product_desc/{{'{{value[0]}}'}}" data-tooltip="Part#: {{'{{value[3]}}'}}"><h5 class="text-up">{{'{{value[8]}}'}}</h5></a>
                <div class="feature_ratings">
                      <ul>
                        <li><i  ng-class=" {'fa fa-star': {{'{{value[20]}}'}} >= 0,'fa fa-star-o': {{'{{value[20]}}'}} <= 0}"></i></li>
                        <li><i ng-class=" {'fa fa-star': {{'{{value[20]}}'}} >= 1,'fa fa-star-o': {{'{{value[20]}}'}} <= 1}"></i></li>
                        <li><i ng-class=" {'fa fa-star': {{'{{value[20]}}'}} >= 2,'fa fa-star-o': {{'{{value[20]}}'}} <= 2}"></i></li>
                        <li><i ng-class=" {'fa fa-star': {{'{{value[20]}}'}} >= 3,'fa fa-star-o': {{'{{value[20]}}'}} <= 3}"></i></li>
                        <li><i ng-class=" {'fa fa-star': {{'{{value[20]}}'}} >= 4,'fa fa-star-o': {{'{{value[20]}}'}} <= 4}"></i></li>

                        <li class="customer_review p-l-5"><a class="p-0" href="#" target="_blank"><i class="fa fa-angle-down" aria-hidden="true"></i>{{'{{value[21]}}'}}</a></li>
                        <li class="" style="color:#333;">
                          <label class="container_lbl"><div class="cmpre">Compare</div>
                         <input type="checkbox" class="compareselect" id="{{'{{value[0]}}'}}">
                        <span class="checkmark"></span>
                        </label>
                      </li>
                      </ul>
                </div>
                <div class="feature_shipping">
                  <i class="fa fa-truck" aria-hidden="true"></i>&nbsp;Free Delivery
                </div>
                <div style="clear:both"></div>
                     <div class="alert alert-success wish_sets  wish_set{{'{{value[0]}}'}}" style="display: none">
                     </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
</div>
  <!--SIMILAR PRODUCTS-->
<!--   <div class="compare-switcher">

    <a class="compare-switcher-open" href="#"><i class="fa fa-exchange"></i></a>

    <div class="compare-switcher-wrap">

      <div id="inside_swith">

      </div>  -->

      <!-- <div class="compare-switcher-box">

        <div class="compare-close-icons"><i class="fa fa-times" aria-hidden="true"></i></div>

        <img src="https://www.apagreen.com/apadesign/catapult/theme1/assets/images/img7.jpg">

        <h6 class="text-up">High Torque Starter</h6>

      </div>  -->

<!--       <div class="compare-button">

        <a id="compare_id" href="#">Compare</a>

      </div>

    </div>

  </div> -->
   <script>
            $(document).ready(function () {
$("#read_review").click(function() {
    $('html,body').animate({
        scrollTop: $(".review_block").offset().top},
        'slow');
});
});
  </script>