  <div class="container disp_none">
    <div class="faq-page-breadcrumb">
      <div class="breadcrumbs revealOnScroll" data-animation="fadeIn">
        <div class="breadcrumb-item"><a href="{{ url('<front>') }}">Home</a></div><i class="fa fa-chevron-right"></i><div class="breadcrumb-item"><a href="{{ url('<front>') }}user_profile">My Profile</a></div><i class="fa fa-chevron-right"></i><div class="breadcrumb-item current">Order History</div>
      </div>
    </div>
    <div class="">
    <div class="row">

                <div class="col-sm-12 text-center EmptyOrder" ng-if="userorderdata.length == 0">
                  <br/><br/><br/>
                  <img src="{{ url('<front>') }}sites/default/files/emptyOrders.png" ng-if="orderpagedItems.length < 1">
                  <h3><b>You have no orders</b></h3>
                  <a class="btn btn-primary" href="{{ url('<front>') }}part_search">Start Shopping</a>
                </div>
                <div class="col-sm-12" ng-if="userorderdata.length >= 1" class="row orderblock" ng-repeat="(key, value) in orderpagedItems[ordercurrentPage]">
                  <div class="col-sm-8">
                    <div class="row margin-bottom-10" ng-repeat="(key, value1) in value.orders" >
                        <div class="col-sm-4">
                            <img class="product-image af disp-inline-blk" style="width:75px;" src="{{ url('<front>') }}/sites/default/files/{{'{{value1.spliturl}}'}}" alt="product-image">
                        </div>
                        <div class="col-sm-4">
                          <a href="{{ url('<front>') }}/product_desc/{{'{{value1.product_id}}'}}" target="_blank" class="quick-shop info" data-toggle="tooltip" title="{{'{{value1.title}}'}}">
                            <div class="brand bld" >{{'{{value1.title}}'}}</div>
                          </a>
                            <div class="filter-wrap disp-inline-blk margin-left-10">
                              <div class="filter-options pro_variant_block" style="text-align: left">
                                  <div style="width:100%" class="text-center">
                                    <a id="{{'{{value1.c_value}}'}}" data-val="{{'{{value1.variant_id}}'}}" class="color_variant" ><i aria-hidden="true" class="fa fa-check"></i>
                                      <img style="width: 20px;" src="{{ url('<front>') }}/sites/default/files/color_img/{{'{{value1.c_url}}'}}" alt="{{'{{value1.color_name}}'}}">
                                      <span id="variant_val" class="hidden">{{'{{value1.variant_id}}'}}</span>
                                    </a>
                                    <span>{{'{{value1.color_name}}'}}</span>
                                  </div>
                              </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <span class="removeItem link"><i class="bld">{{'{{value1.quantity}}'}} x {{'{{value1.unit_price}}'}}</i></span><br>
                             <span class="removeItem link">Price: <i class="bld">${{'{{value1.price}}'}}</i></span>
                        </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                       Total Price:  ${{'{{value.total_price}}'}}<br>
                       Order on {{'{{value.orderdate}}'}}<br>
                       Paid via {{'{{value.payment_gateway}}'}}<br>
                       Order status {{'{{value.paymentstatus}}'}}
                  </div>
                </div>
      </div>
      <div class="container-fluid pad-0 bg-pagination" ng-if="orderpagenos.length > 1">
        <ul class="pagination pull-right pagi_master ">
            <li ng-class="{disabled: ordercurrentPage == 0}">
                <a href ng-click="orderprevPage()">«</a>
            </li>
            <li ng-repeat="n in orderpagenos | limitTo:5"
                ng-class="{active: n == ordercurrentPage}"
            ng-click="ordersetPage()">
                <a href ng-bind="n + 1">1</a>
            </li>
            <li ng-class="{disabled: ordercurrentPage == orderpagedItems.length - 1}">
                <a href ng-click="ordernextPage()">»</a>
            </li>
        </ul>
      </div>

    </div>
    </div>
    <div class="container mb0" ng-if="userorderdata.length >= 1" class="row orderblock" ng-repeat="(key, value) in orderpagedItems[ordercurrentPage]">
       <!-- <div class="row_ord"> -->
         <div class="row_ord">
          <div class="ord_fll">
             <div class="ord_header">
                <div class="col8">
                   <div class="dte">
                      <a href="#">order date: {{'{{value.orderdate}}'}}</a>
                   </div>
                </div>
                 <div class="col-6-12"><span class="ord_ttl">Total Price</span><span class="ord_ttl-inr">${{'{{value.total_price}}'}}</span></div>
             </div>
             <div class="row_ord" >
                <div class="dtl_fll" ng-repeat="(key, value1) in value.orders" >
                   <div class="row_ord">
                      <div class="col-5">
                         <div class="row_ord">
                            <div class="">
                               <!-- <a href="#" target="_blank"> -->
                                  <div class="immg">
                                     <img class="prd_img" alt="" src="{{ url('<front>') }}/sites/default/files/{{'{{value1.spliturl}}'}}">
                                  </div>
                              <!--  </a> -->
                            </div>

                         </div>
                      </div>
                      <div class="col-8">
                         <a class="" href="{{ url('<front>') }}/product_desc/{{'{{value1.product_id}}'}}" target="_blank" data-toggle="tooltip" title="{{'{{value1.title}}'}}">{{'{{value1.title}}'}}</a>
                      </div>
                      <div class="col-1-12_cl">
                        <span class="clr_ord">
                        <span class="clr_nme"><a id="{{'{{value1.c_value}}'}}" data-val="{{'{{value1.variant_id}}'}}" class="color_variant" >
                         <!--  <img style="width: 20px;" src="{{ url('<front>') }}/sites/default/files/color_img/{{'{{value1.c_url}}'}}" alt="{{'{{value1.color_name}}'}}"> -->
                          <span id="variant_val" class="hidden">{{'{{value1.variant_id}}'}}</span>
                        </a></span>
                        <span class="clr_nmme">{{'{{value1.color_name}}'}}</span>
                        <p><span style="background-color:{{'{{value1.clr_code}}'}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>


                        </span>
                      </div>
                      <div class="col-1-12_fl">
                         {{'{{value1.unit_price}}'}}
                         <div class="row mg0">
                           <span class="qty">qty:{{'{{value1.quantity}}'}}</span>
                         </div>
                       </div>
                      <div class="col-1-12">
                         ${{'{{value1.price}}'}}
                      </div>
                      <div class="col-3-12">
                         <div class="status_cmplt">order status {{'{{value.paymentstatus}}'}}</div>
                      </div>
                   </div>
                </div>
                <div class="row mg0">
                  <div class="pay_fll">
                    <div class="col-6-12_stat"></div>
                      <div class="status_cmplt">order status {{'{{value.paymentstatus}}'}}</div>
                    </div>
                  <!--  <div class="col-6-12_disp_none">
                      <span class="_38bdEf">Paid via {{'{{value.payment_gateway}}'}}</span>
                   </div> -->
                </div>
             </div>
          </div>
       </div>
    </div>
</div>
